Repository n8n-io/n8n, pull requests merged in 2021-12, with the labels that each got.

#2551 N8N-2556 correct binding for backspace
  packages/editor-ui/src/views/NodeView.vue
Labels: ui, n8n team

#2491 Fixed due_datetime formatting
  packages/nodes-base/nodes/Todoist/GenericFunctions.ts
  packages/nodes-base/nodes/Todoist/Todoist.node.ts
Labels: node/improvement, community

#2563 N8N-2675 Fixed UpdatedPanel Not closing
  packages/editor-ui/src/components/ModalDrawer.vue
Labels: ui, n8n team

#2372 :zap: Add Google native files support to file:download - Google Drive
  packages/nodes-base/nodes/Google/Drive/GoogleDrive.node.ts
Labels: node/improvement, n8n team

#2585 Minor i18n fixes
  packages/editor-ui/src/components/MultipleParameter.vue
  packages/editor-ui/src/components/NodeCreator/NoResults.vue
  packages/editor-ui/src/components/NodeCreator/SubcategoryItem.vue
  packages/editor-ui/src/plugins/i18n/locales/en.json
Labels: core, n8n team

#2579 Add SpaceID in Create Work Item for Kitemaker
  packages/nodes-base/nodes/Kitemaker/Kitemaker.node.ts
  packages/nodes-base/nodes/Kitemaker/descriptions/WorkItemDescription.ts
  packages/nodes-base/nodes/Kitemaker/queries.ts
Labels: node/improvement, community

#2588 Improves axios output to be identical to request
  packages/core/src/NodeExecuteFunctions.ts
Labels: core, n8n team

#2059 :sparkles: Introduce binary data management
  packages/cli/commands/start.ts
  packages/cli/commands/webhook.ts
  packages/cli/commands/worker.ts
  packages/cli/config/index.ts
  packages/cli/src/Interfaces.ts
  packages/cli/src/InternalHooks.ts
  packages/cli/src/Server.ts
  packages/cli/src/WebhookHelpers.ts
  packages/cli/src/WorkflowExecuteAdditionalData.ts
  packages/cli/src/WorkflowRunner.ts
  packages/cli/src/WorkflowRunnerProcess.ts
  packages/core/package.json
  packages/core/src/BinaryDataManager/FileSystem.ts
  packages/core/src/BinaryDataManager/index.ts
  packages/core/src/Interfaces.ts
  packages/core/src/NodeExecuteFunctions.ts
  packages/core/src/index.ts
  packages/editor-ui/src/Interface.ts
  packages/editor-ui/src/components/BinaryDataDisplay.vue
  packages/editor-ui/src/components/BinaryDataDisplayEmbed.vue
  packages/editor-ui/src/components/mixins/restApi.ts
  packages/workflow/src/Interfaces.ts
Labels: feature, n8n team

#2591 #2590: Add missing gitlab trigger event types
  packages/nodes-base/nodes/Gitlab/GitlabTrigger.node.ts
Labels: node/improvement, community

#2132 Parse single-line private key for Google service account
  packages/nodes-base/credentials/GoogleApi.credentials.ts
  packages/nodes-base/nodes/Google/Books/GenericFunctions.ts
  packages/nodes-base/nodes/Google/Docs/GenericFunctions.ts
  packages/nodes-base/nodes/Google/Drive/GenericFunctions.ts
  packages/nodes-base/nodes/Google/Gmail/GenericFunctions.ts
  packages/nodes-base/nodes/Google/Sheet/GenericFunctions.ts
  packages/nodes-base/nodes/Google/Sheet/GoogleSheets.node.ts
  packages/nodes-base/nodes/Google/Slides/GenericFunctions.ts
  packages/nodes-base/nodes/Google/Translate/GenericFunctions.ts
Labels: node/improvement, n8n team

#2592 Expose pleaseParse-functionality in n8n interface
  packages/nodes-base/nodes/Raindrop/Raindrop.node.ts
  packages/nodes-base/nodes/Raindrop/descriptions/BookmarkDescription.ts
Labels: node/improvement, community

#2569 appended executionId to the parameters array of the workflow.postExe…
  packages/cli/src/WorkflowExecuteAdditionalData.ts
  packages/cli/src/WorkflowRunner.ts
  packages/cli/src/WorkflowRunnerProcess.ts
Labels: core, community

#2437 Notion node V2
  packages/cli/src/Server.ts
  packages/nodes-base/nodes/Notion/BlockDescription.ts
  packages/nodes-base/nodes/Notion/Blocks.ts
  packages/nodes-base/nodes/Notion/DatabaseDescription.ts
  packages/nodes-base/nodes/Notion/DatabasePageDescription.ts
  packages/nodes-base/nodes/Notion/Filters.ts
  packages/nodes-base/nodes/Notion/GenericFunctions.ts
  packages/nodes-base/nodes/Notion/Notion.node.ts
  packages/nodes-base/nodes/Notion/NotionTrigger.node.ts
  packages/nodes-base/nodes/Notion/PageDescription.ts
  packages/nodes-base/nodes/Notion/UserDescription.ts
  packages/nodes-base/nodes/Notion/v1/NotionV1.node.ts
  packages/nodes-base/nodes/Notion/v1/VersionDescription.ts
  packages/nodes-base/nodes/Notion/v2/NotionV2.node.ts
  packages/nodes-base/nodes/Notion/v2/VersionDescription.ts
Labels: node/improvement, n8n team

#2615 Add engagement resource - Hubspot Node
  packages/nodes-base/nodes/Hubspot/EngagementDescription.ts
  packages/nodes-base/nodes/Hubspot/GenericFunctions.ts
  packages/nodes-base/nodes/Hubspot/Hubspot.node.ts
Labels: node/improvement, n8n team

#2577 :ship: Added function to manage digest-auth requests
  packages/core/src/NodeExecuteFunctions.ts
Labels: core, n8n team
