Repository n8n-io/n8n, pull requests merged in 2022-03, with the labels that each got.

#2894 ✨ persist skipping owner setup
  package-lock.json
  packages/cli/commands/user-management/reset.ts
  packages/cli/src/Server.ts
  packages/cli/src/UserManagement/Interfaces.ts
  packages/cli/src/UserManagement/auth/jwt.ts
  packages/cli/src/UserManagement/routes/index.ts
  packages/cli/src/UserManagement/routes/owner.ts
  packages/cli/src/databases/entities/User.ts
  packages/cli/src/databases/mysqldb/migrations/1636626154933-CreateUserManagement.ts
  packages/cli/src/databases/postgresdb/migrations/1636626154934-CreateUserManagement.ts
  packages/cli/src/databases/sqlite/migrations/1636626154932-CreateUserManagement.ts
  packages/cli/test/integration/auth.endpoints.test.ts
  packages/cli/test/integration/auth.middleware.test.ts
  packages/cli/test/integration/credentials.api.test.ts
  packages/cli/test/integration/me.endpoints.test.ts
  packages/cli/test/integration/owner.endpoints.test.ts
  packages/cli/test/integration/passwordReset.endpoints.test.ts
  packages/cli/test/integration/shared/constants.ts
  packages/cli/test/integration/shared/utils.ts
  packages/cli/test/integration/users.endpoints.test.ts
  packages/editor-ui/src/App.vue
  packages/editor-ui/src/api/settings.ts
  packages/editor-ui/src/modules/settings.ts
  packages/editor-ui/src/modules/users.ts
  packages/editor-ui/src/views/SetupView.vue
Labels: feature, n8n team

#2920 Update password requirements for user management backend
  packages/cli/src/UserManagement/UserManagementHelper.ts
  packages/cli/test/integration/shared/random.ts
Labels: feature, n8n team

#2886 Support testing with Postgres and MySQL for user management backend
  package-lock.json
  packages/cli/jest.config.js
  packages/cli/package.json
  packages/cli/src/Db.ts
  packages/cli/src/ResponseHelper.ts
  packages/cli/src/UserManagement/UserManagementHelper.ts
  packages/cli/src/UserManagement/routes/users.ts
  packages/cli/src/api/credentials.api.ts
  packages/cli/src/databases/entities/User.ts
  packages/cli/src/databases/mysqldb/migrations/1636626154933-CreateUserManagement.ts
  packages/cli/src/databases/postgresdb/migrations/1636626154934-CreateUserManagement.ts
  packages/cli/src/databases/utils/transformers.ts
  packages/cli/test/integration/auth.endpoints.test.ts
  packages/cli/test/integration/auth.middleware.test.ts
  packages/cli/test/integration/credentials.api.test.ts
  packages/cli/test/integration/me.endpoints.test.ts
  packages/cli/test/integration/owner.endpoints.test.ts
  packages/cli/test/integration/passwordReset.endpoints.test.ts
  packages/cli/test/integration/shared/augmentation.d.ts
  packages/cli/test/integration/shared/constants.ts
  packages/cli/test/integration/shared/testDb.ts
  packages/cli/test/integration/shared/utils.ts
  packages/cli/test/integration/users.endpoints.test.ts
  packages/cli/test/setup.ts
  packages/cli/test/teardown.ts
Labels: feature, n8n team

#2928 fix tooltips z-index
  package-lock.json
  packages/design-system/package.json
  packages/design-system/src/components/index.js
  packages/editor-ui/package.json
  packages/editor-ui/src/plugins/components.ts
  packages/editor-ui/vue.config.js
Labels: ui, n8n team

#2931 n8n-3070 fix credentials check
  packages/editor-ui/src/Interface.ts
  packages/editor-ui/src/modules/credentials.ts
Labels: ui, n8n team

#2902 Disable hiring banner for embed
  packages/cli/config/index.ts
  packages/cli/src/Interfaces.ts
  packages/cli/src/Server.ts
  packages/editor-ui/src/App.vue
  packages/editor-ui/src/Interface.ts
  packages/editor-ui/src/modules/settings.ts
Labels: ui, n8n team

#2934 N8n 3094 workflow templates cmd o acts on the
  packages/editor-ui/src/views/NodeView.vue
Labels: ui, n8n team

#2942 fix(Baserow Node): fix sorting by field
  packages/nodes-base/nodes/Baserow/OperationDescription.ts
Labels: node/improvement, n8n team

#2601 Feature/odoo node N8N-2714
  packages/nodes-base/credentials/OdooApi.credentials.ts
  packages/nodes-base/nodes/Odoo/GenericFunctions.ts
  packages/nodes-base/nodes/Odoo/Odoo.node.json
  packages/nodes-base/nodes/Odoo/Odoo.node.ts
  packages/nodes-base/nodes/Odoo/descriptions/ContactDescription.ts
  packages/nodes-base/nodes/Odoo/descriptions/CustomResourceDescription.ts
  packages/nodes-base/nodes/Odoo/descriptions/NoteDescription.ts
  packages/nodes-base/nodes/Odoo/descriptions/OpportunityDescription.ts
  packages/nodes-base/nodes/Odoo/descriptions/index.ts
  packages/nodes-base/nodes/Odoo/odoo.svg
  packages/nodes-base/package.json
Labels: node/new, n8n team

#2734 🐛 Handle Wise SCA requests
  packages/core/src/NodeExecuteFunctions.ts
  packages/nodes-base/credentials/WiseApi.credentials.ts
  packages/nodes-base/nodes/Wise/GenericFunctions.ts
  packages/nodes-base/nodes/Wise/Wise.node.ts
  packages/workflow/src/Interfaces.ts
Labels: node/improvement, community

#2885 Tolerate missing json key in function node output
  packages/core/src/Interfaces.ts
  packages/core/src/NodeExecuteFunctions.ts
  packages/nodes-base/nodes/Function/Function.node.ts
Labels: core, n8n team

#2937 SMTP fixes for user management backend
  packages/cli/commands/start.ts
  packages/cli/config/index.ts
  packages/cli/src/UserManagement/email/Interfaces.ts
  packages/cli/src/UserManagement/email/NodeMailer.ts
  packages/cli/src/UserManagement/email/UserManagementMailer.ts
  packages/cli/src/UserManagement/email/templates/invite.html
  packages/cli/src/UserManagement/email/templates/passwordReset.html
  packages/cli/src/UserManagement/routes/auth.ts
  packages/cli/src/UserManagement/routes/passwordReset.ts
  packages/cli/src/UserManagement/routes/users.ts
  packages/editor-ui/src/plugins/i18n/locales/en.json
  packages/editor-ui/src/views/ForgotMyPasswordView.vue
Labels: feature, n8n team

#2944 🔊 create logger helper for migrations
  packages/cli/packages/cli/database.sqlite
  packages/cli/src/databases/mysqldb/migrations/1636626154933-CreateUserManagement.ts
  packages/cli/src/databases/postgresdb/migrations/1636626154934-CreateUserManagement.ts
  packages/cli/src/databases/postgresdb/migrations/1644422880309-AddExecutionEntityIndexes.ts
  packages/cli/src/databases/sqlite/migrations/1588102412422-InitialMigration.ts
  packages/cli/src/databases/sqlite/migrations/1592445003908-WebhookModel.ts
  packages/cli/src/databases/sqlite/migrations/1594825041918-CreateIndexStoppedAt.ts
  packages/cli/src/databases/sqlite/migrations/1607431743769-MakeStoppedAtNullable.ts
  packages/cli/src/databases/sqlite/migrations/1611071044839-AddWebhookId.ts
  packages/cli/src/databases/sqlite/migrations/1617213344594-CreateTagEntity.ts
  packages/cli/src/databases/sqlite/migrations/1620821879465-UniqueWorkflowNames.ts
  packages/cli/src/databases/sqlite/migrations/1621707690587-AddWaitColumn.ts
  packages/cli/src/databases/sqlite/migrations/1630330987096-UpdateWorkflowCredentials.ts
  packages/cli/src/databases/sqlite/migrations/1636626154932-CreateUserManagement.ts
  packages/cli/src/databases/sqlite/migrations/1644421939510-AddExecutionEntityIndexes.ts
  packages/cli/src/databases/utils/migrationHelpers.ts
Labels: n8n team

#2868 Implement telemetry events
  packages/cli/src/Interfaces.ts
  packages/cli/src/InternalHooks.ts
  packages/cli/src/Server.ts
  packages/cli/src/UserManagement/routes/auth.ts
  packages/cli/src/UserManagement/routes/me.ts
  packages/cli/src/UserManagement/routes/owner.ts
  packages/cli/src/UserManagement/routes/passwordReset.ts
  packages/cli/src/UserManagement/routes/users.ts
  packages/cli/src/WorkflowExecuteAdditionalData.ts
  packages/cli/src/WorkflowRunner.ts
  packages/cli/src/WorkflowRunnerProcess.ts
  packages/cli/src/requests.d.ts
  packages/cli/src/telemetry/index.ts
  packages/cli/test/integration/auth.endpoints.test.ts
  packages/cli/test/integration/auth.middleware.test.ts
  packages/cli/test/integration/credentials.api.test.ts
  packages/cli/test/integration/me.endpoints.test.ts
  packages/cli/test/integration/owner.endpoints.test.ts
  packages/cli/test/integration/passwordReset.endpoints.test.ts
  packages/cli/test/integration/shared/utils.ts
  packages/cli/test/integration/users.endpoints.test.ts
Labels: feature, n8n team

#2915 Added logs to credentials, executions and workflows
  packages/cli/src/CredentialsHelper.ts
  packages/cli/src/Server.ts
  packages/cli/src/api/credentials.api.ts
Labels: feature, n8n team

#2973 Disable basic auth after owner has been set up
  packages/cli/src/Server.ts
Labels: core, n8n team

#2967 Added public url variable for emails
  packages/cli/config/index.ts
  packages/cli/src/Interfaces.ts
  packages/cli/src/Server.ts
  packages/cli/src/UserManagement/UserManagementHelper.ts
  packages/cli/src/UserManagement/routes/passwordReset.ts
Labels: core, n8n team

#2913 Update Strapi node
  package-lock.json
  packages/nodes-base/credentials/StrapiApi.credentials.ts
  packages/nodes-base/nodes/Strapi/EntryDescription.ts
  packages/nodes-base/nodes/Strapi/GenericFunctions.ts
  packages/nodes-base/nodes/Strapi/Strapi.node.ts
Labels: node/improvement, n8n team

#2962 N8n 3110 replace workflows help menu item with
  packages/editor-ui/src/components/MainSidebar.vue
  packages/editor-ui/src/plugins/i18n/locales/en.json
  packages/editor-ui/src/plugins/icons.ts
Labels: ui, n8n team

#2930 N8N-3066 & N8N-3042: If & Switch node improvements
  packages/nodes-base/nodes/If/If.node.ts
  packages/nodes-base/nodes/Switch/Switch.node.ts
Labels: node/improvement, community

#2452 Add MongoDB Aggregation (Aggregate)
  packages/nodes-base/nodes/MongoDb/MongoDb.node.ts
  packages/nodes-base/nodes/MongoDb/mongo.node.options.ts
Labels: node/improvement, community

#2837 N8N-2961 New expression variables
  package-lock.json
  packages/editor-ui/package.json
  packages/editor-ui/src/components/CodeEdit.vue
  packages/editor-ui/src/components/mixins/pushConnection.ts
  packages/nodes-base/nodes/Function/Function.node.ts
  packages/nodes-base/nodes/FunctionItem/FunctionItem.node.ts
  packages/workflow/package.json
  packages/workflow/src/Expression.ts
  packages/workflow/src/Interfaces.ts
  packages/workflow/src/WorkflowDataProxy.ts
  packages/workflow/test/WorkflowDataProxy.test.ts
Labels: core, n8n team

#2236 Fix timezone in google calendar
  packages/nodes-base/nodes/Google/Calendar/GoogleCalendar.node.ts
Labels: node/improvement, community

#2726 [N8N-2888] SeaTable: Add time zone to credentials, make trigger query tz aware
  packages/nodes-base/credentials/SeaTableApi.credentials.ts
  packages/nodes-base/nodes/SeaTable/SeaTableTrigger.node.ts
Labels: node/improvement, n8n team

#2961 :bug: Fix issue when saving long credential's types
  packages/cli/src/databases/entities/CredentialsEntity.ts
  packages/cli/src/databases/postgresdb/migrations/1646834195327-IncreaseTypeVarcharLimit.ts
  packages/cli/src/databases/postgresdb/migrations/index.ts
  packages/cli/src/databases/sqlite/migrations/1588102412422-InitialMigration.ts
Labels: core, n8n team

#2724 🐛 [N8N-2887] Wordpress: Add Status option to Get All operation of Posts resource
  packages/nodes-base/credentials/WordpressApi.credentials.ts
  packages/nodes-base/nodes/Wordpress/GenericFunctions.ts
  packages/nodes-base/nodes/Wordpress/PostDescription.ts
  packages/nodes-base/nodes/Wordpress/Wordpress.node.ts
Labels: node/improvement, n8n team

#2947 add Hubspot Private App Token Authentication
  packages/nodes-base/credentials/HubspotAppToken.credentials.ts
  packages/nodes-base/nodes/Hubspot/GenericFunctions.ts
  packages/nodes-base/nodes/Hubspot/Hubspot.node.ts
  packages/nodes-base/package.json
Labels: node/improvement, community

#2978 :zap: odoo icon fix
  packages/nodes-base/nodes/Odoo/odoo.svg
Labels: node/improvement, n8n team

#2687 Mattermost Channel Search - N8N-3129
  packages/nodes-base/nodes/Mattermost/v1/actions/Interfaces.ts
  packages/nodes-base/nodes/Mattermost/v1/actions/channel/index.ts
  packages/nodes-base/nodes/Mattermost/v1/actions/channel/search/description.ts
  packages/nodes-base/nodes/Mattermost/v1/actions/channel/search/execute.ts
  packages/nodes-base/nodes/Mattermost/v1/actions/channel/search/index.ts
Labels: node/improvement, community

#2900 feat(HttpRequest.node.ts): Delete request with body parameters
  packages/nodes-base/nodes/HttpRequest/HttpRequest.node.ts
Labels: node/improvement, community

#2765 KoBoToolbox node & trigger - N8N-2838
  package-lock.json
  packages/nodes-base/credentials/KoBoToolboxApi.credentials.ts
  packages/nodes-base/nodes/KoBoToolbox/FormDescription.ts
  packages/nodes-base/nodes/KoBoToolbox/GenericFunctions.ts
  packages/nodes-base/nodes/KoBoToolbox/HookDescription.ts
  packages/nodes-base/nodes/KoBoToolbox/KoBoToolbox.node.ts
  packages/nodes-base/nodes/KoBoToolbox/KoBoToolboxTrigger.node.ts
  packages/nodes-base/nodes/KoBoToolbox/Options.ts
  packages/nodes-base/nodes/KoBoToolbox/SubmissionDescription.ts
  packages/nodes-base/nodes/KoBoToolbox/koBoToolbox.svg
  packages/nodes-base/package.json
Labels: node/new, n8n team

#2971 :sparkles: Linear node - n8n-3142
  packages/nodes-base/nodes/Linear/GenericFunctions.ts
  packages/nodes-base/nodes/Linear/IssueDescription.ts
  packages/nodes-base/nodes/Linear/Linear.node.ts
  packages/nodes-base/nodes/Linear/LinearTrigger.node.ts
  packages/nodes-base/nodes/Linear/Queries.ts
  packages/nodes-base/package.json
Labels: node/new, n8n team

#2999 :bug: N8N-3100 GitHub node improvements
  packages/nodes-base/nodes/Github/Github.node.ts
Labels: node/improvement, n8n team

#2990 :bug: N8N-2868 Telegram Node: sendPhoto: message fails when "Disable Notification" option is present
  packages/nodes-base/nodes/Telegram/Telegram.node.ts
Labels: node/improvement, n8n team

#2987 Add Varaibles (JSON) parameter - Mailjet - N8N-3132
  packages/nodes-base/credentials/MailjetEmailApi.credentials.ts
  packages/nodes-base/nodes/Mailjet/EmailDescription.ts
  packages/nodes-base/nodes/Mailjet/GenericFunctions.ts
  packages/nodes-base/nodes/Mailjet/Mailjet.node.ts
Labels: node/improvement, community, n8n team

#3010 AWS Lambda fix for running in continue workflow
  packages/nodes-base/nodes/Aws/AwsLambda.node.ts
Labels: node/improvement, n8n team

#3032 Added logs and error catches for possible failures in queue mode
  packages/cli/commands/worker.ts
Labels: core, n8n team

#2814 [Supabase] Send Authorization Bearer
  packages/nodes-base/nodes/Supabase/GenericFunctions.ts
  packages/nodes-base/nodes/Supabase/Supabase.node.ts
Labels: node/improvement, community

#3031 add note to changelog linking to historic log
  CHANGELOG.md
Labels: n8n team

#3030 ✨ Add support for OPTIONS method on HTTP Request Node
  packages/nodes-base/nodes/HttpRequest/HttpRequest.node.ts
Labels: node/improvement, community

#2541 ✨ Add generate action to crypto node
  packages/nodes-base/nodes/Crypto/Crypto.node.ts
Labels: node/improvement, community

#3034 N8N-3130 reddit node saved posts
  packages/nodes-base/nodes/Reddit/GenericFunctions.ts
  packages/nodes-base/nodes/Reddit/ProfileDescription.ts
  packages/nodes-base/nodes/Reddit/Reddit.node.ts
Labels: node/improvement, community, n8n team

#2408 ✨ Add option to use Jira field display names
  packages/nodes-base/nodes/Jira/GenericFunctions.ts
  packages/nodes-base/nodes/Jira/IssueDescription.ts
  packages/nodes-base/nodes/Jira/Jira.node.ts
Labels: node/improvement, community

#3021 :zap: Add GET /users route - public api
  packages/cli/jest.config.js
  packages/cli/src/PublicApi/helpers.ts
  packages/cli/src/PublicApi/v1/index.ts
  packages/cli/src/PublicApi/v1/openapi.yml
  packages/cli/src/PublicApi/v1/routes/Users/index.ts
  packages/cli/src/Server.ts
  packages/cli/src/requests.d.ts
  packages/cli/test/integration/publicApi/users.endpoints.test-api.ts
  packages/cli/test/integration/shared/constants.ts
  packages/cli/test/integration/shared/random.ts
  packages/cli/test/integration/shared/testDb.ts
  packages/cli/test/integration/shared/types.d.ts
  packages/cli/test/integration/shared/utils.ts
Labels: feature, n8n team

#2992 :sparkles: Add download button to binary data
  packages/editor-ui/src/components/RunData.vue
  packages/editor-ui/src/plugins/i18n/locales/en.json
Labels: ui, n8n team

#3065 N8N-3246 - Updates wording for Number operations
  packages/nodes-base/nodes/If/If.node.ts
Labels: node/improvement, n8n team
