Repository n8n-io/n8n, pull requests merged in 2022-04, with the labels that each got.

#2741 🐛 Google Tasks: Fix Show Completed [N8N-2898]
  packages/nodes-base/nodes/Google/Task/GoogleTasks.node.ts
  packages/nodes-base/nodes/Google/Task/TaskDescription.ts
Labels: node/improvement, n8n team

#3001 [FTP Node] Recursively Make Directories on SFTP Rename
  packages/nodes-base/nodes/Ftp/Ftp.node.ts
Labels: node/improvement, community

#2635 ✨ Add chat messages to MS Teams node
  packages/nodes-base/credentials/MicrosoftTeamsOAuth2Api.credentials.ts
  packages/nodes-base/nodes/Microsoft/Teams/ChatMessageDescription.ts
  packages/nodes-base/nodes/Microsoft/Teams/MicrosoftTeams.node.ts
Labels: node/improvement, community

#3080 N8N-3270 Fix issues with trailing slashes in Mautic Node
  packages/nodes-base/credentials/MauticOAuth2Api.credentials.ts
  packages/nodes-base/nodes/Mautic/GenericFunctions.ts
  packages/nodes-base/nodes/Mautic/Mautic.node.ts
Labels: node/improvement, n8n team

#3061 Fix randomly failing UM tests
  packages/cli/config/index.ts
  packages/cli/package.json
  packages/cli/src/Logger.ts
  packages/cli/src/ResponseHelper.ts
  packages/cli/src/UserManagement/UserManagementHelper.ts
  packages/cli/src/UserManagement/routes/auth.ts
  packages/cli/test/integration/auth.endpoints.test.ts
  packages/cli/test/integration/auth.middleware.test.ts
  packages/cli/test/integration/credentials.api.test.ts
  packages/cli/test/integration/me.endpoints.test.ts
  packages/cli/test/integration/owner.endpoints.test.ts
  packages/cli/test/integration/passwordReset.endpoints.test.ts
  packages/cli/test/integration/shared/random.ts
  packages/cli/test/integration/shared/testDb.ts
  packages/cli/test/integration/shared/utils.ts
  packages/cli/test/integration/users.endpoints.test.ts
Labels: feature, n8n team

#3081 N8N-3271 - Fixed nocoDB pagination
  packages/nodes-base/nodes/NocoDB/GenericFunctions.ts
Labels: node/improvement, n8n team

#2582 Strava node: adding getStreams operation
  packages/nodes-base/nodes/Strava/ActivityDescription.ts
  packages/nodes-base/nodes/Strava/Strava.node.ts
Labels: node/improvement, community

#2529 🐛 WooCommerce: Fix pagination for getAll product operation
  packages/nodes-base/nodes/WooCommerce/GenericFunctions.ts
Labels: node/improvement, n8n team

#3011 Fix Pagination on Action Network Node [N8N-3179]
  packages/nodes-base/credentials/ActionNetworkApi.credentials.ts
  packages/nodes-base/nodes/ActionNetwork/GenericFunctions.ts
  packages/nodes-base/nodes/ActionNetwork/descriptions/PersonDescription.ts
Labels: node/improvement, n8n team

#3084 N8N-3272 paypal auth test
  packages/nodes-base/credentials/PayPalApi.credentials.ts
  packages/nodes-base/nodes/PayPal/GenericFunctions.ts
  packages/nodes-base/nodes/PayPal/PayPal.node.ts
Labels: node/improvement, community, n8n team

#3086 N8N-3272 magento credential tests
  packages/nodes-base/credentials/Magento2Api.credentials.ts
  packages/nodes-base/nodes/Magento/GenericFunctions.ts
  packages/nodes-base/nodes/Magento/Magento2.node.ts
Labels: node/improvement, community, n8n team

#3109 Upgrade TypeScript to 4.6
  package-lock.json
  packages/cli/package.json
  packages/core/package.json
  packages/core/tsconfig.json
  packages/design-system/package.json
  packages/editor-ui/package.json
  packages/editor-ui/src/components/mixins/deviceSupportHelpers.ts
  packages/editor-ui/tsconfig.json
  packages/node-dev/package.json
  packages/nodes-base/package.json
  packages/nodes-base/tsconfig.json
  packages/workflow/package.json
  packages/workflow/tsconfig.json
Labels: core, n8n team

#3066 Optimize UM tests
  packages/cli/package.json
  packages/cli/src/UserManagement/UserManagementHelper.ts
  packages/cli/src/UserManagement/routes/auth.ts
  packages/cli/src/UserManagement/routes/me.ts
  packages/cli/src/UserManagement/routes/owner.ts
  packages/cli/src/UserManagement/routes/passwordReset.ts
  packages/cli/src/UserManagement/routes/users.ts
  packages/cli/src/databases/entities/User.ts
  packages/cli/test/integration/auth.api.test.ts
  packages/cli/test/integration/auth.endpoints.test.ts
  packages/cli/test/integration/auth.mw.test.ts
  packages/cli/test/integration/credentials.api.test.ts
  packages/cli/test/integration/me.api.test.ts
  packages/cli/test/integration/owner.api.test.ts
  packages/cli/test/integration/passwordReset.api.test.ts
  packages/cli/test/integration/shared/testDb.ts
  packages/cli/test/integration/shared/types.d.ts
  packages/cli/test/integration/shared/utils.ts
  packages/cli/test/integration/users.api.test.ts
Labels: feature, n8n team

#2779 Add Node 16 tests to CI
  .github/workflows/tests.yml
Labels: n8n team, deployment

#3097 N8n 3194 output panels
  packages/design-system/src/components/N8nIcon/Icon.vue
  packages/design-system/src/components/N8nInfoTip/InfoTip.stories.js
  packages/design-system/src/components/N8nInfoTip/InfoTip.vue
  packages/design-system/src/components/N8nRadioButtons/RadioButton.vue
  packages/design-system/src/components/N8nRadioButtons/RadioButtons.stories.js
  packages/design-system/src/components/N8nRadioButtons/RadioButtons.vue
  packages/design-system/src/components/N8nRadioButtons/index.js
  packages/design-system/src/components/N8nSelect/Select.vue
  packages/design-system/src/components/N8nTabs/Tabs.stories.js
  packages/design-system/src/components/N8nTabs/Tabs.vue
  packages/design-system/src/components/N8nTabs/index.js
  packages/design-system/src/components/index.js
  packages/design-system/src/components/utils/helpers.ts
  packages/design-system/src/styleguide/colors.stories.mdx
  packages/design-system/theme/src/_tokens.scss
  packages/design-system/theme/src/common/var.scss
  packages/design-system/theme/src/index.scss
  packages/design-system/theme/src/pagination.scss
  packages/editor-ui/src/Interface.ts
  packages/editor-ui/src/components/DataDisplay.vue
  packages/editor-ui/src/components/DisplayWithChange.vue
  packages/editor-ui/src/components/ExpressionEdit.vue
  packages/editor-ui/src/components/MainHeader/ExecutionDetails/ExecutionDetails.vue
  packages/editor-ui/src/components/MainHeader/WorkflowDetails.vue
  packages/editor-ui/src/components/NodeExecuteButton.vue
  packages/editor-ui/src/components/NodeSettings.vue
  packages/editor-ui/src/components/NodeTabs.vue
  packages/editor-ui/src/components/NodeTitle.vue
  packages/editor-ui/src/components/RunData.vue
  packages/editor-ui/src/components/ShortenName.vue
  packages/editor-ui/src/components/mixins/nodeHelpers.ts
  packages/editor-ui/src/n8n-theme.scss
  packages/editor-ui/src/plugins/components.ts
  packages/editor-ui/src/plugins/i18n/locales/en.json
  packages/editor-ui/src/plugins/icons.ts
  packages/editor-ui/src/store.ts
  packages/editor-ui/src/views/NodeView.vue
  packages/nodes-base/nodes/Cron/Cron.node.ts
  packages/nodes-base/nodes/Interval/Interval.node.ts
Labels: ui, n8n team

#3072 Restore i18n post-UM
  packages/cli/src/Server.ts
  packages/design-system/src/components/N8nIcon/Icon.vue
  packages/design-system/src/components/N8nInfoTip/InfoTip.stories.js
  packages/design-system/src/components/N8nInfoTip/InfoTip.vue
  packages/design-system/src/components/N8nRadioButtons/RadioButton.vue
  packages/design-system/src/components/N8nRadioButtons/RadioButtons.stories.js
  packages/design-system/src/components/N8nRadioButtons/RadioButtons.vue
  packages/design-system/src/components/N8nRadioButtons/index.js
  packages/design-system/src/components/N8nSelect/Select.vue
  packages/design-system/src/components/N8nTabs/Tabs.stories.js
  packages/design-system/src/components/N8nTabs/Tabs.vue
  packages/design-system/src/components/N8nTabs/index.js
  packages/design-system/src/components/index.js
  packages/design-system/src/components/utils/helpers.ts
  packages/design-system/src/styleguide/colors.stories.mdx
  packages/design-system/theme/src/_tokens.scss
  packages/design-system/theme/src/common/var.scss
  packages/design-system/theme/src/index.scss
  packages/design-system/theme/src/pagination.scss
  packages/editor-ui/src/App.vue
  packages/editor-ui/src/Interface.ts
  packages/editor-ui/src/components/DataDisplay.vue
  packages/editor-ui/src/components/DisplayWithChange.vue
  packages/editor-ui/src/components/ExpressionEdit.vue
  packages/editor-ui/src/components/MainHeader/ExecutionDetails/ExecutionDetails.vue
  packages/editor-ui/src/components/MainHeader/WorkflowDetails.vue
  packages/editor-ui/src/components/NodeExecuteButton.vue
  packages/editor-ui/src/components/NodeSettings.vue
  packages/editor-ui/src/components/NodeTabs.vue
  packages/editor-ui/src/components/NodeTitle.vue
  packages/editor-ui/src/components/RunData.vue
  packages/editor-ui/src/components/ShortenName.vue
  packages/editor-ui/src/components/TagsManager/TagsView/TagsView.vue
  packages/editor-ui/src/components/mixins/nodeHelpers.ts
  packages/editor-ui/src/n8n-theme.scss
  packages/editor-ui/src/plugins/components.ts
  packages/editor-ui/src/plugins/i18n/docs/ADDENDUM.md
  packages/editor-ui/src/plugins/i18n/docs/README.md
  packages/editor-ui/src/plugins/i18n/index.ts
  packages/editor-ui/src/plugins/i18n/locales/en.json
  packages/editor-ui/src/plugins/icons.ts
  packages/editor-ui/src/store.ts
  packages/editor-ui/src/views/NodeView.vue
  packages/nodes-base/nodes/Cron/Cron.node.ts
  packages/nodes-base/nodes/Interval/Interval.node.ts
Labels: feature, n8n team

#3134 Run `eslint-plugin-n8n-nodes-base` against creds
  packages/nodes-base/credentials/AgileCrmApi.credentials.ts
  packages/nodes-base/credentials/Amqp.credentials.ts
  packages/nodes-base/credentials/AsanaOAuth2Api.credentials.ts
  packages/nodes-base/credentials/BitlyOAuth2Api.credentials.ts
  packages/nodes-base/credentials/BitwardenApi.credentials.ts
  packages/nodes-base/credentials/BubbleApi.credentials.ts
  packages/nodes-base/credentials/ClickUpOAuth2Api.credentials.ts
  packages/nodes-base/credentials/ContentfulApi.credentials.ts
  packages/nodes-base/credentials/CrateDb.credentials.ts
  packages/nodes-base/credentials/CustomerIoApi.credentials.ts
  packages/nodes-base/credentials/ERPNextApi.credentials.ts
  packages/nodes-base/credentials/FacebookGraphAppApi.credentials.ts
  packages/nodes-base/credentials/FormIoApi.credentials.ts
  packages/nodes-base/credentials/GetResponseOAuth2Api.credentials.ts
  packages/nodes-base/credentials/GitPassword.credentials.ts
  packages/nodes-base/credentials/GoogleApi.credentials.ts
  packages/nodes-base/credentials/GotifyApi.credentials.ts
  packages/nodes-base/credentials/GristApi.credentials.ts
  packages/nodes-base/credentials/HaloPSAApi.credentials.ts
  packages/nodes-base/credentials/HarvestOAuth2Api.credentials.ts
  packages/nodes-base/credentials/HubspotDeveloperApi.credentials.ts
  packages/nodes-base/credentials/HubspotOAuth2Api.credentials.ts
  packages/nodes-base/credentials/Kafka.credentials.ts
  packages/nodes-base/credentials/KoBoToolboxApi.credentials.ts
  packages/nodes-base/credentials/LinkedInOAuth2Api.credentials.ts
  packages/nodes-base/credentials/MailgunApi.credentials.ts
  packages/nodes-base/credentials/MailjetEmailApi.credentials.ts
  packages/nodes-base/credentials/MarketstackApi.credentials.ts
  packages/nodes-base/credentials/MicrosoftSql.credentials.ts
  packages/nodes-base/credentials/MongoDb.credentials.ts
  packages/nodes-base/credentials/MonicaCrmApi.credentials.ts
  packages/nodes-base/credentials/Mqtt.credentials.ts
  packages/nodes-base/credentials/MySql.credentials.ts
  packages/nodes-base/credentials/OAuth1Api.credentials.ts
  packages/nodes-base/credentials/OAuth2Api.credentials.ts
  packages/nodes-base/credentials/PaddleApi.credentials.ts
  packages/nodes-base/credentials/PagerDutyOAuth2Api.credentials.ts
  packages/nodes-base/credentials/PhilipsHueOAuth2Api.credentials.ts
  packages/nodes-base/credentials/Postgres.credentials.ts
  packages/nodes-base/credentials/QuestDb.credentials.ts
  packages/nodes-base/credentials/RabbitMQ.credentials.ts
  packages/nodes-base/credentials/RocketchatApi.credentials.ts
  packages/nodes-base/credentials/S3.credentials.ts
  packages/nodes-base/credentials/SalesforceJwtApi.credentials.ts
  packages/nodes-base/credentials/SalesforceOAuth2Api.credentials.ts
  packages/nodes-base/credentials/SeaTableApi.credentials.ts
  packages/nodes-base/credentials/Sftp.credentials.ts
  packages/nodes-base/credentials/Signl4Api.credentials.ts
  packages/nodes-base/credentials/Snowflake.credentials.ts
  packages/nodes-base/credentials/TelegramApi.credentials.ts
  packages/nodes-base/credentials/TimescaleDb.credentials.ts
  packages/nodes-base/credentials/TwistOAuth2Api.credentials.ts
  packages/nodes-base/credentials/WebflowOAuth2Api.credentials.ts
  packages/nodes-base/credentials/WooCommerceApi.credentials.ts
  packages/nodes-base/credentials/ZendeskApi.credentials.ts
  packages/nodes-base/credentials/ZendeskOAuth2Api.credentials.ts
  packages/nodes-base/credentials/ZohoOAuth2Api.credentials.ts
Labels: node/improvement, n8n team

#3095 N8N-3266 Add info box to 'execute workflow' node parameters
  packages/nodes-base/nodes/ExecuteWorkflow/ExecuteWorkflow.node.ts
Labels: node/improvement, n8n team

#3111 Type `Db` collections to remove non-null assertions
  packages/cli/commands/execute.ts
  packages/cli/commands/executeBatch.ts
  packages/cli/commands/export/credentials.ts
  packages/cli/commands/export/workflow.ts
  packages/cli/commands/import/credentials.ts
  packages/cli/commands/import/workflow.ts
  packages/cli/commands/list/workflow.ts
  packages/cli/commands/start.ts
  packages/cli/commands/update/workflow.ts
  packages/cli/commands/user-management/reset.ts
  packages/cli/commands/worker.ts
  packages/cli/src/ActiveWorkflowRunner.ts
  packages/cli/src/CredentialsHelper.ts
  packages/cli/src/Db.ts
  packages/cli/src/GenericHelpers.ts
  packages/cli/src/Interfaces.ts
  packages/cli/src/Server.ts
  packages/cli/src/UserManagement/UserManagementHelper.ts
  packages/cli/src/UserManagement/auth/jwt.ts
  packages/cli/src/UserManagement/email/UserManagementMailer.ts
  packages/cli/src/UserManagement/routes/auth.ts
  packages/cli/src/UserManagement/routes/me.ts
  packages/cli/src/UserManagement/routes/owner.ts
  packages/cli/src/UserManagement/routes/passwordReset.ts
  packages/cli/src/UserManagement/routes/users.ts
  packages/cli/src/WaitTracker.ts
  packages/cli/src/WorkflowCredentials.ts
  packages/cli/src/WorkflowExecuteAdditionalData.ts
  packages/cli/src/WorkflowHelpers.ts
  packages/cli/src/WorkflowRunner.ts
  packages/cli/src/api/credentials.api.ts
Labels: core, n8n team

#3096 Firebase realtime database fix N8N-3257
  packages/nodes-base/credentials/GoogleFirebaseRealtimeDatabaseOAuth2Api.credentials.ts
  packages/nodes-base/nodes/Google/Firebase/RealtimeDatabase/GenericFunctions.ts
  packages/nodes-base/nodes/Google/Firebase/RealtimeDatabase/RealtimeDatabase.node.ts
  packages/nodes-base/nodes/Google/Firebase/RealtimeDatabase/googleFirebaseRealtimeDatabase.png
  packages/nodes-base/nodes/Google/Firebase/RealtimeDatabase/googleFirebaseRealtimeDatabase.svg
Labels: n8n team, node/issue

#3098 N8N-3265 When leaving parameter details view via pressing 'esc', value is still updated
  packages/editor-ui/src/components/TextEdit.vue
Labels: ui, n8n team

#2829 Feature/eventbrite optional event
  packages/nodes-base/nodes/Eventbrite/EventbriteTrigger.node.ts
  packages/nodes-base/nodes/Eventbrite/GenericFunctions.ts
Labels: node/improvement, community

#3129 N8N-3328 - Fixes pagination issue with Zoho node
  packages/nodes-base/nodes/Zoho/GenericFunctions.ts
Labels: node/improvement, n8n team

#3094 N8N-3267 Drop-downs break after removing expressions
  packages/editor-ui/src/components/ParameterInput.vue
Labels: ui, n8n team

#3078 ⚡️ remove email case sensitivity
  packages/cli/src/UserManagement/email/UserManagementMailer.ts
  packages/cli/src/UserManagement/routes/users.ts
  packages/cli/src/databases/entities/User.ts
  packages/cli/src/databases/mysqldb/migrations/1648740597343-LowerCaseUserEmail.ts
  packages/cli/src/databases/mysqldb/migrations/index.ts
  packages/cli/src/databases/postgresdb/migrations/1648740597343-LowerCaseUserEmail.ts
  packages/cli/src/databases/postgresdb/migrations/index.ts
  packages/cli/src/databases/sqlite/migrations/1648740597343-LowerCaseUserEmail.ts
  packages/cli/src/databases/sqlite/migrations/index.ts
  packages/cli/src/databases/utils/transformers.ts
  packages/cli/test/integration/auth.endpoints.test.ts
  packages/cli/test/integration/me.api.test.ts
  packages/cli/test/integration/owner.api.test.ts
  packages/cli/test/integration/passwordReset.api.test.ts
  packages/cli/test/integration/users.api.test.ts
Labels: n8n team

#3133 Type `locale.baseText()` to i18n keys
  packages/editor-ui/src/components/DeleteUserModal.vue
  packages/editor-ui/src/components/InviteUsersModal.vue
  packages/editor-ui/src/components/Node.vue
  packages/editor-ui/src/components/NodeCreator/CategoryItem.vue
  packages/editor-ui/src/components/WorkflowSettings.vue
  packages/editor-ui/src/plugins/i18n/docs/ADDENDUM.md
  packages/editor-ui/src/plugins/i18n/index.ts
  packages/editor-ui/src/plugins/i18n/locales/en.json
  packages/editor-ui/src/plugins/i18n/types.d.ts
  packages/editor-ui/src/views/SettingsUsersView.vue
  packages/editor-ui/src/views/SetupView.vue
  packages/editor-ui/tsconfig.json
  packages/editor-ui/tslint.json
Labels: ui, n8n team

#2918 Discord node improvements
  package-lock.json
  packages/nodes-base/nodes/Discord/Discord.node.json
  packages/nodes-base/nodes/Discord/Discord.node.ts
  packages/nodes-base/nodes/Discord/Interfaces.ts
  packages/nodes-base/nodes/Discord/discord.png
  packages/nodes-base/nodes/Discord/discord.svg
Labels: node/improvement, community, n8n team

#3025 Zendesk fix for deprecated targets, replaced with webhooks
  packages/nodes-base/credentials/ZendeskApi.credentials.ts
  packages/nodes-base/nodes/Zendesk/GenericFunctions.ts
  packages/nodes-base/nodes/Zendesk/Zendesk.node.ts
  packages/nodes-base/nodes/Zendesk/ZendeskTrigger.node.ts
Labels: node/improvement, n8n team

#3128 Bigquery service account
  packages/nodes-base/nodes/Google/BigQuery/GenericFunctions.ts
  packages/nodes-base/nodes/Google/BigQuery/GoogleBigQuery.node.ts
  packages/nodes-base/nodes/Google/BigQuery/RecordDescription.ts
Labels: node/improvement, community

#3143 :zap: Add "verify" handler to bodyParser.xml - N8N-3360
  packages/cli/src/Server.ts
Labels: core, n8n team

#3007 :hammer: Discourse, fix for not all posts returning - N8N-2972
  packages/nodes-base/credentials/DiscourseApi.credentials.ts
  packages/nodes-base/credentials/ZendeskApi.credentials.ts
  packages/nodes-base/nodes/Discourse/Discourse.node.ts
  packages/nodes-base/nodes/Discourse/GenericFunctions.ts
  packages/nodes-base/nodes/Zendesk/Zendesk.node.ts
Labels: node/improvement, n8n team

#1728 :sparkles: Markdown Node - N8N-2169
  packages/nodes-base/nodes/Markdown/Markdown.node.ts
  packages/nodes-base/nodes/Markdown/markdown.svg
  packages/nodes-base/package.json
Labels: node/new, n8n team

#2954 N8n 3030 n8n sticky component
  package-lock.json
  packages/design-system/package.json
  packages/design-system/src/components/N8nMarkdown/Markdown.vue
  packages/design-system/src/components/N8nResize/Resize.stories.js
  packages/design-system/src/components/N8nResize/Resize.vue
  packages/design-system/src/components/N8nResize/index.js
  packages/design-system/src/components/N8nSticky/Sticky.stories.js
  packages/design-system/src/components/N8nSticky/Sticky.vue
  packages/design-system/src/components/N8nSticky/index.js
  packages/design-system/src/components/index.js
  packages/design-system/src/styleguide/colors.stories.mdx
  packages/design-system/theme/src/_tokens.scss
  packages/editor-ui/src/components/DataDisplay.vue
  packages/editor-ui/src/components/Sticky.vue
  packages/editor-ui/src/plugins/components.ts
  packages/editor-ui/src/plugins/i18n/locales/en.json
  packages/editor-ui/src/plugins/telemetry/index.ts
  packages/editor-ui/src/store.ts
  packages/editor-ui/src/views/NodeView.vue
  packages/nodes-base/nodes/Note/Note.node.ts
Labels: feature, n8n team

#2989 N8N-3022 fix for postgres columns containing spaces
  packages/nodes-base/nodes/Postgres/Postgres.node.functions.ts
Labels: node/improvement, n8n team

#3147 Update DB initialization checks
  packages/cli/src/CredentialsHelper.ts
  packages/cli/src/WebhookServer.ts
  packages/cli/src/WorkflowExecuteAdditionalData.ts
Labels: core, n8n team

#3123 N8N-3304 drag and drop from nodes panel
  packages/editor-ui/src/components/NodeCreator/CreatorItem.vue
  packages/editor-ui/src/components/NodeCreator/ItemIterator.vue
  packages/editor-ui/src/components/NodeCreator/MainPanel.vue
  packages/editor-ui/src/components/NodeCreator/NodeCreator.vue
  packages/editor-ui/src/components/NodeCreator/NodeItem.vue
  packages/editor-ui/src/components/NodeCreator/SubcategoryPanel.vue
  packages/editor-ui/src/views/NodeView.vue
Labels: ui, n8n team

#2528 Update Calendly Logo
  packages/nodes-base/nodes/Calendly/calendly.svg
Labels: node/improvement, community

#3152 Implement timeout in SMTP tests
  packages/cli/test/integration/passwordReset.api.test.ts
  packages/cli/test/integration/shared/constants.ts
  packages/cli/test/integration/users.api.test.ts
Labels: core, n8n team

#3169 n8n-3412 quickbooks pagination
  packages/nodes-base/nodes/QuickBooks/GenericFunctions.ts
Labels: node/improvement, n8n team

#3151 Fix to Slack api credentials test to only check for valid token
  packages/nodes-base/credentials/SlackApi.credentials.ts
Labels: n8n team, node/issue

#2587 Enable support for AWS temporary credentials - N8N-3209
  packages/nodes-base/credentials/Aws.credentials.ts
  packages/nodes-base/nodes/Aws/Comprehend/GenericFunctions.ts
  packages/nodes-base/nodes/Aws/DynamoDB/GenericFunctions.ts
  packages/nodes-base/nodes/Aws/GenericFunctions.ts
  packages/nodes-base/nodes/Aws/Rekognition/GenericFunctions.ts
  packages/nodes-base/nodes/Aws/S3/AwsS3.node.ts
  packages/nodes-base/nodes/Aws/S3/GenericFunctions.ts
  packages/nodes-base/nodes/Aws/SES/GenericFunctions.ts
  packages/nodes-base/nodes/Aws/Textract/GenericFunctions.ts
  packages/nodes-base/nodes/Aws/Transcribe/GenericFunctions.ts
  packages/nodes-base/nodes/S3/GenericFunctions.ts
Labels: node/improvement, community

#2733 ✨ Add upsert support for Google Sheets
  packages/nodes-base/nodes/Google/Sheet/GoogleSheet.ts
  packages/nodes-base/nodes/Google/Sheet/GoogleSheets.node.ts
Labels: node/improvement, community

#3183 n8n-3433 Fixes onedrive uploads with special characters in the name
  packages/nodes-base/nodes/Microsoft/OneDrive/MicrosoftOneDrive.node.ts
Labels: node/improvement, n8n team

#2940 Enhancements and cleanup for MS Teams node
  packages/nodes-base/nodes/Microsoft/Teams/ChannelDescription.ts
  packages/nodes-base/nodes/Microsoft/Teams/ChannelMessageDescription.ts
  packages/nodes-base/nodes/Microsoft/Teams/ChatMessageDescription.ts
  packages/nodes-base/nodes/Microsoft/Teams/MicrosoftTeams.node.ts
  packages/nodes-base/nodes/Microsoft/Teams/TaskDescription.ts
Labels: node/improvement, community

#3154 Stickies
  package-lock.json
  packages/cli/src/InternalHooks.ts
  packages/design-system/package.json
  packages/design-system/src/components/N8nButton/Button.vue
  packages/design-system/src/components/N8nIcon/Icon.vue
  packages/design-system/src/components/N8nIconButton/IconButton.vue
  packages/design-system/src/components/N8nMarkdown/Markdown.vue
  packages/design-system/src/components/N8nSticky/Resize.vue
  packages/design-system/src/components/N8nSticky/Sticky.stories.js
  packages/design-system/src/components/N8nSticky/Sticky.vue
  packages/design-system/src/components/N8nSticky/index.js
  packages/design-system/src/components/index.js
  packages/design-system/src/locale/lang/en.js
  packages/design-system/src/styleguide/colors.stories.mdx
  packages/design-system/src/utils/markdown.ts
  packages/design-system/theme/src/_tokens.scss
  packages/editor-ui/package.json
  packages/editor-ui/src/components/DataDisplay.vue
  packages/editor-ui/src/components/Sticky.vue
  packages/editor-ui/src/components/helpers.ts
  packages/editor-ui/src/components/mixins/mouseSelect.ts
  packages/editor-ui/src/components/mixins/nodeBase.ts
  packages/editor-ui/src/constants.ts
  packages/editor-ui/src/plugins/components.ts
  packages/editor-ui/src/plugins/i18n/locales/en.json
  packages/editor-ui/src/plugins/icons.ts
  packages/editor-ui/src/plugins/telemetry/index.ts
  packages/editor-ui/src/views/NodeView.vue
  packages/editor-ui/src/views/canvasHelpers.ts
  packages/nodes-base/nodes/StickyNote/StickyNote.node.json
  packages/nodes-base/nodes/StickyNote/StickyNote.node.ts
  packages/nodes-base/package.json
  packages/workflow/src/Interfaces.ts
  packages/workflow/src/TelemetryHelpers.ts
Labels: node/new, ui, n8n team

#3215 Re-version HTTP request node
  package-lock.json
  packages/cli/src/CredentialsHelper.ts
  packages/core/src/NodeExecuteFunctions.ts
  packages/editor-ui/src/components/CollectionParameter.vue
  packages/editor-ui/src/components/CredentialEdit/CredentialEdit.vue
  packages/editor-ui/src/components/NodeCredentials.vue
  packages/editor-ui/src/components/NodeSettings.vue
  packages/editor-ui/src/components/ParameterInput.vue
  packages/editor-ui/src/components/ParameterInputList.vue
  packages/editor-ui/src/components/mixins/nodeHelpers.ts
  packages/editor-ui/src/components/mixins/workflowHelpers.ts
  packages/editor-ui/src/store.ts
  packages/editor-ui/src/views/NodeView.vue
  packages/nodes-base/nodes/HttpRequest/HttpRequest.node.ts
  packages/nodes-base/package.json
  packages/workflow/src/Interfaces.ts
  packages/workflow/src/NodeHelpers.ts
  packages/workflow/src/RoutingNode.ts
  packages/workflow/src/Workflow.ts
  packages/workflow/test/NodeHelpers.test.ts
Labels: feature, n8n team

#3162 Remove reintroduced non-null assertions in `Db` calls
  packages/cli/commands/db/revert.ts
  packages/cli/commands/import/workflow.ts
  packages/cli/src/ActiveExecutions.ts
  packages/cli/src/ActiveWorkflowRunner.ts
  packages/cli/src/Server.ts
  packages/cli/src/WaitingWebhooks.ts
  packages/cli/src/WorkflowExecuteAdditionalData.ts
  packages/cli/src/WorkflowHelpers.ts
  packages/cli/test/integration/auth.api.test.ts
  packages/cli/test/integration/auth.endpoints.test.ts
  packages/cli/test/integration/credentials.api.test.ts
  packages/cli/test/integration/me.api.test.ts
  packages/cli/test/integration/owner.api.test.ts
  packages/cli/test/integration/passwordReset.api.test.ts
  packages/cli/test/integration/shared/testDb.ts
  packages/cli/test/integration/shared/utils.ts
  packages/cli/test/integration/users.api.test.ts
  packages/nodes-base/package.json
Labels: core, n8n team

#3205 :sparkles: Introduce simple node versioning
  packages/cli/src/CredentialsHelper.ts
  packages/core/src/NodeExecuteFunctions.ts
  packages/core/test/Helpers.ts
  packages/core/test/WorkflowExecute.test.ts
  packages/editor-ui/src/components/CollectionParameter.vue
  packages/editor-ui/src/components/CredentialEdit/CredentialEdit.vue
  packages/editor-ui/src/components/NodeCredentials.vue
  packages/editor-ui/src/components/NodeSettings.vue
  packages/editor-ui/src/components/ParameterInput.vue
  packages/editor-ui/src/components/ParameterInputList.vue
  packages/editor-ui/src/components/mixins/nodeHelpers.ts
  packages/editor-ui/src/components/mixins/workflowHelpers.ts
  packages/editor-ui/src/store.ts
  packages/editor-ui/src/views/NodeView.vue
  packages/workflow/src/Interfaces.ts
  packages/workflow/src/NodeHelpers.ts
  packages/workflow/src/RoutingNode.ts
  packages/workflow/src/Workflow.ts
  packages/workflow/test/NodeHelpers.test.ts
Labels: core, n8n team

#3165 Google Sheets: use header names as JSON path - N8N-3295
  packages/nodes-base/nodes/Google/Sheet/GoogleSheet.ts
  packages/nodes-base/nodes/Google/Sheet/GoogleSheets.node.ts
Labels: node/improvement, n8n team

#3221 Codex update/0.174.0
  packages/nodes-base/nodes/Markdown/Markdown.node.json
Labels: n8n team, codex
