Repository n8n-io/n8n, pull requests merged in 2022-10, with the labels that each got.

#4222 fix(Microsoft ToDo Node): Fix pagination issue when getting all items
  packages/nodes-base/nodes/Microsoft/ToDo/GenericFunctions.ts
Labels: node/improvement, n8n team

#4247 fix(microsoftExcel Node): fix issue with pagination when getting all items
  packages/nodes-base/nodes/Microsoft/Excel/GenericFunctions.ts
Labels: node/improvement, n8n team

#4185 fix(pindata): Fix excess run in partial execution
  packages/cli/src/api/workflows.api.ts
Labels: ui, n8n team

#4250 feat(editor-ui): add telemetry calls to data mapping
  package-lock.json
  packages/editor-ui/package.json
  packages/editor-ui/src/components/ParameterInputFull.vue
  packages/editor-ui/src/components/RunDataJson.vue
  packages/editor-ui/src/plugins/i18n/locales/en.json
Labels: ui, n8n team

#4257 fix(editor): fix `pairedItem` in combination with pinned data
  packages/editor-ui/src/components/mixins/workflowHelpers.ts
  packages/workflow/src/WorkflowDataProxy.ts
Labels: core, ui, n8n team

#4261 feat(editor): Fix node creator panel slide transition
  packages/editor-ui/src/components/NodeCreator/CategorizedItems.vue
  packages/editor-ui/src/components/NodeCreator/MainPanel.vue
  packages/editor-ui/src/components/NodeCreator/NodeCreator.vue
  packages/editor-ui/src/components/NodeCreator/TriggerHelperPanel.vue
  packages/editor-ui/src/components/NodeCreator/TypeSelector.vue
  packages/editor-ui/src/components/transitions/SlideTransition.vue
Labels: ui, n8n team

#4262 fix(core): fix hooks URLs no longer added to `index.html`
  packages/cli/src/Server.ts
Labels: core, n8n team

#4260 refactor(design-system): adding optional configurable buttons to tooltip
  packages/design-system/src/components/N8nInfoTip/__tests__/__snapshots__/InfoTip.spec.ts.snap
  packages/design-system/src/components/N8nTooltip/Tooltip.vue
  packages/design-system/src/types/button.ts
  packages/design-system/src/types/index.ts
  packages/editor-ui/src/components/ParameterInputFull.vue
Labels: ui, n8n team

#4207 perf(tooling): Upgrade to TypeScript 4.8
  package-lock.json
  packages/cli/package.json
  packages/cli/src/Db.ts
  packages/cli/src/PublicApi/v1/handlers/workflows/workflows.handler.ts
  packages/core/package.json
  packages/core/src/NodeExecuteFunctions.ts
  packages/core/src/UserSettings.ts
  packages/core/test/Helpers.ts
  packages/design-system/package.json
  packages/editor-ui/package.json
  packages/node-dev/package.json
  packages/nodes-base/credentials/PushoverApi.credentials.ts
  packages/nodes-base/credentials/WooCommerceApi.credentials.ts
  packages/nodes-base/nodes/ActionNetwork/ActionNetwork.node.ts
  packages/nodes-base/nodes/Aws/S3/AwsS3.node.ts
  packages/nodes-base/nodes/Aws/Transcribe/AwsTranscribe.node.ts
  packages/nodes-base/nodes/BambooHr/v1/actions/companyReport/get/execute.ts
  packages/nodes-base/nodes/BambooHr/v1/actions/employeeDocument/download/execute.ts
  packages/nodes-base/nodes/BambooHr/v1/actions/employeeDocument/upload/execute.ts
  packages/nodes-base/nodes/BambooHr/v1/actions/file/download/execute.ts
  packages/nodes-base/nodes/BambooHr/v1/actions/file/upload/execute.ts
  packages/nodes-base/nodes/EditImage/EditImage.node.ts
  packages/nodes-base/nodes/Ftp/Ftp.node.ts
  packages/nodes-base/nodes/HomeAssistant/HomeAssistant.node.ts
  packages/nodes-base/nodes/Metabase/QuestionsDescription.ts
  packages/nodes-base/nodes/Postmark/GenericFunctions.ts
  packages/nodes-base/nodes/ReadBinaryFile/ReadBinaryFile.node.ts
  packages/nodes-base/nodes/SecurityScorecard/SecurityScorecard.node.ts
  packages/nodes-base/nodes/Ssh/Ssh.node.ts
  packages/nodes-base/nodes/Storyblok/GenericFunctions.ts
  packages/nodes-base/nodes/WhatsApp/MessageFunctions.ts
  packages/nodes-base/package.json
  packages/workflow/package.json
  packages/workflow/src/RoutingNode.ts
  packages/workflow/test/Cron.test.ts
  packages/workflow/test/Expression.test.ts
  packages/workflow/test/Helpers.ts
  packages/workflow/test/TelemetryHelpers.test.ts
  tsconfig.json
Labels: node/improvement, core, ui, n8n team

#4227 feat(editor-ui): add mapping discoverability tooltip to mappable inputs
  package-lock.json
  packages/design-system/src/components/N8nInfoTip/__tests__/__snapshots__/InfoTip.spec.ts.snap
  packages/design-system/src/components/N8nTooltip/Tooltip.vue
  packages/design-system/src/types/button.ts
  packages/design-system/src/types/index.ts
  packages/editor-ui/package.json
  packages/editor-ui/public/static/json-mapping-gif.gif
  packages/editor-ui/src/Interface.ts
  packages/editor-ui/src/components/ParameterInputFull.vue
  packages/editor-ui/src/components/RunData.vue
  packages/editor-ui/src/components/RunDataJson.vue
  packages/editor-ui/src/components/RunDataTable.vue
  packages/editor-ui/src/modules/ui.ts
  packages/editor-ui/src/plugins/i18n/locales/en.json
  packages/editor-ui/src/utils.ts
Labels: ui, n8n team

#4275 fix(cli): Cache generated assets in user writable directory instead
  docker/images/n8n/docker-entrypoint.sh
  packages/cli/src/Server.ts
Labels: core, n8n team

#4273 fix(editor-ui): modifications according to Max's review
  packages/design-system/src/css/_tokens.dark.scss
  packages/editor-ui/public/static/json-mapping-gif.gif
  packages/editor-ui/src/components/RunDataJson.vue
  packages/editor-ui/src/components/RunDataTable.vue
Labels: ui, n8n team

#4270 feat(editor-ui): JSON mapping
  package-lock.json
  packages/design-system/src/components/N8nInfoTip/__tests__/__snapshots__/InfoTip.spec.ts.snap
  packages/design-system/src/components/N8nTooltip/Tooltip.vue
  packages/design-system/src/css/_tokens.dark.scss
  packages/design-system/src/types/button.ts
  packages/design-system/src/types/index.ts
  packages/editor-ui/package.json
  packages/editor-ui/public/static/json-mapping-gif.gif
  packages/editor-ui/src/Interface.ts
  packages/editor-ui/src/components/Draggable.vue
  packages/editor-ui/src/components/PanelDragButton.vue
  packages/editor-ui/src/components/ParameterInputFull.vue
  packages/editor-ui/src/components/RunData.vue
  packages/editor-ui/src/components/RunDataJson.vue
  packages/editor-ui/src/components/RunDataJsonActions.vue
  packages/editor-ui/src/components/RunDataTable.vue
  packages/editor-ui/src/components/helpers.ts
  packages/editor-ui/src/declarations/vue-json-pretty.d.ts
  packages/editor-ui/src/modules/ui.ts
  packages/editor-ui/src/plugins/i18n/locales/en.json
  packages/editor-ui/src/utils.ts
Labels: ui, n8n team

#4254 feat(core): Improve light versioning support in declarative node design
  packages/workflow/src/RoutingNode.ts
Labels: core, n8n team

#4271 feat(Cloudflare Node): add Cloudflare node
  packages/nodes-base/credentials/CloudflareApi.credentials.ts
  packages/nodes-base/nodes/Cloudflare/Cloudflare.node.json
  packages/nodes-base/nodes/Cloudflare/Cloudflare.node.ts
  packages/nodes-base/nodes/Cloudflare/GenericFunctions.ts
  packages/nodes-base/nodes/Cloudflare/ZoneCertificateDescription.ts
  packages/nodes-base/nodes/Cloudflare/cloudflare.svg
  packages/nodes-base/package.json
Labels: node/new, n8n team

#4255 feat(Venafi TLS Protect Datacenter): add Venafi TLS Protect Datacenter node
  packages/nodes-base/credentials/VenafiTlsProtectDatacenterApi.credentials.ts
  packages/nodes-base/nodes/Venafi/Datacenter/CertificateDescription.ts
  packages/nodes-base/nodes/Venafi/Datacenter/GenericFunctions.ts
  packages/nodes-base/nodes/Venafi/Datacenter/PolicyDescription.ts
  packages/nodes-base/nodes/Venafi/Datacenter/VenafiTlsProtectDatacenter.node.json
  packages/nodes-base/nodes/Venafi/Datacenter/VenafiTlsProtectDatacenter.node.ts
  packages/nodes-base/nodes/Venafi/Datacenter/VenafiTlsProtectDatacenterTrigger.node.ts
  packages/nodes-base/package.json
Labels: node/new, n8n team

#4264 feat(AWS Elastic Load Balancer Node): add Elastic Load Balancer node
  packages/nodes-base/nodes/Aws/ELB/AwsElb.node.json
  packages/nodes-base/nodes/Aws/ELB/AwsElb.node.ts
  packages/nodes-base/nodes/Aws/ELB/GenericFunctions.ts
  packages/nodes-base/nodes/Aws/ELB/ListenerCertificateDescription.ts
  packages/nodes-base/nodes/Aws/ELB/LoadBalancerDescription.ts
  packages/nodes-base/nodes/Aws/ELB/elb.svg
  packages/nodes-base/package.json
Labels: node/new, n8n team

#4263 feat(AWS Certificate Manager): add AWS Certificate Manager node
  packages/nodes-base/nodes/Aws/CertificateManager/AwsCertificateManager.node.json
  packages/nodes-base/nodes/Aws/CertificateManager/AwsCertificateManager.node.ts
  packages/nodes-base/nodes/Aws/CertificateManager/CertificateDescription.ts
  packages/nodes-base/nodes/Aws/CertificateManager/GenericFunctions.ts
  packages/nodes-base/nodes/Aws/CertificateManager/acm.svg
  packages/nodes-base/package.json
Labels: node/new, n8n team

#4274 feat(Citrix ADC): add Citrix ADC node
  packages/nodes-base/credentials/CitrixAdcApi.credentials.ts
  packages/nodes-base/nodes/Citrix/ADC/CertificateDescription.ts
  packages/nodes-base/nodes/Citrix/ADC/CitrixAdc.node.json
  packages/nodes-base/nodes/Citrix/ADC/CitrixAdc.node.ts
  packages/nodes-base/nodes/Citrix/ADC/FileDescription.ts
  packages/nodes-base/nodes/Citrix/ADC/GenericFunctions.ts
  packages/nodes-base/nodes/Citrix/ADC/citrix.svg
  packages/nodes-base/package.json
Labels: node/new, n8n team

#4253 feat(Venafi TLS Protect Cloud): add Venafi TLS Protect Cloud
  package-lock.json
  packages/nodes-base/credentials/VenafiTlsProtectCloudApi.credentials.ts
  packages/nodes-base/nodes/Venafi/ProtectCloud/CertificateDescription.ts
  packages/nodes-base/nodes/Venafi/ProtectCloud/CertificateInterface.ts
  packages/nodes-base/nodes/Venafi/ProtectCloud/CertificateRequestDescription.ts
  packages/nodes-base/nodes/Venafi/ProtectCloud/GenericFunctions.ts
  packages/nodes-base/nodes/Venafi/ProtectCloud/VenafiTlsProtectCloud.node.json
  packages/nodes-base/nodes/Venafi/ProtectCloud/VenafiTlsProtectCloud.node.ts
  packages/nodes-base/nodes/Venafi/ProtectCloud/VenafiTlsProtectCloudTrigger.node.ts
  packages/nodes-base/nodes/Venafi/venafi.svg
  packages/nodes-base/package.json
Labels: node/new, n8n team

#4284 fix(Github Trigger Node): fix issue with trigger not always activating
  packages/nodes-base/nodes/Github/GithubTrigger.node.ts
Labels: node/improvement, n8n team

#4285 Add SHA3 support in Crypto node
  packages/nodes-base/nodes/Crypto/Crypto.node.ts
Labels: node/improvement, community

#4289 refactor(cli): Remove console.log in curl converted tests (no-changelog)
  packages/cli/test/unit/CurlConverterHelper.test.ts
Labels: core, n8n team

#4279 fix(editor): Address first batch of new WF experience review
  packages/editor-ui/src/components/NodeCreator/CategorizedItems.vue
  packages/editor-ui/src/components/NodeCreator/CategoryItem.vue
  packages/editor-ui/src/components/NodeCreator/CreatorItem.vue
  packages/editor-ui/src/components/NodeCreator/MainPanel.vue
  packages/editor-ui/src/components/NodeCreator/NodeItem.vue
  packages/editor-ui/src/components/NodeCreator/SearchBar.vue
  packages/editor-ui/src/components/NodeCreator/SubcategoryItem.vue
  packages/editor-ui/src/components/NodeCreator/TriggerHelperPanel.vue
  packages/editor-ui/src/constants.ts
  packages/editor-ui/src/modules/nodeTypesHelpers.ts
  packages/editor-ui/src/plugins/i18n/locales/en.json
  packages/editor-ui/src/views/CanvasAddButton.vue
  packages/editor-ui/src/views/NodeView.vue
  packages/editor-ui/src/views/canvasHelpers.ts
  packages/nodes-base/nodes/Cron/Cron.node.ts
  packages/nodes-base/nodes/ExecuteWorkflow/ExecuteWorkflow.node.ts
  packages/nodes-base/nodes/ManualTrigger/ManualTrigger.node.ts
Labels: node/improvement, ui, n8n team

#4302 fix(editor): fix resource locator width for trigger nodes
  packages/editor-ui/src/components/ResourceLocator/ResourceLocator.vue
Labels: ui, n8n team

#4305 docs(nodes): fix credentials docs link
  packages/nodes-base/nodes/Venafi/Datacenter/VenafiTlsProtectDatacenter.node.json
Labels: node/improvement, n8n team

#4304 docs(nodes): fix the credentials docs link
  packages/nodes-base/nodes/Venafi/ProtectCloud/VenafiTlsProtectCloud.node.json
Labels: node/improvement, n8n team

#4300 docs(node): update CitrixAdc.node.json to use correct docs URLs
  packages/nodes-base/nodes/Citrix/ADC/CitrixAdc.node.json
Labels: node/improvement, n8n team

#4282 fix(editor): change horizontal scrollbar rendering in various places
  packages/design-system/src/components/N8nTags/Tags.vue
  packages/editor-ui/src/components/CollectionsCarousel.vue
  packages/editor-ui/src/components/TemplateDetails.vue
Labels: ui, n8n team, tech debt

#4243 perf(ci): Sort CI steps by length
  .github/workflows/ci-master.yml
  .github/workflows/ci-pull-requests.yml
Labels: n8n team

#4290 feat(editor): updated n8n-menu component
  packages/design-system/src/components/N8nMenu/Menu.stories.js
  packages/design-system/src/components/N8nMenu/Menu.stories.ts
  packages/design-system/src/components/N8nMenu/Menu.vue
  packages/design-system/src/components/N8nMenuItem/MenuItem.stories.ts
  packages/design-system/src/components/N8nMenuItem/MenuItem.vue
  packages/design-system/src/types/index.ts
  packages/design-system/src/types/menu.ts
  packages/editor-ui/src/Interface.ts
  packages/editor-ui/src/components/CredentialEdit/CredentialEdit.vue
  packages/editor-ui/src/components/MainSidebar.vue
  packages/editor-ui/src/components/MenuItemsIterator.vue
  packages/editor-ui/src/components/SettingsSidebar.vue
  packages/editor-ui/src/plugins/icons.ts
  packages/editor-ui/src/store.ts
  packages/editor-ui/src/views/CredentialsView.vue
Labels: ui, n8n team, tech debt

#4259 fix(TheHive Node): fix typo in severity name for alert updates
  packages/nodes-base/nodes/TheHive/descriptions/AlertDescription.ts
Labels: node/improvement, n8n team

#4278 fix(HubSpot Node): fix typo in deal search operator
  packages/nodes-base/nodes/Hubspot/DealDescription.ts
Labels: node/improvement, n8n team

#4277 fix(HTTP Request Node): fix oauth credentials not working properly for some predefined credentials
  packages/nodes-base/nodes/HttpRequest/GenericFunctions.ts
  packages/nodes-base/nodes/HttpRequest/V2/HttpRequestV2.node.ts
  packages/nodes-base/nodes/HttpRequest/V3/HttpRequestV3.node.ts
Labels: node/improvement, n8n team

#4303 fix(GitLab Trigger Node): fix issue with trigger not always activating
  packages/nodes-base/nodes/Gitlab/GitlabTrigger.node.ts
Labels: node/improvement, n8n team

#4170 fix(seaTable Node): fix link items not showing in response
  packages/nodes-base/nodes/SeaTable/GenericFunctions.ts
  packages/nodes-base/nodes/SeaTable/SeaTable.node.ts
Labels: node/improvement, n8n team

#4287 refactor(editor): encapsulate node creation actions
  packages/editor-ui/src/components/Node/NodeCreation.vue
  packages/editor-ui/src/components/Node/NodeCreator/CategoryItem.vue
  packages/editor-ui/src/components/Node/NodeCreator/CreatorItem.vue
  packages/editor-ui/src/components/Node/NodeCreator/ItemIterator.vue
  packages/editor-ui/src/components/Node/NodeCreator/MainPanel.vue
  packages/editor-ui/src/components/Node/NodeCreator/NoResults.vue
  packages/editor-ui/src/components/Node/NodeCreator/NoResultsIcon.vue
  packages/editor-ui/src/components/Node/NodeCreator/NodeCreator.vue
  packages/editor-ui/src/components/Node/NodeCreator/NodeItem.vue
  packages/editor-ui/src/components/Node/NodeCreator/SearchBar.vue
  packages/editor-ui/src/components/Node/NodeCreator/SubcategoryItem.vue
  packages/editor-ui/src/components/Node/NodeCreator/SubcategoryPanel.vue
  packages/editor-ui/src/components/Node/NodeCreator/helpers.ts
  packages/editor-ui/src/components/mixins/nodeBase.ts
  packages/editor-ui/src/views/NodeView.vue
Labels: ui, n8n team, tech debt

#4294 refactor(editor): upgrade Vue to 2.7
  package-lock.json
  packages/design-system/package.json
  packages/editor-ui/package.json
  packages/editor-ui/vite.config.ts
Labels: ui, n8n team, tech debt

#4172 feat: add endpoint for workflow sharing
  packages/cli/config/schema.ts
  packages/cli/src/Interfaces.ts
  packages/cli/src/Server.ts
  packages/cli/src/UserManagement/UserManagementHelper.ts
  packages/cli/src/credentials/credentials.controller.ee.ts
  packages/cli/src/credentials/helpers.ee.ts
  packages/cli/src/credentials/helpers.ts
  packages/cli/src/databases/entities/Role.ts
  packages/cli/src/databases/migrations/mysqldb/1663755770894-CreateWorkflowsEditorRole.ts
  packages/cli/src/databases/migrations/mysqldb/index.ts
  packages/cli/src/databases/migrations/postgresdb/1663755770893-CreateWorkflowsEditorRole.ts
  packages/cli/src/databases/migrations/postgresdb/index.ts
  packages/cli/src/databases/migrations/sqlite/1663755770892-CreateWorkflowsUserRole.ts
  packages/cli/src/databases/migrations/sqlite/index.ts
  packages/cli/src/requests.d.ts
  packages/cli/src/workflows/workflows.controller.ee.ts
  packages/cli/src/workflows/workflows.controller.ts
  packages/cli/src/workflows/workflows.services.ee.ts
  packages/cli/src/workflows/workflows.services.ts
  packages/cli/test/integration/credentials.ee.test.ts
  packages/cli/test/integration/credentials.test.ts
  packages/cli/test/integration/shared/testDb.ts
  packages/cli/test/integration/shared/utils.ts
  packages/cli/test/integration/workflows.controller.ee.test.ts
  packages/cli/test/integration/workflows.controller.test.ts
Labels: n8n team

#4308 feat(Citrix Node): add certificate install operation
  packages/nodes-base/nodes/Citrix/ADC/CertificateDescription.ts
  packages/nodes-base/nodes/Citrix/ADC/CitrixAdc.node.ts
Labels: node/improvement, n8n team

#4288 feat(Venafi TLS Protect Cloud Trigger Node): add Venafi TLS Protect Cloud Trigger
  packages/nodes-base/nodes/Venafi/ProtectCloud/GenericFunctions.ts
  packages/nodes-base/nodes/Venafi/ProtectCloud/VenafiTlsProtectCloudTrigger.node.ts
  packages/nodes-base/package.json
Labels: node/improvement, n8n team

#4312 feat: return sharees when returning a workflow
  packages/cli/src/workflows/workflows.controller.ee.ts
  packages/cli/src/workflows/workflows.services.ee.ts
  packages/cli/src/workflows/workflows.services.ts
  packages/cli/src/workflows/workflows.types.ts
  packages/cli/test/integration/shared/testDb.ts
  packages/cli/test/integration/workflows.controller.ee.test.ts
Labels: core, n8n team

#4315 fix(Zoom Node): fix issue with missing output items
  packages/nodes-base/nodes/Zoom/Zoom.node.ts
Labels: node/improvement, n8n team

#4316 fix(editor): menu UI fixes (no-changelog)
  packages/design-system/src/components/N8nMenuItem/MenuItem.vue
  packages/editor-ui/src/components/MainSidebar.vue
Labels: ui, n8n team

#4322 ci: fix nightly builds
  docker/images/n8n-custom/Dockerfile
Labels: n8n team

#4301 ci: enforce stricter PR title checking
  .github/workflows/check-pr-title.yml
Labels: n8n team, tech debt

#4317 fix(G Suite Admin Node): fix issue with user update operation failing
  packages/nodes-base/nodes/Google/GSuiteAdmin/GSuiteAdmin.node.ts
Labels: node/improvement, n8n team

#4313 feat(MySql Node): use resource locator component for table parameter
  packages/nodes-base/nodes/MySql/GenericFunctions.ts
  packages/nodes-base/nodes/MySql/MySql.node.ts
Labels: node/improvement, n8n team

#4171 feat(editor): update expressions display
  package-lock.json
  packages/design-system/src/css/_tokens.scss
  packages/design-system/src/styleguide/colors.stories.mdx
  packages/editor-ui/src/Interface.ts
  packages/editor-ui/src/components/CredentialEdit/CredentialInputs.vue
  packages/editor-ui/src/components/FixedCollectionParameter.vue
  packages/editor-ui/src/components/ImportCurlModal.vue
  packages/editor-ui/src/components/InputPanel.vue
  packages/editor-ui/src/components/MultipleParameter.vue
  packages/editor-ui/src/components/NodeCredentials.vue
  packages/editor-ui/src/components/NodeDetailsView.vue
  packages/editor-ui/src/components/OutputPanel.vue
  packages/editor-ui/src/components/ParameterInput.vue
  packages/editor-ui/src/components/ParameterInputExpanded.vue
  packages/editor-ui/src/components/ParameterInputFull.vue
  packages/editor-ui/src/components/ParameterInputHint.vue
  packages/editor-ui/src/components/ParameterInputList.vue
  packages/editor-ui/src/components/ParameterInputWrapper.vue
  packages/editor-ui/src/components/ResourceLocator/ResourceLocator.vue
  packages/editor-ui/src/components/RunData.vue
  packages/editor-ui/src/components/RunDataTable.vue
  packages/editor-ui/src/components/mixins/workflowHelpers.ts
  packages/editor-ui/src/modules/ui.ts
  packages/editor-ui/src/pairedItemUtils.ts
  packages/editor-ui/src/plugins/i18n/index.ts
  packages/editor-ui/src/plugins/i18n/locales/en.json
  packages/editor-ui/src/store.ts
  packages/editor-ui/src/typeGuards.ts
Labels: ui, n8n team

#4328 feat(editor): Minor UI and UX tweaks
  packages/editor-ui/src/Interface.ts
  packages/editor-ui/src/components/MainHeader/WorkflowDetails.vue
  packages/editor-ui/src/components/NodeCreator/CategorizedItems.vue
  packages/editor-ui/src/components/NodeCreator/CategoryItem.vue
  packages/editor-ui/src/components/NodeCreator/MainPanel.vue
  packages/editor-ui/src/components/NodeCreator/NodeCreator.vue
  packages/editor-ui/src/components/NodeCreator/TypeSelector.vue
  packages/editor-ui/src/components/SaveButton.vue
  packages/editor-ui/src/modules/nodeCreator.ts
  packages/editor-ui/src/modules/ui.ts
  packages/editor-ui/src/plugins/i18n/locales/en.json
  packages/editor-ui/src/plugins/icons.ts
  packages/editor-ui/src/store.ts
  packages/editor-ui/src/views/CanvasAddButton.vue
  packages/editor-ui/src/views/NodeView.vue
  packages/nodes-base/nodes/ExecuteWorkflow/ExecuteWorkflow.node.ts
  packages/nodes-base/nodes/ExecuteWorkflowTrigger/ExecuteWorkflowTrigger.node.ts
  packages/nodes-base/nodes/ManualTrigger/ManualTrigger.node.ts
Labels: node/improvement, ui, n8n team

#4252 refactor: rename g-suite admin node to google workspace admin and update node icon
  packages/nodes-base/credentials/GSuiteAdminOAuth2Api.credentials.ts
  packages/nodes-base/nodes/Google/GSuiteAdmin/GSuiteAdmin.node.ts
  packages/nodes-base/nodes/Google/GSuiteAdmin/GroupDescripion.ts
  packages/nodes-base/nodes/Google/GSuiteAdmin/UserDescription.ts
  packages/nodes-base/nodes/Google/GSuiteAdmin/gSuiteAdmin.png
  packages/nodes-base/nodes/Google/GSuiteAdmin/google-workspace-admin.png
Labels: node/improvement, n8n team

#4323 fix(core, editor): prevent overlapping `runData` and `pinData`
  packages/core/src/WorkflowExecute.ts
  packages/editor-ui/src/components/RunData.vue
  packages/editor-ui/src/views/NodeView.vue
Labels: core, ui, n8n team

#4210 feat(Kafka Node): add key option for messages
  packages/nodes-base/nodes/Kafka/Kafka.node.ts
Labels: node/improvement, community

#4329 fix(editor): fix for menu collapse lag when loading a credentials page
  packages/editor-ui/src/components/MainSidebar.vue
  packages/editor-ui/src/modules/ui.ts
Labels: ui, n8n team

#4286 fix(KoboToolbox Node): fix hook logs not working correctly
  packages/nodes-base/nodes/KoBoToolbox/HookDescription.ts
  packages/nodes-base/nodes/KoBoToolbox/KoBoToolbox.node.ts
Labels: node/improvement, community

#4331 refactor(core): integrate lint rule `node-param-name-untrimmed`
  package-lock.json
  packages/nodes-base/.eslintrc.js
  packages/nodes-base/package.json
Labels: node/improvement, n8n team

#4334 fix(editor): disable trigger node execution pinning toolip for schedule nodes
  packages/editor-ui/src/components/Node.vue
Labels: ui, n8n team

#4330 feat: add saving new workflow endpoint
  packages/cli/src/Db.ts
  packages/cli/src/Interfaces.ts
  packages/cli/src/databases/entities/CredentialUsage.ts
  packages/cli/src/databases/entities/index.ts
  packages/cli/src/databases/migrations/mysqldb/1665484192213-CreateCredentialUsageTable.ts
  packages/cli/src/databases/migrations/mysqldb/index.ts
  packages/cli/src/databases/migrations/postgresdb/1665484192212-CreateCredentialUsageTable.ts
  packages/cli/src/databases/migrations/postgresdb/index.ts
  packages/cli/src/databases/migrations/sqlite/1665484192211-CreateCredentialUsageTable.ts
  packages/cli/src/databases/migrations/sqlite/index.ts
  packages/cli/src/workflows/workflows.controller.ee.ts
  packages/cli/src/workflows/workflows.controller.ts
  packages/cli/src/workflows/workflows.services.ee.ts
  packages/cli/test/integration/shared/testDb.ts
  packages/cli/test/integration/shared/utils.ts
  packages/cli/test/integration/workflows.controller.ee.test.ts
  packages/cli/test/integration/workflows.controller.test.ts
Labels: core, n8n team

#4335 refactor(editor): disable community nodes on desktop
  packages/editor-ui/src/modules/settings.ts
  packages/editor-ui/src/plugins/i18n/locales/en.json
  packages/editor-ui/src/views/SettingsCommunityNodesView.vue
Labels: ui, n8n team

#4321 feat(Merge Node)!: node tweaks n8n-4939
  packages/cli/BREAKING-CHANGES.md
  packages/nodes-base/nodes/Merge/v2/GenericFunctions.ts
  packages/nodes-base/nodes/Merge/v2/MergeV2.node.ts
  packages/nodes-base/nodes/Merge/v2/OptionsDescription.ts
Labels: node/improvement, n8n team, node/issue

#4336 fix(editor-ui): fix axios baseUrl when hosted under a subfolder
  packages/cli/src/Server.ts
  packages/editor-ui/src/router.ts
  packages/editor-ui/src/store.ts
Labels: core, ui, n8n team

#4338 fix(workflow): expression evaluation should respect `N8N_BLOCK_ENV_ACCESS_IN_NODE`
  packages/workflow/src/Expression.ts
Labels: core, n8n team

#4342 fix(editor): fix `BASE_PATH` for Vite dev mode
  packages/cli/src/Server.ts
  packages/editor-ui/src/router.ts
  packages/editor-ui/src/shims.d.ts
Labels: ui, n8n team

#4339 fix(editor): fix data pinning success source
  packages/editor-ui/src/components/RunData.vue
Labels: ui, n8n team

#4269 feat(core, editor): Update subworkflow execution logic
  packages/cli/commands/execute.ts
  packages/cli/commands/executeBatch.ts
  packages/cli/src/WorkflowExecuteAdditionalData.ts
  packages/cli/src/WorkflowRunnerProcess.ts
  packages/cli/src/utils.ts
  packages/editor-ui/src/Interface.ts
  packages/editor-ui/src/components/OutputPanel.vue
  packages/editor-ui/src/components/RunData.vue
  packages/editor-ui/src/components/mixins/pushConnection.ts
  packages/editor-ui/src/components/mixins/workflowRun.ts
  packages/editor-ui/src/store.ts
  packages/editor-ui/src/views/NodeView.vue
  packages/nodes-base/nodes/ManualTrigger/ManualTrigger.node.ts
  packages/workflow/src/Workflow.ts
  packages/workflow/src/WorkflowErrors.ts
Labels: core, ui, n8n team

#4345 fix: change start position of the start node
  package-lock.json
  packages/editor-ui/src/views/canvasHelpers.ts
Labels: ui, community

#4348 fix(editor): fix bug where one cannot scroll down parameters
  packages/editor-ui/src/components/NDVDraggablePanels.vue
  packages/editor-ui/src/components/NodeDetailsView.vue
  packages/editor-ui/src/components/NodeSettings.vue
Labels: ui, n8n team

#3879 update RundeckApi Credential
  packages/nodes-base/credentials/RundeckApi.credentials.ts
  packages/nodes-base/nodes/Rundeck/RundeckApi.ts
Labels: node/improvement, community

#3686 feat(Hubspot Node): enable hubspot credentials for http predefined types
  packages/nodes-base/credentials/HubspotApi.credentials.ts
  packages/nodes-base/credentials/HubspotAppToken.credentials.ts
  packages/nodes-base/nodes/Hubspot/GenericFunctions.ts
Labels: node/improvement, community

#4349 fix(editor): fix bottom menu hover bug
  packages/design-system/src/components/N8nMenu/Menu.vue
  packages/design-system/src/components/N8nMenuItem/MenuItem.vue
  packages/editor-ui/src/components/MainSidebar.vue
  packages/editor-ui/src/components/SettingsSidebar.vue
Labels: ui, n8n team

#2746 feat(editor): add automatic credential selection for new nodes
  packages/editor-ui/src/components/NodeCredentials.vue
  packages/editor-ui/src/views/NodeView.vue
Labels: ui, n8n team

#4347 fix(editor): prevent text highlight on FF when mapping data
  packages/editor-ui/src/components/Draggable.vue
Labels: ui, n8n team

#4360 refactor: update ftp node codex to add to files category
  packages/nodes-base/nodes/Ftp/Ftp.node.json
Labels: node/improvement, n8n team

#4219 feat(Compare Node): new node to compare two inputs n8n-4781
  packages/nodes-base/nodes/CompareDatasets/CompareDatasets.node.json
  packages/nodes-base/nodes/CompareDatasets/CompareDatasets.node.ts
  packages/nodes-base/nodes/CompareDatasets/GenericFunctions.ts
  packages/nodes-base/nodes/CompareDatasets/compare.svg
  packages/nodes-base/package.json
Labels: node/new, n8n team

#4223 feat(Node): add the Scheduler Node
  packages/nodes-base/nodes/Cron/Cron.node.json
  packages/nodes-base/nodes/Cron/Cron.node.ts
  packages/nodes-base/nodes/Interval/Interval.node.ts
  packages/nodes-base/nodes/Schedule/CronInterface.ts
  packages/nodes-base/nodes/Schedule/ScheduleTrigger.node.json
  packages/nodes-base/nodes/Schedule/ScheduleTrigger.node.ts
  packages/nodes-base/nodes/Schedule/schedule.svg
  packages/nodes-base/package.json
Labels: node/improvement, node/new, n8n team

#4346 fix(editor): show null value in table view
  packages/editor-ui/src/components/RunDataTable.vue
Labels: ui, n8n team

#4267 feat(editor): create new workflows page
  packages/design-system/src/components/N8nCard/Card.stories.ts
  packages/design-system/src/components/N8nCard/Card.vue
  packages/design-system/src/components/N8nCard/__tests__/__snapshots__/Card.spec.ts.snap
  packages/design-system/src/components/N8nInfoTip/__tests__/__snapshots__/InfoTip.spec.ts.snap
  packages/design-system/src/components/N8nLink/Link.vue
  packages/design-system/src/components/N8nMenu/Menu.vue
  packages/design-system/src/components/N8nTag/Tag.vue
  packages/design-system/src/components/N8nTags/Tags.stories.js
  packages/design-system/src/components/N8nTags/Tags.vue
  packages/design-system/src/components/N8nText/Text.stories.js
  packages/design-system/src/components/N8nText/Text.vue
  packages/design-system/src/components/N8nUserSelect/UserSelect.vue
  packages/design-system/src/css/common/var.scss
  packages/design-system/src/locale/lang/en.js
  packages/editor-ui/src/Interface.ts
  packages/editor-ui/src/api/workflows.ts
  packages/editor-ui/src/components/CollectionCard.vue
  packages/editor-ui/src/components/CollectionWorkflowCard.vue
  packages/editor-ui/src/components/CollectionsCarousel.vue
  packages/editor-ui/src/components/CredentialCard.vue
  packages/editor-ui/src/components/DuplicateWorkflowDialog.vue
  packages/editor-ui/src/components/MainHeader/WorkflowDetails.vue
  packages/editor-ui/src/components/MainSidebar.vue
  packages/editor-ui/src/components/ModalRoot.vue
  packages/editor-ui/src/components/Modals.vue
  packages/editor-ui/src/components/TagsDropdown.vue
  packages/editor-ui/src/components/WorkflowActivator.vue
  packages/editor-ui/src/components/WorkflowCard.vue
  packages/editor-ui/src/components/WorkflowOpen.vue
  packages/editor-ui/src/components/forms/ResourceFiltersDropdown.vue
  packages/editor-ui/src/components/forms/ResourceOwnershipSelect.ee.vue
  packages/editor-ui/src/components/layouts/ResourcesListLayout.vue
  packages/editor-ui/src/components/mixins/workflowActivate.ts
  packages/editor-ui/src/components/mixins/workflowHelpers.ts
  packages/editor-ui/src/constants.ts
  packages/editor-ui/src/modules/ui.ts
  packages/editor-ui/src/modules/workflows.ts
  packages/editor-ui/src/permissions.ts
  packages/editor-ui/src/plugins/i18n/locales/en.json
  packages/editor-ui/src/router.ts
  packages/editor-ui/src/store.ts
  packages/editor-ui/src/views/CredentialsView.vue
  packages/editor-ui/src/views/NodeView.vue
  packages/editor-ui/src/views/WorkflowsView.vue
Labels: ui, n8n team

#4371 fix(editor): replace cron node with schedule node
  packages/editor-ui/src/components/InputPanel.vue
  packages/editor-ui/src/components/Node/NodeCreator/TriggerHelperPanel.vue
  packages/editor-ui/src/constants.ts
  packages/editor-ui/src/modules/userHelpers.ts
  packages/nodes-base/nodes/Schedule/ScheduleTrigger.node.ts
  packages/nodes-base/nodes/Schedule/schedule.svg
Labels: node/improvement, ui, n8n team

#4373 fix(Schedule trigger Node): fix the interval order chronologically
  packages/nodes-base/nodes/Schedule/ScheduleTrigger.node.ts
Labels: node/improvement, node/new, n8n team

#4378 refactor: lint for inefficient deep clones
  packages/@n8n_io/eslint-config/base.js
  packages/@n8n_io/eslint-config/local-rules.js
  packages/@n8n_io/eslint-config/local-rules.test.js
  packages/nodes-base/nodes/Schedule/ScheduleTrigger.node.ts
Labels: node/improvement, n8n team

#4380 fix(CompareDatasets Node): removed quotes from branch names
  packages/nodes-base/nodes/CompareDatasets/CompareDatasets.node.ts
Labels: n8n team, node/issue

#4382 fix(editor): fix workflow not stopping on clicking stop button
  packages/editor-ui/src/Interface.ts
  packages/editor-ui/src/components/mixins/pushConnection.ts
  packages/editor-ui/src/components/mixins/restApi.ts
  packages/editor-ui/src/views/NodeView.vue
Labels: ui, n8n team

#4376 fix(Shedule Node): fixes multiple intervals, fixes week interval
  packages/nodes-base/nodes/Schedule/CronInterface.ts
  packages/nodes-base/nodes/Schedule/ScheduleTrigger.node.ts
Labels: node/improvement, n8n team

#4248 fix(n8n Node): fix resource locator not returning all items
  packages/nodes-base/nodes/N8n/GenericFunctions.ts
  packages/nodes-base/nodes/N8n/WorkflowLocator.ts
Labels: node/improvement, n8n team

#4387 fix(Google Drive Node): fix drive hint typo in resource locator
  packages/nodes-base/nodes/Google/Drive/GoogleDrive.node.ts
Labels: node/improvement, community

#4383 feat: switch initial route based on feature flag
  packages/editor-ui/src/router.ts
Labels: ui, n8n team

#4374 feat(core): block workflow update on interim change
  packages/cli/src/requests.d.ts
  packages/cli/src/workflows/workflows.controller.ts
  packages/cli/test/integration/shared/utils.ts
  packages/cli/test/integration/workflows.controller.ee.test.ts
  packages/editor-ui/src/Interface.ts
  packages/editor-ui/src/components/mixins/workflowHelpers.ts
  packages/editor-ui/src/store.ts
  packages/editor-ui/src/views/NodeView.vue
Labels: core, ui, n8n team, User Management

#4388 fix(editor): fix performance issues when opening node or editing code node with a lot of data
  packages/editor-ui/src/components/NDVDraggablePanels.vue
  packages/editor-ui/src/components/Node.vue
  packages/editor-ui/src/components/NodeDetailsView.vue
  packages/editor-ui/src/components/ParameterInput.vue
Labels: ui, n8n team

#4377 feat(core): enable sending client credentials in body
  packages/core/src/NodeExecuteFunctions.ts
  packages/core/src/OAuth2Helper.ts
  packages/nodes-base/credentials/OAuth2Api.credentials.ts
Labels: node/improvement, core, n8n team

#4365 fix(HTTP Request Node): avoid error when response doesn't include content-type
  packages/nodes-base/nodes/HttpRequest/GenericFunctions.ts
  packages/nodes-base/nodes/HttpRequest/V3/HttpRequestV3.node.ts
Labels: node/improvement, n8n team

#4359 fix(core): delete some of the redundant code in core
  packages/core/src/Interfaces.ts
  packages/core/src/LoadNodeDetails.ts
  packages/core/src/LoadNodeListSearch.ts
  packages/core/src/LoadNodeParameterOptions.ts
Labels: core, n8n team

#4351 fix(API): reduce code duplication between DB entities
  packages/cli/src/databases/entities/AbstractEntity.ts
  packages/cli/src/databases/entities/CredentialUsage.ts
  packages/cli/src/databases/entities/CredentialsEntity.ts
  packages/cli/src/databases/entities/ExecutionEntity.ts
  packages/cli/src/databases/entities/InstalledNodes.ts
  packages/cli/src/databases/entities/InstalledPackages.ts
  packages/cli/src/databases/entities/Role.ts
  packages/cli/src/databases/entities/Settings.ts
  packages/cli/src/databases/entities/SharedCredentials.ts
  packages/cli/src/databases/entities/SharedWorkflow.ts
  packages/cli/src/databases/entities/TagEntity.ts
  packages/cli/src/databases/entities/User.ts
  packages/cli/src/databases/entities/WebhookEntity.ts
  packages/cli/src/databases/entities/WorkflowEntity.ts
  packages/cli/src/databases/entities/index.ts
Labels: core, n8n team

#4407 refactor(core): fixes n8n-local-rules/no-json-parse-json-stringify warnings
  packages/@n8n_io/eslint-config/base.js
  packages/nodes-base/nodes/Amqp/AmqpTrigger.node.ts
  packages/nodes-base/nodes/Aws/DynamoDB/GenericFunctions.ts
  packages/nodes-base/nodes/Aws/DynamoDB/utils.ts
  packages/nodes-base/nodes/Crypto/Crypto.node.ts
  packages/nodes-base/nodes/DateTime/DateTime.node.ts
  packages/nodes-base/nodes/EditImage/EditImage.node.ts
  packages/nodes-base/nodes/Function/Function.node.ts
  packages/nodes-base/nodes/FunctionItem/FunctionItem.node.ts
  packages/nodes-base/nodes/Markdown/Markdown.node.ts
  packages/nodes-base/nodes/Merge/v1/MergeV1.node.ts
  packages/nodes-base/nodes/Microsoft/Sql/GenericFunctions.ts
  packages/nodes-base/nodes/MoveBinaryData/MoveBinaryData.node.ts
  packages/nodes-base/nodes/MySql/GenericFunctions.ts
  packages/nodes-base/nodes/Odoo/Odoo.node.ts
  packages/nodes-base/nodes/RenameKeys/RenameKeys.node.ts
  packages/nodes-base/nodes/Set/Set.node.ts
  packages/nodes-base/nodes/Snowflake/GenericFunctions.ts
  packages/nodes-base/nodes/SurveyMonkey/SurveyMonkeyTrigger.node.ts
  packages/nodes-base/nodes/UProc/ToolDescription.ts
  packages/workflow/src/NodeHelpers.ts
Labels: n8n team, node/linting, tech debt

#4401 feat(core): add paid feature flag to LDAP
  packages/cli/commands/ldap/reset.ts
  packages/cli/commands/start.ts
  packages/cli/config/schema.ts
  packages/cli/src/Interfaces.ts
  packages/cli/src/Ldap/constants.ts
  packages/cli/src/Ldap/helpers.ts
  packages/cli/src/Server.ts
  packages/cli/src/databases/migrations/sqlite/1666304975928-CreateLdapEntities.ts
  packages/cli/src/databases/migrations/sqlite/index.ts
  packages/cli/test/integration/auth.api.test.ts
  packages/cli/test/unit/LdapHelpers.test.ts
  packages/editor-ui/src/constants.ts
  packages/editor-ui/src/modules/settings.ts
  packages/editor-ui/src/router.ts
  packages/editor-ui/src/views/SettingsLdapView.vue
Labels: core, ui, n8n team

#4408 feat(HTTP Request Node): add option for raw json header & query
  package-lock.json
  packages/nodes-base/nodes/HttpRequest/V3/HttpRequestV3.node.ts
Labels: node/improvement, community

#3044 fix(InvoiceNinja Node): added support for v5
  packages/nodes-base/credentials/InvoiceNinjaApi.credentials.ts
  packages/nodes-base/nodes/InvoiceNinja/GenericFunctions.ts
  packages/nodes-base/nodes/InvoiceNinja/InvoiceNinja.node.ts
  packages/nodes-base/nodes/InvoiceNinja/InvoiceNinjaTrigger.node.ts
  packages/nodes-base/nodes/InvoiceNinja/PaymentInterface.ts
Labels: node/improvement, n8n team

#3212 fix(TheHive Node): fixes for node issues
  packages/nodes-base/credentials/TheHiveApi.credentials.ts
  packages/nodes-base/nodes/TheHive/GenericFunctions.ts
  packages/nodes-base/nodes/TheHive/TheHive.node.ts
  packages/nodes-base/nodes/TheHive/TheHiveTrigger.node.ts
  packages/nodes-base/nodes/TheHive/descriptions/AlertDescription.ts
  packages/nodes-base/nodes/TheHive/descriptions/EventsDescription.ts
  packages/nodes-base/nodes/TheHive/descriptions/LogDescription.ts
  packages/nodes-base/nodes/TheHive/descriptions/ObservableDescription.ts
Labels: n8n team, node/issue

#4412 feat(core): protect ldap files with enterprise licence #4411
  packages/cli/src/Ldap/LdapManager.ee.ts
  packages/cli/src/Ldap/LdapService.ee.ts
  packages/cli/src/Ldap/LdapSync.ee.ts
  packages/cli/src/Ldap/helpers.ts
  packages/cli/src/Ldap/routes/ldap.controller.ee.ts
  packages/cli/src/Server.ts
Labels: core, n8n team

#4413 fix: add explicit typing on all jsonParse calls
  package-lock.json
  packages/cli/src/CurlConverterHelper.ts
  packages/cli/src/GenericHelpers.ts
  packages/cli/src/LoadNodesAndCredentials.ts
  packages/cli/src/PublicApi/v1/shared/services/pagination.service.ts
  packages/cli/src/Server.ts
  packages/cli/src/api/executions.api.ts
  packages/cli/src/databases/utils/transformers.ts
  packages/nodes-base/credentials/InvoiceNinjaApi.credentials.ts
  packages/nodes-base/credentials/TheHiveApi.credentials.ts
  packages/nodes-base/nodes/Aws/CertificateManager/GenericFunctions.ts
  packages/nodes-base/nodes/HttpRequest/V3/HttpRequestV3.node.ts
  packages/nodes-base/nodes/InvoiceNinja/GenericFunctions.ts
  packages/nodes-base/nodes/InvoiceNinja/InvoiceNinja.node.ts
  packages/nodes-base/nodes/InvoiceNinja/InvoiceNinjaTrigger.node.ts
  packages/nodes-base/nodes/InvoiceNinja/PaymentInterface.ts
  packages/nodes-base/nodes/JotForm/JotFormTrigger.node.ts
  packages/nodes-base/nodes/Metabase/QuestionsDescription.ts
  packages/nodes-base/nodes/SseTrigger/SseTrigger.node.ts
  packages/nodes-base/nodes/StopAndError/StopAndError.node.ts
  packages/nodes-base/nodes/SurveyMonkey/SurveyMonkeyTrigger.node.ts
  packages/nodes-base/nodes/TheHive/GenericFunctions.ts
  packages/nodes-base/nodes/TheHive/TheHive.node.ts
  packages/nodes-base/nodes/TheHive/TheHiveTrigger.node.ts
  packages/nodes-base/nodes/TheHive/descriptions/AlertDescription.ts
  packages/nodes-base/nodes/TheHive/descriptions/EventsDescription.ts
  packages/nodes-base/nodes/TheHive/descriptions/LogDescription.ts
  packages/nodes-base/nodes/TheHive/descriptions/ObservableDescription.ts
  packages/nodes-base/nodes/Wufoo/WufooTrigger.node.ts
  packages/workflow/src/utils.ts
Labels: node/improvement, core, n8n team

#4403 refactor(core): fix for no-uncaught-json-parse warnings
  packages/@n8n_io/eslint-config/base.js
  packages/cli/src/CurlConverterHelper.ts
  packages/cli/src/GenericHelpers.ts
  packages/cli/src/LoadNodesAndCredentials.ts
  packages/cli/src/PublicApi/v1/shared/services/pagination.service.ts
  packages/cli/src/Server.ts
  packages/cli/src/api/executions.api.ts
  packages/cli/src/databases/utils/transformers.ts
  packages/editor-ui/src/components/NodeDetailsView.vue
  packages/editor-ui/src/components/helpers.ts
  packages/nodes-base/nodes/AgileCrm/AgileCrm.node.ts
  packages/nodes-base/nodes/Amqp/AmqpTrigger.node.ts
  packages/nodes-base/nodes/Aws/AwsSnsTrigger.node.ts
  packages/nodes-base/nodes/Aws/CertificateManager/GenericFunctions.ts
  packages/nodes-base/nodes/Cockpit/CollectionFunctions.ts
  packages/nodes-base/nodes/Cockpit/GenericFunctions.ts
  packages/nodes-base/nodes/Discord/Discord.node.ts
  packages/nodes-base/nodes/Elastic/Elasticsearch/Elasticsearch.node.ts
  packages/nodes-base/nodes/Google/Firebase/CloudFirestore/GoogleFirebaseCloudFirestore.node.ts
  packages/nodes-base/nodes/HttpRequest/V3/HttpRequestV3.node.ts
  packages/nodes-base/nodes/JotForm/JotFormTrigger.node.ts
  packages/nodes-base/nodes/Metabase/QuestionsDescription.ts
  packages/nodes-base/nodes/MoveBinaryData/MoveBinaryData.node.ts
  packages/nodes-base/nodes/NocoDB/GenericFunctions.ts
  packages/nodes-base/nodes/Notion/v2/NotionV2.node.ts
  packages/nodes-base/nodes/RenameKeys/RenameKeys.node.ts
  packages/nodes-base/nodes/RespondToWebhook/RespondToWebhook.node.ts
  packages/nodes-base/nodes/SendInBlue/GenericFunctions.ts
  packages/nodes-base/nodes/SseTrigger/SseTrigger.node.ts
  packages/nodes-base/nodes/StopAndError/StopAndError.node.ts
  packages/nodes-base/nodes/SurveyMonkey/SurveyMonkeyTrigger.node.ts
  packages/nodes-base/nodes/TheHive/GenericFunctions.ts
  packages/nodes-base/nodes/Todoist/OperationHandler.ts
  packages/nodes-base/nodes/Wufoo/WufooTrigger.node.ts
  packages/workflow/src/index.ts
  packages/workflow/src/utils.ts
Labels: n8n team, node/linting, tech debt

#4406 refactor(editor): migrate FormInput to Composition API
  packages/design-system/src/components/N8nFormInput/FormInput.stories.js
  packages/design-system/src/components/N8nFormInput/FormInput.vue
  packages/design-system/src/components/N8nFormInputs/FormInputs.vue
  packages/design-system/src/components/N8nInput/Input.vue
  packages/design-system/src/components/N8nInputLabel/InputLabel.vue
Labels: ui, n8n team, tech debt

#4420 fix(editor): stop rendering expressions as html
  packages/editor-ui/src/components/ParameterInputFull.vue
  packages/editor-ui/src/components/ParameterInputHint.vue
  packages/editor-ui/src/components/ParameterInputWrapper.vue
Labels: ui, n8n team

#4393 fix(Email Trigger (IMAP) Node): improve connection handling and credentials
  packages/nodes-base/credentials/Imap.credentials.ts
  packages/nodes-base/nodes/EmailReadImap/EmailReadImap.node.ts
  packages/nodes-base/nodes/EmailReadImap/v1/EmailReadImapV1.node.ts
  packages/nodes-base/nodes/EmailReadImap/v2/EmailReadImapV2.node.ts
Labels: node/improvement, node/new, n8n team

#4418 ci(core): fix node-dev Build.ts linting
  packages/node-dev/src/Build.ts
Labels: core, n8n team

#4399 feat(editor): improve nodes panel search
  packages/editor-ui/src/components/Node/NodeCreator/CategorizedItems.vue
  packages/editor-ui/src/components/Node/NodeCreator/sortUtils.ts
Labels: ui, n8n team

#4409 refactor(editor): create ndv store
  packages/editor-ui/src/Interface.ts
  packages/editor-ui/src/components/CodeEdit.vue
  packages/editor-ui/src/components/CodeNodeEditor/completions/jsonField.completions.ts
  packages/editor-ui/src/components/CollectionParameter.vue
  packages/editor-ui/src/components/CredentialEdit/CredentialConfig.vue
  packages/editor-ui/src/components/CredentialEdit/CredentialEdit.vue
  packages/editor-ui/src/components/Draggable.vue
  packages/editor-ui/src/components/DraggableTarget.vue
  packages/editor-ui/src/components/Error/NodeErrorView.vue
  packages/editor-ui/src/components/ExpressionEdit.vue
  packages/editor-ui/src/components/ImportCurlModal.vue
  packages/editor-ui/src/components/InputPanel.vue
  packages/editor-ui/src/components/MainHeader/MainHeader.vue
  packages/editor-ui/src/components/NDVDraggablePanels.vue
  packages/editor-ui/src/components/Node.vue
  packages/editor-ui/src/components/NodeDetailsView.vue
  packages/editor-ui/src/components/NodeExecuteButton.vue
  packages/editor-ui/src/components/NodeSettings.vue
  packages/editor-ui/src/components/NodeSettingsTabs.vue
  packages/editor-ui/src/components/OutputPanel.vue
  packages/editor-ui/src/components/ParameterInput.vue
  packages/editor-ui/src/components/ParameterInputFull.vue
  packages/editor-ui/src/components/ParameterInputList.vue
  packages/editor-ui/src/components/ParameterInputWrapper.vue
  packages/editor-ui/src/components/ResourceLocator/ResourceLocator.vue
  packages/editor-ui/src/components/RunData.vue
  packages/editor-ui/src/components/RunDataJson.vue
  packages/editor-ui/src/components/RunDataJsonActions.vue
  packages/editor-ui/src/components/RunDataTable.vue
  packages/editor-ui/src/components/Sticky.vue
  packages/editor-ui/src/components/TriggerPanel.vue
  packages/editor-ui/src/components/VariableSelector.vue
  packages/editor-ui/src/components/mixins/workflowHelpers.ts
  packages/editor-ui/src/modules/ndv.ts
  packages/editor-ui/src/modules/ui.ts
  packages/editor-ui/src/plugins/i18n/index.ts
  packages/editor-ui/src/store.ts
  packages/editor-ui/src/views/NodeView.vue
Labels: ui, n8n team

#4419 docs(Schedule Trigger Node): fix docs link (no-changelog)
  packages/nodes-base/nodes/Schedule/ScheduleTrigger.node.json
Labels: node/improvement, n8n team

#4422 docs(Compare Datasets Node): fix docs link (no-changelog)
  packages/nodes-base/nodes/CompareDatasets/CompareDatasets.node.json
Labels: node/improvement, n8n team

#4386 feat(Write Binary File Node): add option to append to a file
  packages/nodes-base/nodes/WriteBinaryFile/WriteBinaryFile.node.ts
Labels: node/improvement, n8n team

#4405 docs(Manual Trigger Node): correct documentation link (no-changelog)
  packages/nodes-base/nodes/ManualTrigger/ManualTrigger.node.json
Labels: node/improvement, community

#4404 docs(Execute Workflow Trigger Node): correct documentation link (no-changelog)
  packages/nodes-base/nodes/ExecuteWorkflowTrigger/ExecuteWorkflowTrigger.node.json
Labels: node/improvement, community

#4423 fix(core): amend typing for `jsonParse()` options
  packages/@n8n_io/eslint-config/local-rules.js
  packages/workflow/src/utils.ts
  packages/workflow/test/utils.test.ts
Labels: core, n8n team

#4421 fix(core): fix single-node execution failing in `main` mode
  packages/nodes-base/nodes/ManualTrigger/ManualTrigger.node.ts
  packages/workflow/src/Workflow.ts
Labels: node/improvement, core, n8n team

#4299 feat(editor): add readonly state for nodes
  packages/editor-ui/src/Interface.ts
  packages/editor-ui/src/api/credentials.ts
  packages/editor-ui/src/components/CollectionParameter.vue
  packages/editor-ui/src/components/CredentialsSelect.vue
  packages/editor-ui/src/components/FixedCollectionParameter.vue
  packages/editor-ui/src/components/ImportParameter.vue
  packages/editor-ui/src/components/MultipleParameter.vue
  packages/editor-ui/src/components/Node.vue
  packages/editor-ui/src/components/NodeDetailsView.vue
  packages/editor-ui/src/components/NodeSettings.vue
  packages/editor-ui/src/components/ParameterInput.vue
  packages/editor-ui/src/components/ParameterInputList.vue
  packages/editor-ui/src/components/ResourceLocator/ResourceLocator.vue
  packages/editor-ui/src/components/TextEdit.vue
  packages/editor-ui/src/components/mixins/genericHelpers.ts
  packages/editor-ui/src/components/mixins/nodeBase.ts
  packages/editor-ui/src/components/mixins/nodeHelpers.ts
  packages/editor-ui/src/modules/credentials.ts
  packages/editor-ui/src/plugins/i18n/index.ts
  packages/editor-ui/src/views/NodeView.vue
  packages/editor-ui/src/views/canvasHelpers.ts
  packages/workflow/src/index.ts
  packages/workflow/src/type-guards.ts
Labels: ui, n8n team

#4426 refactor(core): apply lint rule `node-class-description-non-core-color-present`
  packages/nodes-base/.eslintrc.js
  packages/nodes-base/nodes/Adalo/Adalo.node.ts
  packages/nodes-base/nodes/Aws/CertificateManager/AwsCertificateManager.node.ts
  packages/nodes-base/nodes/Aws/ELB/AwsElb.node.ts
  packages/nodes-base/nodes/Cal/CalTrigger.node.ts
  packages/nodes-base/nodes/Cloudflare/Cloudflare.node.ts
  packages/nodes-base/nodes/Google/Ads/GoogleAds.node.ts
  packages/nodes-base/nodes/Google/Chat/GoogleChat.node.ts
  packages/nodes-base/nodes/Google/CloudStorage/GoogleCloudStorage.node.ts
  packages/nodes-base/nodes/HaloPSA/HaloPSA.node.ts
  packages/nodes-base/nodes/HighLevel/HighLevel.node.ts
  packages/nodes-base/nodes/Jenkins/Jenkins.node.ts
  packages/nodes-base/nodes/KoBoToolbox/KoBoToolbox.node.ts
  packages/nodes-base/nodes/KoBoToolbox/KoBoToolboxTrigger.node.ts
  packages/nodes-base/nodes/Linear/LinearTrigger.node.ts
  packages/nodes-base/nodes/Markdown/Markdown.node.ts
  packages/nodes-base/nodes/Mautic/Mautic.node.ts
  packages/nodes-base/nodes/Metabase/Metabase.node.ts
  packages/nodes-base/nodes/Microsoft/GraphSecurity/MicrosoftGraphSecurity.node.ts
  packages/nodes-base/nodes/Notion/v1/VersionDescription.ts
  packages/nodes-base/nodes/Notion/v2/VersionDescription.ts
  packages/nodes-base/nodes/Odoo/Odoo.node.ts
  packages/nodes-base/nodes/Onfleet/Onfleet.node.ts
  packages/nodes-base/nodes/Onfleet/OnfleetTrigger.node.ts
  packages/nodes-base/nodes/PostBin/PostBin.node.ts
  packages/nodes-base/nodes/SendInBlue/SendInBlue.node.ts
  packages/nodes-base/nodes/SendInBlue/SendInBlueTrigger.node.ts
  packages/nodes-base/nodes/Supabase/Supabase.node.ts
  packages/nodes-base/nodes/SyncroMSP/v1/actions/versionDescription.ts
  packages/nodes-base/nodes/Venafi/Datacenter/VenafiTlsProtectDatacenter.node.ts
  packages/nodes-base/nodes/Venafi/Datacenter/VenafiTlsProtectDatacenterTrigger.node.ts
  packages/nodes-base/nodes/Venafi/ProtectCloud/VenafiTlsProtectCloud.node.ts
  packages/nodes-base/nodes/Venafi/ProtectCloud/VenafiTlsProtectCloudTrigger.node.ts
Labels: node/improvement, n8n team

#4397 feat(core): block workflow update on interim change
  packages/cli/src/requests.d.ts
  packages/cli/src/workflows/workflows.controller.ts
  packages/cli/test/integration/shared/utils.ts
  packages/cli/test/integration/workflows.controller.ee.test.ts
  packages/editor-ui/src/Interface.ts
  packages/editor-ui/src/components/WorkflowCard.vue
  packages/editor-ui/src/components/WorkflowSettings.vue
  packages/editor-ui/src/components/mixins/workflowHelpers.ts
  packages/editor-ui/src/plugins/i18n/locales/en.json
  packages/editor-ui/src/store.ts
  packages/editor-ui/src/views/NodeView.vue
Labels: core, ui, n8n team

#4433 refactor(editor): do not add onDragOver event listeners on NodeItem mount
  packages/editor-ui/src/components/Node/NodeCreator/NodeItem.vue
Labels: ui, n8n team, tech debt

#4435 fix(Email Trigger (IMAP) Node): backport V2 mark-seen-after-processing to V1
  packages/nodes-base/nodes/EmailReadImap/v1/EmailReadImapV1.node.ts
Labels: node/improvement, n8n team

#4434 fix(editor): upgrade and make testing consistent in editor-ui and design-system
  package-lock.json
  packages/design-system/package.json
  packages/design-system/vite.config.ts
  packages/editor-ui/package.json
  packages/editor-ui/vite.config.ts
Labels: ui, n8n team

#4443 refactor: rename NodeVersionedType to VersionedNodeType and move it to the workflow package
  packages/cli/src/CredentialsHelper.ts
  packages/cli/src/LoadNodesAndCredentials.ts
  packages/cli/src/NodeTypes.ts
  packages/editor-ui/src/components/mixins/workflowHelpers.ts
  packages/nodes-base/nodes/EmailReadImap/EmailReadImap.node.ts
  packages/nodes-base/nodes/Google/Gmail/Gmail.node.ts
  packages/nodes-base/nodes/HttpRequest/HttpRequest.node.ts
  packages/nodes-base/nodes/Mattermost/Mattermost.node.ts
  packages/nodes-base/nodes/Merge/Merge.node.ts
  packages/nodes-base/nodes/Notion/Notion.node.ts
  packages/nodes-base/nodes/SyncroMSP/SyncroMsp.node.ts
  packages/nodes-base/package.json
  packages/nodes-base/src/index.ts
  packages/nodes-base/tsconfig.json
  packages/workflow/src/Interfaces.ts
  packages/workflow/src/NodeHelpers.ts
  packages/workflow/src/VersionedNodeType.ts
  packages/workflow/src/index.ts
  packages/workflow/test/Helpers.ts
Labels: node/improvement, core, ui, n8n team

#4441 feat: setup nightly tests for postgres and mysql schemas
  .github/docker-compose.yml
  .github/workflows/ci-postgres-mysql.yml
  jest.config.js
  package-lock.json
  package.json
  packages/@n8n_io/eslint-config/base.js
  packages/@n8n_io/eslint-config/jest.config.js
  packages/@n8n_io/eslint-config/package.json
  packages/cli/jest.config.js
  packages/cli/package.json
  packages/cli/test/integration/shared/constants.ts
  packages/cli/test/integration/shared/testDb.ts
  packages/cli/test/setup.ts
  packages/cli/test/teardown.ts
  packages/core/jest.config.js
  packages/core/package.json
  packages/nodes-base/jest.config.js
  packages/nodes-base/package.json
  packages/workflow/jest.config.js
  packages/workflow/package.json
Labels: core, n8n team

#4438 fix(core): fix tooltip node execution button skipping parent nodes
  packages/cli/src/WorkflowRunnerProcess.ts
Labels: core, n8n team

#4424 fix(API): validate excecutions and workflow filter parameters
  packages/cli/src/WorkflowHelpers.ts
  packages/cli/src/api/executions.api.ts
  packages/cli/src/workflows/workflows.controller.ts
Labels: core, n8n team

#4451 refactor(editor): highlight error when jstoolkit objects are not deleted
  packages/editor-ui/src/views/NodeView.vue
Labels: ui, n8n team

#4391 feat(Airtable Trigger Node): use resource locator component for base and table parameters
  packages/nodes-base/nodes/Airtable/AirtableTrigger.node.ts
Labels: node/improvement, n8n team

#4453 feat(editor): setup dark-mode for the code-editor, with automatic switching
  packages/design-system/src/css/_tokens.dark.scss
  packages/design-system/src/css/_tokens.scss
  packages/editor-ui/src/components/CodeNodeEditor/theme.ts
Labels: ui, n8n team

#4455 fix(editor): curb item method linting in single-item mode in `CodeNodeEditor` linter
  packages/editor-ui/src/components/CodeNodeEditor/linter.ts
  packages/editor-ui/src/plugins/i18n/locales/en.json
Labels: ui, n8n team

#4459 fix(API): do not reset the auth cookie on every request to `GET /login`
  packages/cli/src/UserManagement/routes/auth.ts
  packages/cli/test/integration/auth.api.test.ts
Labels: core, n8n team

#4462 fix(editor): fix for executions view auto-refresh and new workflow saving
  packages/editor-ui/src/components/ExecutionsView/ExecutionsView.vue
  packages/editor-ui/src/components/mixins/workflowHelpers.ts
  packages/editor-ui/src/modules/workflows.ts
Labels: ui, n8n team

#4465 refactor: set ESLint to warn on `ts-ignore` comment
  packages/@n8n_io/eslint-config/base.js
Labels: n8n team

#4466 fix: include typescript types for all n8n packages published to npm
  .npmignore
Labels: n8n team

#4463 fix(AWS SNS Trigger Node): add missing jsonParse import
  packages/cli/src/Server.ts
  packages/cli/src/WebhookServer.ts
  packages/core/src/NodeExecuteFunctions.ts
  packages/core/src/index.ts
  packages/nodes-base/nodes/Aws/AwsSnsTrigger.node.ts
  packages/nodes-base/nodes/Cisco/Webex/CiscoWebexTrigger.node.ts
  packages/nodes-base/nodes/Facebook/FacebookTrigger.node.ts
  packages/nodes-base/nodes/HelpScout/HelpScoutTrigger.node.ts
  packages/nodes-base/nodes/JotForm/JotFormTrigger.node.ts
  packages/nodes-base/nodes/Mailjet/MailjetTrigger.node.ts
  packages/nodes-base/nodes/Shopify/ShopifyTrigger.node.ts
  packages/nodes-base/nodes/Wait/Wait.node.ts
  packages/nodes-base/nodes/Webhook/Webhook.node.ts
  packages/nodes-base/nodes/Wise/WiseTrigger.node.ts
  packages/nodes-base/nodes/WooCommerce/WooCommerceTrigger.node.ts
  packages/workflow/src/Interfaces.ts
Labels: node/improvement, n8n team

#4468 fix(core): updating deepCopy to avoid max callstack with circular deps
  packages/workflow/src/utils.ts
  packages/workflow/test/utils.test.ts
Labels: core, n8n team, Upcoming Release

#4470 fix(editor): removed filter that prevented showing running executions
  packages/editor-ui/src/components/ExecutionsView/ExecutionsView.vue
Labels: ui, n8n team

#4471 refactor: remove console.warn from `deepCopy`
  packages/workflow/src/utils.ts
Labels: core, n8n team

#4473 refactor(core): clear all `@ts-ignore` comments from core package
  packages/core/.eslintrc.js
  packages/core/src/BinaryDataManager/index.ts
  packages/core/src/NodeExecuteFunctions.ts
  packages/core/src/WorkflowExecute.ts
  packages/core/test/NodeExecuteFunctions.test.ts
Labels: core, n8n team

#4446 feat(core): reimplement blocking workflow updates on interim changes
  packages/cli/src/databases/entities/WorkflowEntity.ts
  packages/cli/src/requests.d.ts
  packages/cli/src/workflows/workflows.controller.ee.ts
  packages/cli/src/workflows/workflows.services.ee.ts
  packages/cli/src/workflows/workflows.services.ts
  packages/cli/test/integration/shared/utils.ts
  packages/cli/test/integration/workflows.controller.ee.test.ts
  packages/editor-ui/src/Interface.ts
  packages/editor-ui/src/components/WorkflowSettings.vue
  packages/editor-ui/src/components/mixins/workflowHelpers.ts
  packages/editor-ui/src/store.ts
  packages/editor-ui/src/views/NodeView.vue
Labels: core, ui, n8n team, User Management

#4467 refactor(core): clear `@ts-ignore` from workflow and core packages
  packages/@n8n_io/eslint-config/base.js
  packages/cli/.eslintrc.js
  packages/core/.eslintrc.js
  packages/core/src/BinaryDataManager/index.ts
  packages/core/src/NodeExecuteFunctions.ts
  packages/core/src/WorkflowExecute.ts
  packages/core/test/NodeExecuteFunctions.test.ts
  packages/design-system/.eslintrc.js
  packages/editor-ui/.eslintrc.js
  packages/node-dev/.eslintrc.js
  packages/nodes-base/.eslintrc.js
  packages/workflow/src/Expression.ts
  packages/workflow/src/Interfaces.ts
  packages/workflow/test/RoutingNode.test.ts
  packages/workflow/test/Workflow.test.ts
Labels: core, n8n team

#4458 feat: also send credentials when returning workflow via API
  packages/cli/src/credentials/credentials.service.ee.ts
  packages/cli/src/credentials/credentials.service.ts
  packages/cli/src/workflows/workflows.controller.ee.ts
  packages/cli/src/workflows/workflows.services.ee.ts
  packages/cli/src/workflows/workflows.types.ts
  packages/cli/test/integration/workflows.controller.ee.test.ts
Labels: n8n team, User Management

#4390 feat(editor): block UI in NDV when workflow is listening to events
  packages/design-system/src/components/N8nBlockUi/BlockUi.stories.js
  packages/design-system/src/components/N8nBlockUi/BlockUi.vue
  packages/design-system/src/components/N8nBlockUi/__tests__/BlockUi.spec.ts
  packages/design-system/src/components/N8nBlockUi/index.ts
  packages/design-system/src/plugins/n8nComponents.ts
  packages/editor-ui/src/components/NodeDetailsView.vue
  packages/editor-ui/src/components/NodeExecuteButton.vue
  packages/editor-ui/src/components/NodeSettings.vue
  packages/editor-ui/src/components/OutputPanel.vue
  packages/editor-ui/src/components/RunData.vue
  packages/editor-ui/src/components/TriggerPanel.vue
  packages/editor-ui/src/views/NodeView.vue
Labels: ui, n8n team

#4486 n8n 5327 add pagination to synchronization search
  packages/cli/src/Ldap/LdapService.ee.ts
  packages/cli/src/Ldap/constants.ts
  packages/cli/src/Ldap/types.d.ts
  packages/cli/src/databases/migrations/sqlite/1666304975928-CreateLdapEntities.ts
  packages/editor-ui/src/Interface.ts
  packages/editor-ui/src/views/SettingsLdapView.vue
Labels: core, ui, n8n team
