Repository n8n-io/n8n, pull requests merged in 2022-01, with the labels that each got.

#2540 ✨ Add option to ignore requests from bots
  packages/nodes-base/nodes/Wait/Wait.node.ts
  packages/nodes-base/nodes/Webhook/Webhook.node.ts
  packages/nodes-base/package.json
Labels: node/improvement, community

#2602 Fix number suffix in duplicate node
  packages/editor-ui/src/views/NodeView.vue
Labels: ui, n8n team

#2606 :zap: Always stringify data of Function-Nodes
  packages/nodes-base/nodes/Function/Function.node.ts
  packages/nodes-base/nodes/FunctionItem/FunctionItem.node.ts
Labels: node/improvement, n8n team

#2632 Add user management /me endpoints
  .eslintrc.js
  packages/cli/src/Server.ts
  packages/cli/src/UserManagement/Interfaces.ts
  packages/cli/src/UserManagement/UserManagementHelper.ts
  packages/cli/src/UserManagement/routes/index.ts
  packages/cli/src/UserManagement/routes/me.ts
  packages/cli/src/databases/entities/User.ts
Labels: core, n8n team

#2639 User management password reset flow
  packages/cli/package.json
  packages/cli/src/UserManagement/Interfaces.ts
  packages/cli/src/UserManagement/UserManagementHelper.ts
  packages/cli/src/UserManagement/auth/jwt.ts
  packages/cli/src/UserManagement/routes/auth.ts
  packages/cli/src/UserManagement/routes/index.ts
  packages/cli/src/UserManagement/routes/me.ts
  packages/cli/src/UserManagement/routes/passwordReset.ts
  packages/cli/src/UserManagement/routes/users.ts
  packages/cli/src/databases/entities/User.ts
  packages/cli/src/databases/sqlite/migrations/1636626154932-CreateUserManagement.ts
Labels: feature, n8n team

#2604 :zap: Improve telemetry
  packages/cli/commands/execute.ts
  packages/cli/commands/executeBatch.ts
  packages/cli/commands/start.ts
  packages/cli/commands/webhook.ts
  packages/cli/commands/worker.ts
  packages/cli/src/InternalHooks.ts
  packages/cli/src/InternalHooksManager.ts
  packages/cli/src/Server.ts
  packages/cli/src/WorkflowRunnerProcess.ts
  packages/editor-ui/src/components/Node.vue
  packages/editor-ui/src/components/mixins/nodeHelpers.ts
  packages/editor-ui/src/views/NodeView.vue
  packages/workflow/src/Interfaces.ts
  packages/workflow/src/TelemetryHelpers.ts
Labels: core, n8n team

#2597 i18n feedback refactorings
  package-lock.json
  packages/cli/src/Server.ts
  packages/cli/src/TranslationHelpers.ts
  packages/editor-ui/src/Interface.ts
  packages/editor-ui/src/components/CodeEdit.vue
  packages/editor-ui/src/components/CollectionParameter.vue
  packages/editor-ui/src/components/CopyInput.vue
  packages/editor-ui/src/components/CredentialEdit/CredentialConfig.vue
  packages/editor-ui/src/components/Error/NodeErrorView.vue
  packages/editor-ui/src/components/ExecutionsList.vue
  packages/editor-ui/src/components/FixedCollectionParameter.vue
  packages/editor-ui/src/components/MultipleParameter.vue
  packages/editor-ui/src/components/Node.vue
  packages/editor-ui/src/components/ParameterInput.vue
  packages/editor-ui/src/components/ParameterInputExpanded.vue
  packages/editor-ui/src/components/ParameterInputFull.vue
  packages/editor-ui/src/components/ParameterInputList.vue
  packages/editor-ui/src/components/RunData.vue
  packages/editor-ui/src/components/TextEdit.vue
  packages/editor-ui/src/components/mixins/restApi.ts
  packages/editor-ui/src/components/mixins/workflowHelpers.ts
  packages/editor-ui/src/plugins/i18n/docs/ADDENDUM.md
  packages/editor-ui/src/plugins/i18n/docs/README.md
  packages/editor-ui/src/plugins/i18n/index.ts
  packages/editor-ui/src/plugins/i18n/locales/en.json
  packages/editor-ui/src/plugins/i18n/utils.ts
  packages/editor-ui/src/store.ts
  packages/editor-ui/src/views/NodeView.vue
  packages/nodes-base/gulpfile.js
  packages/nodes-base/tsconfig.json
Labels: ui, n8n team

#2549 Supabase node
  packages/nodes-base/credentials/SupabaseApi.credentials.ts
  packages/nodes-base/nodes/Supabase/GenericFunctions.ts
  packages/nodes-base/nodes/Supabase/RowDescription.ts
  packages/nodes-base/nodes/Supabase/Supabase.node.ts
  packages/nodes-base/nodes/Supabase/supabase.svg
  packages/nodes-base/package.json
Labels: node/new, n8n team

#2307 Microsoft Graph Security node
  packages/nodes-base/credentials/MicrosoftGraphSecurityOAuth2Api.credentials.ts
  packages/nodes-base/nodes/Microsoft/GraphSecurity/GenericFunctions.ts
  packages/nodes-base/nodes/Microsoft/GraphSecurity/MicrosoftGraphSecurity.node.ts
  packages/nodes-base/nodes/Microsoft/GraphSecurity/descriptions/SecureScoreControlProfileDescription.ts
  packages/nodes-base/nodes/Microsoft/GraphSecurity/descriptions/SecureScoreDescription.ts
  packages/nodes-base/nodes/Microsoft/GraphSecurity/descriptions/index.ts
  packages/nodes-base/nodes/Microsoft/GraphSecurity/microsoftGraph.svg
  packages/nodes-base/package.json
Labels: node/new, n8n team

#1867 Add Schema Registry option to the nodes Kafka and Kafka trigger
  packages/nodes-base/nodes/Kafka/Kafka.node.ts
  packages/nodes-base/nodes/Kafka/KafkaTrigger.node.ts
  packages/nodes-base/package.json
  packages/nodes-base/tsconfig.json
Labels: node/improvement, community

#2648 :bug: Fix VUE_APP_PUBLIC_PATH break
  packages/editor-ui/vue.config.js
Labels: ui, community

#2649 Add field AccountNumber to Create/Update operation
  packages/nodes-base/nodes/Salesforce/AccountDescription.ts
  packages/nodes-base/nodes/Salesforce/AccountInterface.ts
  packages/nodes-base/nodes/Salesforce/Salesforce.node.ts
Labels: node/improvement, community

#2644 🐛 Fixes icalendar node month out by one
  packages/nodes-base/nodes/ICalendar/ICalendar.node.ts
Labels: node/improvement, n8n team

#2633 Add "wait" alias to Merge node
  packages/nodes-base/nodes/Merge/Merge.node.json
Labels: n8n team, codex

#2634 Adding an optional database field to redis
  packages/nodes-base/credentials/Redis.credentials.ts
  packages/nodes-base/nodes/Redis/Redis.node.ts
Labels: node/improvement, community

#2571 run a new external hook once active workflows have been initialized
  packages/cli/src/ActiveWorkflowRunner.ts
Labels: core, community

#2660 🐛 Fixed path for Supabase credential documentation
  packages/nodes-base/credentials/SupabaseApi.credentials.ts
Labels: node/improvement, n8n team

#2667 fix tags i18n bug
  packages/editor-ui/src/plugins/i18n/locales/en.json
Labels: ui, n8n team

#2631 🐛 Fix Philips Hue API Connection
  packages/nodes-base/credentials/PhilipsHueOAuth2Api.credentials.ts
  packages/nodes-base/nodes/PhilipsHue/GenericFunctions.ts
  packages/nodes-base/nodes/PhilipsHue/LightDescription.ts
  packages/nodes-base/nodes/PhilipsHue/PhilipsHue.node.ts
Labels: node/improvement, n8n team

#2677 Skip /node-dev during build
  packages/node-dev/package.json
Labels: core, n8n team

#2345 ❇️ Jenkins Node
  packages/nodes-base/credentials/JenkinsApi.credentials.ts
  packages/nodes-base/nodes/Jenkins/GenericFunctions.ts
  packages/nodes-base/nodes/Jenkins/Jenkins.node.json
  packages/nodes-base/nodes/Jenkins/Jenkins.node.ts
  packages/nodes-base/nodes/Jenkins/jenkins.svg
  packages/nodes-base/package.json
Labels: node/new, n8n team

#2673 :sparkles: Add OAuth, basicAuth, digestAuth and queryAuth support to GraphQL node
  packages/nodes-base/nodes/GraphQL/GraphQL.node.ts
Labels: node/improvement, n8n team

#2669 :bug: Box Node | Download data inconsistency
  packages/nodes-base/nodes/Box/Box.node.ts
Labels: node/improvement, n8n team

#2662 Tiny correction to CONTRIBUTING.md
  CONTRIBUTING.md
Labels: community

#2626 Remove redundant tsconfig options
  packages/core/tsconfig.json
  packages/editor-ui/tsconfig.json
  packages/node-dev/tsconfig.json
  packages/nodes-base/tsconfig.json
  packages/workflow/tsconfig.json
Labels: core, n8n team

#2565 :bug: Fix bug filtering date and datetime fields - Salesforce
  packages/nodes-base/nodes/Salesforce/GenericFunctions.ts
Labels: node/improvement, n8n team

#2698 Create reset command for user management
  packages/cli/commands/user-management/reset.ts
  packages/nodes-base/package.json
Labels: feature, n8n team

#2640 Implmented /users endpoints and removed password from public user data
  packages/cli/src/Server.ts
  packages/cli/src/UserManagement/Interfaces.ts
  packages/cli/src/UserManagement/UserManagementHelper.ts
  packages/cli/src/UserManagement/routes/auth.ts
  packages/cli/src/UserManagement/routes/index.ts
  packages/cli/src/UserManagement/routes/me.ts
  packages/cli/src/UserManagement/routes/passwordReset.ts
  packages/cli/src/UserManagement/routes/users.ts
Labels: feature, n8n team

#2676 Refactor workflows endpoints for user management
  packages/cli/src/ActiveWorkflowRunner.ts
  packages/cli/src/ResponseHelper.ts
  packages/cli/src/Server.ts
  packages/cli/src/TagHelpers.ts
  packages/cli/src/WorkflowHelpers.ts
  packages/cli/src/databases/entities/WorkflowEntity.ts
  packages/cli/src/requests.d.ts
  packages/editor-ui/src/components/mixins/restApi.ts
Labels: feature, n8n team

#2642 Auto revalidate cookie and added password checks
  packages/cli/src/UserManagement/Interfaces.ts
  packages/cli/src/UserManagement/auth/jwt.ts
  packages/cli/src/UserManagement/routes/index.ts
  packages/cli/src/databases/sqlite/migrations/1636626154932-CreateUserManagement.ts
Labels: feature, n8n team

#2506 Changed the place where output format is made
  packages/nodes-base/nodes/Mattermost/v1/MattermostV1.node.ts
  packages/nodes-base/nodes/Mattermost/v1/actions/router.ts
Labels: node/improvement, n8n team

#2686 :bug: Fix issue with pagination - Mautic node
  packages/nodes-base/nodes/Mautic/GenericFunctions.ts
Labels: node/improvement, n8n team

#2706 🐛 [N8N-2864] OneDrive: Fix pagination
  packages/nodes-base/nodes/Microsoft/OneDrive/GenericFunctions.ts
Labels: node/improvement, n8n team

#2560 :bug: Spotify Fixes | Pagination and Get New Releases
  packages/nodes-base/nodes/Spotify/Spotify.node.ts
Labels: node/improvement, community

#2692 N8 n 2563 workflow activation
  packages/editor-ui/src/components/ActivationModal.vue
  packages/editor-ui/src/components/ContactPromptModal.vue
  packages/editor-ui/src/components/CredentialEdit/CredentialEdit.vue
  packages/editor-ui/src/components/ExecutionsList.vue
  packages/editor-ui/src/components/MainHeader/WorkflowDetails.vue
  packages/editor-ui/src/components/MainSidebar.vue
  packages/editor-ui/src/components/Modal.vue
  packages/editor-ui/src/components/ModalDrawer.vue
  packages/editor-ui/src/components/Modals.vue
  packages/editor-ui/src/components/Node.vue
  packages/editor-ui/src/components/ValueSurvey.vue
  packages/editor-ui/src/components/WorkflowActivator.vue
  packages/editor-ui/src/components/WorkflowOpen.vue
  packages/editor-ui/src/components/helpers.ts
  packages/editor-ui/src/components/mixins/workflowHelpers.ts
  packages/editor-ui/src/constants.ts
  packages/editor-ui/src/modules/ui.ts
  packages/editor-ui/src/plugins/i18n/locales/en.json
  packages/editor-ui/src/store.ts
  packages/nodes-base/nodes/Cron/Cron.node.ts
  packages/nodes-base/nodes/Interval/Interval.node.ts
  packages/nodes-base/nodes/SseTrigger/SseTrigger.node.ts
  packages/nodes-base/nodes/Webhook/Webhook.node.ts
  packages/nodes-base/nodes/WorkflowTrigger/WorkflowTrigger.node.ts
  packages/workflow/src/Interfaces.ts
Labels: feature, n8n team

#2717 Creating locale string for openWorkflow.filterWorkflows & use it in the Open Workflow Modal
  packages/editor-ui/src/components/WorkflowOpen.vue
  packages/editor-ui/src/plugins/i18n/locales/en.json
Labels: community

#2703 Update import credentials command for user management
  packages/cli/commands/import/credentials.ts
  packages/cli/src/Server.ts
  packages/cli/src/UserManagement/Interfaces.ts
  packages/cli/src/UserManagement/routes/users.ts
Labels: feature, n8n team

#2688 Refactor credentials endpoints for user management
  packages/cli/src/CredentialsHelper.ts
  packages/cli/src/GenericHelpers.ts
  packages/cli/src/Server.ts
  packages/cli/src/TagHelpers.ts
  packages/cli/src/UserManagement/Interfaces.ts
  packages/cli/src/UserManagement/routes/index.ts
  packages/cli/src/UserManagement/routes/me.ts
  packages/cli/src/UserManagement/routes/users.ts
  packages/cli/src/WorkflowHelpers.ts
  packages/cli/src/databases/entities/CredentialsEntity.ts
  packages/cli/src/databases/entities/TagEntity.ts
  packages/cli/src/requests.d.ts
Labels: feature, n8n team

#2707 Refactor misc endpoints for user management
  packages/cli/src/CredentialsHelper.ts
  packages/cli/src/PersonalizationSurvey.ts
  packages/cli/src/Server.ts
  packages/cli/src/UserManagement/Interfaces.ts
  packages/cli/src/UserManagement/routes/users.ts
  packages/cli/src/constants.ts
  packages/cli/src/databases/entities/User.ts
  packages/cli/src/requests.d.ts
Labels: feature, n8n team

#2718 Fix: Wording in "Save your Changes" modal
  packages/editor-ui/src/plugins/i18n/locales/en.json
Labels: community

#2721 :bug: Keep BCC headers when sending email - Gmail node
  packages/nodes-base/nodes/Google/Gmail/GenericFunctions.ts
Labels: node/improvement, n8n team

#2704 Feature: hints for node parameters N8N-2841
  packages/design-system/src/components/N8nText/Text.stories.js
  packages/design-system/src/components/N8nText/Text.vue
  packages/design-system/theme/src/_tokens.scss
  packages/editor-ui/src/components/ParameterInputExpanded.vue
  packages/editor-ui/src/components/ParameterInputFull.vue
  packages/editor-ui/src/components/ParameterInputHint.vue
  packages/editor-ui/src/plugins/i18n/index.ts
  packages/nodes-base/nodes/Merge/Merge.node.ts
  packages/workflow/src/Interfaces.ts
Labels: node/improvement, n8n team

#2728 :pencil2: Fix typo: "Markdowm" -> "Markdown"; Closes #N8N-2893
  packages/nodes-base/nodes/Slack/MessageDescription.ts
Labels: node/improvement, n8n team

#2727 :bug: Fix issue getting binary data when filesystem mode is used - Move Binary Data
  packages/nodes-base/nodes/MoveBinaryData/MoveBinaryData.node.ts
Labels: node/improvement, n8n team

#2730 Default polling interval (Poll trigger nodes) N8N-2874
  packages/editor-ui/src/components/FixedCollectionParameter.vue
  packages/workflow/src/NodeHelpers.ts
Labels: ui, n8n team
