Repository n8n-io/n8n, pull requests merged in 2022-07, with the labels that each got.

#3628 Apply `cred-class-field-display-name-oauth2`
  .eslintrc.js
  packages/nodes-base/credentials/HubspotDeveloperApi.credentials.ts
Labels: node/improvement, n8n team

#3633 Apply `node-execute-block-wrong-error-thrown`
  .eslintrc.js
  packages/nodes-base/nodes/DateTime/DateTime.node.ts
  packages/nodes-base/nodes/Discord/Discord.node.ts
  packages/nodes-base/nodes/Interval/Interval.node.ts
  packages/nodes-base/nodes/Kitemaker/Kitemaker.node.ts
  packages/nodes-base/nodes/RabbitMQ/RabbitMQTrigger.node.ts
  packages/nodes-base/nodes/Ssh/Ssh.node.ts
  packages/nodes-base/nodes/Stripe/Stripe.node.ts
  packages/nodes-base/nodes/Twist/Twist.node.ts
Labels: node/improvement, n8n team

#3636 Apply `cred-class-name-missing-oauth2-suffix`
  .eslintrc.js
  packages/nodes-base/credentials/HubspotDeveloperApi.credentials.ts
Labels: node/improvement, n8n team

#3638 Apply rule cred-class-field-name-uppercase-first-char n8n-3998
  .eslintrc.js
Labels: n8n team

#3643 Apply `node-class-description-credentials-name-unsuffixed`
  .eslintrc.js
Labels: n8n team

#3642 Apply `cred-class-name-unsuffixed`
  .eslintrc.js
Labels: n8n team

#3641 Apply `cred-class-field-name-unsuffixed`
  .eslintrc.js
Labels: n8n team

#3639 Apply rule node-param-color-type-unused n8n-3999
  .eslintrc.js
  package-lock.json
  packages/nodes-base/nodes/Google/YouTube/ChannelDescription.ts
  packages/nodes-base/nodes/Onfleet/descriptions/WorkerDescription.ts
  packages/nodes-base/package.json
Labels: node/improvement, n8n team

#3139 Add wordpress post template option - N8N-3417
  packages/nodes-base/credentials/WordpressApi.credentials.ts
  packages/nodes-base/nodes/Wordpress/GenericFunctions.ts
  packages/nodes-base/nodes/Wordpress/PostDescription.ts
  packages/nodes-base/nodes/Wordpress/PostInterface.ts
  packages/nodes-base/nodes/Wordpress/Wordpress.node.ts
  packages/nodes-base/nodes/Wordpress/wordpress.png
  packages/nodes-base/nodes/Wordpress/wordpress.svg
Labels: node/improvement, community

#3625 n8n-3982 - Add content access note to Notion Trigger
  packages/nodes-base/nodes/Notion/NotionTrigger.node.ts
Labels: node/improvement, n8n team

#3614 n8n-3987 - Fix multiple item support for todoist
  packages/nodes-base/nodes/Todoist/Service.ts
  packages/nodes-base/nodes/Todoist/Todoist.node.ts
Labels: node/improvement, n8n team

#3640 n8n-4004 - Fixed Hubspot search endpoints
  packages/nodes-base/nodes/Hubspot/GenericFunctions.ts
Labels: node/improvement, n8n team

#3594 n8n-3935-node-improvement-pr-webflow-trigger
  package-lock.json
  packages/nodes-base/credentials/WebflowApi.credentials.ts
  packages/nodes-base/nodes/Webflow/GenericFunctions.ts
  packages/nodes-base/nodes/Webflow/WebflowTrigger.node.ts
Labels: n8n team, node/issue

#3496 n8n-3827-node-improvement-pr-odoo-field-name-list
  packages/nodes-base/nodes/Odoo/Odoo.node.ts
Labels: n8n team, node/issue

#3323 💄 Use Jira rendered fields with simplify option
  packages/nodes-base/credentials/JiraSoftwareCloudApi.credentials.ts
  packages/nodes-base/credentials/JiraSoftwareServerApi.credentials.ts
  packages/nodes-base/nodes/Jira/GenericFunctions.ts
  packages/nodes-base/nodes/Jira/Jira.node.ts
Labels: node/improvement, community

#3650 fix: Vue build issues
  .github/workflows/docker-images-nightly.yml
  .github/workflows/test-workflows.yml
  .github/workflows/tests.yml
  packages/design-system/package.json
  packages/editor-ui/package.json
Labels: dependency update, n8n team

#3654 hide main header only when nodes
  packages/editor-ui/src/components/MainHeader/MainHeader.vue
Labels: ui, n8n team

#3610 Add `action` to `INodePropertyOptions`
  packages/workflow/src/Interfaces.ts
Labels: core, n8n team

#3394 🐛 Minor KoboToolbox fixes
  packages/nodes-base/nodes/KoBoToolbox/GenericFunctions.ts
Labels: node/improvement, community

#3535 n8n 3782 node improvement pr 3394 minor fix
  packages/nodes-base/credentials/KoBoToolboxApi.credentials.ts
  packages/nodes-base/nodes/KoBoToolbox/GenericFunctions.ts
  packages/nodes-base/nodes/KoBoToolbox/KoBoToolbox.node.ts
Labels: node/improvement, n8n team

#3526 New format google ads
  packages/core/src/NodeExecuteFunctions.ts
  packages/nodes-base/credentials/GoogleAdsOAuth2Api.credentials.ts
  packages/nodes-base/nodes/Google/Ads/CampaignDescription.ts
  packages/nodes-base/nodes/Google/Ads/GoogleAds.node.json
  packages/nodes-base/nodes/Google/Ads/GoogleAds.node.ts
  packages/nodes-base/nodes/Google/Ads/googleAds.svg
  packages/nodes-base/package.json
  packages/workflow/src/RoutingNode.ts
  packages/workflow/test/RoutingNode.test.ts
Labels: node/new, core, n8n team

#3651 n8n-4008 - Update DeepL to support more characters
  packages/nodes-base/credentials/DeepLApi.credentials.ts
  packages/nodes-base/nodes/DeepL/DeepL.node.ts
  packages/nodes-base/nodes/DeepL/GenericFunctions.ts
Labels: node/improvement, n8n team

#3656 n8n-4023 - Added Facebook v14.0
  packages/nodes-base/nodes/Facebook/FacebookGraphApi.node.ts
Labels: node/improvement, n8n team

#3658 ⬇️ Downgrading fontawesome to v5
  packages/design-system/package.json
  packages/editor-ui/package.json
  packages/editor-ui/src/components/MainSidebar.vue
Labels: ui

#3665 N8N-3994 post review data pinning frontend
  packages/editor-ui/src/components/HoverableNodeIcon.vue
  packages/editor-ui/src/components/Node.vue
  packages/editor-ui/src/components/NodeDetailsView.vue
  packages/editor-ui/src/components/OutputPanel.vue
  packages/editor-ui/src/components/RunData.vue
  packages/editor-ui/src/components/TriggerPanel.vue
  packages/editor-ui/src/components/forms/CodeEditor.vue
  packages/editor-ui/src/components/mixins/pinData.ts
  packages/editor-ui/src/constants.ts
  packages/editor-ui/src/plugins/i18n/locales/en.json
Labels: ui, n8n team

#3680 add webhook_domain property in manual execution event
  package-lock.json
  packages/cli/package.json
  packages/cli/src/InternalHooks.ts
  packages/workflow/src/Interfaces.ts
  packages/workflow/src/TelemetryHelpers.ts
Labels: core, n8n team

#3127 ✨ Add Redis push and pop operations
  packages/nodes-base/nodes/Redis/Redis.node.ts
Labels: node/improvement, community

#3529 :sparkles: Telemetry updates
  package-lock.json
  packages/cli/package.json
  packages/cli/src/Interfaces.ts
  packages/cli/src/InternalHooks.ts
  packages/cli/src/Server.ts
  packages/cli/src/telemetry/index.ts
  packages/cli/test/unit/Telemetry.test.ts
  packages/editor-ui/src/components/CredentialEdit/CredentialEdit.vue
  packages/editor-ui/src/components/ExecutionsList.vue
  packages/editor-ui/src/components/ExpressionEdit.vue
  packages/editor-ui/src/components/ParameterInput.vue
  packages/editor-ui/src/components/mixins/workflowHelpers.ts
  packages/editor-ui/src/components/mixins/workflowRun.ts
  packages/editor-ui/src/plugins/telemetry/index.ts
  packages/editor-ui/src/views/NodeView.vue
  packages/workflow/package.json
  packages/workflow/src/Interfaces.ts
  packages/workflow/src/TelemetryHelpers.ts
Labels: core, n8n team

#3234 ⚡ Allow skipping headers when writing spreadsheets
  packages/nodes-base/nodes/SpreadsheetFile/SpreadsheetFile.node.ts
Labels: node/improvement, community

#3408 fix sending binaryData media (photo, document, video etc.) issues on Telegram Node - N8N-3783
  packages/nodes-base/credentials/TelegramApi.credentials.ts
  packages/nodes-base/nodes/Telegram/Telegram.node.ts
Labels: node/improvement, community

#3131 [Freshworks CRM] Add Search + Lookup functionality - N8N-3413
  packages/nodes-base/credentials/FreshworksCrmApi.credentials.ts
  packages/nodes-base/nodes/FreshworksCrm/FreshworksCrm.node.ts
  packages/nodes-base/nodes/FreshworksCrm/GenericFunctions.ts
  packages/nodes-base/nodes/FreshworksCrm/descriptions/SearchDescription.ts
  packages/nodes-base/nodes/FreshworksCrm/descriptions/index.ts
Labels: node/improvement, community

#3172 ✨ Add query auth for Jira Trigger security - N8N-3568
  packages/nodes-base/nodes/Jira/JiraTrigger.node.ts
Labels: node/improvement, community

#3360 n8n-3671-node-improvement-postgres-types-in-output
  packages/nodes-base/nodes/Postgres/Postgres.node.ts
Labels: node/improvement, n8n team, node/issue

#3378 n8n-3699 support for customer.io tracking api endpoint region selection
  packages/nodes-base/credentials/CustomerIoApi.credentials.ts
  packages/nodes-base/nodes/CustomerIo/GenericFunctions.ts
Labels: node/improvement, community, n8n team

#3318 AWS DynamoDB Error improvements, Optional GetAll Scan FilterExpression - N8N-3701
  packages/nodes-base/nodes/Aws/DynamoDB/AwsDynamoDB.node.ts
  packages/nodes-base/nodes/Aws/DynamoDB/GenericFunctions.ts
  packages/nodes-base/nodes/Aws/DynamoDB/ItemDescription.ts
Labels: node/improvement, community

#3406 n8n-3713-node-improvement-emailreadimap-network-problems
  packages/nodes-base/nodes/EmailReadImap/EmailReadImap.node.ts
Labels: n8n team, node/issue

#2576 ✨ Add regex replace for Rename node - N8N-3779
  packages/nodes-base/nodes/RenameKeys/RenameKeys.node.ts
Labels: node/improvement, community

#3660 n8n-4010 - Tweaks to PR #3657
  packages/nodes-base/credentials/ElasticsearchApi.credentials.ts
  packages/nodes-base/nodes/Elastic/Elasticsearch/GenericFunctions.ts
  packages/nodes-base/nodes/Elastic/Elasticsearch/descriptions/DocumentDescription.ts
Labels: node/improvement, community, n8n team

#3661 n8n-3937-node-improvement-pr-aws-dynamodb-failing
  packages/nodes-base/nodes/Aws/DynamoDB/GenericFunctions.ts
Labels: n8n team, node/issue

#3525 bug fix: process all input items in GDrive list - N8N-3784
  packages/nodes-base/nodes/Google/Drive/GoogleDrive.node.ts
Labels: node/improvement, n8n team

#3670 N8N-3370 Adjust typed HTTP non-OAuth creds cleaned branch
  packages/nodes-base/credentials/AirtableApi.credentials.ts
  packages/nodes-base/credentials/NotionApi.credentials.ts
  packages/nodes-base/credentials/SendGridApi.credentials.ts
  packages/nodes-base/credentials/TwilioApi.credentials.ts
  packages/nodes-base/credentials/UrlScanIoApi.credentials.ts
  packages/nodes-base/credentials/WordpressApi.credentials.ts
  packages/nodes-base/nodes/Airtable/GenericFunctions.ts
  packages/nodes-base/nodes/Notion/GenericFunctions.ts
  packages/nodes-base/nodes/SendGrid/GenericFunctions.ts
  packages/nodes-base/nodes/Twilio/GenericFunctions.ts
  packages/nodes-base/nodes/UrlScanIo/GenericFunctions.ts
  packages/nodes-base/nodes/UrlScanIo/UrlScanIo.node.ts
Labels: node/improvement, n8n team

#3674 Fix validation in pindata execution
  packages/core/src/WorkflowExecute.ts
  packages/editor-ui/src/components/Node.vue
  packages/editor-ui/src/components/RunData.vue
  packages/editor-ui/src/components/mixins/nodeHelpers.ts
  packages/workflow/src/NodeHelpers.ts
  packages/workflow/src/Workflow.ts
Labels: feature, core, ui, n8n team

#3683 Data pinning post-bash frontend changes
  packages/editor-ui/src/components/OutputPanel.vue
  packages/editor-ui/src/components/RunData.vue
Labels: feature, ui, n8n team

#3688 N8N-4078 pin paginated data pins only first page
  packages/editor-ui/src/components/RunData.vue
Labels: ui, n8n team

#3689 Fix runtime error with non-array
  packages/core/src/WorkflowExecute.ts
Labels: feature, core, n8n team

#3687 feat: Updated data pinning discoverability flow.
  packages/editor-ui/src/components/Node.vue
  packages/editor-ui/src/components/RunData.vue
  packages/editor-ui/src/plugins/i18n/locales/en.json
Labels: ui, n8n team

#3697 Fragment error after rerun
  package-lock.json
  packages/editor-ui/package.json
Labels: ui, n8n team

#3673 Final pindata metrics changes
  packages/editor-ui/src/components/NodeDetailsView.vue
  packages/editor-ui/src/components/RunData.vue
  packages/workflow/src/Interfaces.ts
  packages/workflow/src/TelemetryHelpers.ts
Labels: feature, ui, n8n team

#3698 fix: Added pin data handling when importing workflow.
  packages/editor-ui/src/Interface.ts
  packages/editor-ui/src/views/NodeView.vue
Labels: ui, n8n team

#3601 ✨ sharing/unsharing a credential
  .eslintrc.js
  packages/cli/config/schema.ts
  packages/cli/src/CredentialsHelper.ts
  packages/cli/src/Server.ts
  packages/cli/src/credentials/credentials.controller.ee.ts
  packages/cli/src/credentials/credentials.controller.ts
  packages/cli/src/credentials/credentials.service.ee.ts
  packages/cli/src/credentials/credentials.service.ts
  packages/cli/src/credentials/helpers.ee.ts
  packages/cli/src/credentials/helpers.ts
  packages/cli/src/databases/migrations/sqlite/1648740597343-LowerCaseUserEmail.ts
  packages/cli/src/databases/migrations/sqlite/1657062385367-CreateCredentialsEditorRole.ts
  packages/cli/src/databases/migrations/sqlite/index.ts
  packages/cli/src/requests.d.ts
  packages/cli/src/role/role.service.ts
  packages/cli/src/user/user.service.ts
  packages/cli/test/integration/credentials.ee.test.ts
  packages/cli/test/integration/credentials.test.ts
  packages/cli/test/integration/publicApi/credentials.test.ts
  packages/cli/test/integration/shared/random.ts
  packages/cli/test/integration/shared/testDb.ts
  packages/cli/test/integration/shared/utils.ts
Labels: core, n8n team, Project: User Management

#3690 N8N-4079 pin data enabled in read only mode
  packages/editor-ui/src/components/OutputPanel.vue
  packages/editor-ui/src/components/RunData.vue
  packages/editor-ui/src/views/NodeView.vue
Labels: ui, n8n team

#3701 N8N-4077 data pinning discoverability part 2
  packages/editor-ui/src/components/Node.vue
  packages/editor-ui/src/plugins/i18n/locales/en.json
Labels: ui, n8n team

#3676 N8n 4024 param inputs
  package-lock.json
  packages/design-system/src/components/N8nActionToggle/ActionToggle.stories.js
  packages/design-system/src/components/N8nActionToggle/ActionToggle.vue
  packages/design-system/src/components/N8nInputLabel/InputLabel.vue
  packages/design-system/src/components/N8nRadioButtons/RadioButton.vue
  packages/design-system/src/components/N8nRadioButtons/RadioButtons.vue
  packages/design-system/src/components/N8nUsersList/UsersList.vue
  packages/design-system/src/styleguide/fonts.stories.mdx
  packages/design-system/theme/src/_tokens.scss
  packages/editor-ui/src/components/FixedCollectionParameter.vue
  packages/editor-ui/src/components/MultipleParameter.vue
  packages/editor-ui/src/components/ParameterInput.vue
  packages/editor-ui/src/components/ParameterInputExpanded.vue
  packages/editor-ui/src/components/ParameterInputFull.vue
  packages/editor-ui/src/components/ParameterInputList.vue
  packages/editor-ui/src/components/ParameterOptions.vue
  packages/editor-ui/src/plugins/i18n/locales/en.json
Labels: ui, n8n team

#3706 N8 n 4026 data mapping
  packages/design-system/theme/src/reset.scss
  packages/editor-ui/package.json
  packages/editor-ui/src/Interface.ts
  packages/editor-ui/src/components/Draggable.vue
  packages/editor-ui/src/components/DraggableTarget.vue
  packages/editor-ui/src/components/DroppableParameterInput.vue
  packages/editor-ui/src/components/InputPanel.vue
  packages/editor-ui/src/components/NodeDetailsView.vue
  packages/editor-ui/src/components/PanelDragButton.vue
  packages/editor-ui/src/components/ParameterInput.vue
  packages/editor-ui/src/components/ParameterInputFull.vue
  packages/editor-ui/src/components/RunData.vue
  packages/editor-ui/src/components/RunDataTable.vue
  packages/editor-ui/src/components/ShortenName.vue
  packages/editor-ui/src/components/helpers.ts
  packages/editor-ui/src/constants.ts
  packages/editor-ui/src/modules/ui.ts
  packages/editor-ui/src/plugins/i18n/locales/en.json
Labels: ui, n8n team

#3699 Fix auth on pinned triggers
  packages/cli/src/Server.ts
  packages/cli/src/WorkflowRunnerProcess.ts
Labels: core, n8n team

#3710 Fix enabling-disabling node triggering console error
  packages/editor-ui/src/components/NodeDetailsView.vue
Labels: ui, n8n team

#3715 fix: Fixed copying pinned output data.
  packages/editor-ui/src/components/RunData.vue
Labels: ui, n8n team

#3573 n8n-3751 - Venafi Node updates
  packages/nodes-base/nodes/Venafi/AsAService/CertificateDescription.ts
  packages/nodes-base/nodes/Venafi/AsAService/CertificateInterface.ts
  packages/nodes-base/nodes/Venafi/AsAService/CertificateRequestDescription.ts
  packages/nodes-base/nodes/Venafi/AsAService/GenericFunctions.ts
  packages/nodes-base/nodes/Venafi/AsAService/VenafiAsAService.node.ts
  packages/nodes-base/nodes/Venafi/AsAService/VenafiAsAServiceTrigger.node.ts
  packages/nodes-base/package.json
Labels: node/improvement, n8n team

#3711 Mock mailer service
  packages/cli/test/integration/passwordReset.api.test.ts
  packages/cli/test/integration/shared/constants.ts
  packages/cli/test/integration/shared/types.d.ts
  packages/cli/test/integration/shared/utils.ts
  packages/cli/test/integration/users.api.test.ts
Labels: core, n8n team

#3714 hide execute prev if readonly
  packages/editor-ui/src/components/InputPanel.vue
  packages/editor-ui/src/components/NodeDetailsView.vue
Labels: ui, n8n team

#3718 hide button subtext
  packages/editor-ui/src/components/InputPanel.vue
Labels: ui, n8n team

#3693 feat(Google Drive Node): Add move to trash support - N8N-4111
  packages/nodes-base/nodes/Google/Drive/GoogleDrive.node.ts
Labels: node/improvement, community

#3719 Fix pinning for webhook responding with output from last node
  packages/cli/src/WebhookHelpers.ts
  packages/cli/src/WorkflowHelpers.ts
Labels: core, n8n team

#3721 n8n-4114 - Fixed table names not being pulled from Baserow
  packages/nodes-base/nodes/Baserow/Baserow.node.ts
Labels: node/improvement, n8n team

#3450 Move OAuth2 endpoints to OAuth2 controller
  package-lock.json
  packages/cli/package.json
  packages/cli/src/PublicApi/v1/handlers/workflows/workflows.service.ts
  packages/cli/src/Server.ts
  packages/cli/src/api/oauth2Credential.api.ts
Labels: core, n8n team

#3729 Fix pin data enter edit mode
  packages/cli/test/integration/shared/types.d.ts
  packages/editor-ui/src/components/RunData.vue
  packages/editor-ui/src/components/helpers.ts
  packages/editor-ui/src/components/mixins/pinData.ts
Labels: core, ui, n8n team

#3399 :zap: Add preAuthentication method to credentials - N8N-3804
  packages/cli/src/CredentialsHelper.ts
  packages/cli/src/api/credentials.api.ts
  packages/core/src/NodeExecuteFunctions.ts
  packages/core/test/Helpers.ts
  packages/editor-ui/src/components/CredentialEdit/CredentialEdit.vue
  packages/nodes-base/credentials/MetabaseApi.credentials.ts
  packages/nodes-base/package.json
  packages/workflow/src/Interfaces.ts
  packages/workflow/test/Helpers.ts
Labels: core, n8n team

#3736 fix(api): Validate static data value for resource workflow - N8N-4141
  packages/cli/src/PublicApi/index.ts
  packages/cli/src/PublicApi/v1/handlers/workflows/spec/schemas/workflow.yml
Labels: core, n8n team

#3737 fix(api): Add missing node settings parameters - N8N-4140
  packages/cli/src/PublicApi/v1/handlers/workflows/spec/schemas/node.yml
Labels: core, n8n team

#3564 Allows to ignore Notion URL properties if empty
  packages/nodes-base/nodes/Notion/DatabasePageDescription.ts
  packages/nodes-base/nodes/Notion/GenericFunctions.ts
Labels: node/improvement, community

#3732 ✨ N8N-3916 Add cred injection, cred testing, allow unauthorized certs
  packages/nodes-base/credentials/ERPNextApi.credentials.ts
  packages/nodes-base/nodes/ERPNext/GenericFunctions.ts
  packages/workflow/src/Interfaces.ts
  packages/workflow/src/NodeErrors.ts
  packages/workflow/src/RoutingNode.ts
  packages/workflow/test/RoutingNode.test.ts
Labels: node/improvement, n8n team

#3738 N8N-4143 Variables and expressions for pin data nodes without execution
  packages/editor-ui/src/components/VariableSelector.vue
  packages/editor-ui/src/components/mixins/workflowHelpers.ts
  packages/editor-ui/src/store.ts
  packages/editor-ui/src/views/NodeView.vue
Labels: ui, n8n team

#3731 fix: Showing pin data without executing the node only in output pane.
  packages/editor-ui/src/components/RunData.vue
Labels: ui, n8n team

#3743 hide if only 1 branch
  packages/editor-ui/src/components/RunData.vue
Labels: ui, n8n team

#3725 🛠 refactor authAgents in tests + isolation for tests of Public API
  packages/cli/src/databases/migrations/mysqldb/1657062385367-CreateCredentialsEditorRole.ts
  packages/cli/src/databases/migrations/mysqldb/index.ts
  packages/cli/src/databases/migrations/postgresdb/1657062385367-CreateCredentialsEditorRole.ts
  packages/cli/src/databases/migrations/postgresdb/index.ts
  packages/cli/test/integration/auth.api.test.ts
  packages/cli/test/integration/auth.mw.test.ts
  packages/cli/test/integration/credentials.ee.test.ts
  packages/cli/test/integration/credentials.test.ts
  packages/cli/test/integration/me.api.test.ts
  packages/cli/test/integration/owner.api.test.ts
  packages/cli/test/integration/shared/constants.ts
  packages/cli/test/integration/shared/types.d.ts
  packages/cli/test/integration/users.api.test.ts
Labels: core, n8n team

#3749 🐛 Fixing a bug that breaks credentials modal if no node is opened
  packages/editor-ui/src/components/CredentialEdit/CredentialConfig.vue
Labels: ui, n8n team

#3751 fix console error
  packages/editor-ui/src/components/InputPanel.vue
Labels: ui, n8n team

#3750 n8n-4159 - NocoDB node auth issue in 0.187.x
  packages/nodes-base/credentials/NocoDb.credentials.ts
  packages/nodes-base/nodes/NocoDB/GenericFunctions.ts
Labels: node/improvement, n8n team

#3672 Update existing credentials routes
  packages/cli/src/credentials/credentials.controller.ee.ts
  packages/cli/src/credentials/credentials.controller.ts
  packages/cli/src/credentials/credentials.service.ee.ts
  packages/cli/src/credentials/credentials.service.ts
  packages/cli/test/integration/credentials.test.ts
Labels: core, n8n team, Project: User Management

#3754 Remove call to load nodes on startup
  packages/editor-ui/src/views/NodeView.vue
Labels: ui, n8n team

#3724 Consolidate hoisted package versions
  package-lock.json
  packages/cli/package.json
  packages/core/package.json
  packages/nodes-base/package.json
Labels: n8n team, tech debt

#3722 Upgrade to ESLint 8
  .eslintrc.js
  package-lock.json
  packages/cli/bin/n8n
  packages/cli/commands/db/revert.ts
  packages/cli/commands/execute.ts
  packages/cli/commands/export/credentials.ts
  packages/cli/commands/export/workflow.ts
  packages/cli/commands/import/credentials.ts
  packages/cli/commands/import/workflow.ts
  packages/cli/commands/start.ts
  packages/cli/commands/update/workflow.ts
  packages/cli/commands/webhook.ts
  packages/cli/commands/worker.ts
  packages/cli/config/types.d.ts
  packages/cli/package.json
  packages/cli/src/ActiveWorkflowRunner.ts
  packages/cli/src/CredentialsHelper.ts
  packages/cli/src/CredentialsOverwrites.ts
  packages/cli/src/Logger.ts
  packages/cli/src/PublicApi/v1/handlers/credentials/credentials.handler.ts
  packages/cli/src/ResponseHelper.ts
  packages/cli/src/Server.ts
  packages/cli/src/UserManagement/UserManagementHelper.ts
  packages/cli/src/WebhookHelpers.ts
  packages/cli/src/WebhookServer.ts
  packages/cli/src/WorkflowExecuteAdditionalData.ts
  packages/cli/src/WorkflowRunner.ts
  packages/cli/src/WorkflowRunnerProcess.ts
  packages/cli/src/api/credentials.api.ts
  packages/cli/src/api/nodes.api.ts
  packages/cli/src/api/oauth2Credential.api.ts
  packages/core/package.json
  packages/core/src/ActiveWorkflows.ts
  packages/core/src/NodeExecuteFunctions.ts
  packages/core/src/UserSettings.ts
  packages/design-system/package.json
  packages/editor-ui/package.json
  packages/node-dev/commands/build.ts
  packages/node-dev/commands/new.ts
  packages/node-dev/package.json
  packages/node-dev/src/Build.ts
  packages/nodes-base/package.json
  packages/workflow/package.json
  packages/workflow/src/Expression.ts
  packages/workflow/src/NodeErrors.ts
  packages/workflow/src/NodeHelpers.ts
  packages/workflow/src/ObservableObject.ts
  packages/workflow/src/RoutingNode.ts
Labels: n8n team, tech debt

#3759 :bug: Fix node_type property in all events
  packages/editor-ui/src/components/NodeExecuteButton.vue
  packages/editor-ui/src/views/NodeView.vue
Labels: n8n team

#3761 n8n-4186 - Mautic node auth issue
  packages/nodes-base/credentials/MauticApi.credentials.ts
  packages/nodes-base/nodes/Mautic/GenericFunctions.ts
Labels: node/improvement, n8n team

#3763 🐞 AWS DynamoDB: Fix Expression Attribute Names - N8N-4187
  packages/nodes-base/nodes/Aws/DynamoDB/AwsDynamoDB.node.ts
  packages/nodes-base/nodes/Aws/DynamoDB/utils.ts
Labels: node/improvement, community

#3758 Restore pindata header colors
  packages/design-system/src/components/N8nPanelCallout/PanelCallout.stories.js
  packages/design-system/theme/src/_tokens.scss
Labels: ui, n8n team

#3755 N8 n 4156 stickies
  packages/editor-ui/src/constants.ts
  packages/editor-ui/src/views/NodeView.vue
  packages/editor-ui/src/views/canvasHelpers.ts
Labels: ui, n8n team

#3723 N8 n 3351 colors mig 1
  packages/design-system/src/components/N8nSpinner/Spinner.vue
  packages/design-system/theme/src/_tokens.dark.scss
  packages/design-system/theme/src/autocomplete.scss
  packages/design-system/theme/src/calendar.scss
  packages/design-system/theme/src/common/var.scss
  packages/design-system/theme/src/date-picker/picker-panel.scss
  packages/design-system/theme/src/image.scss
  packages/design-system/theme/src/menu.scss
  packages/design-system/theme/src/mixins/mixins.scss
  packages/design-system/theme/src/table.scss
  packages/design-system/theme/src/tabs.scss
  packages/design-system/theme/src/tree.scss
  packages/design-system/theme/src/upload.scss
  packages/editor-ui/src/components/BinaryDataDisplay.vue
  packages/editor-ui/src/components/BinaryDataDisplayEmbed.vue
  packages/editor-ui/src/components/CollectionsCarousel.vue
  packages/editor-ui/src/components/Error/NodeErrorView.vue
  packages/editor-ui/src/components/ExecutionsList.vue
  packages/editor-ui/src/components/ExpandableInput/ExpandableInputBase.vue
  packages/editor-ui/src/components/ExpressionEdit.vue
  packages/editor-ui/src/components/ExpressionInput.vue
  packages/editor-ui/src/components/HoverableNodeIcon.vue
  packages/editor-ui/src/components/MainHeader/MainHeader.vue
  packages/editor-ui/src/components/MainSidebar.vue
  packages/editor-ui/src/components/Node.vue
  packages/editor-ui/src/components/NodeCreator/SearchBar.vue
  packages/editor-ui/src/components/NodeIcon.vue
  packages/editor-ui/src/components/NodeWebhooks.vue
  packages/editor-ui/src/components/ParameterInput.vue
  packages/editor-ui/src/components/ParameterInputList.vue
  packages/editor-ui/src/components/RunData.vue
  packages/editor-ui/src/components/TagsDropdown.vue
  packages/editor-ui/src/n8n-theme-variables.scss
  packages/editor-ui/src/n8n-theme.scss
  packages/editor-ui/src/views/NodeView.vue
Labels: ui, n8n team

#3033 N8N-3123-node-metabase
  packages/cli/src/CredentialsHelper.ts
  packages/nodes-base/credentials/MetabaseApi.credentials.ts
  packages/nodes-base/nodes/Metabase/AlertsDescription.ts
  packages/nodes-base/nodes/Metabase/DatabasesDescription.ts
  packages/nodes-base/nodes/Metabase/Metabase.node.json
  packages/nodes-base/nodes/Metabase/Metabase.node.ts
  packages/nodes-base/nodes/Metabase/MetricsDescription.ts
  packages/nodes-base/nodes/Metabase/QuestionsDescription.ts
  packages/nodes-base/nodes/Metabase/metabase.svg
  packages/nodes-base/package.json
  packages/workflow/src/Interfaces.ts
  packages/workflow/src/RoutingNode.ts
Labels: node/new, n8n team

#3774 fix spaces bug
  packages/editor-ui/src/components/RunDataTable.vue
Labels: ui, n8n team

#3778 N8N-4225 - Fixes RocketChat authentication issue
  packages/nodes-base/nodes/Rocketchat/GenericFunctions.ts
Labels: node/improvement, n8n team

#3783 Add suggested VSCode settings
  .gitignore
  .vscode/suggested.settings.json
Labels: n8n team

#3589 🐛 CLI: Add windows support to import:credentials --separate
  packages/cli/commands/import/credentials.ts
Labels: core, community

#3149 Item List node: operation for creating array from input items
  packages/nodes-base/nodes/ItemLists/ItemLists.node.ts
Labels: node/improvement, n8n team

#3682 N8N-4083 Onboarding call prompts
  packages/cli/config/schema.ts
  packages/cli/src/Interfaces.ts
  packages/cli/src/Server.ts
  packages/cli/src/UserManagement/Interfaces.ts
  packages/cli/src/UserManagement/UserManagementHelper.ts
  packages/design-system/src/components/N8nCheckbox/Checkbox.vue
  packages/design-system/src/components/N8nFormInputs/FormInputs.stories.js
  packages/design-system/src/types/form.ts
  packages/editor-ui/src/Interface.ts
  packages/editor-ui/src/api/users.ts
  packages/editor-ui/src/api/workflow-webhooks.ts
  packages/editor-ui/src/components/CredentialEdit/CredentialEdit.vue
  packages/editor-ui/src/components/FeatureComingSoon.vue
  packages/editor-ui/src/components/Modals.vue
  packages/editor-ui/src/components/OnboardingCallSignupModal.vue
  packages/editor-ui/src/components/PersonalizationModal.vue
  packages/editor-ui/src/components/SettingsSidebar.vue
  packages/editor-ui/src/constants.ts
  packages/editor-ui/src/modules/settings.ts
  packages/editor-ui/src/modules/ui.ts
  packages/editor-ui/src/modules/userHelpers.ts
  packages/editor-ui/src/plugins/i18n/locales/en.json
  packages/editor-ui/src/router.ts
  packages/editor-ui/src/views/AuthView.vue
  packages/editor-ui/src/views/NodeView.vue
  packages/editor-ui/src/views/SettingsFakeDoorView.vue
  packages/editor-ui/src/views/SetupView.vue
  packages/editor-ui/src/views/SignupView.vue
Labels: core, ui, n8n team

#3600 n8n-3667-bug-kafka-node-crashing-service - N8N-3667
  packages/nodes-base/nodes/Kafka/KafkaTrigger.node.ts
Labels: n8n team, node/issue

#3787 fix: Fixed pin data in executions when pinData is null.
  packages/editor-ui/src/store.ts
Labels: ui, n8n team

#3786 Account for Windows-style line endings when linting
  .eslintrc.js
Labels: n8n team

#3753 Integrate PostHog - Part 1: Groundwork
  package-lock.json
  packages/cli/config/schema.ts
  packages/cli/package.json
  packages/cli/src/Interfaces.ts
  packages/cli/src/Server.ts
  packages/cli/src/telemetry/index.ts
  packages/cli/src/telemetry/scripts.ts
  packages/cli/test/unit/Telemetry.test.ts
  packages/design-system/src/main.d.ts
  packages/editor-ui/package.json
  packages/editor-ui/src/components/PersonalizationModal.vue
  packages/editor-ui/src/components/Telemetry.vue
  packages/editor-ui/src/modules/users.ts
  packages/editor-ui/src/plugins/telemetry/index.ts
  packages/editor-ui/src/plugins/telemetry/rudder-sdk.d.ts
  packages/editor-ui/src/plugins/telemetry/telemetry.types.ts
Labels: core, ui, n8n team

#3768 Upgrade `n8n-workflow` to ESLint 8
  packages/workflow/package.json
Labels: core, n8n team

#3801 💄 Updating onboarding prompt label
  packages/editor-ui/src/plugins/i18n/locales/en.json
Labels: ui
