Repository n8n-io/n8n, pull requests merged in 2022-05, with the labels that each got.

#3157 N8N 3393 microsoft dynamics fail with other subdomain - N8N-3393
  packages/nodes-base/credentials/MicrosoftDynamicsOAuth2Api.credentials.ts
  packages/nodes-base/nodes/Microsoft/Dynamics/GenericFunctions.ts
Labels: node/improvement, n8n team, node/issue

#3208 :bug: fix hubspot search operators
  packages/nodes-base/nodes/Hubspot/ContactDescription.ts
Labels: node/improvement, community

#3218 🔓 not applying auth if UM is disabled
  packages/cli/src/Server.ts
  packages/cli/src/UserManagement/UserManagementHelper.ts
  packages/cli/src/UserManagement/routes/index.ts
  packages/cli/src/UserManagement/routes/users.ts
Labels: n8n team

#3230 Fix CI/CD for `/oauth2-credential` tests
  package-lock.json
  packages/cli/test/integration/oauth2.api.test.ts
  packages/cli/test/integration/shared/constants.ts
Labels: feature, n8n team

#3231 Fix notice warning missing background color
  packages/design-system/theme/src/_tokens.scss
Labels: feature, n8n team

#3200 N8N 3457 review node param description untrimmed
  .eslintrc.js
  packages/nodes-base/nodes/Amqp/AmqpTrigger.node.ts
  packages/nodes-base/nodes/Asana/Asana.node.ts
  packages/nodes-base/nodes/Aws/Transcribe/AwsTranscribe.node.ts
  packages/nodes-base/nodes/Chargebee/ChargebeeTrigger.node.ts
  packages/nodes-base/nodes/Cisco/Webex/descriptions/MessageDescription.ts
  packages/nodes-base/nodes/ClickUp/TaskDescription.ts
  packages/nodes-base/nodes/Clockify/ProjectDescription.ts
  packages/nodes-base/nodes/Clockify/TimeEntryDescription.ts
  packages/nodes-base/nodes/Contentful/AssetDescription.ts
  packages/nodes-base/nodes/Contentful/EntryDescription.ts
  packages/nodes-base/nodes/DateTime/DateTime.node.ts
  packages/nodes-base/nodes/Dropbox/Dropbox.node.ts
  packages/nodes-base/nodes/FileMaker/FileMaker.node.ts
  packages/nodes-base/nodes/Freshdesk/Freshdesk.node.ts
  packages/nodes-base/nodes/Google/Calendar/EventDescription.ts
  packages/nodes-base/nodes/Google/CloudNaturalLanguage/GoogleCloudNaturalLanguage.node.ts
  packages/nodes-base/nodes/Google/Sheet/GoogleSheets.node.ts
  packages/nodes-base/nodes/Harvest/ClientDescription.ts
  packages/nodes-base/nodes/Hubspot/FormDescription.ts
  packages/nodes-base/nodes/Hubspot/HubspotTrigger.node.ts
  packages/nodes-base/nodes/Hubspot/TicketDescription.ts
  packages/nodes-base/nodes/Jira/IssueDescription.ts
  packages/nodes-base/nodes/Lemlist/LemlistTrigger.node.ts
  packages/nodes-base/nodes/MailerLite/SubscriberDescription.ts
  packages/nodes-base/nodes/Matrix/MediaDescription.ts
  packages/nodes-base/nodes/Notion/DatabasePageDescription.ts
  packages/nodes-base/nodes/Pipedrive/Pipedrive.node.ts
  packages/nodes-base/nodes/ProfitWell/MetricDescription.ts
  packages/nodes-base/nodes/Redis/Redis.node.ts
  packages/nodes-base/nodes/Salesforce/AccountDescription.ts
  packages/nodes-base/nodes/Salesforce/AttachmentDescription.ts
  packages/nodes-base/nodes/Salesforce/CaseDescription.ts
  packages/nodes-base/nodes/Salesforce/ContactDescription.ts
  packages/nodes-base/nodes/Salesforce/CustomObjectDescription.ts
  packages/nodes-base/nodes/Salesforce/LeadDescription.ts
  packages/nodes-base/nodes/Salesforce/OpportunityDescription.ts
  packages/nodes-base/nodes/Salesforce/TaskDescription.ts
  packages/nodes-base/nodes/Sendy/CampaignDescription.ts
  packages/nodes-base/nodes/Set/Set.node.ts
  packages/nodes-base/nodes/Shopify/OrderDescription.ts
  packages/nodes-base/nodes/Slack/MessageDescription.ts
  packages/nodes-base/nodes/Splunk/descriptions/SearchResultDescription.ts
  packages/nodes-base/nodes/SurveyMonkey/SurveyMonkeyTrigger.node.ts
  packages/nodes-base/nodes/Telegram/Telegram.node.ts
  packages/nodes-base/nodes/Twitter/TweetDescription.ts
  packages/nodes-base/nodes/WorkflowTrigger/WorkflowTrigger.node.ts
  packages/nodes-base/nodes/Xero/InvoiceDescription.ts
  packages/nodes-base/nodes/Xml/Xml.node.ts
Labels: n8n team, node/linting

#3252 Rule adding description to limit working
  .eslintrc.js
  packages/nodes-base/nodes/AgileCrm/DealDescription.ts
  packages/nodes-base/nodes/Aws/SES/AwsSes.node.ts
  packages/nodes-base/nodes/GetResponse/ContactDescription.ts
  packages/nodes-base/nodes/Gotify/Gotify.node.ts
  packages/nodes-base/nodes/Nasa/Nasa.node.ts
  packages/nodes-base/nodes/Slack/ChannelDescription.ts
  packages/nodes-base/nodes/SyncroMSP/v1/actions/contact/getAll/description.ts
  packages/nodes-base/nodes/Trello/ListDescription.ts
Labels: node/improvement, n8n team

#3256 Rule working properly
  .eslintrc.js
  packages/nodes-base/nodes/Google/Calendar/EventDescription.ts
  packages/nodes-base/nodes/Google/Gmail/MessageDescription.ts
  packages/nodes-base/nodes/Google/Task/TaskDescription.ts
  packages/nodes-base/nodes/Markdown/Markdown.node.ts
  packages/nodes-base/nodes/SpreadsheetFile/SpreadsheetFile.node.ts
  packages/nodes-base/nodes/Xml/Xml.node.ts
Labels: n8n team, node/linting

#3239 Fixing a typo in notion trigger node
  packages/nodes-base/nodes/Notion/NotionTrigger.node.ts
Labels: node/improvement, n8n team

#3104 New tools added in the last year - N8N-3291
  packages/nodes-base/nodes/UProc/Json/Tools.ts
Labels: node/improvement, community

#3241 Fix executions list filtering by waiting status
  packages/cli/src/Server.ts
Labels: core, n8n team

#3211 n8n-3480 - feat(Pipedrive Node): Add support for filters to getAll:organization
  packages/nodes-base/nodes/Pipedrive/Pipedrive.node.ts
Labels: node/improvement, n8n team

#3082 Add html additional field for pushover
  packages/nodes-base/credentials/PushoverApi.credentials.ts
  packages/nodes-base/nodes/Pushover/GenericFunctions.ts
  packages/nodes-base/nodes/Pushover/Pushover.node.ts
  packages/nodes-base/nodes/Pushover/pushover.png
  packages/nodes-base/nodes/Pushover/pushover.svg
Labels: node/improvement, community

#3286 ⚡ Disable sticky node type from showing in expression editor
  packages/editor-ui/src/components/VariableSelector.vue
Labels: ui

#3285 📈 Added telemetry events to quickstart sticky note.
  packages/design-system/src/components/N8nMarkdown/Markdown.vue
  packages/design-system/src/components/N8nSticky/Sticky.vue
  packages/editor-ui/src/components/Sticky.vue
  packages/editor-ui/src/views/NodeView.vue
Labels: ui

#3266 :zap: Automatically convert Luxon Dates to string
  packages/core/src/NodeExecuteFunctions.ts
Labels: core, n8n team

#3280 Fix call to `/executions-current` with unsaved workflow
  packages/cli/src/Server.ts
Labels: core, n8n team

#3278 n8n-3566 Ghost node fix post tags
  packages/nodes-base/credentials/GhostAdminApi.credentials.ts
  packages/nodes-base/credentials/GhostContentApi.credentials.ts
  packages/nodes-base/nodes/Ghost/GenericFunctions.ts
  packages/nodes-base/nodes/Ghost/Ghost.node.ts
  packages/nodes-base/nodes/Ghost/PostDescription.ts
  packages/nodes-base/nodes/Ghost/ghost.png
  packages/nodes-base/nodes/Ghost/ghost.svg
Labels: node/improvement, n8n team

#3283 n8n-3572-node-google-calendar-default-fix
  packages/nodes-base/nodes/Google/Calendar/CalendarDescription.ts
  packages/nodes-base/nodes/Google/Calendar/EventDescription.ts
  packages/nodes-base/nodes/Google/Calendar/GoogleCalendar.node.ts
Labels: n8n team, node/issue

#3017 🐛 [kobotoolbox] Fix query,sort + use question name in attachments
  packages/nodes-base/nodes/KoBoToolbox/GenericFunctions.ts
  packages/nodes-base/nodes/KoBoToolbox/KoBoToolbox.node.ts
  packages/nodes-base/nodes/KoBoToolbox/KoBoToolboxTrigger.node.ts
  packages/nodes-base/nodes/KoBoToolbox/Options.ts
  packages/nodes-base/nodes/KoBoToolbox/SubmissionDescription.ts
Labels: node/improvement, community

#3224 n8n-3509 - Onedrive rename folder / files
  packages/nodes-base/nodes/Microsoft/OneDrive/FileDescription.ts
  packages/nodes-base/nodes/Microsoft/OneDrive/FolderDescription.ts
  packages/nodes-base/nodes/Microsoft/OneDrive/MicrosoftOneDrive.node.ts
Labels: node/improvement, n8n team

#3281 n8n-3563-node-fix-mailjet-trigger
  packages/nodes-base/credentials/MailjetEmailApi.credentials.ts
  packages/nodes-base/credentials/MailjetSmsApi.credentials.ts
  packages/nodes-base/nodes/Mailjet/EmailDescription.ts
  packages/nodes-base/nodes/Mailjet/GenericFunctions.ts
  packages/nodes-base/nodes/Mailjet/Mailjet.node.ts
  packages/nodes-base/nodes/Mailjet/MailjetTrigger.node.ts
  packages/nodes-base/nodes/Mailjet/SmsDescription.ts
Labels: n8n team, node/issue

#3260 ✅ Added unit tests for Badge component
  packages/design-system/src/components/N8nBadge/__tests__/Badge.spec.ts
  packages/design-system/src/components/N8nBadge/__tests__/__snapshots__/Badge.spec.ts.snap
Labels: ui

#3277 n8n-3565 - Pipedrive fixed resolve properties when using multi option field
  packages/nodes-base/nodes/Pipedrive/GenericFunctions.ts
Labels: node/improvement, n8n team

#3291 ⚡️ set flag that user has met threshold
  package-lock.json
  packages/cli/config/schema.ts
  packages/cli/src/GenericHelpers.ts
  packages/cli/src/Interfaces.ts
  packages/cli/src/Server.ts
  packages/cli/src/WorkflowHelpers.ts
  packages/cli/src/api/credentials.api.ts
  packages/cli/src/databases/entities/User.ts
  packages/cli/src/databases/mysqldb/migrations/1652367743993-AddUserSettings.ts
  packages/cli/src/databases/mysqldb/migrations/index.ts
  packages/cli/src/databases/postgresdb/migrations/1652367743993-AddUserSettings.ts
  packages/cli/src/databases/postgresdb/migrations/index.ts
  packages/cli/src/databases/sqlite/migrations/1652367743993-AddUserSettings.ts
  packages/cli/src/databases/sqlite/migrations/index.ts
  packages/cli/src/requests.d.ts
Labels: core, n8n team

#3288 [Snyk] Security upgrade eventsource from 1.1.1 to 2.0.2
  packages/nodes-base/package.json
Labels: n8n team

#3289 N8n 3623 welcome experience
  package-lock.json
  packages/cli/config/schema.ts
  packages/cli/src/GenericHelpers.ts
  packages/cli/src/Interfaces.ts
  packages/cli/src/Server.ts
  packages/cli/src/WorkflowHelpers.ts
  packages/cli/src/api/credentials.api.ts
  packages/cli/src/databases/entities/User.ts
  packages/cli/src/databases/mysqldb/migrations/1652367743993-AddUserSettings.ts
  packages/cli/src/databases/mysqldb/migrations/index.ts
  packages/cli/src/databases/postgresdb/migrations/1652367743993-AddUserSettings.ts
  packages/cli/src/databases/postgresdb/migrations/index.ts
  packages/cli/src/databases/sqlite/migrations/1652367743993-AddUserSettings.ts
  packages/cli/src/databases/sqlite/migrations/index.ts
  packages/cli/src/requests.d.ts
  packages/design-system/src/components/N8nMarkdown/Markdown.vue
  packages/design-system/src/components/N8nSticky/Sticky.vue
  packages/editor-ui/public/static/quickstart_thumbnail.png
  packages/editor-ui/src/api/workflows.ts
  packages/editor-ui/src/components/MainSidebar.vue
  packages/editor-ui/src/components/Sticky.vue
  packages/editor-ui/src/components/VariableSelector.vue
  packages/editor-ui/src/constants.ts
  packages/editor-ui/src/modules/workflows.ts
  packages/editor-ui/src/plugins/i18n/locales/en.json
  packages/editor-ui/src/plugins/icons.ts
  packages/editor-ui/src/router.ts
  packages/editor-ui/src/views/NodeView.vue
  packages/editor-ui/src/views/canvasHelpers.ts
Labels: ui, n8n team

#3220 N8n 3391 api key management views
  packages/design-system/src/components/N8nActionBox/ActionBox.vue
  packages/design-system/src/components/N8nButton/Button.vue
  packages/design-system/src/components/N8nCard/Card.stories.ts
  packages/design-system/src/components/N8nCard/Card.vue
  packages/design-system/src/components/N8nCard/Card.xpec.ts
  packages/design-system/src/components/N8nCard/index.ts
  packages/design-system/src/components/N8nInfoTip/InfoTip.vue
  packages/design-system/src/components/index.ts
  packages/design-system/src/styleguide/SpacingPreview.vue
  packages/design-system/src/styleguide/utilities.stories.ts
  packages/design-system/theme/src/index.scss
  packages/design-system/theme/src/utilities.scss
  packages/editor-ui/src/Interface.ts
  packages/editor-ui/src/api/api-keys.ts
  packages/editor-ui/src/components/CollectionCard.vue
  packages/editor-ui/src/components/CollectionsCarousel.vue
  packages/editor-ui/src/components/CopyInput.vue
  packages/editor-ui/src/components/CredentialEdit/CredentialConfig.vue
  packages/editor-ui/src/components/MainSidebar.vue
  packages/editor-ui/src/components/SettingsSidebar.vue
  packages/editor-ui/src/components/WorkflowCard.vue
  packages/editor-ui/src/components/mixins/userHelpers.ts
  packages/editor-ui/src/constants.ts
  packages/editor-ui/src/modules/settings.ts
  packages/editor-ui/src/modules/userHelpers.ts
  packages/editor-ui/src/plugins/components.ts
  packages/editor-ui/src/plugins/i18n/locales/en.json
  packages/editor-ui/src/plugins/icons.ts
  packages/editor-ui/src/router.ts
  packages/editor-ui/src/views/SettingsApiView.vue
Labels: n8n team, public api

#3308 📝 Fixing a typo in welcome experience telemetry event
  packages/editor-ui/src/views/NodeView.vue
Labels: ui

#3307 fix(core): Sort out typo in error message
  packages/cli/src/UserManagement/UserManagementHelper.ts
Labels: core, n8n team

#3304 Refactor into credential-type param
  packages/editor-ui/src/components/CredentialsSelect.vue
  packages/editor-ui/src/components/NodeCredentials.vue
  packages/editor-ui/src/components/NodeSettings.vue
  packages/editor-ui/src/components/NodeWebhooks.vue
  packages/editor-ui/src/components/ParameterInput.vue
  packages/editor-ui/src/components/ParameterInputList.vue
  packages/editor-ui/src/components/ParameterIssues.vue
  packages/editor-ui/src/components/ParameterOptions.vue
  packages/editor-ui/src/components/ScopesNotice.vue
  packages/editor-ui/src/components/mixins/nodeHelpers.ts
  packages/editor-ui/src/components/mixins/workflowHelpers.ts
  packages/editor-ui/src/modules/credentials.ts
  packages/editor-ui/src/plugins/i18n/locales/en.json
  packages/nodes-base/credentials/HttpBasicAuth.credentials.ts
  packages/nodes-base/credentials/HttpDigestAuth.credentials.ts
  packages/nodes-base/credentials/HttpHeaderAuth.credentials.ts
  packages/nodes-base/credentials/HttpQueryAuth.credentials.ts
  packages/nodes-base/credentials/OAuth1Api.credentials.ts
  packages/nodes-base/credentials/OAuth2Api.credentials.ts
  packages/nodes-base/nodes/HttpRequest/HttpRequest.node.ts
  packages/workflow/src/Interfaces.ts
Labels: node/improvement, core, ui, n8n team

#3282 Extend metrics for HTTP Request node
  packages/editor-ui/src/components/NodeCredentials.vue
  packages/editor-ui/src/components/mixins/showMessage.ts
  packages/workflow/src/Interfaces.ts
  packages/workflow/src/TelemetryHelpers.ts
  packages/workflow/test/TelemetryHelpers.test.ts
Labels: core, n8n team

#3229 Discoverability flow and scopes notice for HTTP Request node
  packages/cli/src/CredentialsHelper.ts
  packages/cli/src/LoadNodesAndCredentials.ts
  packages/cli/src/Server.ts
  packages/cli/src/api/oauth2Credential.api.ts
  packages/cli/src/constants.ts
  packages/cli/src/requests.d.ts
  packages/cli/test/integration/oauth2.api.test.ts
  packages/cli/test/integration/shared/constants.ts
  packages/cli/test/integration/shared/types.d.ts
  packages/cli/test/integration/shared/utils.ts
  packages/design-system/src/components/N8nNotice/Notice.vue
  packages/design-system/src/components/N8nNotice/__tests__/Notice.spec.ts
  packages/design-system/src/components/N8nNotice/__tests__/__snapshots__/Notice.spec.ts.snap
  packages/editor-ui/src/Interface.ts
  packages/editor-ui/src/components/CredentialsSelect.vue
  packages/editor-ui/src/components/Node.vue
  packages/editor-ui/src/components/NodeCredentials.vue
  packages/editor-ui/src/components/NodeSettings.vue
  packages/editor-ui/src/components/ParameterInput.vue
  packages/editor-ui/src/components/ParameterInputList.vue
  packages/editor-ui/src/components/ParameterIssues.vue
  packages/editor-ui/src/components/ParameterOptions.vue
  packages/editor-ui/src/components/ScopesNotice.vue
  packages/editor-ui/src/components/mixins/nodeHelpers.ts
  packages/editor-ui/src/components/mixins/showMessage.ts
  packages/editor-ui/src/components/mixins/workflowHelpers.ts
  packages/editor-ui/src/constants.ts
  packages/editor-ui/src/modules/credentials.ts
  packages/editor-ui/src/plugins/i18n/docs/README.md
  packages/editor-ui/src/plugins/i18n/locales/en.json
  packages/nodes-base/credentials/GithubApi.credentials.ts
  packages/nodes-base/credentials/GithubOAuth2Api.credentials.ts
  packages/nodes-base/credentials/GitlabApi.credentials.ts
  packages/nodes-base/credentials/GitlabOAuth2Api.credentials.ts
  packages/nodes-base/credentials/HttpBasicAuth.credentials.ts
  packages/nodes-base/credentials/HttpDigestAuth.credentials.ts
  packages/nodes-base/credentials/HttpHeaderAuth.credentials.ts
  packages/nodes-base/credentials/HttpQueryAuth.credentials.ts
  packages/nodes-base/credentials/HubspotApi.credentials.ts
  packages/nodes-base/credentials/HubspotAppToken.credentials.ts
  packages/nodes-base/credentials/HubspotDeveloperApi.credentials.ts
  packages/nodes-base/credentials/HubspotOAuth2Api.credentials.ts
  packages/nodes-base/credentials/OAuth1Api.credentials.ts
  packages/nodes-base/credentials/OAuth2Api.credentials.ts
  packages/nodes-base/nodes/HttpRequest/HttpRequest.node.ts
  packages/workflow/src/Interfaces.ts
  packages/workflow/src/TelemetryHelpers.ts
  packages/workflow/test/TelemetryHelpers.test.ts
Labels: feature, n8n team

#3322 Fix windows build issues with email templates
  packages/cli/package.json
Labels: core, n8n team

#3175 ✅ enhance owner completion test
  packages/cli/test/integration/owner.api.test.ts
Labels: core, n8n team

#3321 N8N-3666 Public API FE Telemetry
  packages/editor-ui/src/components/CopyInput.vue
  packages/editor-ui/src/components/WorkflowActivator.vue
  packages/editor-ui/src/modules/settings.ts
  packages/editor-ui/src/views/SettingsApiView.vue
Labels: ui, n8n team

#3331 Rule working as intended duplicates eliminated
  .eslintrc.js
  packages/nodes-base/nodes/CoinGecko/CoinDescription.ts
  packages/nodes-base/nodes/TravisCi/BuildDescription.ts
Labels: node/improvement, n8n team

#3320 🐛 Stopping a welcome sticky note to show up in template workflows
  packages/editor-ui/src/views/NodeView.vue
Labels: ui

#3335 n8n-3584-review-node-param-display-name-excess-inner-whitespace
  .eslintrc.js
Labels: n8n team, node/linting

#3336 N8n 3607 Review node-param-type-options-missing-from-limit
  .eslintrc.js
  packages/nodes-base/nodes/AgileCrm/CompanyDescription.ts
  packages/nodes-base/nodes/AgileCrm/ContactDescription.ts
  packages/nodes-base/nodes/AgileCrm/DealDescription.ts
  packages/nodes-base/nodes/Aws/SES/AwsSes.node.ts
  packages/nodes-base/nodes/Bitwarden/descriptions/CollectionDescription.ts
  packages/nodes-base/nodes/Bitwarden/descriptions/EventDescription.ts
  packages/nodes-base/nodes/Bitwarden/descriptions/GroupDescription.ts
  packages/nodes-base/nodes/Bitwarden/descriptions/MemberDescription.ts
  packages/nodes-base/nodes/Dropbox/Dropbox.node.ts
  packages/nodes-base/nodes/ERPNext/DocumentDescription.ts
  packages/nodes-base/nodes/FileMaker/FileMaker.node.ts
  packages/nodes-base/nodes/GetResponse/ContactDescription.ts
  packages/nodes-base/nodes/Gotify/Gotify.node.ts
  packages/nodes-base/nodes/HackerNews/HackerNews.node.ts
  packages/nodes-base/nodes/MongoDb/mongo.node.options.ts
  packages/nodes-base/nodes/Nasa/Nasa.node.ts
  packages/nodes-base/nodes/Slack/ChannelDescription.ts
  packages/nodes-base/nodes/SyncroMSP/v1/actions/contact/getAll/description.ts
  packages/nodes-base/nodes/SyncroMSP/v1/actions/customer/getAll/description.ts
  packages/nodes-base/nodes/SyncroMSP/v1/actions/rmm/getAll/description.ts
  packages/nodes-base/nodes/SyncroMSP/v1/actions/ticket/getAll/description.ts
  packages/nodes-base/nodes/Trello/BoardMemberDescription.ts
  packages/nodes-base/nodes/Trello/ListDescription.ts
  packages/nodes-base/nodes/Twist/MessageConversationDescription.ts
Labels: node/improvement, n8n team

#3338 Rule worked like intended duplicate removed
  .eslintrc.js
  packages/nodes-base/nodes/InvoiceNinja/ExpenseDescription.ts
  packages/nodes-base/nodes/InvoiceNinja/PaymentDescription.ts
Labels: node/improvement, n8n team

#3334 n8n-3582-review-node-param-description-wrong-for-simplify
  .eslintrc.js
  packages/nodes-base/nodes/ActionNetwork/descriptions/SharedFields.ts
  packages/nodes-base/nodes/ActiveCampaign/GenericFunctions.ts
  packages/nodes-base/nodes/AgileCrm/CompanyDescription.ts
  packages/nodes-base/nodes/AgileCrm/ContactDescription.ts
  packages/nodes-base/nodes/Aws/Comprehend/AwsComprehend.node.ts
  packages/nodes-base/nodes/Aws/Textract/AwsTextract.node.ts
  packages/nodes-base/nodes/Aws/Transcribe/AwsTranscribe.node.ts
  packages/nodes-base/nodes/BambooHr/v1/actions/employeeDocument/getAll/description.ts
  packages/nodes-base/nodes/BambooHr/v1/actions/file/getAll/description.ts
  packages/nodes-base/nodes/Discourse/SearchDescription.ts
  packages/nodes-base/nodes/Dropbox/Dropbox.node.ts
  packages/nodes-base/nodes/Dropcontact/Dropcontact.node.ts
  packages/nodes-base/nodes/Egoi/Egoi.node.ts
  packages/nodes-base/nodes/FormIo/FormIoTrigger.node.ts
  packages/nodes-base/nodes/Formstack/FormstackTrigger.node.ts
  packages/nodes-base/nodes/Google/Analytics/ReportDescription.ts
  packages/nodes-base/nodes/Google/Docs/DocumentDescription.ts
  packages/nodes-base/nodes/Google/Firebase/CloudFirestore/DocumentDescription.ts
  packages/nodes-base/nodes/Google/Sheet/GoogleSheets.node.ts
  packages/nodes-base/nodes/HaloPSA/descriptions/ClientDescription.ts
  packages/nodes-base/nodes/HaloPSA/descriptions/SiteDescription.ts
  packages/nodes-base/nodes/HaloPSA/descriptions/TicketDescription.ts
  packages/nodes-base/nodes/HaloPSA/descriptions/UserDescription.ts
  packages/nodes-base/nodes/Jira/IssueDescription.ts
  packages/nodes-base/nodes/Markdown/Markdown.node.ts
  packages/nodes-base/nodes/Mautic/CompanyDescription.ts
  packages/nodes-base/nodes/ProfitWell/MetricDescription.ts
  packages/nodes-base/nodes/QuickBase/RecordDescription.ts
  packages/nodes-base/nodes/QuickBooks/descriptions/Transaction/TransactionDescription.ts
  packages/nodes-base/nodes/SeaTable/SeaTableTrigger.node.ts
  packages/nodes-base/nodes/SecurityScorecard/descriptions/CompanyDescription.ts
  packages/nodes-base/nodes/SecurityScorecard/descriptions/IndustryDescription.ts
  packages/nodes-base/nodes/Typeform/TypeformTrigger.node.ts
Labels: n8n team, node/linting

#3340 n8n-3586-review-node-param-display-name-miscased-id
  .eslintrc.js
  packages/nodes-base/nodes/AgileCrm/DealDescription.ts
  packages/nodes-base/nodes/Chargebee/Chargebee.node.ts
  packages/nodes-base/nodes/CoinGecko/CoinDescription.ts
  packages/nodes-base/nodes/FileMaker/FileMaker.node.ts
  packages/nodes-base/nodes/Freshdesk/Freshdesk.node.ts
  packages/nodes-base/nodes/Google/Drive/GoogleDrive.node.ts
  packages/nodes-base/nodes/Harvest/ClientDescription.ts
  packages/nodes-base/nodes/Harvest/ContactDescription.ts
  packages/nodes-base/nodes/Harvest/EstimateDescription.ts
  packages/nodes-base/nodes/Harvest/ExpenseDescription.ts
  packages/nodes-base/nodes/Harvest/InvoiceDescription.ts
  packages/nodes-base/nodes/Harvest/ProjectDescription.ts
  packages/nodes-base/nodes/Harvest/TaskDescription.ts
  packages/nodes-base/nodes/Harvest/TimeEntryDescription.ts
  packages/nodes-base/nodes/Harvest/UserDescription.ts
  packages/nodes-base/nodes/Hubspot/TicketDescription.ts
  packages/nodes-base/nodes/Intercom/CompanyDescription.ts
  packages/nodes-base/nodes/PayPal/PaymentDescription.ts
  packages/nodes-base/nodes/Rundeck/Rundeck.node.ts
  packages/nodes-base/nodes/Salesforce/TaskDescription.ts
  packages/nodes-base/nodes/Trello/ChecklistDescription.ts
  packages/nodes-base/nodes/Zoom/MeetingRegistrantDescription.ts
Labels: n8n team, node/linting

#3333 n8n-3583-review-node-param-description-wrong-for-upsert
  .eslintrc.js
  packages/nodes-base/nodes/Autopilot/ContactDescription.ts
  packages/nodes-base/nodes/Aws/DynamoDB/ItemDescription.ts
  packages/nodes-base/nodes/CustomerIo/CustomerDescription.ts
  packages/nodes-base/nodes/Google/Firebase/CloudFirestore/DocumentDescription.ts
  packages/nodes-base/nodes/Google/Sheet/GoogleSheets.node.ts
  packages/nodes-base/nodes/Hubspot/ContactDescription.ts
  packages/nodes-base/nodes/Iterable/UserDescription.ts
  packages/nodes-base/nodes/Keap/ContactDescription.ts
  packages/nodes-base/nodes/Orbit/MemberDescription.ts
  packages/nodes-base/nodes/QuickBase/RecordDescription.ts
  packages/nodes-base/nodes/SendGrid/ContactDescription.ts
Labels: n8n team, node/linting

#3343 n8n-3597-review-node-param-option-description-identical-to-name
  .eslintrc.js
  packages/nodes-base/nodes/Coda/TableDescription.ts
  packages/nodes-base/nodes/Coda/ViewDescription.ts
  packages/nodes-base/nodes/Google/CloudNaturalLanguage/GoogleCloudNaturalLanguage.node.ts
  packages/nodes-base/nodes/Matrix/RoomDescription.ts
  packages/nodes-base/nodes/N8nTrainingCustomerDatastore/N8nTrainingCustomerDatastore.node.ts
  packages/nodes-base/nodes/Zulip/MessageDescription.ts
Labels: n8n team, node/linting

#3347 :zap: fix
  .eslintrc.js
  packages/nodes-base/nodes/Cisco/Webex/CiscoWebexTrigger.node.ts
  packages/nodes-base/nodes/Strava/StravaTrigger.node.ts
Labels: n8n team, node/linting

#3348 n8n-3592-review-node-param-display-name-wrong-for-update-fields
  .eslintrc.js
  packages/nodes-base/nodes/ActiveCampaign/EcomOrderDescription.ts
Labels: n8n team, node/issue

#3345 n8n-3600-node-param-option-name-wrong-for-get-all
  .eslintrc.js
  packages/nodes-base/nodes/Cockpit/CollectionDescription.ts
  packages/nodes-base/nodes/Grist/OperationDescription.ts
  packages/nodes-base/nodes/Notion/BlockDescription.ts
Labels: n8n team, node/issue

#3344 Rule working as intended
  .eslintrc.js
  packages/nodes-base/nodes/ActionNetwork/descriptions/SharedFields.ts
  packages/nodes-base/nodes/ActiveCampaign/GenericFunctions.ts
  packages/nodes-base/nodes/AgileCrm/CompanyDescription.ts
  packages/nodes-base/nodes/AgileCrm/ContactDescription.ts
  packages/nodes-base/nodes/Aws/Comprehend/AwsComprehend.node.ts
  packages/nodes-base/nodes/Aws/DynamoDB/ItemDescription.ts
  packages/nodes-base/nodes/Aws/Textract/AwsTextract.node.ts
  packages/nodes-base/nodes/Aws/Transcribe/AwsTranscribe.node.ts
  packages/nodes-base/nodes/BambooHr/v1/actions/employeeDocument/getAll/description.ts
  packages/nodes-base/nodes/BambooHr/v1/actions/file/getAll/description.ts
  packages/nodes-base/nodes/Discourse/SearchDescription.ts
  packages/nodes-base/nodes/Dropbox/Dropbox.node.ts
  packages/nodes-base/nodes/Dropcontact/Dropcontact.node.ts
  packages/nodes-base/nodes/Egoi/Egoi.node.ts
  packages/nodes-base/nodes/Elastic/ElasticSecurity/descriptions/CaseCommentDescription.ts
  packages/nodes-base/nodes/Elastic/Elasticsearch/descriptions/DocumentDescription.ts
  packages/nodes-base/nodes/FormIo/FormIoTrigger.node.ts
  packages/nodes-base/nodes/Formstack/FormstackTrigger.node.ts
  packages/nodes-base/nodes/Google/Analytics/ReportDescription.ts
  packages/nodes-base/nodes/Google/BigQuery/RecordDescription.ts
  packages/nodes-base/nodes/Google/Docs/DocumentDescription.ts
  packages/nodes-base/nodes/Google/Firebase/CloudFirestore/DocumentDescription.ts
  packages/nodes-base/nodes/Google/Sheet/GoogleSheets.node.ts
  packages/nodes-base/nodes/HaloPSA/descriptions/ClientDescription.ts
  packages/nodes-base/nodes/HaloPSA/descriptions/SiteDescription.ts
  packages/nodes-base/nodes/HaloPSA/descriptions/TicketDescription.ts
  packages/nodes-base/nodes/HaloPSA/descriptions/UserDescription.ts
  packages/nodes-base/nodes/Jira/IssueDescription.ts
  packages/nodes-base/nodes/Markdown/Markdown.node.ts
  packages/nodes-base/nodes/Mautic/CompanyDescription.ts
  packages/nodes-base/nodes/Netlify/NetlifyTrigger.node.ts
  packages/nodes-base/nodes/Notion/DatabaseDescription.ts
  packages/nodes-base/nodes/Notion/DatabasePageDescription.ts
  packages/nodes-base/nodes/Notion/NotionTrigger.node.ts
  packages/nodes-base/nodes/Notion/PageDescription.ts
  packages/nodes-base/nodes/ProfitWell/MetricDescription.ts
  packages/nodes-base/nodes/QuickBase/RecordDescription.ts
  packages/nodes-base/nodes/QuickBooks/descriptions/Transaction/TransactionDescription.ts
  packages/nodes-base/nodes/SeaTable/SeaTableTrigger.node.ts
  packages/nodes-base/nodes/SecurityScorecard/descriptions/CompanyDescription.ts
  packages/nodes-base/nodes/SecurityScorecard/descriptions/IndustryDescription.ts
  packages/nodes-base/nodes/Typeform/TypeformTrigger.node.ts
Labels: node/improvement, n8n team

#3293 Skip SMTP tests if service unavailable
  packages/cli/test/integration/passwordReset.api.test.ts
  packages/cli/test/integration/shared/utils.ts
  packages/cli/test/integration/users.api.test.ts
Labels: core, n8n team

#3359 Adjust metrics for HTTP Request node
  packages/workflow/src/Interfaces.ts
  packages/workflow/src/TelemetryHelpers.ts
  packages/workflow/test/TelemetryHelpers.test.ts
Labels: core, n8n team

#3204 N8n 3195 input panel
  package-lock.json
  packages/design-system/src/components/N8nButton/Button.stories.js
  packages/design-system/src/components/N8nButton/Button.vue
  packages/design-system/src/components/N8nInfoTip/InfoTip.vue
  packages/design-system/src/components/N8nRadioButtons/RadioButton.vue
  packages/design-system/src/components/N8nSelect/Select.vue
  packages/design-system/src/components/N8nSpinner/Spinner.stories.js
  packages/design-system/src/components/N8nSpinner/Spinner.vue
  packages/design-system/src/components/N8nTabs/Tabs.vue
  packages/design-system/theme/src/common/var.scss
  packages/editor-ui/src/Interface.ts
  packages/editor-ui/src/components/BinaryDataDisplay.vue
  packages/editor-ui/src/components/CollectionParameter.vue
  packages/editor-ui/src/components/CredentialEdit/CredentialInputs.vue
  packages/editor-ui/src/components/DataDisplay.vue
  packages/editor-ui/src/components/Draggable.vue
  packages/editor-ui/src/components/ExpressionEdit.vue
  packages/editor-ui/src/components/FixedCollectionParameter.vue
  packages/editor-ui/src/components/InputPanel.vue
  packages/editor-ui/src/components/MultipleParameter.vue
  packages/editor-ui/src/components/NDVDraggablePanels.vue
  packages/editor-ui/src/components/Node.vue
  packages/editor-ui/src/components/NodeDetailsView.vue
  packages/editor-ui/src/components/NodeExecuteButton.vue
  packages/editor-ui/src/components/NodeSettings.vue
  packages/editor-ui/src/components/NodeSettingsTabs.vue
  packages/editor-ui/src/components/OutputPanel.vue
  packages/editor-ui/src/components/PanelDragButton.vue
  packages/editor-ui/src/components/ParameterInput.vue
  packages/editor-ui/src/components/ParameterInputExpanded.vue
  packages/editor-ui/src/components/RunData.vue
  packages/editor-ui/src/components/RunInfo.vue
  packages/editor-ui/src/components/WireMeUp.vue
  packages/editor-ui/src/components/mixins/nodeHelpers.ts
  packages/editor-ui/src/components/mixins/pushConnection.ts
  packages/editor-ui/src/components/mixins/workflowRun.ts
  packages/editor-ui/src/constants.ts
  packages/editor-ui/src/modules/ui.ts
  packages/editor-ui/src/n8n-theme.scss
  packages/editor-ui/src/plugins/i18n/locales/en.json
  packages/editor-ui/src/plugins/icons.ts
  packages/editor-ui/src/store.ts
  packages/editor-ui/src/views/NodeView.vue
  packages/workflow/src/Interfaces.ts
  packages/workflow/src/Workflow.ts
  packages/workflow/test/Helpers.ts
  packages/workflow/test/Workflow.test.ts
Labels: ui, n8n team

#3362 Updated Welcome sticky content
  packages/editor-ui/src/plugins/i18n/locales/en.json
  packages/editor-ui/src/views/canvasHelpers.ts
Labels: ui, n8n team

#3367 ✨ Implemented N8N-callout component
  packages/design-system/src/components/N8nCallout/Callout.stories.ts
  packages/design-system/src/components/N8nCallout/Callout.vue
  packages/design-system/src/components/N8nCallout/__tests__/Callout.spec.ts
  packages/design-system/src/components/N8nCallout/__tests__/__snapshots__/Callout.spec.ts.snap
  packages/design-system/src/components/N8nCallout/index.ts
  packages/design-system/src/components/index.ts
  packages/editor-ui/src/plugins/icons.ts
Labels: ui

#3228 Grant credentials access to HTTP Request node
  packages/cli/src/CredentialTypes.ts
  packages/cli/src/Server.ts
  packages/cli/src/requests.d.ts
  packages/design-system/src/components/N8nNotice/Notice.vue
  packages/design-system/src/components/N8nNotice/__tests__/Notice.spec.ts
  packages/design-system/src/components/N8nNotice/__tests__/__snapshots__/Notice.spec.ts.snap
  packages/design-system/theme/src/_tokens.scss
  packages/editor-ui/src/Interface.ts
  packages/editor-ui/src/components/CredentialsSelect.vue
  packages/editor-ui/src/components/Node.vue
  packages/editor-ui/src/components/NodeCredentials.vue
  packages/editor-ui/src/components/NodeSettings.vue
  packages/editor-ui/src/components/ParameterInput.vue
  packages/editor-ui/src/components/ParameterInputList.vue
  packages/editor-ui/src/components/ParameterIssues.vue
  packages/editor-ui/src/components/ParameterOptions.vue
  packages/editor-ui/src/components/ScopesNotice.vue
  packages/editor-ui/src/components/mixins/nodeHelpers.ts
  packages/editor-ui/src/components/mixins/showMessage.ts
  packages/editor-ui/src/components/mixins/workflowHelpers.ts
  packages/editor-ui/src/constants.ts
  packages/editor-ui/src/modules/credentials.ts
  packages/editor-ui/src/plugins/i18n/docs/README.md
  packages/editor-ui/src/plugins/i18n/locales/en.json
  packages/nodes-base/credentials/GithubApi.credentials.ts
  packages/nodes-base/credentials/GithubOAuth2Api.credentials.ts
  packages/nodes-base/credentials/GitlabApi.credentials.ts
  packages/nodes-base/credentials/GitlabOAuth2Api.credentials.ts
  packages/nodes-base/credentials/HttpBasicAuth.credentials.ts
  packages/nodes-base/credentials/HttpDigestAuth.credentials.ts
  packages/nodes-base/credentials/HttpHeaderAuth.credentials.ts
  packages/nodes-base/credentials/HttpQueryAuth.credentials.ts
  packages/nodes-base/credentials/HubspotApi.credentials.ts
  packages/nodes-base/credentials/HubspotAppToken.credentials.ts
  packages/nodes-base/credentials/HubspotDeveloperApi.credentials.ts
  packages/nodes-base/credentials/HubspotOAuth2Api.credentials.ts
  packages/nodes-base/credentials/OAuth1Api.credentials.ts
  packages/nodes-base/credentials/OAuth2Api.credentials.ts
  packages/nodes-base/nodes/HttpRequest/HttpRequest.node.ts
  packages/nodes-base/package.json
  packages/workflow/src/Interfaces.ts
  packages/workflow/src/TelemetryHelpers.ts
  packages/workflow/test/TelemetryHelpers.test.ts
Labels: feature, n8n team

#3374 fix parameter loading bug
  packages/editor-ui/src/components/ParameterInput.vue
Labels: ui, n8n team

#3375 `ActionBox` component update
  packages/design-system/src/components/N8nActionBox/ActionBox.stories.js
  packages/design-system/src/components/N8nActionBox/ActionBox.vue
  packages/design-system/src/components/N8nCallout/Callout.stories.ts
  packages/design-system/src/components/N8nCallout/__tests__/Callout.spec.ts
Labels: ui, n8n team

#3313 Create Citrix node
  package-lock.json
  packages/nodes-base/credentials/CitrixADCApi.credentials.ts
  packages/nodes-base/nodes/Citrix/ADC/CitrixADC.node.json
  packages/nodes-base/nodes/Citrix/ADC/CitrixADC.node.ts
  packages/nodes-base/nodes/Citrix/ADC/FileDescription.ts
  packages/nodes-base/nodes/Citrix/ADC/GenericFunctions.ts
  packages/nodes-base/nodes/Citrix/ADC/citrix.svg
  packages/nodes-base/package.json
Labels: node/new, n8n team

#3368 🐛 Fixing conflicting hover states between sticky button and node view.
  packages/editor-ui/src/views/NodeView.vue
Labels: ui, n8n team

#3372 Filter credentials by version
  packages/editor-ui/src/components/mixins/workflowHelpers.ts
Labels: ui, n8n team

#3236 N8N-3533 Added PostBin node
  packages/core/src/NodeExecuteFunctions.ts
  packages/nodes-base/nodes/PostBin/BinDescription.ts
  packages/nodes-base/nodes/PostBin/GenericFunctions.ts
  packages/nodes-base/nodes/PostBin/PostBin.node.json
  packages/nodes-base/nodes/PostBin/PostBin.node.ts
  packages/nodes-base/nodes/PostBin/RequestDescription.ts
  packages/nodes-base/nodes/PostBin/postbin.svg
  packages/nodes-base/package.json
Labels: node/new, n8n team

#3370 n8n-3714-node-improvement-youtube-uploads-larger-10mb
  packages/core/src/NodeExecuteFunctions.ts
Labels: n8n team, node/issue

#3284 Fix component in executions list failing custom validator
  packages/design-system/src/components/N8nText/Text.vue
Labels: ui, n8n team

#3311 n8n-3571-node-improvement-discord-broken-rate
  packages/nodes-base/nodes/Discord/Discord.node.ts
Labels: node/improvement, n8n team, node/issue

#3137 ✨ Add ServiceNow attachment functionality - N8N-3415
  packages/nodes-base/credentials/ServiceNowBasicApi.credentials.ts
  packages/nodes-base/nodes/ServiceNow/AttachmentDescription.ts
  packages/nodes-base/nodes/ServiceNow/GenericFunctions.ts
  packages/nodes-base/nodes/ServiceNow/ServiceNow.node.ts
Labels: node/improvement, community

#3391 ⚡️ update URLs to n8n.io api
  packages/cli/config/schema.ts
  packages/editor-ui/src/constants.ts
Labels: core, n8n team

#3356 Fix migrations on non-public Postgres schema
  packages/cli/package.json
  packages/cli/src/databases/postgresdb/migrations/1587669153312-InitialMigration.ts
  packages/cli/src/databases/postgresdb/migrations/1589476000887-WebhookModel.ts
  packages/cli/src/databases/postgresdb/migrations/1594828256133-CreateIndexStoppedAt.ts
  packages/cli/src/databases/postgresdb/migrations/1607431743768-MakeStoppedAtNullable.ts
  packages/cli/src/databases/postgresdb/migrations/1611144599516-AddWebhookId.ts
  packages/cli/src/databases/postgresdb/migrations/1617270242566-CreateTagEntity.ts
  packages/cli/src/databases/postgresdb/migrations/1620824779533-UniqueWorkflowNames.ts
  packages/cli/src/databases/postgresdb/migrations/1626176912946-AddwaitTill.ts
  packages/cli/src/databases/postgresdb/migrations/1630419189837-UpdateWorkflowCredentials.ts
  packages/cli/src/databases/postgresdb/migrations/1644422880309-AddExecutionEntityIndexes.ts
  packages/cli/src/databases/postgresdb/migrations/1646834195327-IncreaseTypeVarcharLimit.ts
  packages/cli/src/databases/postgresdb/migrations/1646992772331-CreateUserManagement.ts
  packages/cli/src/databases/postgresdb/migrations/1648740597343-LowerCaseUserEmail.ts
  packages/cli/src/databases/postgresdb/migrations/1652367743993-AddUserSettings.ts
  packages/cli/test/integration/shared/testDb.ts
  packages/cli/test/integration/shared/types.d.ts
  packages/cli/test/integration/shared/utils.ts
Labels: core, n8n team

#3385 feat(RabbitMQ Trigger Node): Make message acknowledgement and concurrent processing configurable
  packages/cli/src/ActiveWorkflowRunner.ts
  packages/core/src/WorkflowExecute.ts
  packages/nodes-base/nodes/RabbitMQ/DefaultOptions.ts
  packages/nodes-base/nodes/RabbitMQ/GenericFunctions.ts
  packages/nodes-base/nodes/RabbitMQ/RabbitMQ.node.ts
  packages/nodes-base/nodes/RabbitMQ/RabbitMQTrigger.node.ts
  packages/nodes-base/package.json
  packages/workflow/src/Interfaces.ts
  packages/workflow/src/Workflow.ts
Labels: node/improvement, core, n8n team

#3396 n8n-3709-fix-gmail-empty-attachment-file
  packages/nodes-base/nodes/Google/Gmail/Gmail.node.ts
Labels: n8n team, node/issue
