Repository n8n-io/n8n, pull requests merged in 2024-12, with the labels that each got.

#11975 fix(editor): Simplify workflow payload to AI Assistant (no-changelog)
  packages/design-system/src/locale/lang/en.ts
  packages/editor-ui/src/composables/useAIAssistantHelpers.test.ts
  packages/editor-ui/src/composables/useAIAssistantHelpers.ts
  packages/editor-ui/src/stores/assistant.store.ts
  packages/editor-ui/src/types/assistant.types.ts
Labels: ui, n8n team

#11999 fix(core): Validate node name when creating `NodeOperationErrror`
  packages/cli/src/__tests__/object-to-error.test.ts
  packages/cli/src/utils.ts
  packages/cli/src/workflow-execute-additional-data.ts
Labels: core, n8n team

#11935 docs: Update Skip SSL to mention it is insecure (no-changelog)
  packages/editor-ui/src/components/SettingsLogStreaming/descriptions.ee.ts
  packages/nodes-base/credentials/CrowdDevApi.credentials.ts
  packages/nodes-base/credentials/DfirIrisApi.credentials.ts
  packages/nodes-base/credentials/ERPNextApi.credentials.ts
  packages/nodes-base/credentials/ElasticsearchApi.credentials.ts
  packages/nodes-base/credentials/GotifyApi.credentials.ts
  packages/nodes-base/credentials/MattermostApi.credentials.ts
  packages/nodes-base/credentials/MicrosoftSql.credentials.ts
  packages/nodes-base/credentials/OAuth2Api.credentials.ts
  packages/nodes-base/credentials/Postgres.credentials.ts
  packages/nodes-base/credentials/S3.credentials.ts
  packages/nodes-base/credentials/TheHiveApi.credentials.ts
  packages/nodes-base/credentials/TheHiveProjectApi.credentials.ts
  packages/nodes-base/credentials/TimescaleDb.credentials.ts
  packages/nodes-base/credentials/WordpressApi.credentials.ts
  packages/nodes-base/credentials/ZammadBasicAuthApi.credentials.ts
  packages/nodes-base/credentials/ZammadTokenAuthApi.credentials.ts
  packages/nodes-base/nodes/EmailReadImap/v1/EmailReadImapV1.node.ts
  packages/nodes-base/nodes/EmailSend/v1/EmailSendV1.node.ts
  packages/nodes-base/nodes/EmailSend/v2/send.operation.ts
  packages/nodes-base/nodes/Facebook/FacebookGraphApi.node.ts
  packages/nodes-base/nodes/GraphQL/GraphQL.node.ts
  packages/nodes-base/nodes/HttpRequest/V1/HttpRequestV1.node.ts
  packages/nodes-base/nodes/HttpRequest/V2/HttpRequestV2.node.ts
  packages/nodes-base/nodes/HttpRequest/V3/Description.ts
  packages/nodes-base/nodes/RssFeedRead/RssFeedRead.node.ts
  packages/workflow/src/NodeHelpers.ts
Labels: node/improvement, core, ui, community, in linear

#11945 feat(core): Collect and aggregate metrics from the evaluation workflow execution (no-changelog)
  packages/cli/src/evaluation/test-runner/__tests__/evaluation-metrics.ee.test.ts
  packages/cli/src/evaluation/test-runner/__tests__/mock-data/workflow.evaluation.json
  packages/cli/src/evaluation/test-runner/__tests__/test-runner.service.ee.test.ts
  packages/cli/src/evaluation/test-runner/evaluation-metrics.ee.ts
  packages/cli/src/evaluation/test-runner/test-runner.service.ee.ts
Labels: core, n8n team

#11771 chore: Upgrade LangChain packages to latest versions (no-changelog)
  packages/@n8n/json-schema-to-zod/src/index.ts
  packages/@n8n/nodes-langchain/nodes/agents/Agent/agents/utils.ts
  packages/@n8n/nodes-langchain/package.json
  packages/@n8n/nodes-langchain/utils/output_parsers/N8nStructuredOutputParser.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: n8n team

#12002 fix(Workflow Trigger Node): Display dropdown for V1.1 and up only
  packages/nodes-base/nodes/ExecuteWorkflowTrigger/ExecuteWorkflowTrigger.node.ts
Labels: node/improvement, n8n team

#12004 fix(editor): Fix copy/paste keyboard events in canvas chat
  packages/editor-ui/src/components/CanvasChat/CanvasChat.vue
  packages/editor-ui/src/components/CanvasChat/components/ChatMessagesPanel.vue
Labels: ui, n8n team

#12008 fix(Workflow Trigger Node): Implement Product feedback
  packages/nodes-base/nodes/ExecuteWorkflowTrigger/ExecuteWorkflowTrigger.node.ts
Labels: node/improvement, n8n team

#11989 test: OpenWeatherMap node test
  packages/nodes-base/nodes/OpenWeatherMap/test/OpenWeatherMap.test.ts
  packages/nodes-base/nodes/OpenWeatherMap/test/apiResponses.ts
  packages/nodes-base/nodes/OpenWeatherMap/test/workflow.json
Labels: n8n team

#11959 fix: Remove duplicate error reporting for endpoints (no-changelog)
  packages/cli/package.json
  packages/cli/src/__tests__/error-reporting.test.ts
  packages/cli/src/controllers/ai.controller.ts
  packages/cli/src/controllers/community-packages.controller.ts
  packages/cli/src/controllers/password-reset.controller.ts
  packages/cli/src/controllers/translation.controller.ts
  packages/cli/src/error-reporting.ts
  packages/cli/src/errors/response-errors/abstract/response.error.ts
  packages/cli/src/errors/response-errors/internal-server.error.ts
  packages/cli/src/executions/execution.service.ts
  packages/cli/src/services/user.service.ts
  packages/cli/src/user-management/email/user-management-mailer.ts
  packages/cli/src/webhooks/webhook-helpers.ts
  pnpm-lock.yaml
Labels: core, n8n team

#11043 test(Telegram Node): Add some tests for Telegram (no-changelog)
  packages/nodes-base/nodes/Telegram/TelegramTrigger.node.ts
  packages/nodes-base/nodes/Telegram/tests/GenericFunctions.test.ts
  packages/nodes-base/nodes/Telegram/tests/Helpers.ts
  packages/nodes-base/nodes/Telegram/tests/Workflow/apiResponses.ts
  packages/nodes-base/nodes/Telegram/tests/Workflow/workflow.json
  packages/nodes-base/nodes/Telegram/tests/Workflow/workflow.test.ts
  packages/nodes-base/test/nodes/FakeCredentialsMap.ts
Labels: node/improvement, n8n team

#12018 fix(Telegram Trigger Node): Fix header secret check
  packages/nodes-base/nodes/Telegram/TelegramTrigger.node.ts
Labels: node/improvement, n8n team, tests-needed

#12011 refactor: Standardize MFA code and recovery code naming across code base
  cypress/e2e/27-two-factor-authentication.cy.ts
  cypress/pages/mfa-login.ts
  cypress/pages/settings-personal.ts
  packages/cli/src/controllers/auth.controller.ts
  packages/cli/src/controllers/me.controller.ts
  packages/cli/src/controllers/mfa.controller.ts
  packages/cli/src/controllers/password-reset.controller.ts
  packages/cli/src/mfa/mfa.service.ts
  packages/cli/src/mfa/totp.service.ts
  packages/cli/src/requests.ts
  packages/cli/test/integration/auth.api.test.ts
  packages/cli/test/integration/mfa/mfa.api.test.ts
  packages/editor-ui/src/api/mfa.ts
  packages/editor-ui/src/api/users.ts
  packages/editor-ui/src/components/MfaSetupModal.vue
  packages/editor-ui/src/components/PromptMfaCodeModal/PromptMfaCodeModal.vue
  packages/editor-ui/src/constants.ts
  packages/editor-ui/src/stores/users.store.ts
  packages/editor-ui/src/views/ChangePasswordView.vue
  packages/editor-ui/src/views/MfaView.vue
  packages/editor-ui/src/views/SigninView.test.ts
  packages/editor-ui/src/views/SigninView.vue
Labels: core, ui, n8n team

#12010 ci: Trigger workflow tests on release PRs (no-changelog)
  .github/workflows/test-workflows.yml
Labels: n8n team

#12022 fix(editor): Fix canvas keybindings using splitter keys such as zooming using `+` key
  packages/editor-ui/src/components/canvas/Canvas.vue
  packages/editor-ui/src/composables/useKeybindings.test.ts
  packages/editor-ui/src/composables/useKeybindings.ts
Labels: ui, n8n team

#12024 fix(editor): Use optional chaining for all members in execution data when using the debug feature
  packages/editor-ui/src/composables/useExecutionDebugging.test.ts
  packages/editor-ui/src/composables/useExecutionDebugging.ts
Labels: ui, n8n team

#12019 fix(editor): Fix node showing as successful if errors exists on subsequent runs
  packages/editor-ui/src/composables/useCanvasMapping.test.ts
  packages/editor-ui/src/composables/useCanvasMapping.ts
Labels: ui, n8n team

#12032 fix(core): Use the configured timezone in task runner
  docker/images/n8n/n8n-task-runners.json
  packages/@n8n/task-runner/src/config/base-runner-config.ts
  packages/@n8n/task-runner/src/js-task-runner/__tests__/js-task-runner.test.ts
  packages/@n8n/task-runner/src/start.ts
  packages/cli/src/runners/__tests__/task-runner-process.test.ts
  packages/cli/src/runners/task-runner-process.ts
Labels: core, n8n team, release/backport

#12036 fix(core): Opt-out from optimizations if `$item` is used
  packages/@n8n/task-runner/src/js-task-runner/built-ins-parser/__tests__/built-ins-parser.test.ts
  packages/@n8n/task-runner/src/js-task-runner/built-ins-parser/built-ins-parser.ts
Labels: n8n team

#11929 feat(editor): Persist user's preferred display modes on localStorage
  packages/editor-ui/src/Interface.ts
  packages/editor-ui/src/components/RunData.test.ts
  packages/editor-ui/src/constants.ts
  packages/editor-ui/src/stores/ndv.store.ts
Labels: ui, n8n team

#12020 fix: Load workflows with unconnected Switch outputs
  cypress/composables/workflow.ts
  cypress/e2e/2929-ado-can-load-old-switch-node-workflows.cy.ts
  cypress/fixtures/Switch_node_with_null_connection.json
  packages/cli/src/databases/migrations/common/1675940580449-PurgeInvalidWorkflowConnections.ts
  packages/cli/src/security-audit/risk-reporters/instance-risk-reporter.ts
  packages/core/src/PartialExecutionUtils/DirectedGraph.ts
  packages/core/src/PartialExecutionUtils/__tests__/DirectedGraph.test.ts
  packages/core/src/WorkflowExecute.ts
  packages/editor-ui/package.json
  packages/editor-ui/src/components/CanvasChat/composables/useChatMessaging.ts
  packages/editor-ui/src/components/CodeNodeEditor/completions/jsonField.completions.ts
  packages/editor-ui/src/components/InputNodeSelect.vue
  packages/editor-ui/src/composables/useCanvasMapping.test.ts
  packages/editor-ui/src/composables/useCanvasOperations.test.ts
  packages/editor-ui/src/composables/useCanvasOperations.ts
  packages/editor-ui/src/composables/useWorkflowHelpers.ts
  packages/editor-ui/src/stores/ndv.store.ts
  packages/editor-ui/src/stores/workflows.store.ts
  packages/editor-ui/src/utils/nodeSettingsUtils.test.ts
  packages/editor-ui/src/utils/nodeSettingsUtils.ts
  packages/editor-ui/src/views/NodeView.vue
  packages/workflow/src/Interfaces.ts
  packages/workflow/src/Workflow.ts
  packages/workflow/test/TelemetryHelpers.test.ts
Labels: core, ui, n8n team

#11952 fix: Chat triggers don't work with the new partial execution flow
  packages/cli/src/__tests__/workflow-runner.test.ts
  packages/cli/src/webhooks/__tests__/test-webhooks.test.ts
  packages/cli/src/webhooks/test-webhooks.ts
  packages/cli/src/workflow-runner.ts
  packages/cli/src/workflows/workflow-execution.service.ts
  packages/cli/src/workflows/workflow.request.ts
  packages/core/src/index.ts
  packages/editor-ui/src/Interface.ts
  packages/editor-ui/src/composables/useRunWorkflow.test.ts
  packages/editor-ui/src/composables/useRunWorkflow.ts
  packages/workflow/src/Interfaces.ts
Labels: core, ui, n8n team

#12014 fix: Allow disabling MFA with recovery codes
  cypress/e2e/27-two-factor-authentication.cy.ts
  packages/cli/src/controllers/mfa.controller.ts
  packages/cli/src/errors/response-errors/invalid-mfa-recovery-code-error.ts
  packages/cli/src/mfa/mfa.service.ts
  packages/cli/src/requests.ts
  packages/cli/test/integration/mfa/mfa.api.test.ts
  packages/editor-ui/src/api/mfa.ts
  packages/editor-ui/src/components/PromptMfaCodeModal/PromptMfaCodeModal.vue
  packages/editor-ui/src/event-bus/mfa.ts
  packages/editor-ui/src/plugins/i18n/locales/en.json
  packages/editor-ui/src/stores/users.store.ts
  packages/editor-ui/src/views/SettingsPersonalView.vue
Labels: core, ui, n8n team

#12048 fix(editor): Load node types in demo and preview modes
  packages/editor-ui/src/views/NodeView.v2.vue
Labels: ui, n8n team, release/backport

#12045 chore(editor): Update frontend dev tooling (no-changelog)
  package.json
  packages/@n8n/chat/package.json
  packages/@n8n/storybook/package.json
  packages/design-system/package.json
  packages/editor-ui/package.json
  packages/editor-ui/src/router.ts
  patches/vue-tsc@2.1.10.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: ui, n8n team

#12050 fix(editor): Fix switching from v2 to v1
  packages/editor-ui/src/composables/useNodeViewVersionSwitcher.ts
Labels: ui, n8n team, release/backport

#12049 feat: Enable canvas v2 only if beta feature enabled (no-changelog)
  packages/@n8n/config/src/configs/frontend.config.ts
  packages/editor-ui/src/components/MainHeader/WorkflowDetails.vue
  packages/editor-ui/src/composables/useNodeViewVersionSwitcher.test.ts
  packages/editor-ui/src/composables/useNodeViewVersionSwitcher.ts
Labels: ui, n8n team, release/backport

#12053 fix(editor): Redirect Settings to the proper sub page depending on the instance type (cloud or not)
  packages/editor-ui/src/router.test.ts
  packages/editor-ui/src/router.ts
  packages/editor-ui/src/views/SettingsView.test.ts
Labels: ui, n8n team

#12052 fix(editor): Polyfill crypto.randomUUID
  packages/editor-ui/src/App.vue
  packages/editor-ui/src/utils/apiUtils.ts
Labels: ui, n8n team, release/backport

#12040 refactor: Unify task runner env vars
  docker/images/n8n/n8n-task-runners.json
  packages/@n8n/config/src/configs/runners.config.ts
  packages/@n8n/task-runner/src/config/base-runner-config.ts
  packages/@n8n/task-runner/src/js-task-runner/__tests__/js-task-runner.test.ts
  packages/@n8n/task-runner/src/js-task-runner/__tests__/task-runner.test.ts
  packages/@n8n/task-runner/src/task-runner.ts
  packages/cli/src/runners/task-runner-process.ts
Labels: core, n8n team

#12063 fix(editor): Don't reset all Parameter Inputs when switched to read-only
  packages/editor-ui/src/components/ParameterInputFull.vue
Labels: ui, n8n team

#12062 fix(editor): Fix Nodeview.v2 reinitialise based on route changes
  packages/editor-ui/src/views/NodeView.v2.vue
Labels: ui, n8n team

#11974 fix(editor): Universal button snags
  packages/design-system/src/components/N8nNavigationDropdown/NavigationDropdown.test.ts
  packages/design-system/src/components/N8nNavigationDropdown/NavigationDropdown.vue
  packages/design-system/src/css/_tokens.dark.scss
  packages/design-system/src/css/_tokens.scss
  packages/editor-ui/src/components/MainSidebar.vue
  packages/editor-ui/src/components/Projects/ProjectHeader.test.ts
  packages/editor-ui/src/components/Projects/ProjectHeader.vue
  packages/editor-ui/src/composables/useGlobalEntityCreation.test.ts
  packages/editor-ui/src/composables/useGlobalEntityCreation.ts
  packages/editor-ui/src/plugins/i18n/locales/en.json
  packages/editor-ui/src/views/CredentialsView.test.ts
Labels: ui, n8n team

#11887 Ado-2898-execute-workflow-node-add-workflow-inputs-parameter
  packages/cli/src/controllers/dynamic-node-parameters.controller.ts
  packages/cli/src/services/dynamic-node-parameters.service.ts
  packages/cli/src/services/workflow-loader.service.ts
  packages/core/src/node-execution-context/index.ts
  packages/core/src/node-execution-context/local-load-options-context.ts
  packages/core/src/node-execution-context/workflow-node-context.ts
  packages/editor-ui/src/api/nodeTypes.ts
  packages/editor-ui/src/components/ResourceMapper/ResourceMapper.vue
  packages/editor-ui/src/stores/nodeTypes.store.ts
  packages/nodes-base/nodes/ExecuteWorkflow/ExecuteWorkflow/ExecuteWorkflow.node.json
  packages/nodes-base/nodes/ExecuteWorkflow/ExecuteWorkflow/ExecuteWorkflow.node.ts
  packages/nodes-base/nodes/ExecuteWorkflow/ExecuteWorkflow/GenericFunctions.ts
  packages/nodes-base/nodes/ExecuteWorkflow/ExecuteWorkflow/methods/resourceMapping.ts
  packages/nodes-base/nodes/ExecuteWorkflow/ExecuteWorkflowTrigger/ExecuteWorkflowTrigger.node.json
  packages/nodes-base/nodes/ExecuteWorkflow/ExecuteWorkflowTrigger/ExecuteWorkflowTrigger.node.ts
  packages/nodes-base/nodes/ExecuteWorkflow/ExecuteWorkflowTrigger/test/ExecuteWorkflowTrigger.node.test.ts
  packages/nodes-base/nodes/ExecuteWorkflow/GenericFunctions.ts
  packages/nodes-base/nodes/ExecuteWorkflow/constants.ts
  packages/nodes-base/nodes/ExecuteWorkflowTrigger/ExecuteWorkflowTrigger.node.ts
  packages/nodes-base/package.json
  packages/workflow/src/Interfaces.ts
Labels: feature, node/improvement, core, n8n team

#11985 feat(core): Parent workflows should wait for sub-workflows to finish
  packages/cli/src/__tests__/wait-tracker.test.ts
  packages/cli/src/__tests__/workflow-execute-additional-data.test.ts
  packages/cli/src/wait-tracker.ts
  packages/cli/src/webhooks/webhook-helpers.ts
  packages/cli/src/workflow-execute-additional-data.ts
  packages/core/src/node-execution-context/__tests__/shared-tests.ts
  packages/core/src/node-execution-context/base-execute-context.ts
  packages/core/src/node-execution-context/execute-context.ts
  packages/editor-ui/src/components/Node.vue
  packages/editor-ui/src/components/executions/global/GlobalExecutionsListItem.vue
  packages/editor-ui/src/composables/useCanvasMapping.ts
  packages/editor-ui/src/constants.ts
  packages/nodes-base/nodes/Form/Form.node.ts
  packages/nodes-base/nodes/Google/Gmail/v2/GmailV2.node.ts
  packages/nodes-base/nodes/Slack/V2/SlackV2.node.ts
  packages/nodes-base/nodes/Wait/Wait.node.ts
  packages/workflow/src/Constants.ts
  packages/workflow/src/Interfaces.ts
Labels: core, n8n team

#12031 fix(editor): Improvements to the commit modal
  packages/editor-ui/src/Interface.ts
  packages/editor-ui/src/__tests__/server/endpoints/sourceControl.ts
  packages/editor-ui/src/api/sourceControl.ts
  packages/editor-ui/src/components/MainSidebarSourceControl.vue
  packages/editor-ui/src/components/SourceControlPullModal.ee.vue
  packages/editor-ui/src/components/SourceControlPushModal.ee.test.ts
  packages/editor-ui/src/components/SourceControlPushModal.ee.vue
  packages/editor-ui/src/stores/sourceControl.store.ts
  packages/editor-ui/src/types/sourceControl.types.ts
  packages/editor-ui/src/views/SettingsSourceControl.vue
Labels: ui, n8n team

#12070 refactor: Refactor axios invocation code, and add tests (no-changelog)
  packages/core/src/NodeExecuteFunctions.ts
  packages/core/test/NodeExecuteFunctions.test.ts
Labels: core, n8n team

#12042 fix(OpenAI Node): Allow updating assistant files
  packages/@n8n/nodes-langchain/nodes/vendors/OpenAi/actions/assistant/update.operation.ts
  packages/@n8n/nodes-langchain/nodes/vendors/OpenAi/test/OpenAi.node.test.ts
Labels: n8n team

#12043 feat(editor): Implementing the `Easy AI Workflow` experiment
  cypress/e2e/45-workflow-selector-parameter.cy.ts
  packages/@n8n/api-types/src/dto/user/settings-update-request.dto.ts
  packages/@n8n/api-types/src/frontend-settings.ts
  packages/cli/src/config/types.ts
  packages/cli/src/services/frontend.service.ts
  packages/editor-ui/src/Interface.ts
  packages/editor-ui/src/__tests__/defaults.ts
  packages/editor-ui/src/components/PersonalizationModal.vue
  packages/editor-ui/src/components/WorkflowSelectorParameterInput/WorkflowSelectorParameterInput.vue
  packages/editor-ui/src/components/banners/BaseBanner.vue
  packages/editor-ui/src/composables/usePushConnection.ts
  packages/editor-ui/src/composables/useWorkflowHelpers.ts
  packages/editor-ui/src/constants.ts
  packages/editor-ui/src/constants.workflows.ts
  packages/editor-ui/src/plugins/i18n/locales/en.json
  packages/editor-ui/src/stores/users.store.ts
  packages/editor-ui/src/stores/workflows.store.ts
  packages/editor-ui/src/views/SetupView.vue
  packages/editor-ui/src/views/WorkflowOnboardingView.vue
  packages/editor-ui/src/views/WorkflowsView.test.ts
  packages/editor-ui/src/views/WorkflowsView.vue
  packages/workflow/src/Interfaces.ts
Labels: core, ui, n8n team

#12079 fix(editor): Fix svg background pattern rendering on safari
  packages/editor-ui/src/components/canvas/Canvas.test.ts
  packages/editor-ui/src/components/canvas/Canvas.vue
  packages/editor-ui/src/components/canvas/elements/CanvasBackgroundStripedPattern.vue
Labels: ui, n8n team

#12077 fix(core): Return homeProject when filtering workflows by project id
  packages/cli/src/databases/repositories/shared-workflow.repository.ts
  packages/cli/src/databases/repositories/workflow.repository.ts
  packages/cli/src/workflows/workflow.service.ts
  packages/cli/test/integration/workflows/workflows.controller.test.ts
Labels: core, n8n team

#11978 fix(core): Execute nodes after loops correctly with the new partial execution flow
  packages/core/src/PartialExecutionUtils/__tests__/findStartNodes.test.ts
  packages/core/src/PartialExecutionUtils/__tests__/helpers.ts
  packages/core/src/PartialExecutionUtils/findStartNodes.ts
  packages/core/src/PartialExecutionUtils/getIncomingData.ts
  packages/core/src/WorkflowExecute.ts
  packages/core/test/WorkflowExecute.test.ts
  packages/core/test/helpers/constants.ts
Labels: core, n8n team

#12078 chore(core): Stop reporting `TypeError` and `AttributeError` from Python sandbox to Sentry
  packages/nodes-base/nodes/Code/PythonSandbox.ts
Labels: node/improvement, n8n team

#11965 feat(AI Transform Node): Reduce payload size
  packages/editor-ui/src/components/ButtonParameter/utils.test.ts
  packages/editor-ui/src/components/ButtonParameter/utils.ts
Labels: node/improvement, n8n team

#12076 feat(Sub-Workflow Inputs): Add e2e tests for Sub-Workflow Input
  cypress/e2e/48-subworkflow-inputs.cy.ts
  cypress/fixtures/Test_Subworkflow-Inputs.json
  packages/editor-ui/src/components/ParameterInput.vue
Labels: ui, n8n team

#12001 chore: Add mockedNodes property to TestDefinition (no-changelog)
  packages/cli/src/databases/entities/test-definition.ee.ts
  packages/cli/src/databases/migrations/common/1733133775640-AddMockedNodesColumnToTestDefinition.ts
  packages/cli/src/databases/migrations/mysqldb/index.ts
  packages/cli/src/databases/migrations/postgresdb/index.ts
  packages/cli/src/databases/migrations/sqlite/index.ts
  packages/cli/src/evaluation/test-definition.schema.ts
  packages/cli/src/evaluation/test-definition.service.ee.ts
  packages/cli/src/evaluation/test-definitions.types.ee.ts
  packages/cli/src/evaluation/test-runner/__tests__/get-start-node.ee.test.ts
  packages/cli/src/evaluation/test-runner/test-runner.service.ee.ts
  packages/cli/src/evaluation/test-runner/utils.ee.ts
  packages/cli/test/integration/evaluation/test-definitions.api.test.ts
Labels: core, n8n team

#12003 feat(core): Detect restart loop in a task runner process (no-changelog)
  packages/cli/src/runners/__tests__/task-runner-process-restart-loop-detector.test.ts
  packages/cli/src/runners/errors/task-runner-restart-loop-error.ts
  packages/cli/src/runners/task-runner-module.ts
  packages/cli/src/runners/task-runner-process-restart-loop-detector.ts
  packages/cli/test/integration/runners/task-runner-module.external.test.ts
  packages/cli/test/integration/runners/task-runner-process.test.ts
Labels: core, n8n team

#12099 fix(core): Remove run data of nodes unrelated to the current partial execution
  packages/core/src/PartialExecutionUtils/DirectedGraph.ts
  packages/core/src/PartialExecutionUtils/__tests__/DirectedGraph.test.ts
  packages/core/src/PartialExecutionUtils/__tests__/cleanRunData.test.ts
  packages/core/src/PartialExecutionUtils/cleanRunData.ts
  packages/core/src/WorkflowExecute.ts
  packages/core/test/WorkflowExecute.test.ts
Labels: core, n8n team

#12103 chore: Upgrade launcher to 1.0.0
  docker/images/n8n-custom/Dockerfile
  docker/images/n8n/Dockerfile
Labels: n8n team

#11976 fix(editor): Add length check for selecting added nodes (no-changelog)
  packages/editor-ui/src/views/NodeView.v2.vue
Labels: ui, n8n team

#12084 feat(editor): Add map option to preserve field order
  packages/editor-ui/src/components/ResourceMapper.test.ts
  packages/editor-ui/src/components/ResourceMapper/ResourceMapper.vue
  packages/nodes-base/nodes/ExecuteWorkflow/ExecuteWorkflow/ExecuteWorkflow.node.ts
  packages/nodes-base/nodes/ExecuteWorkflow/ExecuteWorkflow/methods/resourceMapping.ts
  packages/workflow/src/Interfaces.ts
Labels: node/improvement, core, ui, n8n team

#12023 fix(editor): Add optional chaining to `pruning.isEnabled` (no-changelog)
  packages/@n8n/api-types/src/frontend-settings.ts
  packages/editor-ui/src/composables/useDebugInfo.ts
  packages/editor-ui/tsconfig.json
Labels: ui, n8n team

#12107 feat(editor): Implement explicit passthrough mode
  packages/nodes-base/nodes/ExecuteWorkflow/ExecuteWorkflow/ExecuteWorkflow.node.ts
  packages/nodes-base/nodes/ExecuteWorkflow/ExecuteWorkflowTrigger/ExecuteWorkflowTrigger.node.ts
  packages/nodes-base/nodes/ExecuteWorkflow/GenericFunctions.ts
  packages/nodes-base/nodes/ExecuteWorkflow/constants.ts
Labels: node/improvement, n8n team

#12068 fix(editor): Update concurrency UI considering different types of instances
  packages/editor-ui/src/components/executions/ConcurrentExecutionsHeader.test.ts
  packages/editor-ui/src/components/executions/ConcurrentExecutionsHeader.vue
  packages/editor-ui/src/components/executions/global/GlobalExecutionsList.vue
  packages/editor-ui/src/components/executions/global/GlobalExecutionsListItem.test.ts
  packages/editor-ui/src/components/executions/global/GlobalExecutionsListItem.vue
  packages/editor-ui/src/components/executions/global/GlobalExecutionsListItemQueuedTooltip.test.ts
  packages/editor-ui/src/components/executions/global/GlobalExecutionsListItemQueuedTooltip.vue
  packages/editor-ui/src/components/executions/workflow/WorkflowExecutionsSidebar.vue
  packages/editor-ui/src/plugins/i18n/locales/en.json
Labels: ui, n8n team

#12108 feat: Add `test:e2e:dev:v2` cypress package command (no-changelog)
  cypress/package.json
  cypress/scripts/run-e2e.js
Labels: n8n team

#12064 build(editor): Improve browser support for the n8n editor
  packages/editor-ui/.browserslistrc
  packages/editor-ui/package.json
  packages/editor-ui/vite.config.mts
  pnpm-lock.yaml
Labels: ui, n8n team

#12123 fix(core): Make sure task runner exits
  packages/@n8n/task-runner/src/start.ts
Labels: n8n team, release/backport

#12111 feat(executeWorkflowTrigger): add substitution for workflow input values
  packages/nodes-base/nodes/ExecuteWorkflow/ExecuteWorkflow/ExecuteWorkflow.node.test.ts
  packages/nodes-base/nodes/ExecuteWorkflow/ExecuteWorkflow/ExecuteWorkflow.node.ts
  packages/nodes-base/nodes/ExecuteWorkflow/ExecuteWorkflowTrigger/ExecuteWorkflowTrigger.node.test.ts
  packages/nodes-base/nodes/ExecuteWorkflow/ExecuteWorkflowTrigger/test/ExecuteWorkflowTrigger.node.test.ts
Labels: node/improvement, core, n8n team

#12101 feat(core): Cancel runner task on timeout in external mode
  docker/images/n8n/n8n-task-runners.json
  packages/@n8n/config/src/configs/runners.config.ts
  packages/@n8n/task-runner/src/config/base-runner-config.ts
  packages/@n8n/task-runner/src/js-task-runner/__tests__/js-task-runner.test.ts
  packages/@n8n/task-runner/src/js-task-runner/__tests__/task-runner.test.ts
  packages/@n8n/task-runner/src/js-task-runner/errors/task-cancelled-error.ts
  packages/@n8n/task-runner/src/js-task-runner/errors/timeout-error.ts
  packages/@n8n/task-runner/src/js-task-runner/js-task-runner.ts
  packages/@n8n/task-runner/src/task-runner.ts
  packages/cli/src/runners/__tests__/task-broker.test.ts
  packages/cli/src/runners/errors/task-runner-timeout.error.ts
  packages/cli/src/runners/task-broker.service.ts
Labels: core, n8n team, release/backport

#12127 test: Allow runner tests to exit cleanly
  packages/@n8n/task-runner/src/js-task-runner/__tests__/task-runner.test.ts
Labels: n8n team

#12104 fix(editor): Fix canvas panning using `Control` + `Left Mouse Button` on Windows
  packages/editor-ui/package.json
  packages/editor-ui/src/components/canvas/Canvas.vue
  pnpm-lock.yaml
Labels: ui, n8n team

#12061 chore(core): Upgrade backend @sentry packages to 8.42.0
  packages/@n8n/task-runner/package.json
  packages/@n8n/task-runner/src/error-reporter.ts
  packages/cli/package.json
  packages/cli/src/__tests__/error-reporting.test.ts
  packages/cli/src/abstract-server.ts
  packages/cli/src/error-reporting.ts
  packages/cli/src/eventbus/message-event-bus-destination/message-event-bus-destination-sentry.ee.ts
  packages/cli/src/runners/task-runner-server.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: core, n8n team

#12110 fix(editor): Prepare e2e suite for inline-expression-editor for new canvas (no-changelog)
  cypress/e2e/11-inline-expression-editor.cy.ts
  cypress/e2e/13-pinning.cy.ts
  cypress/pages/workflow.ts
  cypress/types.ts
Labels: n8n team

#11329 fix(core): Fix supportedNodes for non-lazy loaded community packages (no-changelog)
  packages/@n8n/nodes-langchain/package.json
  packages/cli/src/__tests__/credential-types.test.ts
  packages/cli/src/__tests__/credentials-helper.test.ts
  packages/cli/src/__tests__/node-types.test.ts
  packages/cli/src/credential-types.ts
  packages/cli/src/databases/repositories/installed-packages.repository.ts
  packages/cli/src/load-nodes-and-credentials.ts
  packages/cli/src/node-types.ts
  packages/cli/test/integration/active-workflow-manager.test.ts
  packages/cli/test/integration/public-api/workflows.test.ts
  packages/cli/test/integration/shared/utils/community-nodes.ts
  packages/cli/test/integration/shared/utils/index.ts
  packages/core/bin/generate-known
  packages/core/bin/generate-metadata
  packages/core/package.json
  packages/core/src/DirectoryLoader.ts
  packages/core/src/errors/index.ts
  packages/core/src/errors/unrecognized-credential-type.error.ts
  packages/core/src/errors/unrecognized-node-type.error.ts
  packages/core/src/index.ts
  packages/core/test/ClassLoader.test.ts
  packages/core/test/DirectoryLoader.test.ts
  packages/core/test/helpers/index.ts
  packages/nodes-base/package.json
  packages/nodes-base/scripts/validate-load-options-methods.js
  packages/nodes-base/test/nodes/Helpers.ts
  packages/workflow/src/Interfaces.ts
  packages/workflow/src/NodeHelpers.ts
Labels: node/improvement, core, n8n team, tests-needed

#12132 fix(core): Adapt manual executions in workers to new partial executions flow
  packages/cli/src/scaling/__tests__/job-processor.service.test.ts
  packages/cli/src/scaling/job-processor.ts
  packages/cli/src/workflow-runner.ts
  packages/cli/src/workflows/workflow-execution.service.ts
  packages/workflow/src/Interfaces.ts
Labels: core, n8n team

#12126 feat(core): Implement fixed collection field count validation
  cypress/e2e/48-subworkflow-inputs.cy.ts
  cypress/pages/ndv.ts
  packages/core/src/WorkflowExecute.ts
  packages/editor-ui/src/constants.workflows.ts
  packages/nodes-base/nodes/ExecuteWorkflow/ExecuteWorkflowTrigger/ExecuteWorkflowTrigger.node.ts
  packages/workflow/src/Interfaces.ts
  packages/workflow/src/NodeHelpers.ts
  packages/workflow/test/NodeHelpers.test.ts
Labels: node/improvement, core, ui, n8n team

#9340 fix(FTP Node): Fix issue with creating folders on rename
  packages/nodes-base/nodes/Ftp/Ftp.node.ts
Labels: node/improvement, n8n team, tests-needed

#12135 refactor(core): Encapsulate manual execution flow in `WorkflowRunner`
  packages/cli/src/workflow-runner.ts
Labels: core, n8n team

#11714 feat(Redis Node): Add support for continue on fail / error output branch
  packages/nodes-base/nodes/Redis/Redis.node.ts
Labels: node/improvement, n8n team

#12139 fix(editor): Render sanitized HTML content in toast messages
  packages/editor-ui/src/components/NpsSurvey.vue
  packages/editor-ui/src/components/ParameterInputFull.vue
  packages/editor-ui/src/composables/useExecutionDebugging.ts
  packages/editor-ui/src/composables/usePushConnection.test.ts
  packages/editor-ui/src/composables/usePushConnection.ts
  packages/editor-ui/src/composables/useToast.test.ts
  packages/editor-ui/src/composables/useToast.ts
  packages/editor-ui/src/composables/useWorkflowHelpers.ts
  packages/editor-ui/src/stores/settings.store.ts
  packages/editor-ui/src/utils/htmlUtils.ts
  packages/editor-ui/src/views/NodeView.v2.vue
  packages/editor-ui/src/views/NodeView.vue
Labels: ui, n8n team

#12142 feat(editor): Add telemetry for sub-workflow inputs
  packages/editor-ui/src/composables/usePushConnection.ts
  packages/editor-ui/src/stores/workflows.store.ts
Labels: ui, n8n team

#12136 test: Update `20-workflow-executions` e2e tests for new canvas
  cypress/pages/workflow-executions-tab.ts
  cypress/pages/workflow.ts
  packages/editor-ui/src/views/NodeView.v2.vue
Labels: ui, n8n team

#12138 refactor(core): Refactor execution contexts to reduce code duplication, and improve type-safety (no-changelog)
  packages/@n8n/nodes-langchain/nodes/agents/Agent/agents/ToolsAgent/execute.ts
  packages/cli/src/workflow-execute-additional-data.ts
  packages/core/src/Agent/index.ts
  packages/core/src/NodeExecuteFunctions.ts
  packages/core/src/WorkflowExecute.ts
  packages/core/src/node-execution-context/__tests__/execute-context.test.ts
  packages/core/src/node-execution-context/__tests__/execute-single-context.test.ts
  packages/core/src/node-execution-context/__tests__/supply-data-context.test.ts
  packages/core/src/node-execution-context/base-execute-context.ts
  packages/core/src/node-execution-context/execute-context.ts
  packages/core/src/node-execution-context/execute-single-context.ts
  packages/core/src/node-execution-context/supply-data-context.ts
  packages/core/src/node-execution-context/webhook-context.ts
  packages/workflow/src/Interfaces.ts
  packages/workflow/src/Workflow.ts
Labels: core, n8n team

#11869 fix(n8n Form Node): Completion page display if EXECUTIONS_DATA_SAVE_ON_SUCCESS=none
  packages/cli/templates/form-trigger-completion.handlebars
  packages/core/src/node-execution-context/__tests__/node-execution-context.test.ts
  packages/core/src/node-execution-context/node-execution-context.ts
  packages/nodes-base/nodes/Form/Form.node.ts
  packages/nodes-base/nodes/Form/test/Form.node.test.ts
  packages/nodes-base/nodes/Form/test/FormTriggerV2.node.test.ts
  packages/workflow/src/Interfaces.ts
Labels: n8n team, node/issue

#12141 fix(core): Add support for multiple invocation of AI tools
  packages/core/src/CreateNodeAsTool.ts
  packages/core/src/NodeExecuteFunctions.ts
  packages/core/src/node-execution-context/__tests__/supply-data-context.test.ts
  packages/core/src/node-execution-context/base-execute-context.ts
  packages/core/src/node-execution-context/supply-data-context.ts
  packages/core/test/CreateNodeAsTool.test.ts
  packages/workflow/src/WorkflowDataProxy.ts
  packages/workflow/test/WorkflowDataProxy.test.ts
  packages/workflow/test/fixtures/WorkflowDataProxy/from_ai_multiple_items_run.json
  packages/workflow/test/fixtures/WorkflowDataProxy/from_ai_multiple_items_workflow.json
Labels: core, n8n team

#11279 chore: Convert ErrorReporting to a Service to use DI. Add some tests (no-changelog)
  packages/cli/src/__tests__/error-reporting.test.ts
  packages/cli/src/__tests__/load-nodes-and-credentials.test.ts
  packages/cli/src/active-workflow-manager.ts
  packages/cli/src/collaboration/collaboration.service.ts
  packages/cli/src/commands/base-command.ts
  packages/cli/src/commands/execute-batch.ts
  packages/cli/src/databases/repositories/execution.repository.ts
  packages/cli/src/databases/repositories/settings.repository.ts
  packages/cli/src/databases/subscribers/user-subscriber.ts
  packages/cli/src/db.ts
  packages/cli/src/decorators/__tests__/on-shutdown.test.ts
  packages/cli/src/environments/source-control/source-control-import.service.ee.ts
  packages/cli/src/error-reporting.ts
  packages/cli/src/execution-lifecycle-hooks/__tests__/save-execution-progress.test.ts
  packages/cli/src/execution-lifecycle-hooks/save-execution-progress.ts
  packages/cli/src/expression-evaluator.ts
  packages/cli/src/load-nodes-and-credentials.ts
  packages/cli/src/push/abstract.push.ts
  packages/cli/src/push/websocket.push.ts
  packages/cli/src/response-helper.ts
  packages/cli/src/runners/task-runner-module.ts
  packages/cli/src/scaling/__tests__/job-processor.service.test.ts
  packages/cli/src/scaling/__tests__/scaling.service.test.ts
  packages/cli/src/scaling/job-processor.ts
  packages/cli/src/scaling/scaling.service.ts
  packages/cli/src/services/__tests__/credentials-tester.service.test.ts
  packages/cli/src/services/credentials-tester.service.ts
  packages/cli/src/shutdown/__tests__/shutdown.service.test.ts
  packages/cli/src/shutdown/shutdown.service.ts
  packages/cli/src/user-management/email/node-mailer.ts
  packages/cli/src/webhooks/webhook-helpers.ts
  packages/cli/src/workflow-execute-additional-data.ts
  packages/cli/src/workflow-runner.ts
  packages/cli/src/workflows/__tests__/workflow-execution.service.test.ts
  packages/cli/src/workflows/workflow-execution.service.ts
  packages/cli/src/workflows/workflow-static-data.service.ts
  packages/cli/test/integration/active-workflow-manager.test.ts
  packages/cli/test/integration/environments/source-control-import.service.test.ts
  packages/cli/test/integration/runners/task-runner-module.external.test.ts
  packages/core/package.json
  packages/core/src/ActiveWorkflows.ts
  packages/core/src/WorkflowExecute.ts
  packages/core/src/error-reporter.ts
  packages/core/src/index.ts
  packages/core/test/error-reporter.test.ts
  packages/workflow/src/ErrorReporterProxy.ts
  packages/workflow/src/errors/index.ts
  packages/workflow/src/index.ts
  pnpm-lock.yaml
Labels: core, n8n team

#12151 test(editor): Update `28-debug` e2e tests for new canvas (no-changelog)
  cypress/e2e/28-debug.cy.ts
Labels: n8n team

#12156 refactor(core): Introduce `ManualExecutionService`
  packages/cli/src/__tests__/manual-execution.service.test.ts
  packages/cli/src/manual-execution.service.ts
  packages/cli/src/workflow-helpers.ts
  packages/cli/src/workflow-runner.ts
Labels: core, n8n team

#12167 fix(core): Ensure runners do not throw on unsupported console methods
  packages/@n8n/task-runner/src/js-task-runner/__tests__/js-task-runner.test.ts
  packages/@n8n/task-runner/src/js-task-runner/js-task-runner.ts
Labels: n8n team

#12169 fix(core): Fix race condition in AI tool invocation with multiple items from the parent
  packages/core/src/CreateNodeAsTool.ts
Labels: release/backport

#12153 fix(core): Fix `$getWorkflowStaticData` on task runners
  packages/@n8n/task-runner/src/js-task-runner/__tests__/js-task-runner.test.ts
  packages/@n8n/task-runner/src/js-task-runner/js-task-runner.ts
  packages/@n8n/task-runner/src/runner-types.ts
  packages/cli/src/runners/task-managers/task-manager.ts
  packages/workflow/src/Workflow.ts
Labels: core, n8n team, release/backport

#12173 chore(editor): Fix editor development environment (no-changelog)
  packages/workflow/src/errors/index.ts
Labels: core, n8n team

#12154 fix(editor): Reduce cases for Auto-Add of ChatTrigger for AI Agents
  packages/editor-ui/src/components/Node/NodeCreator/composables/useActions.ts
  packages/editor-ui/src/components/Node/NodeCreator/useActions.test.ts
Labels: ui, n8n team

#12165 refactor(core): Enrich `relay-execution-lifecycle-event` logs
  packages/cli/src/push/abstract.push.ts
  packages/cli/src/scaling/pubsub/publisher.service.ts
  packages/cli/src/scaling/pubsub/pubsub.types.ts
  packages/cli/src/scaling/pubsub/subscriber.service.ts
Labels: core, n8n team

#12176 fix(n8n Form Node): Popup does not work in some browsers (no-changelog)
  packages/editor-ui/src/composables/usePushConnection.ts
  packages/editor-ui/src/stores/workflows.store.ts
  packages/editor-ui/src/utils/executionUtils.ts
Labels: n8n team, node/issue, release/backport, tests-needed

#12147 refactor(core): Move execution engine code out of n8n-workflow (no-changelog)
  packages/@n8n/nodes-langchain/nodes/trigger/ChatTrigger/ChatTrigger.node.ts
  packages/cli/src/__tests__/active-workflow-manager.test.ts
  packages/cli/src/__tests__/load-nodes-and-credentials.test.ts
  packages/cli/src/__tests__/node-types.test.ts
  packages/cli/src/active-workflow-manager.ts
  packages/cli/src/load-nodes-and-credentials.ts
  packages/cli/src/node-types.ts
  packages/cli/src/services/credentials-tester.service.ts
  packages/cli/src/services/dynamic-node-parameters.service.ts
  packages/cli/src/webhooks/__tests__/test-webhooks.test.ts
  packages/cli/src/webhooks/__tests__/waiting-forms.test.ts
  packages/cli/src/webhooks/__tests__/waiting-webhooks.test.ts
  packages/cli/src/webhooks/__tests__/webhook.service.test.ts
  packages/cli/src/webhooks/live-webhooks.ts
  packages/cli/src/webhooks/test-webhooks.ts
  packages/cli/src/webhooks/waiting-webhooks.ts
  packages/cli/src/webhooks/webhook-helpers.ts
  packages/cli/src/webhooks/webhook.service.ts
  packages/cli/test/integration/active-workflow-manager.test.ts
  packages/core/src/ActiveWorkflows.ts
  packages/core/src/Constants.ts
  packages/core/src/DirectoryLoader.ts
  packages/core/src/NodeExecuteFunctions.ts
  packages/core/src/RoutingNode.ts
  packages/core/src/TriggersAndPollers.ts
  packages/core/src/WorkflowExecute.ts
  packages/core/src/index.ts
  packages/core/test/NodeExecuteFunctions.test.ts
  packages/core/test/RoutingNode.test.ts
  packages/core/test/TriggersAndPollers.test.ts
  packages/core/test/WorkflowExecute.test.ts
  packages/core/test/helpers/constants.ts
  packages/core/test/helpers/index.ts
  packages/editor-ui/src/components/NodeSettings.vue
  packages/editor-ui/src/composables/useNodeHelpers.test.ts
  packages/editor-ui/src/composables/useNodeHelpers.ts
  packages/workflow/src/Constants.ts
  packages/workflow/src/Interfaces.ts
  packages/workflow/src/NodeHelpers.ts
  packages/workflow/src/Workflow.ts
  packages/workflow/src/index.ts
  packages/workflow/test/Helpers.ts
  packages/workflow/test/NodeHelpers.test.ts
  packages/workflow/test/Workflow.test.ts
Labels: core, n8n team

#12155 feat(AI Agent Node): Update descriptions and titles for Chat Trigger options in AI Agents and Memory
  packages/@n8n/nodes-langchain/nodes/memory/descriptions.ts
  packages/@n8n/nodes-langchain/utils/descriptions.ts
  packages/@n8n/nodes-langchain/utils/helpers.ts
Labels: n8n team

#12180 perf(editor): SchemaView performance improvement by ≈90% 🚀
  cypress/e2e/14-mapping.cy.ts
  cypress/e2e/5-ndv.cy.ts
  cypress/pages/ndv.ts
  packages/@n8n/api-types/src/frontend-settings.ts
  packages/cli/src/config/schema.ts
  packages/cli/src/services/frontend.service.ts
  packages/editor-ui/src/__tests__/defaults.ts
  packages/editor-ui/src/components/ExpressionEditModal.vue
  packages/editor-ui/src/components/RunData.vue
  packages/editor-ui/src/components/RunDataSchema.test.ts
  packages/editor-ui/src/components/RunDataSchema.vue
  packages/editor-ui/src/components/RunDataSchemaItem.vue
  packages/editor-ui/src/components/VirtualSchema.test.ts
  packages/editor-ui/src/components/__snapshots__/RunDataSchema.test.ts.snap
  packages/editor-ui/src/components/__snapshots__/VirtualSchema.test.ts.snap
Labels: core, ui, n8n team

#12188 docs: Updating the README
  README.md
  assets/n8n-screenshot-readme.png
Labels: n8n team

#12196 fix(Notion Node): Tests (no-changelog)
  packages/nodes-base/nodes/Notion/test/node/v2/block/append.test.ts
  packages/nodes-base/nodes/Notion/test/node/v2/block/append.workflow.json
  packages/nodes-base/nodes/Notion/test/node/v2/block/getAll.test.ts
  packages/nodes-base/nodes/Notion/test/node/v2/block/getAll.workflow.json
  packages/nodes-base/nodes/Notion/test/node/v2/database/get.test.ts
  packages/nodes-base/nodes/Notion/test/node/v2/database/get.workflow.json
  packages/nodes-base/nodes/Notion/test/node/v2/database/getAll.test.ts
  packages/nodes-base/nodes/Notion/test/node/v2/database/getAll.workflow.json
  packages/nodes-base/nodes/Notion/test/node/v2/database/search.test.ts
  packages/nodes-base/nodes/Notion/test/node/v2/database/search.workflow.json
  packages/nodes-base/nodes/Notion/test/node/v2/databasePage/create.test.ts
  packages/nodes-base/nodes/Notion/test/node/v2/databasePage/create.workflow.json
  packages/nodes-base/nodes/Notion/test/node/v2/databasePage/get.test.ts
  packages/nodes-base/nodes/Notion/test/node/v2/databasePage/get.workflow.json
  packages/nodes-base/nodes/Notion/test/node/v2/databasePage/getAll.test.ts
  packages/nodes-base/nodes/Notion/test/node/v2/databasePage/getAll.workflow.json
  packages/nodes-base/nodes/Notion/test/node/v2/databasePage/update.test.ts
  packages/nodes-base/nodes/Notion/test/node/v2/databasePage/update.workflow.json
  packages/nodes-base/nodes/Notion/test/node/v2/page/archive.test.ts
  packages/nodes-base/nodes/Notion/test/node/v2/page/archive.workflow.json
  packages/nodes-base/nodes/Notion/test/node/v2/page/create.test.ts
  packages/nodes-base/nodes/Notion/test/node/v2/page/create.workflow.json
  packages/nodes-base/nodes/Notion/test/node/v2/page/search.test.ts
  packages/nodes-base/nodes/Notion/test/node/v2/page/search.workflow.json
  packages/nodes-base/nodes/Notion/test/node/v2/user/get.test.ts
  packages/nodes-base/nodes/Notion/test/node/v2/user/get.workflow.json
  packages/nodes-base/nodes/Notion/test/node/v2/user/getAll.test.ts
  packages/nodes-base/nodes/Notion/test/node/v2/user/getAll.workflow.json
  packages/nodes-base/test/nodes/FakeCredentialsMap.ts
Labels: node/improvement, n8n team, node/issue

#12197 feat(editor): Support adding nodes via drag and drop from node creator on new canvas
  packages/editor-ui/src/components/Node/NodeCreator/ItemTypes/NodeItem.vue
  packages/editor-ui/src/components/canvas/Canvas.vue
  packages/editor-ui/src/components/canvas/elements/background/CanvasBackground.test.ts
  packages/editor-ui/src/components/canvas/elements/background/CanvasBackground.vue
  packages/editor-ui/src/components/canvas/elements/background/CanvasBackgroundStripedPattern.vue
  packages/editor-ui/src/components/canvas/elements/background/__snapshots__/CanvasBackground.test.ts.snap
  packages/editor-ui/src/views/NodeView.v2.vue
  packages/editor-ui/src/views/NodeView.vue
Labels: ui, n8n team

#12203 test: Add tests for $getWorkflowStaticData
  packages/@n8n/task-runner/src/js-task-runner/__tests__/js-task-runner.test.ts
  packages/@n8n/task-runner/src/js-task-runner/__tests__/test-data.ts
Labels: n8n team

#12009 chore: Add node mocking logic to the Test Runner (no-changelog)
  packages/cli/src/evaluation/test-runner/__tests__/create-pin-data.ee.test.ts
  packages/cli/src/evaluation/test-runner/__tests__/test-runner.service.ee.test.ts
  packages/cli/src/evaluation/test-runner/test-runner.service.ee.ts
  packages/cli/src/evaluation/test-runner/utils.ee.ts
Labels: core, ui, n8n team

#12185 refactor(core): Add support for memoized evaluation on getters (no-changelog)
  packages/cli/src/services/frontend.service.ts
  packages/core/src/InstanceSettings.ts
  packages/core/src/decorators/__tests__/memoized.test.ts
  packages/core/src/decorators/index.ts
  packages/core/src/decorators/memoized.ts
  packages/core/src/index.ts
  packages/core/test/InstanceSettings.test.ts
Labels: core, n8n team

#12171 fix(core): Upgrade nanoid to address CVE-2024-55565
  packages/@n8n/task-runner/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: n8n team

#12201 test(Respond to Webhook Node): Add test coverage (no-changelog)
  packages/nodes-base/nodes/RespondToWebhook/test/RespondToWebhook.test.ts
Labels: node/improvement, n8n team

#12187 feat(core): Add `is_docker` info to telemetry payload on `server-started` (no-changelog)
  packages/cli/src/events/__tests__/telemetry-event-relay.test.ts
  packages/cli/src/events/relays/telemetry.event-relay.ts
Labels: core, n8n team

#12214 chore: Update NDV e2e tests for Canvas V2
  cypress/e2e/5-ndv.cy.ts
  cypress/pages/workflow.ts
Labels: n8n team

#12168 refactor(core): Unify error reporters in core and task runners
  packages/@n8n/task-runner/src/__tests__/error-reporter.test.ts
  packages/@n8n/task-runner/src/error-reporter.ts
  packages/@n8n/task-runner/src/start.ts
  packages/cli/src/commands/base-command.ts
  packages/cli/test/integration/shared/retry-until.ts
  packages/core/src/error-reporter.ts
  packages/core/test/error-reporter.test.ts
Labels: core, n8n team

#12204 ci: Include `@n8n/task-runner` in linting and test jobs on the CI (no-changelog)
  turbo.json
Labels: n8n team

#12211 feat(Linear Trigger Node): Add support for admin scope
  packages/nodes-base/credentials/LinearOAuth2Api.credentials.ts
Labels: node/improvement, n8n team

#12116 feat(Facebook Graph API Node): Update node to support API v21.0
  packages/nodes-base/nodes/Facebook/FacebookGraphApi.node.ts
Labels: node/improvement, community, in linear

#10563 fix(MongoDB Node): Fix checks on projection feature call
  packages/nodes-base/nodes/MongoDb/MongoDb.node.ts
Labels: node/improvement, community, in linear

#11811 feat(editor): Use a single SVG for logo and favicon (no-changelog)
  cypress/e2e/18-user-management.cy.ts
  packages/design-system/src/css/_tokens.scss
  packages/editor-ui/package.json
  packages/editor-ui/public/static/logo/channel/beta-dark.svg
  packages/editor-ui/public/static/logo/channel/beta.svg
  packages/editor-ui/public/static/logo/channel/dev-dark.svg
  packages/editor-ui/public/static/logo/channel/dev.svg
  packages/editor-ui/public/static/logo/channel/nightly-dark.svg
  packages/editor-ui/public/static/logo/channel/nightly.svg
  packages/editor-ui/public/static/logo/collapsed.svg
  packages/editor-ui/public/static/logo/expanded-dark.svg
  packages/editor-ui/public/static/logo/expanded.svg
  packages/editor-ui/src/components/Logo.vue
  packages/editor-ui/src/components/Logo/Logo.vue
  packages/editor-ui/src/components/Logo/__tests__/Logo.test.ts
  packages/editor-ui/src/components/Logo/__tests__/__snapshots__/Logo.test.ts.snap
  packages/editor-ui/src/components/Logo/logo-icon.svg
  packages/editor-ui/src/components/Logo/logo-text.svg
  packages/editor-ui/src/components/MainSidebar.vue
  packages/editor-ui/src/stores/ui.store.ts
  packages/editor-ui/src/views/AuthView.vue
  packages/editor-ui/src/views/MfaView.vue
  packages/editor-ui/vite.config.mts
  pnpm-lock.yaml
Labels: ui, n8n team

#12239 fix(Slack Node): Tests (no-changelog)
  packages/nodes-base/nodes/Slack/V2/FileDescription.ts
  packages/nodes-base/nodes/Slack/test/v2/node/channel/archive.test.ts
  packages/nodes-base/nodes/Slack/test/v2/node/channel/archive.workflow.json
  packages/nodes-base/nodes/Slack/test/v2/node/channel/create.test.ts
  packages/nodes-base/nodes/Slack/test/v2/node/channel/create.workflow.json
  packages/nodes-base/nodes/Slack/test/v2/node/channel/get.test.ts
  packages/nodes-base/nodes/Slack/test/v2/node/channel/get.workflow.json
  packages/nodes-base/nodes/Slack/test/v2/node/channel/getAll.test.ts
  packages/nodes-base/nodes/Slack/test/v2/node/channel/getAll.workflow.json
  packages/nodes-base/nodes/Slack/test/v2/node/channel/history.test.ts
  packages/nodes-base/nodes/Slack/test/v2/node/channel/history.workflow.json
  packages/nodes-base/nodes/Slack/test/v2/node/file/upload.test.ts
  packages/nodes-base/nodes/Slack/test/v2/node/file/upload.workflow.json
  packages/nodes-base/nodes/Slack/test/v2/node/message/delete.test.ts
  packages/nodes-base/nodes/Slack/test/v2/node/message/delete.workflow.json
  packages/nodes-base/nodes/Slack/test/v2/node/message/getPermalink.test.ts
  packages/nodes-base/nodes/Slack/test/v2/node/message/getPermalink.workflow.json
  packages/nodes-base/nodes/Slack/test/v2/node/message/post.test.ts
  packages/nodes-base/nodes/Slack/test/v2/node/message/post.workflow.json
  packages/nodes-base/nodes/Slack/test/v2/node/message/search.test.ts
  packages/nodes-base/nodes/Slack/test/v2/node/message/search.workflow.json
  packages/nodes-base/nodes/Slack/test/v2/node/message/update.test.ts
  packages/nodes-base/nodes/Slack/test/v2/node/message/update.workflow.json
  packages/nodes-base/nodes/Slack/test/v2/node/user/updateProfile.test.ts
  packages/nodes-base/nodes/Slack/test/v2/node/user/updateProfile.workflow.json
Labels: node/improvement, n8n team, node/issue

#11805 feat: Add SolarWinds Observability node credentials
  packages/nodes-base/credentials/SolarWindsObservabilityApi.credentials.ts
  packages/nodes-base/credentials/icons/SolarWindsObservability.svg
  packages/nodes-base/package.json
Labels: community, in linear

#12227 fix(editor): Fix rendering of code-blocks in sticky notes
  packages/design-system/src/components/N8nMarkdown/Markdown.vue
Labels: ui, n8n team

#12217 test(Google Sheets Node): Add Tests for Google Sheet Node (no-changelog)
  packages/nodes-base/nodes/Google/Sheet/test/v2/methods/loadOptions.test.ts
  packages/nodes-base/nodes/Google/Sheet/test/v2/utils/utils.test.ts
Labels: n8n team

#12243 test: Fix task runner tests on node 18 and 22
  packages/@n8n/task-runner/jest.config.js
  packages/@n8n/task-runner/src/js-task-runner/errors/__tests__/execution-error.test.ts
  packages/@n8n/task-runner/src/js-task-runner/errors/execution-error.ts
  packages/@n8n/task-runner/src/polyfills.ts
  packages/@n8n/task-runner/src/start.ts
Labels: n8n team

#11933 feat(MailerLite Node): Update node to support new api
  packages/nodes-base/credentials/MailerLiteApi.credentials.ts
  packages/nodes-base/nodes/MailerLite/GenericFunctions.ts
  packages/nodes-base/nodes/MailerLite/MailerLite.node.ts
  packages/nodes-base/nodes/MailerLite/MailerLite.svg
  packages/nodes-base/nodes/MailerLite/MailerLiteTrigger.node.ts
  packages/nodes-base/nodes/MailerLite/mailerLite.png
  packages/nodes-base/nodes/MailerLite/tests/GenericFunctions.test.ts
  packages/nodes-base/nodes/MailerLite/tests/apiResponses.ts
  packages/nodes-base/nodes/MailerLite/tests/v1/MailerLite.v1.workflow.json
  packages/nodes-base/nodes/MailerLite/tests/v1/MailerLite.v1.workflow.test.ts
  packages/nodes-base/nodes/MailerLite/tests/v2/MailerLite.v2.workflow.json
  packages/nodes-base/nodes/MailerLite/tests/v2/MailerLite.v2.workflow.test.ts
  packages/nodes-base/nodes/MailerLite/v1/MailerLiteTriggerV1.node.ts
  packages/nodes-base/nodes/MailerLite/v1/MailerLiteV1.node.ts
  packages/nodes-base/nodes/MailerLite/v1/SubscriberDescription.ts
  packages/nodes-base/nodes/MailerLite/v2/MailerLite.Interface.ts
  packages/nodes-base/nodes/MailerLite/v2/MailerLiteTriggerV2.node.ts
  packages/nodes-base/nodes/MailerLite/v2/MailerLiteV2.node.ts
  packages/nodes-base/nodes/MailerLite/v2/SubscriberDescription.ts
Labels: node/improvement, node/new, n8n team

#11511 fix(Invoice Ninja Node): Fix actions for bank transactions
  packages/nodes-base/nodes/InvoiceNinja/BankTransactionDescription.ts
  packages/nodes-base/nodes/InvoiceNinja/BankTransactionInterface.ts
  packages/nodes-base/nodes/InvoiceNinja/InvoiceNinja.node.ts
Labels: node/improvement, community, in linear, tests-needed

#12206 fix(Github Node): Fix fetch of file names with ? character
  packages/nodes-base/nodes/Github/Github.node.ts
Labels: node/improvement, n8n team, tests-needed

#12106 feat: Send and wait operation - freeText and customForm response types
  packages/cli/templates/form-trigger.handlebars
  packages/nodes-base/nodes/Form/Form.node.ts
  packages/nodes-base/nodes/Form/interfaces.ts
  packages/nodes-base/nodes/Form/utils.ts
  packages/nodes-base/nodes/Google/Gmail/Gmail.node.json
  packages/nodes-base/nodes/Google/Gmail/v2/GmailV2.node.ts
  packages/nodes-base/nodes/Google/Gmail/v2/MessageDescription.ts
  packages/nodes-base/nodes/Slack/Slack.node.json
  packages/nodes-base/nodes/Slack/V2/MessageDescription.ts
  packages/nodes-base/nodes/Slack/V2/SlackV2.node.ts
  packages/nodes-base/utils/sendAndWait/email-templates.ts
  packages/nodes-base/utils/sendAndWait/test/util.test.ts
  packages/nodes-base/utils/sendAndWait/utils.ts
Labels: node/improvement, n8n team

#12246 test(editor): Update templates tests for new canvas (no-changelog)
  cypress/e2e/29-templates.cy.ts
  cypress/pages/workflow.ts
  packages/editor-ui/src/components/canvas/elements/nodes/render-types/CanvasNodeStickyNote.vue
  packages/editor-ui/src/components/canvas/elements/nodes/render-types/__snapshots__/CanvasNodeStickyNote.test.ts.snap
Labels: ui, n8n team

#12208 test(Execution Data Node): Add tests (no-changelog)
  packages/nodes-base/nodes/ExecutionData/test/ExecutionData.node.test.ts
  packages/nodes-base/nodes/ExecutionData/test/ExecutionData.workflow.json
Labels: n8n team

#12209 test(If Node): Error Handling (no-changelog)
  packages/nodes-base/nodes/If/test/v2/IfV2.node.test.ts
Labels: node/improvement, n8n team

#12034 fix(Postgres Node): Allow users to wrap strings with $$
  packages/nodes-base/nodes/Postgres/test/v2/operations.test.ts
  packages/nodes-base/nodes/Postgres/v2/actions/database/executeQuery.operation.ts
  packages/nodes-base/nodes/Postgres/v2/helpers/interfaces.ts
Labels: node/improvement, n8n team

#12191 fix(Linear Node): Fix issue with error handling
  packages/nodes-base/nodes/Linear/GenericFunctions.ts
  packages/nodes-base/nodes/Linear/LinearTrigger.node.ts
  packages/nodes-base/nodes/Linear/test/GenericFunctions.test.ts
Labels: node/improvement, n8n team

#12190 test(Redis Node): Continue on Fail for Redis (no-changelog)
  packages/nodes-base/nodes/Redis/test/Redis.node.test.ts
Labels: node/improvement, n8n team

#12255 ci: Delete .github/workflows/check-tests.yml
  .github/scripts/check-tests.mjs
  .github/scripts/package.json
  .github/workflows/check-tests.yml
Labels: n8n team

#12140 chore: Switch to the new partial execution logic in test runner (no-changelog)
  packages/cli/src/evaluation/test-runner/__tests__/test-runner.service.ee.test.ts
  packages/cli/src/evaluation/test-runner/test-runner.service.ee.ts
  packages/cli/src/evaluation/test-runner/utils.ee.ts
  packages/cli/test/integration/deduplication/deduplication-helper.test.ts
  packages/cli/test/integration/permission-checker.test.ts
  packages/cli/test/integration/shared/utils/node-types-data.ts
Labels: core, n8n team

#12182 fix(editor): Set RunData outputIndex based on incoming data
  cypress/e2e/5-ndv.cy.ts
  cypress/fixtures/Test_ndv_two_branches_of_same_parent_false_populated.json
  packages/editor-ui/src/components/RunData.vue
Labels: ui, n8n team

#12260 test: Fix Test Runner failing test (no-changelog)
  packages/cli/src/evaluation/test-runner/__tests__/test-runner.service.ee.test.ts
Labels: core, n8n team

#12263 fix(editor): Fix sticky color picker getting covered by nodes on new canvas
  packages/editor-ui/src/components/canvas/elements/nodes/CanvasNode.vue
  packages/editor-ui/src/components/canvas/elements/nodes/CanvasNodeToolbar.test.ts
  packages/editor-ui/src/components/canvas/elements/nodes/CanvasNodeToolbar.vue
  packages/editor-ui/src/components/canvas/elements/nodes/toolbar/CanvasNodeStickyColorSelector.vue
Labels: ui, n8n team

#12265 fix(editor): Prevent connection line from showing when clicking the plus button of a node
  packages/editor-ui/src/components/canvas/elements/edges/CanvasConnectionLine.test.ts
  packages/editor-ui/src/components/canvas/elements/edges/CanvasConnectionLine.vue
Labels: ui, n8n team

#12161 fix(editor): Improve commit modal user facing messaging
  cypress/e2e/39-projects.cy.ts
  packages/design-system/src/components/N8nNotice/Notice.vue
  packages/editor-ui/src/components/MainSidebarSourceControl.test.ts
  packages/editor-ui/src/components/MainSidebarSourceControl.vue
  packages/editor-ui/src/components/SourceControlPushModal.ee.test.ts
  packages/editor-ui/src/components/SourceControlPushModal.ee.vue
  packages/editor-ui/src/plugins/i18n/index.ts
  packages/editor-ui/src/plugins/i18n/locales/en.json
Labels: ui, n8n team

#12264 fix(editor): Fix canvas ready opacity transition on new canvas
  packages/editor-ui/src/components/canvas/Canvas.vue
Labels: ui, n8n team

#12198 chore: Remove unused @ts-ignore's (no-changelog)
  packages/@n8n/nodes-langchain/utils/logWrapper.ts
  packages/core/src/WorkflowExecute.ts
  packages/editor-ui/src/composables/useWorkflowHelpers.ts
  packages/node-dev/src/Build.ts
  packages/nodes-base/nodes/Affinity/GenericFunctions.ts
  packages/nodes-base/nodes/Automizy/GenericFunctions.ts
  packages/nodes-base/nodes/BambooHr/v1/transport/index.ts
  packages/nodes-base/nodes/Box/GenericFunctions.ts
  packages/nodes-base/nodes/Cisco/Webex/GenericFunctions.ts
  packages/nodes-base/nodes/ClickUp/GenericFunctions.ts
  packages/nodes-base/nodes/Coda/GenericFunctions.ts
  packages/nodes-base/nodes/CoinGecko/GenericFunctions.ts
  packages/nodes-base/nodes/Flow/GenericFunctions.ts
  packages/nodes-base/nodes/Formstack/FormstackTrigger.node.ts
  packages/nodes-base/nodes/Freshdesk/Freshdesk.node.ts
  packages/nodes-base/nodes/GetResponse/GenericFunctions.ts
  packages/nodes-base/nodes/Git/Git.node.ts
  packages/nodes-base/nodes/Google/Calendar/GenericFunctions.ts
  packages/nodes-base/nodes/Google/CloudNaturalLanguage/GenericFunctions.ts
  packages/nodes-base/nodes/Google/Contacts/GenericFunctions.ts
  packages/nodes-base/nodes/Google/Firebase/CloudFirestore/GenericFunctions.ts
  packages/nodes-base/nodes/Google/GSuiteAdmin/GenericFunctions.ts
  packages/nodes-base/nodes/Google/Task/GenericFunctions.ts
  packages/nodes-base/nodes/Google/YouTube/GenericFunctions.ts
  packages/nodes-base/nodes/Gotify/GenericFunctions.ts
  packages/nodes-base/nodes/HelpScout/GenericFunctions.ts
  packages/nodes-base/nodes/HomeAssistant/HomeAssistant.node.ts
  packages/nodes-base/nodes/HttpRequest/V1/HttpRequestV1.node.ts
  packages/nodes-base/nodes/HttpRequest/V2/HttpRequestV2.node.ts
  packages/nodes-base/nodes/Hubspot/HubspotTrigger.node.ts
  packages/nodes-base/nodes/Hubspot/V2/HubspotV2.node.ts
  packages/nodes-base/nodes/Keap/GenericFunctions.ts
  packages/nodes-base/nodes/Magento/GenericFunctions.ts
  packages/nodes-base/nodes/MailerLite/GenericFunctions.ts
  packages/nodes-base/nodes/Mailgun/Mailgun.node.ts
  packages/nodes-base/nodes/Mandrill/Mandrill.node.ts
  packages/nodes-base/nodes/Matrix/GenericFunctions.ts
  packages/nodes-base/nodes/Mautic/GenericFunctions.ts
  packages/nodes-base/nodes/Microsoft/Dynamics/GenericFunctions.ts
  packages/nodes-base/nodes/Microsoft/OneDrive/GenericFunctions.ts
  packages/nodes-base/nodes/Microsoft/Teams/v1/GenericFunctions.ts
  packages/nodes-base/nodes/Microsoft/Teams/v2/transport/index.ts
  packages/nodes-base/nodes/Microsoft/ToDo/GenericFunctions.ts
  packages/nodes-base/nodes/Onfleet/Onfleet.ts
  packages/nodes-base/nodes/RabbitMQ/RabbitMQ.node.ts
  packages/nodes-base/nodes/Salesforce/GenericFunctions.ts
  packages/nodes-base/nodes/UProc/ToolDescription.ts
  packages/workflow/src/Extensions/ExpressionExtension.ts
  packages/workflow/test/TelemetryHelpers.test.ts
Labels: node/improvement, core, ui, n8n team

#11464 fix(Elasticsearch Node): Fix issue stopping search queries being sent
  packages/nodes-base/credentials/ElasticsearchApi.credentials.ts
  packages/nodes-base/nodes/Elastic/Elasticsearch/Elasticsearch.node.ts
  packages/nodes-base/nodes/Elastic/Elasticsearch/GenericFunctions.ts
  packages/nodes-base/nodes/Elastic/Elasticsearch/tests/GenericFunctions.test.ts
Labels: node/improvement, n8n team

#12284 fix(editor): Address workflow inputs product feedback
  packages/editor-ui/src/components/ResourceMapper/ResourceMapper.vue
  packages/editor-ui/src/composables/usePushConnection.ts
Labels: ui, n8n team

#12278 test(Gmail Node): Add test coverage (no-changelog)
  packages/nodes-base/jest.config.js
  packages/nodes-base/nodes/Google/Gmail/test/v2/GmailV2.node.test.ts
  packages/nodes-base/nodes/Google/Gmail/test/v2/drafts.workflow.json
  packages/nodes-base/nodes/Google/Gmail/test/v2/fixtures/labels.json
  packages/nodes-base/nodes/Google/Gmail/test/v2/fixtures/messages.json
  packages/nodes-base/nodes/Google/Gmail/test/v2/labels.workflow.json
  packages/nodes-base/nodes/Google/Gmail/test/v2/messages.workflow.json
  packages/nodes-base/nodes/Google/Gmail/test/v2/threads.workflow.json
  packages/nodes-base/nodes/Google/Gmail/v2/GmailV2.node.ts
  packages/nodes-base/nodes/Google/Gmail/v2/loadOptions.ts
  packages/nodes-base/test/nodes/FakeCredentialsMap.ts
  packages/nodes-base/test/nodes/Helpers.ts
Labels: node/improvement, n8n team

#12215 test(Set Node): Improve tests for Set node in raw mode
  packages/nodes-base/nodes/Set/test/v2/raw.test.ts
Labels: n8n team

#12081 fix(Extract from File Node): Detect file encoding
  packages/core/package.json
  packages/core/src/NodeExecuteFunctions.ts
  packages/core/src/node-execution-context/execute-context.ts
  packages/core/src/node-execution-context/execute-single-context.ts
  packages/core/src/node-execution-context/supply-data-context.ts
  packages/nodes-base/nodes/Files/ExtractFromFile/ExtractFromFile.node.ts
  packages/nodes-base/nodes/Files/ExtractFromFile/actions/moveTo.operation.ts
  packages/nodes-base/nodes/Files/ExtractFromFile/test/ExtractFromFile.node.test.ts
  packages/nodes-base/nodes/Files/ExtractFromFile/test/workflow.non_utf8_encoding.json
  packages/workflow/src/Interfaces.ts
  pnpm-lock.yaml
Labels: node/improvement, n8n team

#12259 fix(core): Fix binary data helpers (like `prepareBinaryData`) with task runner
  packages/@n8n/task-runner/package.json
  packages/@n8n/task-runner/src/js-task-runner/__tests__/js-task-runner.test.ts
  packages/@n8n/task-runner/src/js-task-runner/errors/unsupported-function.error.ts
  packages/@n8n/task-runner/src/js-task-runner/js-task-runner.ts
  packages/@n8n/task-runner/src/message-types.ts
  packages/@n8n/task-runner/src/runner-types.ts
  packages/@n8n/task-runner/src/task-runner.ts
  packages/cli/src/runners/task-managers/__tests__/task-manager.test.ts
  packages/cli/src/runners/task-managers/task-manager.ts
  packages/core/src/SerializedBuffer.ts
  packages/core/src/index.ts
  packages/core/test/SerializedBuffer.test.ts
  pnpm-lock.yaml
Labels: core, n8n team

#12282 docs(core): Update pruning service docline
  packages/@n8n/config/src/configs/executions.config.ts
  packages/cli/src/services/pruning/pruning.service.ts
Labels: core, n8n team

#12286 fix(core): Switch from `lodash.set` to `lodash` to address CVE-2020-8203 (no-changelog)
  packages/@n8n/task-runner/package.json
  packages/@n8n/task-runner/src/js-task-runner/js-task-runner.ts
  pnpm-lock.yaml
Labels: n8n team

#11607 feat(editor): Params pane collection improvements
  cypress/e2e/16-form-trigger-node.cy.ts
  cypress/e2e/5-ndv.cy.ts
  packages/design-system/src/css/_tokens.dark.scss
  packages/design-system/src/css/_tokens.scss
  packages/editor-ui/package.json
  packages/editor-ui/src/components/AssignmentCollection/Assignment.vue
  packages/editor-ui/src/components/AssignmentCollection/AssignmentCollection.vue
  packages/editor-ui/src/components/FilterConditions/Condition.vue
  packages/editor-ui/src/components/FilterConditions/FilterConditions.vue
  packages/editor-ui/src/components/FixedCollectionParameter.vue
  packages/editor-ui/src/components/ParameterInputList.vue
  packages/editor-ui/src/plugins/i18n/locales/en.json
  pnpm-lock.yaml
Labels: ui, n8n team

#12164 feat(editor): Implement resource mapping for inputs in workflow tool
  packages/@n8n/nodes-langchain/nodes/tools/ToolWorkflow/ToolWorkflow.node.ts
  packages/@n8n/nodes-langchain/nodes/tools/ToolWorkflow/v1/ToolWorkflowV1.node.ts
  packages/@n8n/nodes-langchain/nodes/tools/ToolWorkflow/v1/versionDescription.ts
  packages/@n8n/nodes-langchain/nodes/tools/ToolWorkflow/v2/ToolWorkflowV2.node.ts
  packages/@n8n/nodes-langchain/nodes/tools/ToolWorkflow/v2/ToolWorkflowV2.test.ts
  packages/@n8n/nodes-langchain/nodes/tools/ToolWorkflow/v2/methods/resourceMapping.ts
  packages/@n8n/nodes-langchain/nodes/tools/ToolWorkflow/v2/utils/FromAIParser.ts
  packages/@n8n/nodes-langchain/nodes/tools/ToolWorkflow/v2/utils/WorkflowToolService.ts
  packages/@n8n/nodes-langchain/nodes/tools/ToolWorkflow/v2/versionDescription.ts
  packages/nodes-base/nodes/ExecuteWorkflow/ExecuteWorkflow/ExecuteWorkflow.node.ts
  packages/nodes-base/nodes/ExecuteWorkflow/ExecuteWorkflow/methods/resourceMapping.ts
  packages/nodes-base/nodes/ExecuteWorkflow/ExecuteWorkflowTrigger/ExecuteWorkflowTrigger.node.test.ts
  packages/nodes-base/nodes/ExecuteWorkflow/ExecuteWorkflowTrigger/ExecuteWorkflowTrigger.node.ts
  packages/nodes-base/utils/workflowInputsResourceMapping/.readme
  packages/nodes-base/utils/workflowInputsResourceMapping/GenericFunctions.ts
  packages/nodes-base/utils/workflowInputsResourceMapping/constants.ts
  packages/workflow/src/WorkflowDataProxy.ts
Labels: n8n team

#12189 fix(editor): Add new create first project CTA
  packages/editor-ui/src/components/Projects/ProjectNavigation.test.ts
  packages/editor-ui/src/components/Projects/ProjectNavigation.vue
  packages/editor-ui/src/composables/useGlobalEntityCreation.ts
  packages/editor-ui/src/plugins/i18n/locales/en.json
Labels: ui, n8n team

#12297 build: Fix broken lock file
  pnpm-lock.yaml
Labels: n8n team

#12283 chore(core): Upgrade launcher to 1.1.0
  docker/images/n8n-custom/Dockerfile
  docker/images/n8n/Dockerfile
Labels: n8n team

#12274 fix(Redis Node): Add support for username auth
  packages/nodes-base/credentials/Redis.credentials.ts
  packages/nodes-base/nodes/Redis/Redis.node.ts
  packages/nodes-base/nodes/Redis/RedisTrigger.node.ts
  packages/nodes-base/nodes/Redis/__tests__/Redis.node.test.ts
  packages/nodes-base/nodes/Redis/__tests__/RedisTrigger.node.test.ts
  packages/nodes-base/nodes/Redis/types.ts
  packages/nodes-base/nodes/Redis/utils.ts
Labels: node/improvement, n8n team

#12268 feat(Execute Workflow Node): Move Type Conversion functionality to ResourceMapper
  cypress/e2e/48-subworkflow-inputs.cy.ts
  cypress/fixtures/Test_Subworkflow-Inputs.json
  packages/@n8n/nodes-langchain/nodes/tools/ToolWorkflow/v2/ToolWorkflowV2.node.ts
  packages/@n8n/nodes-langchain/nodes/tools/ToolWorkflow/v2/methods/resourceMapping.ts
  packages/@n8n/nodes-langchain/nodes/tools/ToolWorkflow/v2/utils/WorkflowToolService.ts
  packages/core/src/node-execution-context/utils.ts
  packages/editor-ui/src/components/ResourceMapper/ResourceMapper.vue
  packages/editor-ui/src/plugins/i18n/locales/en.json
  packages/nodes-base/nodes/ExecuteWorkflow/ExecuteWorkflow/ExecuteWorkflow.node.ts
  packages/nodes-base/nodes/ExecuteWorkflow/ExecuteWorkflow/methods/resourceMapping.ts
  packages/nodes-base/nodes/ExecuteWorkflow/ExecuteWorkflowTrigger/ExecuteWorkflowTrigger.node.test.ts
  packages/nodes-base/nodes/ExecuteWorkflow/ExecuteWorkflowTrigger/ExecuteWorkflowTrigger.node.ts
  packages/nodes-base/utils/workflowInputsResourceMapping/.readme
  packages/nodes-base/utils/workflowInputsResourceMapping/GenericFunctions.ts
  packages/nodes-base/utils/workflowInputsResourceMapping/constants.ts
  packages/workflow/src/Interfaces.ts
  pnpm-lock.yaml
Labels: node/improvement, core, ui, n8n team

#12289 test: Get rid of a warning log in tests
  packages/cli/test/setup-test-folder.ts
Labels: core, n8n team

#12312 fix(OpenAI Node): Add quotes to default base URL
  packages/nodes-base/nodes/OpenAi/OpenAi.node.ts
Labels: node/improvement, n8n team, release/backport

#12308 chore: Add more e2e Sub-Workflow Input testing
  cypress/e2e/48-subworkflow-inputs.cy.ts
  cypress/fixtures/Test_Subworkflow-Inputs.json
Labels: n8n team

#12306 fix(editor): Unify disabled parameters background color
  packages/editor-ui/src/components/InlineExpressionEditor/InlineExpressionEditorInput.vue
  packages/editor-ui/src/components/ParameterInput.vue
  packages/editor-ui/src/components/ParameterInputList.vue
  packages/editor-ui/src/components/WorkflowSelectorParameterInput/WorkflowSelectorParameterInput.vue
Labels: ui, n8n team

#12275 feat: Add migration to add `managed` column to credentials table
  packages/cli/src/databases/entities/credentials-entity.ts
  packages/cli/src/databases/migrations/common/1734479635324-AddManagedColumnToCredentialsTable.ts
  packages/cli/src/databases/migrations/mysqldb/index.ts
  packages/cli/src/databases/migrations/postgresdb/index.ts
  packages/cli/src/databases/migrations/sqlite/index.ts
Labels: core, n8n team

#12277 chore(Execute Workflow Node): Update text copy for ExecuteWorkflow node and ResourceMapper
  packages/@n8n/nodes-langchain/nodes/tools/ToolWorkflow/ToolWorkflow.node.ts
  packages/core/src/node-execution-context/workflow-node-context.ts
  packages/editor-ui/src/components/ResourceMapper.test.ts
  packages/editor-ui/src/components/ResourceMapper/MappingFields.vue
  packages/editor-ui/src/plugins/i18n/locales/en.json
  packages/nodes-base/nodes/ExecuteWorkflow/ExecuteWorkflow/ExecuteWorkflow.node.ts
  packages/nodes-base/nodes/ExecuteWorkflow/ExecuteWorkflowTrigger/ExecuteWorkflowTrigger.node.ts
  pnpm-lock.yaml
Labels: node/improvement, ui, n8n team

#12305 feat(editor): Add stale data warning to Resource Mapper
  packages/editor-ui/src/components/ResourceMapper/MappingFields.vue
  packages/editor-ui/src/components/ResourceMapper/ResourceMapper.vue
  packages/editor-ui/src/composables/useDocumentVisibility.ts
  packages/editor-ui/src/plugins/i18n/locales/en.json
  packages/editor-ui/src/utils/nodeTypeUtils.test.ts
  packages/editor-ui/src/utils/nodeTypesUtils.ts
Labels: ui, n8n team
