Repository n8n-io/n8n, pull requests merged in 2025-08, with the labels that each got.

#17224 fix(Google Sheets Node): Make it possible to set cell values empty on updates
  packages/frontend/editor-ui/src/components/ParameterInputList.vue
  packages/frontend/editor-ui/src/components/ResourceMapper/ResourceMapper.vue
  packages/nodes-base/nodes/Google/Sheet/GoogleSheets.node.ts
  packages/nodes-base/nodes/Google/Sheet/test/v2/node/appendOrUpdate.test.ts
  packages/nodes-base/nodes/Google/Sheet/test/v2/node/update.test.ts
  packages/nodes-base/nodes/Google/Sheet/v2/actions/sheet/appendOrUpdate.operation.ts
  packages/nodes-base/nodes/Google/Sheet/v2/actions/sheet/update.operation.ts
  packages/nodes-base/nodes/Google/Sheet/v2/actions/versionDescription.ts
  packages/workflow/src/interfaces.ts
Labels: node/improvement, core, n8n team

#17884 fix: Community update/uninstall e2e test fix (no-changelog)
  cypress/pages/settings-community-nodes.ts
Labels: n8n team

#17735 fix(core): Handle symlinks in blocked paths
  packages/core/src/execution-engine/node-execution-context/utils/__tests__/file-system-helper-functions.test.ts
  packages/core/src/execution-engine/node-execution-context/utils/file-system-helper-functions.ts
  packages/nodes-base/nodes/Crypto/test/Crypto.test.ts
  packages/nodes-base/nodes/Files/ReadWriteFile/test/ReadWriteFile.test.ts
  packages/nodes-base/nodes/WriteBinaryFile/test/WriteBinaryFile.test.ts
Labels: core, n8n team

#17831 fix(editor): Search by node name (no-changelog)
  packages/frontend/@n8n/rest-api-client/src/api/templates.ts
  packages/frontend/editor-ui/src/experiments/personalizedTemplates/stores/personalizedTemplates.store.ts
Labels: n8n team, release/backport

#17866 fix: Fix issue with some community nodes not displaying correctly
  packages/cli/src/community-packages/community-packages.service.ts
  packages/frontend/editor-ui/src/utils/nodeTypeUtils.test.ts
  packages/frontend/editor-ui/src/utils/nodeTypesUtils.ts
Labels: core, n8n team

#17867 fix(editor): Send posthog session id to rudderstack (no-changelog)
  packages/frontend/editor-ui/src/Interface.ts
  packages/frontend/editor-ui/src/plugins/telemetry.test.ts
  packages/frontend/editor-ui/src/plugins/telemetry/index.ts
Labels: n8n team, release/backport

#17730 feat(editor): Action/credentials tab in node settings in zoomed view (no-changelog)
  packages/frontend/@n8n/design-system/src/components/N8nIcon/icons.ts
  packages/frontend/@n8n/design-system/src/components/N8nTabs/Tabs.stories.ts
  packages/frontend/@n8n/design-system/src/components/N8nTabs/Tabs.vue
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/components/NodeActionsList.vue
  packages/frontend/editor-ui/src/components/NodeCredentials.vue
  packages/frontend/editor-ui/src/components/NodeDetailsView.vue
  packages/frontend/editor-ui/src/components/NodeDetailsViewV2.vue
  packages/frontend/editor-ui/src/components/NodeSettings.vue
  packages/frontend/editor-ui/src/components/NodeSettingsHeader.vue
  packages/frontend/editor-ui/src/components/NodeSettingsTabs.vue
  packages/frontend/editor-ui/src/components/canvas/experimental/components/ExperimentalEmbeddedNdvHeader.vue
  packages/frontend/editor-ui/src/components/canvas/experimental/components/ExperimentalEmbeddedNodeDetails.vue
  packages/frontend/editor-ui/src/components/canvas/experimental/experimentalNdv.utils.ts
  packages/frontend/editor-ui/src/composables/useNodeCredentialOptions.ts
  packages/frontend/editor-ui/src/types/nodeSettings.ts
  packages/frontend/editor-ui/src/utils/nodeSettingsUtils.ts
Labels: n8n team

#17713 feat(Beeminder Node): Update Beeminder node to include all resources and operations
  packages/nodes-base/credentials/BeeminderApi.credentials.ts
  packages/nodes-base/credentials/BeeminderOAuth2Api.credentials.ts
  packages/nodes-base/nodes/Beeminder/Beeminder.node.functions.ts
  packages/nodes-base/nodes/Beeminder/Beeminder.node.ts
  packages/nodes-base/nodes/Beeminder/GenericFunctions.ts
  packages/nodes-base/nodes/Beeminder/test/Beeminder.node.functions.test.ts
  packages/nodes-base/nodes/Beeminder/test/Beeminder.node.test.ts
  packages/nodes-base/nodes/Beeminder/test/workflow.json
  packages/nodes-base/package.json
  packages/nodes-base/utils/types.ts
Labels: node/improvement, n8n team

#17524 feat(Vercel AI Gateway Node): Add Vercel AI Gateway model Node
  packages/@n8n/nodes-langchain/credentials/VercelAiGatewayApi.credentials.ts
  packages/@n8n/nodes-langchain/nodes/agents/Agent/V1/AgentV1.node.ts
  packages/@n8n/nodes-langchain/nodes/llms/LmChatVercelAiGateway/LmChatVercelAiGateway.node.ts
  packages/@n8n/nodes-langchain/nodes/llms/LmChatVercelAiGateway/vercel.dark.svg
  packages/@n8n/nodes-langchain/nodes/llms/LmChatVercelAiGateway/vercel.svg
  packages/@n8n/nodes-langchain/package.json
Labels: community, in linear

#17838 feat(Slack Trigger Node): Add support for signature verification
  cypress/e2e/45-ai-assistant.cy.ts
  packages/nodes-base/credentials/SlackApi.credentials.ts
  packages/nodes-base/nodes/Slack/SlackTrigger.node.ts
  packages/nodes-base/nodes/Slack/SlackTriggerHelpers.ts
  packages/nodes-base/nodes/Slack/test/SlackTriggerHelper.test.ts
Labels: node/improvement, n8n team

#17493 build: Add lint rule to ban argument spreads to prevent stack overflow
  packages/@n8n/eslint-config/package.json
  packages/@n8n/eslint-config/src/configs/base.ts
  packages/@n8n/eslint-config/src/plugin.ts
  packages/@n8n/eslint-config/src/rules/index.ts
  packages/@n8n/eslint-config/src/rules/no-argument-spread.test.ts
  packages/@n8n/eslint-config/src/rules/no-argument-spread.ts
Labels: n8n team

#17896 feat(FTP Node): Add support for concurrent reads when using SFTP
  packages/nodes-base/nodes/Ftp/Ftp.node.ts
  packages/nodes-base/package.json
  pnpm-lock.yaml
Labels: node/improvement, n8n team

#17960 docs: Add claude alias to Anthropic
  packages/@n8n/nodes-langchain/nodes/vendors/Anthropic/actions/versionDescription.ts
Labels: n8n team

#17780 fix(editor): Focus editable text input when clicking anywhere on the element
  cypress/e2e/2-credentials.cy.ts
  packages/frontend/@n8n/design-system/src/components/N8nInlineTextEdit/InlineTextEdit.stories.ts
  packages/frontend/@n8n/design-system/src/components/N8nInlineTextEdit/InlineTextEdit.test.ts
  packages/frontend/@n8n/design-system/src/components/N8nInlineTextEdit/InlineTextEdit.vue
Labels: n8n team

#17965 fix(core): Prevent re-entry during workflow activation
  packages/cli/src/__tests__/active-workflow-manager.test.ts
  packages/cli/src/active-workflow-manager.ts
Labels: core, n8n team

#17908 fix(editor): Correct ai template url
  packages/frontend/editor-ui/src/components/Node/NodeCreator/viewsData.ts
  packages/frontend/editor-ui/src/constants.ts
  packages/frontend/editor-ui/src/stores/templates.store.ts
Labels: n8n team

#17862 fix(editor): Improve WorkflowDiffModal UI
  packages/frontend/editor-ui/src/features/workflow-diff/WorkflowDiffModal.vue
  packages/frontend/editor-ui/src/features/workflow-diff/useWorkflowDiff.ts
Labels: n8n team

#17818 refactor(core): Decouple community packages from security audit
  packages/cli/src/security-audit/risk-reporters/nodes-risk-reporter.ts
  packages/cli/src/security-audit/security-audit.repository.ts
  packages/cli/test/integration/security-audit/nodes-risk-reporter.test.ts
Labels: core, n8n team

#17963 fix: Properly serialize metadata objects in Chat UI
  packages/frontend/@n8n/chat/src/__tests__/api/generic.spec.ts
  packages/frontend/@n8n/chat/src/api/generic.ts
Labels: n8n team

#17857 feat(Ollama Credentials): Add optional API key support to Ollama credentials (Openwebui proxy)
  packages/@n8n/nodes-langchain/credentials/OllamaApi.credentials.ts
  packages/@n8n/nodes-langchain/nodes/embeddings/EmbeddingsOllama/EmbeddingsOllama.node.ts
  packages/@n8n/nodes-langchain/nodes/llms/LMChatOllama/LmChatOllama.node.ts
  packages/@n8n/nodes-langchain/nodes/llms/LMOllama/LmOllama.node.ts
Labels: community, in linear

#18000 feat(editor): Update data store front-end (no-changelog)
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/components/Projects/ProjectHeader.vue
  packages/frontend/editor-ui/src/features/dataStore/DataStoreView.test.ts
  packages/frontend/editor-ui/src/features/dataStore/DataStoreView.vue
  packages/frontend/editor-ui/src/features/dataStore/components/AddDataStoreModal.vue
  packages/frontend/editor-ui/src/features/dataStore/components/DataStoreCard.test.ts
  packages/frontend/editor-ui/src/features/dataStore/components/DataStoreCard.vue
  packages/frontend/editor-ui/src/features/dataStore/dataStore.store.ts
  packages/frontend/editor-ui/src/features/dataStore/datastore.api.ts
  packages/frontend/editor-ui/src/features/dataStore/datastore.types.ts
Labels: n8n team

#17955 refactor: Upgrade to TypeScript 5.9.2
  packages/@n8n/nodes-langchain/utils/N8nBinaryLoader.ts
  packages/cli/src/chat/chat-service.ts
  packages/cli/src/push/websocket.push.ts
  packages/cli/src/task-runners/task-broker/task-broker-ws-server.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: core, n8n team

#18010 fix(core): Handle non-existing files when checking if it is a symlink
  packages/core/src/execution-engine/node-execution-context/utils/__tests__/file-system-helper-functions.test.ts
  packages/core/src/execution-engine/node-execution-context/utils/file-system-helper-functions.ts
Labels: core, n8n team, release/backport

#18039 chore(editor): Drop rag starter callout experiment flag (no-changelog)
  cypress/e2e/4-node-creator.cy.ts
  cypress/e2e/52-rag-callout-experiment.cy.ts
  packages/frontend/editor-ui/src/components/ParameterInputList.vue
  packages/frontend/editor-ui/src/composables/useCalloutHelpers.test.ts
  packages/frontend/editor-ui/src/composables/useCalloutHelpers.ts
  packages/frontend/editor-ui/src/constants.ts
Labels: n8n team

#18047 fix(Hugging Face Inference Model Node, Embeddings Hugging Face Inference Node): Fix credential validation for HF nodes and add provider for
  packages/@n8n/nodes-langchain/credentials/HuggingFaceApi.credentials.ts
  packages/@n8n/nodes-langchain/nodes/embeddings/EmbeddingsHuggingFaceInference/EmbeddingsHuggingFaceInference.node.ts
  packages/@n8n/nodes-langchain/nodes/llms/LMOpenHuggingFaceInference/LmOpenHuggingFaceInference.node.ts
  packages/@n8n/nodes-langchain/package.json
  pnpm-lock.yaml
Labels: n8n team

#17566 feat: Add token to sendAndWait operations links to walidate in webhook
  packages/cli/src/webhooks/waiting-webhooks.ts
  packages/core/nodes-testing/node-test-harness.ts
  packages/core/src/constants.ts
  packages/core/src/execution-engine/node-execution-context/__tests__/node-execution-context.test.ts
  packages/core/src/execution-engine/node-execution-context/node-execution-context.ts
  packages/core/src/execution-engine/node-execution-context/webhook-context.ts
  packages/core/src/instance-settings/instance-settings.ts
  packages/core/src/utils/__tests__/signature-helpers.test.ts
  packages/core/src/utils/index.ts
  packages/core/src/utils/signature-helpers.ts
  packages/nodes-base/nodes/Discord/test/v2/node/message/sendAndWait.test.ts
  packages/nodes-base/nodes/Discord/v2/helpers/utils.ts
  packages/nodes-base/nodes/EmailSend/test/v2/sendAndWait.operation.test.ts
  packages/nodes-base/nodes/EmailSend/v2/sendAndWait.operation.ts
  packages/nodes-base/nodes/Google/Chat/GenericFunctions.ts
  packages/nodes-base/nodes/Google/Chat/test/node/sendAndWait.operation.test.ts
  packages/nodes-base/nodes/Microsoft/Outlook/test/v2/node/message/sendAndWait.test.ts
  packages/nodes-base/nodes/Microsoft/Outlook/v2/actions/message/sendAndWait.operation.ts
  packages/nodes-base/nodes/Microsoft/Teams/test/v2/node/chatMessage/sendAndWait.test.ts
  packages/nodes-base/nodes/Microsoft/Teams/v2/actions/chatMessage/sendAndWait.operation.ts
  packages/nodes-base/nodes/Slack/V2/GenericFunctions.ts
  packages/nodes-base/nodes/Slack/test/v2/utils.test.ts
  packages/nodes-base/nodes/Telegram/GenericFunctions.ts
  packages/nodes-base/nodes/Telegram/tests/node/sendAndWait.operation.test.ts
  packages/nodes-base/nodes/WhatsApp/GenericFunctions.ts
  packages/nodes-base/nodes/WhatsApp/tests/node/sendAndWait.test.ts
  packages/nodes-base/nodes/WhatsApp/tests/utils.test.ts
  packages/nodes-base/utils/sendAndWait/test/util.test.ts
  packages/nodes-base/utils/sendAndWait/utils.ts
  packages/workflow/src/interfaces.ts
Labels: node/improvement, core, n8n team, node/issue

#18055 fix(editor): Hide Evaluations setup wizard if protected instance
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/views/Evaluations.ee/EvaluationsRootView.vue
  packages/frontend/editor-ui/src/views/Evaluations.ee/tests/EvaluationsRootView.test.ts
Labels: n8n team

#18044 fix: Extend deduplication check to all webhook-based triggers and chat trigger
  packages/frontend/editor-ui/src/components/WorkflowActivationConflictingWebhookModal.test.ts
  packages/frontend/editor-ui/src/components/WorkflowActivationConflictingWebhookModal.vue
  packages/frontend/editor-ui/src/composables/useWorkflowHelpers.test.ts
  packages/frontend/editor-ui/src/composables/useWorkflowHelpers.ts
Labels: ui, n8n team

#17964 feat(Email Trigger (IMAP) Node): Option to disable last message id tracking
  packages/nodes-base/nodes/EmailReadImap/test/v2/EmailReadImapV2.node.test.ts
  packages/nodes-base/nodes/EmailReadImap/v2/EmailReadImapV2.node.ts
Labels: node/improvement, n8n team, node/issue

#18049 fix(editor): Enhance SourceControlPullModal with improved item structure and styling
  packages/frontend/editor-ui/src/components/SourceControlPullModal.ee.test.ts
  packages/frontend/editor-ui/src/components/SourceControlPullModal.ee.vue
Labels: n8n team

#18088 fix(core): Fix metric default value handling and add AI model connection validation for setMetric operation in Evaluation
  packages/cli/src/evaluation.ee/test-runner/__tests__/test-runner.service.ee.test.ts
  packages/cli/src/evaluation.ee/test-runner/test-runner.service.ee.ts
  packages/nodes-base/nodes/Evaluation/Evaluation/Description.node.ts
  packages/nodes-base/nodes/Evaluation/Evaluation/Evaluation.node.ee.ts
  packages/nodes-base/nodes/Evaluation/utils/evaluationUtils.ts
  packages/workflow/src/evaluation-helpers.ts
  packages/workflow/src/index.ts
Labels: node/improvement, core, n8n team, release/backport

#18121 chore(editor): Increase trigger dropdown width
  packages/frontend/@n8n/design-system/src/components/N8nActionDropdown/ActionDropdown.vue
  packages/frontend/@n8n/design-system/src/components/N8nActionDropdown/__snapshots__/ActionDropdown.test.ts.snap
  packages/frontend/editor-ui/src/components/canvas/elements/buttons/CanvasRunWorkflowButton.vue
Labels: n8n team

#17983 ci: Cat 1072 security nightly cleanup
  .github/workflows/security-trivy-scan-callable.yml
  .gitignore
Labels: n8n team

#18048 fix(editor): Make auto-completion work in zoomed view (no-changelog)
  packages/frontend/editor-ui/src/App.vue
  packages/frontend/editor-ui/src/composables/useExpressionEditor.ts
  packages/frontend/editor-ui/src/composables/useStyles.ts
  packages/frontend/editor-ui/src/constants.ts
  packages/frontend/editor-ui/src/plugins/codemirror/tooltips/InfoBoxTooltip.ts
  packages/frontend/editor-ui/src/styles/plugins/_codemirror.scss
Labels: n8n team

#18103 fix(Mandrill Node): Fix a typo in subaccount in options
  packages/nodes-base/nodes/Mandrill/Mandrill.node.ts
  packages/nodes-base/nodes/Mandrill/test/GenericFunctions.test.ts
  packages/nodes-base/nodes/Mandrill/test/Mandrill.node.test.ts
  packages/nodes-base/nodes/Mandrill/test/sendHtml.workflow.json
  packages/nodes-base/nodes/Mandrill/test/sendTemplate.workflow.json
  packages/nodes-base/nodes/Mandrill/test/sendTemplateWithSubaccount.workflow.json
Labels: node/improvement, n8n team

#18130 feat(core): Add workflow diffs feature to license checks (no-changelog)
  packages/@n8n/api-types/src/frontend-settings.ts
  packages/@n8n/backend-common/src/license-state.ts
  packages/@n8n/constants/src/index.ts
  packages/cli/src/controllers/e2e.controller.ts
  packages/cli/src/services/frontend.service.ts
  packages/frontend/editor-ui/src/__tests__/defaults.ts
  packages/frontend/editor-ui/src/__tests__/mocks.ts
Labels: core, n8n team

#18128 fix(core): Remove temporary uploaded files from webhook calls
  packages/nodes-base/nodes/Webhook/Webhook.node.ts
  packages/nodes-base/nodes/Webhook/test/Webhook.test.ts
Labels: node/improvement, n8n team

#18124 feat(editor): Add pre-built agents experiment
  packages/@n8n/nodes-langchain/nodes/agents/Agent/V1/AgentV1.node.ts
  packages/@n8n/nodes-langchain/nodes/agents/Agent/V2/AgentV2.node.ts
  packages/@n8n/nodes-langchain/nodes/vector_store/shared/createVectorStoreNode/__snapshots__/createVectorStoreNode.test.ts.snap
  packages/@n8n/nodes-langchain/nodes/vector_store/shared/createVectorStoreNode/createVectorStoreNode.ts
  packages/cli/src/__tests__/load-nodes-and-credentials.test.ts
  packages/cli/src/load-nodes-and-credentials.ts
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/Interface.ts
  packages/frontend/editor-ui/src/components/Node/NodeCreator/ItemTypes/OpenTemplateItem.vue
  packages/frontend/editor-ui/src/components/Node/NodeCreator/Modes/ActionsMode.vue
  packages/frontend/editor-ui/src/components/Node/NodeCreator/Modes/NodesMode.vue
  packages/frontend/editor-ui/src/components/Node/NodeCreator/Renderers/ItemsRenderer.vue
  packages/frontend/editor-ui/src/components/Node/NodeCreator/__snapshots__/viewsData.spec.ts.snap
  packages/frontend/editor-ui/src/components/Node/NodeCreator/utils.ts
  packages/frontend/editor-ui/src/components/Node/NodeCreator/viewsData.spec.ts
  packages/frontend/editor-ui/src/components/Node/NodeCreator/viewsData.ts
  packages/frontend/editor-ui/src/components/ParameterInputList.test.constants.ts
  packages/frontend/editor-ui/src/components/ParameterInputList.vue
  packages/frontend/editor-ui/src/composables/useCalloutHelpers.test.ts
  packages/frontend/editor-ui/src/composables/useCalloutHelpers.ts
  packages/frontend/editor-ui/src/composables/useCanvasOperations.test.ts
  packages/frontend/editor-ui/src/composables/usePushConnection/handlers/executionFinished.ts
  packages/frontend/editor-ui/src/constants.ts
  packages/frontend/editor-ui/src/utils/__snapshots__/easyAiWorkflowUtils.test.ts.snap
  packages/frontend/editor-ui/src/utils/easyAiWorkflowUtils.test.ts
  packages/frontend/editor-ui/src/utils/easyAiWorkflowUtils.ts
  packages/frontend/editor-ui/src/utils/templates/samples/agents/email_triage_agent_with_gmail.json
  packages/frontend/editor-ui/src/utils/templates/samples/agents/joke_agent_with_http_tool.json
  packages/frontend/editor-ui/src/utils/templates/samples/agents/knowledge_store_agent_with_google_drive.json
  packages/frontend/editor-ui/src/utils/templates/samples/agents/task_management_agent_with_google_sheets.json
  packages/frontend/editor-ui/src/utils/templates/samples/agents/voice_assistant_agent_with_telegram_and_gcal.json
  packages/frontend/editor-ui/src/utils/templates/samples/easy_ai_starter.json
  packages/frontend/editor-ui/src/utils/templates/samples/rag_starter.json
  packages/frontend/editor-ui/src/utils/templates/typeGuards.ts
  packages/frontend/editor-ui/src/utils/templates/workflowSamples.ts
  packages/frontend/editor-ui/src/views/NodeView.vue
  packages/frontend/editor-ui/src/views/WorkflowsView.vue
  packages/nodes-base/nodes/Google/Calendar/GoogleCalendar.node.ts
  packages/nodes-base/nodes/Google/Drive/v2/actions/versionDescription.ts
  packages/nodes-base/nodes/Google/Gmail/v2/GmailV2.node.ts
  packages/nodes-base/nodes/Google/Sheet/v2/actions/versionDescription.ts
  packages/nodes-base/nodes/HttpRequest/V3/Description.ts
  packages/nodes-base/nodes/Telegram/Telegram.node.ts
  packages/workflow/src/interfaces.ts
Labels: n8n team

#17804 fix(API): Add shared field to workflows list rest API handler
  packages/cli/src/commands/export/workflow.ts
  packages/cli/src/public-api/v1/handlers/workflows/spec/schemas/sharedWorkflow.yml
  packages/cli/src/public-api/v1/handlers/workflows/spec/schemas/workflow.yml
  packages/cli/src/public-api/v1/handlers/workflows/workflows.handler.ts
Labels: core, n8n team

#18136 ci: Exclude test controller in CI by default
  .github/workflows/playwright-test-reusable.yml
  scripts/build-n8n.mjs
Labels: n8n team

#18191 fix(editor): Editor tooltip style is lost (no-changelog)
  packages/frontend/editor-ui/src/components/CodeNodeEditor/theme.ts
Labels: n8n team

#18190 fix(core): Fix disallowed module error in task runner
  packages/@n8n/task-runner/src/js-task-runner/__tests__/js-task-runner.test.ts
  packages/@n8n/task-runner/src/js-task-runner/__tests__/require-resolver.test.ts
  packages/@n8n/task-runner/src/js-task-runner/errors/disallowed-module.error.ts
  packages/@n8n/task-runner/src/js-task-runner/require-resolver.ts
  packages/cli/test/integration/task-runners/js-task-runner-execution.integration.test.ts
Labels: n8n team

#17925 feat(Todoist Node): Add more resources and operations
  packages/nodes-base/nodes/Todoist/GenericFunctions.ts
  packages/nodes-base/nodes/Todoist/v2/OperationHandler.ts
  packages/nodes-base/nodes/Todoist/v2/Service.ts
  packages/nodes-base/nodes/Todoist/v2/TodoistV2.node.ts
  packages/nodes-base/nodes/Todoist/v2/test/OperationHandler.test.ts
  packages/nodes-base/nodes/Todoist/v2/test/TodoistV2.node.test.ts
  packages/nodes-base/nodes/Todoist/v2/test/workflow.json
  packages/workflow/src/node-parameters/parameter-type-validation.ts
  packages/workflow/test/node-parameters/parameter-type-validation.test.ts
Labels: node/improvement, n8n team

#18205 refactor(core): Port user management config
  packages/@n8n/config/src/configs/__tests__/user-management.config.test.ts
  packages/@n8n/config/src/configs/user-management.config.ts
  packages/@n8n/config/src/decorators.ts
  packages/@n8n/config/test/config.test.ts
  packages/cli/src/auth/__tests__/auth.service.test.ts
  packages/cli/src/auth/auth.service.ts
  packages/cli/src/config/__tests__/index.test.ts
  packages/cli/src/config/index.ts
  packages/cli/src/config/schema.ts
  packages/cli/src/services/__tests__/jwt.service.test.ts
  packages/cli/src/services/__tests__/public-api-key.service.test.ts
  packages/cli/src/services/jwt.service.ts
  packages/cli/test/integration/shared/utils/test-server.ts
Labels: core, n8n team

#18045 feat(core): Add a migration for data stores (no-changelog)
  packages/@n8n/db/src/migrations/common/1754475614601-CreateDataStoreTables.ts
  packages/@n8n/db/src/migrations/dsl/table.ts
  packages/@n8n/db/src/migrations/mysqldb/index.ts
  packages/@n8n/db/src/migrations/postgresdb/index.ts
  packages/@n8n/db/src/migrations/sqlite/index.ts
Labels: n8n team

#18214 fix(core): Support MCP server when offloading is enabled
  packages/cli/src/commands/start.ts
Labels: core, n8n team, release/backport

#18211 feat(editor): Add initial data-store details page (no-changelog)
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/features/dataStore/DataStoreDetailsView.vue
  packages/frontend/editor-ui/src/features/dataStore/DataStoreView.test.ts
  packages/frontend/editor-ui/src/features/dataStore/DataStoreView.vue
  packages/frontend/editor-ui/src/features/dataStore/components/AddDataStoreModal.vue
  packages/frontend/editor-ui/src/features/dataStore/components/DataStoreActions.test.ts
  packages/frontend/editor-ui/src/features/dataStore/components/DataStoreActions.vue
  packages/frontend/editor-ui/src/features/dataStore/components/DataStoreBreadcrumbs.test.ts
  packages/frontend/editor-ui/src/features/dataStore/components/DataStoreBreadcrumbs.vue
  packages/frontend/editor-ui/src/features/dataStore/components/DataStoreCard.test.ts
  packages/frontend/editor-ui/src/features/dataStore/components/DataStoreCard.vue
  packages/frontend/editor-ui/src/features/dataStore/dataStore.store.ts
  packages/frontend/editor-ui/src/features/dataStore/datastore.api.ts
  packages/frontend/editor-ui/src/features/dataStore/datastore.types.ts
  packages/frontend/editor-ui/src/features/dataStore/module.descriptor.ts
  packages/frontend/editor-ui/src/features/dataStore/types.ts
Labels: n8n team

#18201 test: Migrate UI tests from Cypress -> Playwright (no-changelog)
  .gitignore
  cypress/e2e/15-scheduler-node.cy.ts
  cypress/e2e/2270-ADO-opening-webhook-ndv-marks-workflow-as-unsaved.cy.ts
  cypress/e2e/28-debug.cy.ts
  cypress/e2e/35-admin-user-smoke-test.cy.ts
  cypress/e2e/37-become-creator-cta.cy.ts
  cypress/e2e/39-projects.cy.ts
  cypress/e2e/45-ai-assistant.cy.ts
  cypress/e2e/46-n8n.io-iframe.cy.ts
  cypress/e2e/716-AI-bug-correctly-set-up-agent-model-shows-error.cy.ts
  cypress/e2e/9999-SUG-38-inline-expression-preview.cy.ts
  cypress/e2e/env-feature-flags.cy.ts
  packages/testing/playwright/Types.ts
  packages/testing/playwright/composables/ProductionChecklist.ts
  packages/testing/playwright/composables/WorkflowActivationModal.ts
  packages/testing/playwright/composables/WorkflowComposer.ts
  packages/testing/playwright/composables/WorkflowSettingsModal.ts
  packages/testing/playwright/config/intercepts.ts
  packages/testing/playwright/eslint.config.mjs
  packages/testing/playwright/fixtures/base.ts
  packages/testing/playwright/package.json
  packages/testing/playwright/pages/AIAssistantPage.ts
  packages/testing/playwright/pages/BecomeCreatorCTAPage.ts
  packages/testing/playwright/pages/CanvasPage.ts
  packages/testing/playwright/pages/IframePage.ts
  packages/testing/playwright/pages/NodeDisplayViewPage.ts
  packages/testing/playwright/pages/SettingsPage.ts
  packages/testing/playwright/pages/VersionsPage.ts
  packages/testing/playwright/pages/WorkflowActivationModal.ts
  packages/testing/playwright/pages/WorkflowSettingsModal.ts
  packages/testing/playwright/pages/n8nPage.ts
  packages/testing/playwright/services/api-helper.ts
  packages/testing/playwright/tests/cli-workflows/workflow-tests.spec.ts
  packages/testing/playwright/tests/ui/1-workflows.spec.ts
  packages/testing/playwright/tests/ui/15-scheduler-node.spec.ts
  packages/testing/playwright/tests/ui/2270-ADO-opening-webhook-ndv-marks-workflow-as-unsaved.spec.ts
  packages/testing/playwright/tests/ui/35-admin-user-smoke-test.spec.ts
  packages/testing/playwright/tests/ui/45-ai-assistant.spec.ts
  packages/testing/playwright/tests/ui/46-n8n-io-iframe.spec.ts
  packages/testing/playwright/tests/ui/53-workflow-production-checklist.spec.ts
  packages/testing/playwright/tests/ui/716-AI-bug-correctly-set-up-agent-model-shows-error.spec.ts
  packages/testing/playwright/tests/ui/9999-SUG-38-inline-expression-preview.spec.ts
  packages/testing/playwright/tests/ui/authenticated.spec.ts
  packages/testing/playwright/tests/ui/env-feature-flags.spec.ts
  packages/testing/playwright/tests/ui/pdf.spec.ts
  packages/testing/playwright/utils/path-helper.ts
  packages/testing/playwright/utils/requirements.ts
  packages/testing/playwright/workflows/Manual_wait_set.json
  packages/testing/playwright/workflows/Test_9999_SUG_38.json
  packages/testing/playwright/workflows/Webhook_set_pinned.json
  packages/testing/playwright/workflows/ai_assistant_test_workflow.json
  pnpm-lock.yaml
Labels: n8n team

#18219 fix(core): Normalize quotes in strings in env vars
  packages/@n8n/config/src/decorators.ts
  packages/@n8n/config/test/string-normalization.test.ts
Labels: n8n team

#18204 fix(editor): Show custom project icons on create sidebar dropdown
  packages/frontend/@n8n/design-system/src/components/N8nNavigationDropdown/NavigationDropdown.vue
  packages/frontend/editor-ui/src/components/layouts/ResourcesListLayout.test.ts
  packages/frontend/editor-ui/src/composables/useGlobalEntityCreation.ts
Labels: n8n team

#18129 fix(editor): Update SourceControlPullModal to look and feel the same as SourceControlPushModal
  packages/frontend/@n8n/design-system/src/css/_tokens.dark.scss
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/components/SourceControlPullModal.ee.test.ts
  packages/frontend/editor-ui/src/components/SourceControlPullModal.ee.vue
  packages/frontend/editor-ui/src/components/SourceControlPushModal.ee.test.ts
  packages/frontend/editor-ui/src/components/SourceControlPushModal.ee.vue
  packages/frontend/editor-ui/src/features/workflow-diff/WorkflowDiffModal.test.ts
  packages/frontend/editor-ui/src/features/workflow-diff/WorkflowDiffModal.vue
  packages/frontend/editor-ui/src/features/workflow-diff/useWorkflowDiff.ts
Labels: n8n team

#17824 feat(core): Add Data Store Backend API (no-changelog)
  packages/@n8n/api-types/src/dto/data-store/add-data-store-column.dto.ts
  packages/@n8n/api-types/src/dto/data-store/add-data-store-rows.dto.ts
  packages/@n8n/api-types/src/dto/data-store/create-data-store-column.dto.ts
  packages/@n8n/api-types/src/dto/data-store/create-data-store.dto.ts
  packages/@n8n/api-types/src/dto/data-store/list-data-store-content-query.dto.ts
  packages/@n8n/api-types/src/dto/data-store/list-data-store-query.dto.ts
  packages/@n8n/api-types/src/dto/data-store/move-data-store-column.dto.ts
  packages/@n8n/api-types/src/dto/data-store/update-data-store.dto.ts
  packages/@n8n/api-types/src/dto/data-store/upsert-data-store-rows.dto.ts
  packages/@n8n/api-types/src/dto/index.ts
  packages/@n8n/api-types/src/index.ts
  packages/@n8n/api-types/src/schemas/data-store.schema.ts
  packages/@n8n/backend-common/src/modules/__tests__/module-registry.test.ts
  packages/@n8n/backend-common/src/modules/modules.config.ts
  packages/@n8n/backend-test-utils/src/test-db.ts
  packages/@n8n/config/src/configs/logging.config.ts
  packages/@n8n/db/src/index.ts
  packages/@n8n/permissions/src/constants.ee.ts
  packages/@n8n/permissions/src/roles/scopes/global-scopes.ee.ts
  packages/@n8n/permissions/src/roles/scopes/project-scopes.ee.ts
  packages/@n8n/permissions/src/utilities/__tests__/get-resource-permissions.test.ts
  packages/cli/src/modules/data-store/__tests__/data-store-aggregate.service.test.ts
  packages/cli/src/modules/data-store/__tests__/data-store.service.test.ts
  packages/cli/src/modules/data-store/__tests__/sql-utils.test.ts
  packages/cli/src/modules/data-store/data-store-aggregate.controller.ts
  packages/cli/src/modules/data-store/data-store-aggregate.service.ts
  packages/cli/src/modules/data-store/data-store-column.entity.ts
  packages/cli/src/modules/data-store/data-store-column.repository.ts
  packages/cli/src/modules/data-store/data-store-rows.repository.ts
  packages/cli/src/modules/data-store/data-store.controller.ts
  packages/cli/src/modules/data-store/data-store.entity.ts
  packages/cli/src/modules/data-store/data-store.module.ts
  packages/cli/src/modules/data-store/data-store.repository.ts
  packages/cli/src/modules/data-store/data-store.service.ts
  packages/cli/src/modules/data-store/data-store.types.ts
  packages/cli/src/modules/data-store/utils/sql-utils.ts
  packages/cli/test/integration/shared/types.ts
  packages/frontend/editor-ui/src/features/dataStore/DataStoreDetailsView.vue
  packages/frontend/editor-ui/src/features/dataStore/DataStoreView.test.ts
  packages/frontend/editor-ui/src/features/dataStore/components/DataStoreActions.test.ts
  packages/frontend/editor-ui/src/features/dataStore/components/DataStoreActions.vue
  packages/frontend/editor-ui/src/features/dataStore/components/DataStoreBreadcrumbs.test.ts
  packages/frontend/editor-ui/src/features/dataStore/components/DataStoreBreadcrumbs.vue
  packages/frontend/editor-ui/src/features/dataStore/dataStore.api.ts
  packages/frontend/editor-ui/src/features/dataStore/dataStore.store.ts
  packages/frontend/editor-ui/src/features/dataStore/datastore.types.ts
  packages/frontend/editor-ui/src/features/dataStore/types.ts
  packages/frontend/editor-ui/src/stores/rbac.store.ts
Labels: core, n8n team

#18259 chore(editor): Fix typecheck to fix CI again
  packages/frontend/editor-ui/src/features/dataStore/components/DataStoreBreadcrumbs.vue
Labels: n8n team

#18263 fix(editor): Ready to run workflows template fix (no-changelog)
  packages/frontend/editor-ui/src/experiments/readyToRunWorkflows/workflows/1_playground.ts
Labels: n8n team, release/backport

#18282 fix(editor): Fix TS type export for ListDataStoreContentFilter
  packages/@n8n/api-types/src/dto/index.ts
Labels: n8n team

#18257 feat(core): Set up native Python task runner project (no-changelog)
  .gitignore
  .prettierignore
  packages/@n8n/task-runner-python/.python-version
  packages/@n8n/task-runner-python/README.md
  packages/@n8n/task-runner-python/justfile
  packages/@n8n/task-runner-python/pyproject.toml
  packages/@n8n/task-runner-python/src/main.py
  packages/@n8n/task-runner-python/uv.lock
Labels: n8n team

#18309 ci: Cat 1135 setup renovate for automated dependency updates across n8n
  renovate.json
Labels: n8n team

#18061 chore: Deprecate Zep nodes
  packages/@n8n/nodes-langchain/credentials/ZepApi.credentials.ts
  packages/@n8n/nodes-langchain/nodes/memory/MemoryZep/MemoryZep.node.ts
  packages/@n8n/nodes-langchain/nodes/vector_store/VectorStoreZep/VectorStoreZep.node.ts
  packages/@n8n/nodes-langchain/nodes/vector_store/VectorStoreZepInsert/VectorStoreZepInsert.node.ts
  packages/@n8n/nodes-langchain/nodes/vector_store/VectorStoreZepLoad/VectorStoreZepLoad.node.ts
  packages/@n8n/nodes-langchain/nodes/vector_store/shared/createVectorStoreNode/types.ts
Labels: community, in linear

#18341 fix: Add missing type check, updated turbo config
  packages/frontend/editor-ui/src/features/dataStore/components/DataStoreBreadcrumbs.vue
  turbo.json
Labels: n8n team

#18336 ci: Update config to match PR convention
  renovate.json
Labels: n8n team

#18342 fix(core): Restrict data store access to authorized projects (no-changelog)
  packages/@n8n/permissions/src/roles/scopes/global-scopes.ee.ts
  packages/cli/src/modules/data-store/__tests__/data-store.controller.test.ts
  packages/cli/src/modules/data-store/__tests__/data-store.service.test.ts
  packages/cli/src/modules/data-store/data-store.controller.ts
  packages/cli/src/modules/data-store/data-store.repository.ts
  packages/cli/src/modules/data-store/data-store.service.ts
  packages/cli/src/modules/data-store/utils/sql-utils.ts
  packages/cli/test/integration/shared/db/data-stores.ts
  packages/cli/test/integration/shared/utils/test-server.ts
Labels: core, n8n team

#18239 fix(Wait Node): Add validation for wait amount and unit
  packages/nodes-base/nodes/Wait/Wait.node.ts
  packages/nodes-base/nodes/Wait/test/Wait.node.test.ts
  packages/nodes-base/nodes/Wait/validation.ts
Labels: node/improvement, n8n team

#18199 fix(editor): Fix 'Shared with me' page tabs and header
  packages/frontend/editor-ui/src/components/Projects/ProjectHeader.vue
Labels: n8n team

#18324 refactor(core): Port concurrency config
  packages/@n8n/config/src/configs/executions.config.ts
  packages/@n8n/config/test/config.test.ts
  packages/cli/src/commands/worker.ts
  packages/cli/src/concurrency/__tests__/concurrency-control.service.test.ts
  packages/cli/src/concurrency/concurrency-control.service.ts
  packages/cli/src/config/schema.ts
  packages/cli/src/services/frontend.service.ts
Labels: core, n8n team

#18380 refactor(core): Add Data store specific errors use them at service / repository (no-changelog)
  packages/@n8n/api-types/src/dto/data-store/move-data-store-column.dto.ts
  packages/cli/src/modules/data-store/__tests__/data-store.controller.test.ts
  packages/cli/src/modules/data-store/__tests__/data-store.service.test.ts
  packages/cli/src/modules/data-store/data-store-column.repository.ts
  packages/cli/src/modules/data-store/data-store.controller.ts
  packages/cli/src/modules/data-store/data-store.service.ts
  packages/cli/src/modules/data-store/errors/data-store-column-name-conflict.error.ts
  packages/cli/src/modules/data-store/errors/data-store-column-not-found.error.ts
  packages/cli/src/modules/data-store/errors/data-store-name-conflict.error.ts
  packages/cli/src/modules/data-store/errors/data-store-not-found.error.ts
  packages/cli/src/modules/data-store/errors/data-store-validation.error.ts
Labels: core, n8n team

#18397 perf(editor): Improve `executionDataToJson` performance (no-changelog)
  packages/frontend/editor-ui/src/utils/nodeTypesUtils.ts
Labels: n8n team

#18399 ci: Add CI for Python projects
  .github/workflows/ci-master.yml
  .github/workflows/ci-pull-requests.yml
  .github/workflows/ci-python.yml
Labels: n8n team

#18354 feat(core): Add auth and offers flow to native Python runner (no-changelog)
  .gitignore
  packages/@n8n/task-runner-python/.editorconfig
  packages/@n8n/task-runner-python/justfile
  packages/@n8n/task-runner-python/pyproject.toml
  packages/@n8n/task-runner-python/pyrightconfig.json
  packages/@n8n/task-runner-python/src/constants.py
  packages/@n8n/task-runner-python/src/main.py
  packages/@n8n/task-runner-python/src/message_serde.py
  packages/@n8n/task-runner-python/src/message_types/__init__.py
  packages/@n8n/task-runner-python/src/message_types/broker.py
  packages/@n8n/task-runner-python/src/message_types/runner.py
  packages/@n8n/task-runner-python/src/task_runner.py
  packages/@n8n/task-runner-python/uv.lock
Labels: n8n team

#18410 fix(n8n Form Trigger Node): Make order of form field name inputs consistent
  packages/nodes-base/nodes/Form/common.descriptions.ts
Labels: node/improvement, n8n team

#18231 feat: Add performance plan presets for testcontainers
  packages/testing/containers/README.md
  packages/testing/containers/index.ts
  packages/testing/containers/n8n-start-stack.ts
  packages/testing/containers/n8n-test-container-creation.ts
  packages/testing/containers/package.json
  packages/testing/containers/performance-plans.ts
  packages/testing/playwright/README.md
  packages/testing/playwright/fixtures/base.ts
  packages/testing/playwright/fixtures/cloud.ts
  packages/testing/playwright/package.json
  packages/testing/playwright/playwright-projects.ts
  packages/testing/playwright/tests/performance/large-node-cloud.spec.ts
Labels: n8n team

#18393 fix(Airtable Node): Create record: skip type validation when typecast is enabled
  packages/nodes-base/nodes/Airtable/test/v2/node/helpers.ts
  packages/nodes-base/nodes/Airtable/test/v2/node/record/create.test.ts
  packages/nodes-base/nodes/Airtable/v2/actions/record/create.operation.ts
Labels: node/improvement, n8n team

#18483 feat(editor): Implement row management for data stores (no-changelog)
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/features/dataStore/DataStoreDetailsView.vue
  packages/frontend/editor-ui/src/features/dataStore/components/dataGrid/DataStoreTable.test.ts
  packages/frontend/editor-ui/src/features/dataStore/components/dataGrid/DataStoreTable.vue
  packages/frontend/editor-ui/src/features/dataStore/composables/useDataStoreTypes.ts
  packages/frontend/editor-ui/src/features/dataStore/constants.ts
  packages/frontend/editor-ui/src/features/dataStore/dataStore.api.ts
  packages/frontend/editor-ui/src/features/dataStore/dataStore.store.ts
  packages/frontend/editor-ui/src/features/dataStore/typeGuards.ts
Labels: n8n team

#18484 ci: Increase Playwright test parallelism
  .github/workflows/e2e-reusable.yml
  .github/workflows/playwright-test-reusable.yml
  packages/testing/playwright/composables/ProjectComposer.ts
  packages/testing/playwright/composables/WorkflowComposer.ts
  packages/testing/playwright/pages/CanvasPage.ts
  packages/testing/playwright/pages/WorkflowsPage.ts
  packages/testing/playwright/playwright-projects.ts
  packages/testing/playwright/playwright.config.ts
  packages/testing/playwright/services/webhook-helper.ts
  packages/testing/playwright/services/workflow-api-helper.ts
  packages/testing/playwright/tests/performance/perf-examples.spec.ts
  packages/testing/playwright/tests/ui/1-workflows.spec.ts
  packages/testing/playwright/tests/ui/13-pinning.spec.ts
  packages/testing/playwright/tests/ui/39-projects.spec.ts
  packages/testing/playwright/tests/ui/webhook-external-trigger.spec.ts
Labels: n8n team

#18529 fix(editor): Refactor for-of loops to replace forEach on Set.values() for node 20 compatibility
  packages/frontend/editor-ui/src/features/workflow-diff/useWorkflowDiff.ts
Labels: n8n team

#18531 fix: Do not include word 'workflow' in auto-generated name (no-changelog)
  packages/@n8n/ai-workflow-builder.ee/src/chains/workflow-name.ts
Labels: n8n team

#18538 refactor(editor): Update Code node editor for native Python runner
  packages/frontend/editor-ui/src/components/CodeNodeEditor/CodeNodeEditor.vue
  packages/frontend/editor-ui/src/components/CodeNodeEditor/completer.ts
  packages/frontend/editor-ui/src/components/CodeNodeEditor/constants.ts
  packages/frontend/editor-ui/src/components/ParameterInput.vue
  packages/frontend/editor-ui/src/composables/useCodeEditor.ts
  packages/nodes-base/nodes/Code/descriptions/PythonCodeDescription.ts
  packages/workflow/src/constants.ts
Labels: node/improvement, core, n8n team

#18492 fix(core): Move `/module-settings` behind auth
  packages/cli/src/controllers/module-settings.controller.ts
  packages/cli/src/server.ts
  packages/cli/test/integration/controllers/module-settings.controller.test.ts
  packages/cli/test/integration/shared/types.ts
  packages/cli/test/integration/shared/utils/test-server.ts
Labels: core, n8n team

#18530 feat(editor): Add Alt+Meta+O keyboard shortcut for the About modal
  cypress/e2e/12-canvas.cy.ts
  cypress/pages/workflow.ts
  packages/frontend/editor-ui/src/components/MainSidebar.vue
  packages/frontend/editor-ui/src/views/NodeView.vue
Labels: n8n team

#18536 refactor(core): Implement remaining feedback from #17864
  packages/core/src/execution-engine/workflow-execute.ts
Labels: core, n8n team

#18480 fix(core): Don't reveal whether files exists if they're not within allowed paths
  packages/core/src/execution-engine/node-execution-context/utils/__tests__/file-system-helper-functions.test.ts
  packages/core/src/execution-engine/node-execution-context/utils/file-system-helper-functions.ts
Labels: core, n8n team

#18390 feat(editor): Add custom data store column headers (no-changelog)
  packages/cli/src/modules/data-store/__tests__/data-store.service.test.ts
  packages/cli/src/modules/data-store/data-store.repository.ts
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/features/dataStore/components/dataGrid/AddColumnPopover.vue
  packages/frontend/editor-ui/src/features/dataStore/components/dataGrid/ColumnHeader.test.ts
  packages/frontend/editor-ui/src/features/dataStore/components/dataGrid/ColumnHeader.vue
  packages/frontend/editor-ui/src/features/dataStore/components/dataGrid/DataStoreTable.vue
  packages/frontend/editor-ui/src/features/dataStore/composables/useDataStoreTypes.ts
  packages/frontend/editor-ui/src/features/dataStore/dataStore.api.ts
  packages/frontend/editor-ui/src/features/dataStore/dataStore.store.test.ts
  packages/frontend/editor-ui/src/features/dataStore/dataStore.store.ts
  packages/frontend/editor-ui/src/features/dataStore/typeGuards.ts
  pnpm-lock.yaml
Labels: core, n8n team

#18016 feat: Evaluation framework for AI Workflow Builder
  packages/@n8n/ai-workflow-builder.ee/evaluations/README.md
  packages/@n8n/ai-workflow-builder.ee/evaluations/chains/test-case-generator.ts
  packages/@n8n/ai-workflow-builder.ee/evaluations/chains/workflow-evaluator.ts
  packages/@n8n/ai-workflow-builder.ee/evaluations/cli/display.ts
  packages/@n8n/ai-workflow-builder.ee/evaluations/cli/runner.ts
  packages/@n8n/ai-workflow-builder.ee/evaluations/core/environment.ts
  packages/@n8n/ai-workflow-builder.ee/evaluations/core/test-runner.ts
  packages/@n8n/ai-workflow-builder.ee/evaluations/index.ts
  packages/@n8n/ai-workflow-builder.ee/evaluations/langsmith/evaluator.ts
  packages/@n8n/ai-workflow-builder.ee/evaluations/langsmith/runner.ts
  packages/@n8n/ai-workflow-builder.ee/evaluations/load-nodes.ts
  packages/@n8n/ai-workflow-builder.ee/evaluations/types/evaluation.ts
  packages/@n8n/ai-workflow-builder.ee/evaluations/types/langsmith.ts
  packages/@n8n/ai-workflow-builder.ee/evaluations/types/test-result.ts
  packages/@n8n/ai-workflow-builder.ee/evaluations/utils/evaluation-calculator.ts
  packages/@n8n/ai-workflow-builder.ee/evaluations/utils/evaluation-helpers.ts
  packages/@n8n/ai-workflow-builder.ee/evaluations/utils/evaluation-reporter.ts
  packages/@n8n/ai-workflow-builder.ee/package.json
  packages/@n8n/ai-workflow-builder.ee/src/chains/prompts/prompt-builder.ts
  packages/@n8n/ai-workflow-builder.ee/src/utils/token-usage.ts
Labels: n8n team

#18586 fix(core): Dynamically import `@sentry/node-native`
  packages/core/src/errors/error-reporter.ts
Labels: release/backport

#18585 feat(editor): Add mechanism for showing hidden nodes if required modules are enabled
  packages/frontend/editor-ui/src/constants.ts
  packages/frontend/editor-ui/src/features/dataStore/constants.ts
  packages/frontend/editor-ui/src/stores/nodeTypes.store.ts
Labels: n8n team

#18577 Revert "fix(core): Check all node outputs when using "Always Output Data" before adding an empty object"
  packages/core/src/execution-engine/__tests__/workflows/always_output_data_multiple_outputs.json
  packages/core/src/execution-engine/__tests__/workflows/paired_items_fix.json
  packages/core/src/execution-engine/workflow-execute.ts
Labels: core, n8n team, release/backport

#18406 fix: Handle AI errors better in builder (no-changelog)
  packages/@n8n/ai-workflow-builder.ee/src/ai-workflow-builder-agent.service.ts
  packages/@n8n/ai-workflow-builder.ee/src/test/workflow-builder-agent.test.ts
  packages/@n8n/ai-workflow-builder.ee/src/workflow-builder-agent.ts
  packages/frontend/@n8n/design-system/src/components/AskAssistantChat/messages/ErrorMessage.vue
  packages/frontend/editor-ui/src/composables/useBuilderMessages.test.ts
  packages/frontend/editor-ui/src/composables/useBuilderMessages.ts
  packages/frontend/editor-ui/src/stores/builder.store.ts
Labels: core, n8n team

#18540 chore: Silence lint warnings for playwright package
  packages/testing/playwright/package.json
Labels: n8n team

#17803 fix(core): Fix getting webhook methods from path only when dynamic webhook path
  packages/cli/src/webhooks/__tests__/test-webhooks.test.ts
  packages/cli/src/webhooks/__tests__/webhook.service.test.ts
  packages/cli/src/webhooks/test-webhook-registrations.service.ts
  packages/cli/src/webhooks/test-webhooks.ts
  packages/cli/src/webhooks/webhook.service.ts
Labels: core, n8n team

#18455 test: Migrate 1183-ado from Cypress to Playwright
  cypress/e2e/1338-ADO-ndv-missing-input-panel.cy.ts
  cypress/fixtures/Test_ado_1338.json
  packages/testing/playwright/pages/NodeDisplayViewPage.ts
  packages/testing/playwright/tests/ui/1338-ADO-ndv-missing-input-panel.spec.ts
  packages/testing/playwright/workflows/Test_ado_1338.json
Labels: n8n team

#18597 test: Add core entry points to allow easier test setup
  packages/testing/playwright/composables/TestEntryComposer.ts
  packages/testing/playwright/fixtures/base.ts
  packages/testing/playwright/package.json
  packages/testing/playwright/pages/WorkflowsPage.ts
  packages/testing/playwright/pages/n8nPage.ts
  packages/testing/playwright/playwright.config.ts
  packages/testing/playwright/services/api-helper.ts
  packages/testing/playwright/services/project-api-helper.ts
  packages/testing/playwright/services/webhook-helper.ts
  packages/testing/playwright/services/workflow-api-helper.ts
  packages/testing/playwright/tests/ui/building-blocks/01-core-ui-patterns.spec.ts
  packages/testing/playwright/tests/ui/webhook-external-trigger.spec.ts
  packages/testing/playwright/workflows/manual.json
  packages/testing/playwright/workflows/simple-webhook-test.json
  pnpm-lock.yaml
Labels: n8n team

#18533 fix: Allow node-cli to be published (no-changelog)
  packages/@n8n/node-cli/package.json
Labels: n8n team

#18411 fix(Microsoft SQL Node): Correctly resolve expressions with dollar signs
  packages/nodes-base/nodes/Microsoft/Sql/MicrosoftSql.node.ts
  packages/nodes-base/nodes/Microsoft/Sql/test/MicrosoftSql.node.test.ts
Labels: node/improvement, n8n team

#18409 fix(editor): Fix importing curl commands with comma
  packages/frontend/editor-ui/src/composables/useImportCurlCommand.test.ts
  packages/frontend/editor-ui/src/composables/useImportCurlCommand.ts
Labels: n8n team

#18403 fix(editor): Show test URL when trigger is listening because of a connected node
  packages/frontend/editor-ui/src/__tests__/mocks.ts
  packages/frontend/editor-ui/src/components/TriggerPanel.test.ts
  packages/frontend/editor-ui/src/components/TriggerPanel.vue
Labels: n8n team

#18601 feat(core): Add data store row update endpoint (no-changelog)
  packages/@n8n/api-types/src/dto/data-store/update-data-store-row.dto.ts
  packages/@n8n/api-types/src/dto/data-store/upsert-data-store-rows.dto.ts
  packages/@n8n/api-types/src/dto/index.ts
  packages/@n8n/api-types/src/schemas/data-store.schema.ts
  packages/cli/src/modules/data-store/__tests__/data-store.controller.test.ts
  packages/cli/src/modules/data-store/__tests__/data-store.service.test.ts
  packages/cli/src/modules/data-store/__tests__/sql-utils.test.ts
  packages/cli/src/modules/data-store/data-store-rows.repository.ts
  packages/cli/src/modules/data-store/data-store.controller.ts
  packages/cli/src/modules/data-store/data-store.service.ts
  packages/cli/src/modules/data-store/utils/sql-utils.ts
  packages/workflow/src/data-store.types.ts
Labels: core, n8n team

#18629 chore(core): Show a warning if `N8N_BLOCK_ENV_ACCESS_IN_NODE` is not set
  packages/cli/src/deprecation/__tests__/deprecation.service.test.ts
  packages/cli/src/deprecation/deprecation.service.ts
Labels: core, n8n team

#18634 chore: Upgrade launcher to 1.2.0
  docker/images/n8n/Dockerfile
Labels: n8n team

#18589 feat(core): Return IDs of inserted rows in Data Store (no-changelog)
  packages/cli/src/modules/data-store/__tests__/data-store.controller.test.ts
  packages/cli/src/modules/data-store/__tests__/data-store.service.test.ts
  packages/cli/src/modules/data-store/__tests__/sql-utils.test.ts
  packages/cli/src/modules/data-store/data-store-rows.repository.ts
  packages/cli/src/modules/data-store/data-store.controller.ts
  packages/cli/src/modules/data-store/utils/sql-utils.ts
  packages/workflow/src/data-store.types.ts
Labels: core, n8n team

#18635 fix: Remove extraneous dependencies from node-cli, publish create-node package (no-changelog)
  packages/@n8n/create-node/bin/create.js
  packages/@n8n/create-node/package.json
  packages/@n8n/node-cli/README.md
  packages/@n8n/node-cli/eslint.config.mjs
  packages/@n8n/node-cli/package.json
  packages/@n8n/node-cli/src/commands/dev/utils.ts
  packages/@n8n/node-cli/src/configs/eslint.ts
  packages/@n8n/node-cli/src/utils/json.ts
  packages/@n8n/node-cli/src/utils/package.ts
  pnpm-lock.yaml
Labels: n8n team

#18636 test: Add credential helper and ndv helper
  packages/testing/playwright/helpers/NodeParameterHelper.ts
  packages/testing/playwright/pages/CanvasPage.ts
  packages/testing/playwright/pages/NodeDetailsViewPage.ts
  packages/testing/playwright/pages/n8nPage.ts
  packages/testing/playwright/services/api-helper.ts
  packages/testing/playwright/services/credential-api-helper.ts
  packages/testing/playwright/services/project-api-helper.ts
  packages/testing/playwright/tests/ui/building-blocks/01-workflow-entry-points.spec.ts
  packages/testing/playwright/tests/ui/building-blocks/03-node-details-configuration.spec.ts
  packages/testing/playwright/tests/ui/credential-api-operations.spec.ts
Labels: n8n team

#18642 chore(core): Add browser id on the oidc issue cookie
  packages/cli/src/sso.ee/oidc/routes/__tests__/oidc.controller.ee.test.ts
  packages/cli/src/sso.ee/oidc/routes/oidc.controller.ee.ts
Labels: core, n8n team

#18655 fix(editor): Hide sso auth protocol selection if no license available
  packages/frontend/editor-ui/src/views/SettingsSso.test.ts
  packages/frontend/editor-ui/src/views/SettingsSso.vue
Labels: n8n team

#18659 feat(core): Use query builder for upsert fetch and split rows (no-changelog)
  packages/cli/src/modules/data-store/__tests__/data-store.service.test.ts
  packages/cli/src/modules/data-store/data-store-rows.repository.ts
Labels: core, n8n team

#18541 fix(editor): Update misleading toaster success message when creating a personal workflow / credential
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/components/CredentialEdit/CredentialEdit.vue
  packages/frontend/editor-ui/src/components/MainHeader/WorkflowDetails.test.ts
  packages/frontend/editor-ui/src/components/MainHeader/WorkflowDetails.vue
Labels: n8n team

#18607 fix(editor): Add fallback color for NodeItem Icons
  packages/frontend/editor-ui/src/components/Node/NodeCreator/ItemTypes/NodeItem.vue
Labels: n8n team

#18587 feat(editor): Data store UI/UX improvements (no-changelog)
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/features/dataStore/DataStoreDetailsView.vue
  packages/frontend/editor-ui/src/features/dataStore/DataStoreView.vue
  packages/frontend/editor-ui/src/features/dataStore/components/DataStoreActions.test.ts
  packages/frontend/editor-ui/src/features/dataStore/components/DataStoreActions.vue
  packages/frontend/editor-ui/src/features/dataStore/components/DataStoreBreadcrumbs.test.ts
  packages/frontend/editor-ui/src/features/dataStore/components/DataStoreBreadcrumbs.vue
  packages/frontend/editor-ui/src/features/dataStore/components/DataStoreCard.test.ts
  packages/frontend/editor-ui/src/features/dataStore/components/DataStoreCard.vue
  packages/frontend/editor-ui/src/features/dataStore/components/dataGrid/AddColumnPopover.vue
  packages/frontend/editor-ui/src/features/dataStore/components/dataGrid/DataStoreTable.test.ts
  packages/frontend/editor-ui/src/features/dataStore/components/dataGrid/DataStoreTable.vue
  packages/frontend/editor-ui/src/features/dataStore/components/dataGrid/NullEmptyCellRenderer.vue
  packages/frontend/editor-ui/src/features/dataStore/constants.ts
  packages/frontend/editor-ui/src/features/dataStore/dataStore.api.ts
  packages/frontend/editor-ui/src/features/dataStore/dataStore.store.ts
  packages/frontend/editor-ui/src/features/dataStore/module.descriptor.ts
Labels: n8n team

#18657 feat(core): Optionally return full rows from Data Table inserts (no-changelog)
  packages/@n8n/api-types/src/dto/data-store/add-data-store-rows.dto.ts
  packages/cli/src/modules/data-store/__tests__/data-store.controller.test.ts
  packages/cli/src/modules/data-store/__tests__/data-store.service.test.ts
  packages/cli/src/modules/data-store/data-store-proxy.service.ts
  packages/cli/src/modules/data-store/data-store-rows.repository.ts
  packages/cli/src/modules/data-store/data-store.controller.ts
  packages/cli/src/modules/data-store/data-store.service.ts
  packages/cli/src/modules/data-store/utils/sql-utils.ts
  packages/workflow/src/data-store.types.ts
Labels: core, n8n team

#18675 chore(core): Rename Data Store module to Data Table (no-changelog)
  packages/@n8n/backend-common/src/modules/__tests__/module-registry.test.ts
  packages/@n8n/backend-common/src/modules/modules.config.ts
  packages/@n8n/config/src/configs/logging.config.ts
  packages/cli/src/__tests__/workflow-execute-additional-data.test.ts
  packages/cli/src/modules/data-table/__tests__/data-store-aggregate.controller.test.ts
  packages/cli/src/modules/data-table/__tests__/data-store-aggregate.service.test.ts
  packages/cli/src/modules/data-table/__tests__/data-store-proxy.service.test.ts
  packages/cli/src/modules/data-table/__tests__/data-store.controller.test.ts
  packages/cli/src/modules/data-table/__tests__/data-store.service.test.ts
  packages/cli/src/modules/data-table/__tests__/sql-utils.test.ts
  packages/cli/src/modules/data-table/data-store-aggregate.controller.ts
  packages/cli/src/modules/data-table/data-store-aggregate.service.ts
  packages/cli/src/modules/data-table/data-store-column.entity.ts
  packages/cli/src/modules/data-table/data-store-column.repository.ts
  packages/cli/src/modules/data-table/data-store-proxy.service.ts
  packages/cli/src/modules/data-table/data-store-rows.repository.ts
  packages/cli/src/modules/data-table/data-store.controller.ts
  packages/cli/src/modules/data-table/data-store.entity.ts
  packages/cli/src/modules/data-table/data-store.repository.ts
  packages/cli/src/modules/data-table/data-store.service.ts
  packages/cli/src/modules/data-table/data-store.types.ts
  packages/cli/src/modules/data-table/data-table.module.ts
  packages/cli/src/modules/data-table/errors/data-store-column-name-conflict.error.ts
  packages/cli/src/modules/data-table/errors/data-store-column-not-found.error.ts
  packages/cli/src/modules/data-table/errors/data-store-name-conflict.error.ts
  packages/cli/src/modules/data-table/errors/data-store-not-found.error.ts
  packages/cli/src/modules/data-table/errors/data-store-validation.error.ts
  packages/cli/src/modules/data-table/utils/sql-utils.ts
  packages/cli/src/scaling/__tests__/job-processor.service.test.ts
  packages/cli/src/workflow-execute-additional-data.ts
  packages/cli/test/integration/shared/db/data-stores.ts
  packages/cli/test/integration/shared/types.ts
  packages/cli/test/integration/shared/utils/test-server.ts
  packages/frontend/editor-ui/src/features/dataStore/constants.ts
  packages/frontend/editor-ui/src/features/dataStore/module.descriptor.ts
  packages/frontend/editor-ui/src/stores/ui.store.ts
Labels: core, n8n team

#18723 feat(core): Add createdAt and updatedAt to data store user tables (no-changelog)
  packages/cli/src/modules/data-table/__tests__/data-store.controller.test.ts
  packages/cli/src/modules/data-table/__tests__/data-store.service.test.ts
  packages/cli/src/modules/data-table/data-store-rows.repository.ts
  packages/cli/src/modules/data-table/utils/sql-utils.ts
Labels: core, n8n team

#18718 feat(core): Warn about data table module usage (no-changelog)
  packages/cli/src/modules/data-table/data-table.module.ts
Labels: core, n8n team

#18556 feat(Data Table Node): Add Data Table Node (no-changelog)
  packages/cli/src/modules/data-table/__tests__/data-store-proxy.service.test.ts
  packages/cli/src/modules/data-table/data-store-proxy.service.ts
  packages/frontend/editor-ui/src/constants.ts
  packages/nodes-base/nodes/DataTable/DataTable.node.json
  packages/nodes-base/nodes/DataTable/DataTable.node.ts
  packages/nodes-base/nodes/DataTable/actions/router.ts
  packages/nodes-base/nodes/DataTable/actions/row/Row.resource.ts
  packages/nodes-base/nodes/DataTable/actions/row/get.operation.ts
  packages/nodes-base/nodes/DataTable/actions/row/insert.operation.ts
  packages/nodes-base/nodes/DataTable/common/constants.ts
  packages/nodes-base/nodes/DataTable/common/fields.ts
  packages/nodes-base/nodes/DataTable/common/methods.ts
  packages/nodes-base/nodes/DataTable/common/selectMany.ts
  packages/nodes-base/nodes/DataTable/common/utils.ts
  packages/nodes-base/nodes/DataTable/test/actions/rows/get.operation.test.ts
  packages/nodes-base/package.json
Labels: node/new, n8n team

#18733 chore: Add null to DataStoreColumnJsType (no-changelog)
  packages/cli/src/modules/data-table/data-store-rows.repository.ts
  packages/cli/src/modules/data-table/utils/sql-utils.ts
  packages/workflow/src/data-store.types.ts
Labels: core, n8n team

#18746 chore: Run watch mode concurrently
  package.json
Labels: n8n team

#18749 feat(editor): Persistent values in resource locator (no-changelog)
  packages/frontend/editor-ui/src/components/ResourceLocator/ResourceLocator.vue
Labels: n8n team

#18724 refactor(core): Add lint rule `no-internal-package-import`
  packages/@n8n/api-types/src/index.ts
  packages/@n8n/config/src/index.ts
  packages/@n8n/eslint-config/src/configs/frontend.ts
  packages/@n8n/eslint-config/src/plugin.ts
  packages/@n8n/eslint-config/src/rules/index.ts
  packages/@n8n/eslint-config/src/rules/no-internal-package-import.test.ts
  packages/@n8n/eslint-config/src/rules/no-internal-package-import.ts
  packages/cli/src/databases/repositories/__tests__/execution.repository.test.ts
  packages/cli/src/modules/insights/insights.controller.ts
  packages/cli/src/task-runners/task-broker/errors/task-runner-execution-timeout.error.ts
  packages/frontend/editor-ui/eslint.config.mjs
Labels: core, n8n team

#18759 ci: Drop MySQL 8.0.13
  .github/docker-compose.yml
  .github/workflows/ci-postgres-mysql.yml
Labels: n8n team

#18748 refactor(core): Fix lints, improve comment and add initial blackbox tests for the engine
  packages/core/src/execution-engine/__tests__/mock-node-types.ts
  packages/core/src/execution-engine/__tests__/workflow-execute-process-process-run-execution-data.test.ts
  packages/core/src/execution-engine/workflow-execute.ts
  packages/core/tsconfig.json
Labels: core, n8n team

#18630 feat(core): Support `print` RPC call in native Python runner (no-changelog)
  packages/@n8n/task-runner-python/src/constants.py
  packages/@n8n/task-runner-python/src/logs.py
  packages/@n8n/task-runner-python/src/message_serde.py
  packages/@n8n/task-runner-python/src/message_types/__init__.py
  packages/@n8n/task-runner-python/src/message_types/broker.py
  packages/@n8n/task-runner-python/src/message_types/runner.py
  packages/@n8n/task-runner-python/src/task_executor.py
  packages/@n8n/task-runner-python/src/task_runner.py
  packages/frontend/editor-ui/src/components/CodeNodeEditor/completer.ts
Labels: n8n team

#18788 refactor(core): Make native Python runner compatible with launcher
  packages/@n8n/task-runner-python/justfile
  packages/@n8n/task-runner-python/src/constants.py
  packages/@n8n/task-runner-python/src/logs.py
  packages/@n8n/task-runner-python/src/main.py
  packages/@n8n/task-runner-python/src/message_serde.py
  packages/@n8n/task-runner-python/src/message_types/broker.py
  packages/@n8n/task-runner-python/src/message_types/runner.py
  packages/@n8n/task-runner-python/src/nanoid_utils.py
  packages/@n8n/task-runner-python/src/task_executor.py
  packages/@n8n/task-runner-python/src/task_runner.py
Labels: n8n team

#18668 feat(editor): Add Python to Code actions
  cypress/constants.ts
  cypress/e2e/10-undo-redo.cy.ts
  cypress/e2e/12-canvas.cy.ts
  cypress/e2e/5-ndv.cy.ts
  cypress/pages/workflow.ts
  packages/frontend/editor-ui/src/Interface.ts
  packages/frontend/editor-ui/src/components/Node/NodeCreator/composables/useActions.ts
  packages/frontend/editor-ui/src/components/Node/NodeCreator/composables/useActionsGeneration.ts
  packages/nodes-base/nodes/Code/Code.node.ts
  packages/testing/playwright/config/constants.ts
  packages/testing/playwright/pages/CanvasPage.ts
  packages/testing/playwright/tests/ui/02-canvas-actions.spec.ts
  packages/testing/playwright/tests/ui/12-canvas-actions.spec.ts
  packages/testing/playwright/tests/ui/6-code-node.spec.ts
  packages/workflow/src/node-helpers.ts
  packages/workflow/test/node-helpers.test.ts
Labels: node/improvement, core, n8n team

#18486 perf(editor): Optimize log entries calculation with throttled watcher (no-changelog)
  cypress/composables/logs.ts
  packages/frontend/editor-ui/src/features/logs/components/LogsPanel.test.ts
  packages/frontend/editor-ui/src/features/logs/composables/useLogsExecutionData.test.ts
  packages/frontend/editor-ui/src/features/logs/composables/useLogsExecutionData.ts
  packages/frontend/editor-ui/src/features/logs/composables/useLogsSelection.ts
  packages/frontend/editor-ui/src/features/logs/composables/useLogsTreeExpand.ts
  packages/frontend/editor-ui/src/features/logs/logs.types.ts
  packages/frontend/editor-ui/src/features/logs/logs.utils.ts
Labels: ui, n8n team, performance

#18787 fix: Overhaul DataTableRowWithId type and include createdAt, insertedAt in getMany return (no-changelog)
  packages/cli/src/modules/data-table/__tests__/data-store-proxy.service.test.ts
  packages/cli/src/modules/data-table/__tests__/data-store.controller.test.ts
  packages/cli/src/modules/data-table/__tests__/data-store.service.test.ts
  packages/cli/src/modules/data-table/data-store-proxy.service.ts
  packages/cli/src/modules/data-table/data-store-rows.repository.ts
  packages/cli/src/modules/data-table/data-store.controller.ts
  packages/cli/src/modules/data-table/data-store.service.ts
  packages/cli/src/modules/data-table/utils/sql-utils.ts
  packages/workflow/src/data-store.types.ts
Labels: core, n8n team

#18818 fix(editor): Fix "error connecting to n8n" error if not logged in
  packages/frontend/editor-ui/src/init.ts
  packages/frontend/editor-ui/src/stores/settings.store.ts
  packages/frontend/editor-ui/src/views/SigninView.vue
Labels: n8n team

#18767 fix(core): Fix waiting webhooks validation when n8n is behind proxy
  packages/cli/src/webhooks/__tests__/waiting-forms.test.ts
  packages/cli/src/webhooks/__tests__/waiting-webhooks.test.ts
  packages/cli/src/webhooks/waiting-webhooks.ts
Labels: core, n8n team, release/backport

#18811 chore(core): Use tsc-watch in node-cli dev mode
  packages/@n8n/node-cli/package.json
Labels: n8n team

#18799 fix(HubSpot Node): Require DueDate for task creation
  packages/nodes-base/nodes/Hubspot/V2/EngagementDescription.ts
  packages/nodes-base/nodes/Hubspot/V2/HubspotV2.node.ts
  packages/nodes-base/nodes/Hubspot/V2/utils/parseToTimestamp.ts
  packages/nodes-base/nodes/Hubspot/__test__/Hubspot.node.test.ts
  packages/nodes-base/nodes/Hubspot/__test__/engagements.workflow.json
  packages/nodes-base/nodes/Hubspot/__test__/fixtures/engagements.json
  packages/nodes-base/nodes/Hubspot/__test__/utils/parseToTimestamp.test.ts
Labels: node/improvement, n8n team

#18847 fix(editor): Fix workflow list pagination visibility
  packages/frontend/editor-ui/src/components/layouts/ResourcesListLayout.vue
Labels: n8n team

#18845 refactor(core): Add test for workflow issue check and extract logic
  packages/core/src/execution-engine/__tests__/workflow-execute-process-process-run-execution-data.test.ts
  packages/core/src/execution-engine/workflow-execute.ts
Labels: core, n8n team

#18852 chore: Upgrade launcher to 1.3.0
  docker/images/n8n/Dockerfile
Labels: n8n team

#18814 feat(editor): Data table UI redesign (no-changelog)
  packages/frontend/@n8n/design-system/src/components/N8nActionDropdown/ActionDropdown.vue
  packages/frontend/@n8n/design-system/src/css/_tokens.dark.scss
  packages/frontend/@n8n/design-system/src/css/_tokens.scss
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/components/Projects/ProjectHeader.test.ts
  packages/frontend/editor-ui/src/components/Projects/ProjectHeader.vue
  packages/frontend/editor-ui/src/features/dataStore/DataStoreDetailsView.vue
  packages/frontend/editor-ui/src/features/dataStore/components/DataStoreBreadcrumbs.vue
  packages/frontend/editor-ui/src/features/dataStore/components/dataGrid/AddColumnButton.test.ts
  packages/frontend/editor-ui/src/features/dataStore/components/dataGrid/AddColumnButton.vue
  packages/frontend/editor-ui/src/features/dataStore/components/dataGrid/AddRowButton.vue
  packages/frontend/editor-ui/src/features/dataStore/components/dataGrid/DataStoreTable.test.ts
  packages/frontend/editor-ui/src/features/dataStore/components/dataGrid/DataStoreTable.vue
  packages/frontend/editor-ui/src/features/dataStore/components/dataGrid/NullEmptyCellRenderer.vue
  packages/frontend/editor-ui/src/features/dataStore/components/dataGrid/n8nTheme.ts
  packages/frontend/editor-ui/src/features/dataStore/constants.ts
  packages/frontend/editor-ui/src/features/dataStore/dataStore.api.ts
  packages/frontend/editor-ui/src/features/dataStore/dataStore.store.ts
  packages/frontend/editor-ui/src/stores/settings.store.ts
Labels: n8n team

#18865 fix(editor): Allow password managers to autocomplete MFA code during login
  packages/frontend/@n8n/design-system/src/types/form.ts
  packages/frontend/editor-ui/src/views/MfaView.vue
Labels: n8n team

#18867 fix(core): Fix truncate table names
  packages/cli/src/modules/data-table/__tests__/data-store-filters.test.ts
Labels: core, n8n team

#18824 feat(core): Adjust comment to test an experiment (no-changelog)
  packages/cli/src/modules/data-table/data-store.service.ts
Labels: core, n8n team

#18562 ci: Support experiment versions in github actions (no-changelog)
  .github/scripts/bump-versions.mjs
  .github/scripts/update-changelog.mjs
  .github/workflows/release-create-pr.yml
Labels: n8n team

#18842 feat(editor): Pre built agents experiment v2 (no-changelog)
  packages/frontend/@n8n/design-system/src/components/N8nNodeCreatorNode/NodeCreatorNode.vue
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/components/MainSidebar.vue
  packages/frontend/editor-ui/src/components/Modals.vue
  packages/frontend/editor-ui/src/components/Node/NodeCreator/utils.ts
  packages/frontend/editor-ui/src/components/PreBuiltAgentsModal.vue
  packages/frontend/editor-ui/src/composables/useCalloutHelpers.ts
  packages/frontend/editor-ui/src/composables/usePushConnection/handlers/executionFinished.ts
  packages/frontend/editor-ui/src/constants.ts
  packages/frontend/editor-ui/src/router.ts
  packages/frontend/editor-ui/src/stores/ui.store.ts
  packages/frontend/editor-ui/src/utils/templates/samples/agents/calendar-agent.json
  packages/frontend/editor-ui/src/utils/templates/samples/agents/voice-agent.json
  packages/frontend/editor-ui/src/utils/templates/samples/tutorial/api_fundamentals.json
  packages/frontend/editor-ui/src/utils/templates/samples/tutorial/build_your_first_ai_agent.json
  packages/frontend/editor-ui/src/utils/templates/samples/tutorial/expressions_tutorial.json
  packages/frontend/editor-ui/src/utils/templates/samples/tutorial/json_basics.json
  packages/frontend/editor-ui/src/utils/templates/samples/tutorial/workflow_logic.json
  packages/frontend/editor-ui/src/utils/templates/workflowSamples.ts
  packages/frontend/editor-ui/src/views/PrebuiltAgentTemplatesView.vue
  packages/frontend/editor-ui/src/views/WorkflowsView.vue
  packages/nodes-base/nodes/Google/Calendar/GoogleCalendar.node.ts
  packages/nodes-base/nodes/Telegram/Telegram.node.ts
Labels: node/improvement, n8n team

#18858 test: 14-mapping tests migration
  cypress/e2e/14-mapping.cy.ts
  packages/testing/playwright/docs/TROUBLESHOOTING.md
  packages/testing/playwright/pages/CanvasPage.ts
  packages/testing/playwright/pages/InteractionsPage.ts
  packages/testing/playwright/pages/NodeDetailsViewPage.ts
  packages/testing/playwright/pages/SidebarPage.ts
  packages/testing/playwright/pages/n8nPage.ts
  packages/testing/playwright/services/api-helper.ts
  packages/testing/playwright/tests/ui/12-canvas-actions.spec.ts
  packages/testing/playwright/tests/ui/13-pinning.spec.ts
  packages/testing/playwright/tests/ui/14-mapping.spec.ts
  packages/testing/playwright/tests/ui/39-projects.spec.ts
  packages/testing/playwright/tests/ui/6-code-node.spec.ts
  packages/testing/playwright/tests/ui/building-blocks/02-canvas-actions.spec.ts
  packages/testing/playwright/workflows/Test_workflow-actions_paste-data.json
  packages/testing/playwright/workflows/Test_workflow_3.json
  packages/testing/playwright/workflows/Test_workflow_webhook_with_pin_data.json
Labels: n8n team

#18899 fix(editor): Make resource locator work with data tables (no-changelog)
  packages/@n8n/api-types/src/dto/dynamic-node-parameters/resource-locator-request.dto.ts
  packages/cli/src/controllers/dynamic-node-parameters.controller.ts
  packages/cli/src/modules/data-table/data-store-proxy.service.ts
  packages/core/src/execution-engine/index.ts
  packages/core/src/execution-engine/node-execution-context/utils/data-store-helper-functions.ts
  packages/frontend/editor-ui/src/components/ResourceLocator/ResourceLocator.vue
  packages/workflow/src/interfaces.ts
Labels: core, n8n team

#18820 feat(Data Table Node): Add Update, Upsert operations (no-changelog)
  packages/cli/src/modules/data-table/__tests__/data-store.service.test.ts
  packages/cli/src/modules/data-table/data-store-proxy.service.ts
  packages/cli/src/modules/data-table/data-store.service.ts
  packages/nodes-base/nodes/DataTable/actions/router.ts
  packages/nodes-base/nodes/DataTable/actions/row/Row.resource.ts
  packages/nodes-base/nodes/DataTable/actions/row/insert.operation.ts
  packages/nodes-base/nodes/DataTable/actions/row/update.operation.ts
  packages/nodes-base/nodes/DataTable/actions/row/upsert.operation.ts
  packages/nodes-base/nodes/DataTable/common/addRow.ts
  packages/nodes-base/nodes/DataTable/common/fields.ts
  packages/nodes-base/nodes/DataTable/common/selectMany.ts
  packages/workflow/src/data-store.types.ts
Labels: node/improvement, core, n8n team

#18914 feat(core): Allow partial data table row inserts (no-changelog)
  packages/cli/src/modules/data-table/__tests__/data-store.service.test.ts
  packages/cli/src/modules/data-table/data-store-rows.repository.ts
  packages/cli/src/modules/data-table/data-store.service.ts
Labels: core, n8n team

#18828 feat(core): Add workflow JSON context trimming for AI workflow builder (no-changelog)
  packages/@n8n/ai-workflow-builder.ee/package.json
  packages/@n8n/ai-workflow-builder.ee/src/constants.ts
  packages/@n8n/ai-workflow-builder.ee/src/errors/index.ts
  packages/@n8n/ai-workflow-builder.ee/src/llm-config.ts
  packages/@n8n/ai-workflow-builder.ee/src/tools/get-node-parameter.tool.ts
  packages/@n8n/ai-workflow-builder.ee/src/tools/helpers/validation.ts
  packages/@n8n/ai-workflow-builder.ee/src/tools/prompts/main-agent.prompt.ts
  packages/@n8n/ai-workflow-builder.ee/src/tools/update-node-parameters.tool.ts
  packages/@n8n/ai-workflow-builder.ee/src/types/tools.ts
  packages/@n8n/ai-workflow-builder.ee/src/utils/test/trim-workflow-context.test.ts
  packages/@n8n/ai-workflow-builder.ee/src/utils/token-usage.ts
  packages/@n8n/ai-workflow-builder.ee/src/utils/trim-workflow-context.ts
  packages/@n8n/ai-workflow-builder.ee/src/workflow-builder-agent.ts
  pnpm-lock.yaml
Labels: n8n team

#18916 feat(editor): Support relative dependent parameters
  packages/core/src/execution-engine/node-execution-context/local-load-options-context.ts
  packages/frontend/editor-ui/src/components/ParameterInput.vue
  packages/frontend/editor-ui/src/components/ParameterInputList.vue
  packages/workflow/src/index.ts
  packages/workflow/src/node-parameters/path-utils.ts
  packages/workflow/test/node-parameters/path-utils.test.ts
Labels: core, n8n team

#18889 fix(core): Resolve SSH path issues on Windows
  packages/cli/src/environments.ee/source-control/__tests__/source-control-git.service.test.ts
  packages/cli/src/environments.ee/source-control/__tests__/source-control-preferences.service.ee.test.ts
  packages/cli/src/environments.ee/source-control/source-control-git.service.ee.ts
  packages/cli/src/environments.ee/source-control/source-control-preferences.service.ee.ts
Labels: core, n8n team

#17697 fix(GithubTrigger Node): Correctly access httpCode from error object
  packages/nodes-base/nodes/Github/GithubTrigger.node.ts
  packages/nodes-base/nodes/Github/__tests__/node/GithubTrigger.node.test.ts
Labels: node/improvement, community, in linear

#18922 test: Migrate small Cypress tests to Playwright
  cypress/e2e/2230-ADO-ndv-reset-data-pagination.cy.ts
  cypress/e2e/31-demo.cy.ts
  cypress/e2e/32-worker-view.cy.ts
  cypress/e2e/36-versions.cy.ts
  cypress/e2e/37-become-creator-cta.cy.ts
  packages/testing/playwright/pages/DemoPage.ts
  packages/testing/playwright/pages/NodeDetailsViewPage.ts
  packages/testing/playwright/pages/SettingsPage.ts
  packages/testing/playwright/pages/VersionsPage.ts
  packages/testing/playwright/pages/WorkerViewPage.ts
  packages/testing/playwright/pages/n8nPage.ts
  packages/testing/playwright/services/workflow-api-helper.ts
  packages/testing/playwright/tests/ui/2230-ADO-ndv-reset-data-pagination.spec.ts
  packages/testing/playwright/tests/ui/31-demo.spec.ts
  packages/testing/playwright/tests/ui/32-worker-view.spec.ts
  packages/testing/playwright/tests/ui/36-versions.spec.ts
  packages/testing/playwright/tests/ui/37-become-creator-cta.spec.ts
  packages/testing/playwright/workflows/NDV-debug-generate-data.json
Labels: n8n team

#18954 fix(Data Table Node): Adjust metadata (no-changelog)
  packages/nodes-base/nodes/DataTable/DataTable.node.json
  packages/nodes-base/nodes/DataTable/DataTable.node.ts
  packages/nodes-base/nodes/DataTable/actions/row/Row.resource.ts
Labels: node/improvement, n8n team

#18946 feat: Adds community scanner package
  packages/@n8n/scan-community-package/.gitignore
  packages/@n8n/scan-community-package/README.md
  packages/@n8n/scan-community-package/package.json
  packages/@n8n/scan-community-package/scanner/cli.mjs
  packages/@n8n/scan-community-package/scanner/eslint-plugin.mjs
  packages/@n8n/scan-community-package/scanner/scanner.mjs
  pnpm-lock.yaml
Labels: n8n team

#18948 feat(editor): Display created and updated at data table columns (no-changelog)
  packages/frontend/editor-ui/src/features/dataStore/components/dataGrid/ColumnHeader.test.ts
  packages/frontend/editor-ui/src/features/dataStore/components/dataGrid/ColumnHeader.vue
  packages/frontend/editor-ui/src/features/dataStore/components/dataGrid/DataStoreTable.vue
  packages/frontend/editor-ui/src/features/dataStore/dataStore.api.ts
  packages/frontend/editor-ui/src/features/dataStore/dataStore.store.ts
Labels: n8n team

#18958 fix(editor): Make Code node lint errors colorblind friendly
  packages/frontend/editor-ui/src/components/CodeNodeEditor/theme.ts
Labels: n8n team

#18961 fix(editor): Fix primitive values for code line highlight (no-changelog)
  packages/frontend/@n8n/design-system/src/css/_tokens.dark.scss
Labels: n8n team

#18804 fix(editor): Fix wf history button visibility issue
  packages/frontend/@n8n/design-system/src/css/_tokens.scss
Labels: n8n team
