Repository n8n-io/n8n, pull requests merged in 2025-04, with the labels that each got.

#14287 feat(Postgres Node): Batching warning for executeQuery operation insert query
  packages/nodes-base/nodes/Postgres/test/v2/utils.test.ts
  packages/nodes-base/nodes/Postgres/v2/actions/common.descriptions.ts
  packages/nodes-base/nodes/Postgres/v2/actions/router.ts
  packages/nodes-base/nodes/Postgres/v2/helpers/utils.ts
Labels: node/improvement, n8n team, node/issue

#14311 fix(core): Upgrade @mozilla/readability to address CVE-2025-2792
  packages/@n8n/nodes-langchain/package.json
  pnpm-lock.yaml
Labels: n8n team

#14254 fix(n8n Form Node): Remove field requirement and do not inherit description
  cypress/e2e/16-form-trigger-node.cy.ts
  packages/cli/templates/form-trigger.handlebars
  packages/nodes-base/nodes/Form/common.descriptions.ts
  packages/nodes-base/nodes/Form/formNodeUtils.ts
  packages/nodes-base/nodes/Form/interfaces.ts
  packages/nodes-base/nodes/Form/test/Form.node.test.ts
  packages/nodes-base/nodes/Form/test/FormTriggerV2.node.test.ts
  packages/nodes-base/nodes/Form/test/formNodeUtils.test.ts
  packages/nodes-base/nodes/Form/test/utils.test.ts
  packages/nodes-base/nodes/Form/utils.ts
  packages/nodes-base/utils/sendAndWait/test/util.test.ts
Labels: node/improvement, core, n8n team

#14308 ci: Update project references for backend and nodes packages (no-changelog)
  packages/@n8n/nodes-langchain/tsconfig.build.json
  packages/@n8n/nodes-langchain/tsconfig.json
  packages/@n8n/nodes-langchain/tsup.config.ts
  packages/cli/tsconfig.json
  packages/nodes-base/tsconfig.build.json
  packages/nodes-base/tsup.config.ts
Labels: node/improvement, core, n8n team

#14317 fix(editor): Hide node toolbar on `AddNodes` node type
  packages/frontend/editor-ui/src/components/canvas/elements/nodes/CanvasNode.vue
Labels: n8n team

#14319 ci: Fix code coverage for nodes-base (no-changelog)
  packages/nodes-base/test/nodes/load-nodes-and-credentials.ts
Labels: node/improvement, n8n team

#14315 feat(API): Add insights config on frontend settings
  packages/@n8n/api-types/src/frontend-settings.ts
  packages/cli/src/services/frontend.service.ts
  packages/frontend/editor-ui/src/__tests__/defaults.ts
Labels: core, n8n team

#14260 fix(editor): Change label for unexecuted nodes
  CONTRIBUTING.md
  packages/frontend/editor-ui/src/components/VirtualSchema.test.ts
  packages/frontend/editor-ui/src/components/VirtualSchema.vue
  packages/frontend/editor-ui/src/components/__snapshots__/VirtualSchema.test.ts.snap
  packages/frontend/editor-ui/src/composables/useDataSchema.ts
  packages/frontend/editor-ui/src/plugins/i18n/locales/en.json
Labels: n8n team

#14325 fix(API): Insights - round failure rate to 3 decimals
  packages/cli/src/modules/insights/__tests__/insights.controller.test.ts
  packages/cli/src/modules/insights/__tests__/insights.service.test.ts
  packages/cli/src/modules/insights/insights.service.ts
Labels: core, n8n team

#13809 feat(Airtop Node): Add Airtop node
  packages/nodes-base/credentials/AirtopApi.credentials.ts
  packages/nodes-base/nodes/Airtop/Airtop.node.json
  packages/nodes-base/nodes/Airtop/Airtop.node.ts
  packages/nodes-base/nodes/Airtop/GenericFunctions.ts
  packages/nodes-base/nodes/Airtop/actions/common/fields.ts
  packages/nodes-base/nodes/Airtop/actions/common/session.utils.ts
  packages/nodes-base/nodes/Airtop/actions/extraction/Extraction.resource.ts
  packages/nodes-base/nodes/Airtop/actions/extraction/getPaginated.operation.ts
  packages/nodes-base/nodes/Airtop/actions/extraction/query.operation.ts
  packages/nodes-base/nodes/Airtop/actions/extraction/scrape.operation.ts
  packages/nodes-base/nodes/Airtop/actions/interaction/Interaction.resource.ts
  packages/nodes-base/nodes/Airtop/actions/interaction/click.operation.ts
  packages/nodes-base/nodes/Airtop/actions/interaction/helpers.ts
  packages/nodes-base/nodes/Airtop/actions/interaction/hover.operation.ts
  packages/nodes-base/nodes/Airtop/actions/interaction/type.operation.ts
  packages/nodes-base/nodes/Airtop/actions/node.type.ts
  packages/nodes-base/nodes/Airtop/actions/router.ts
  packages/nodes-base/nodes/Airtop/actions/session/Session.resource.ts
  packages/nodes-base/nodes/Airtop/actions/session/create.operation.ts
  packages/nodes-base/nodes/Airtop/actions/session/save.operation.ts
  packages/nodes-base/nodes/Airtop/actions/session/terminate.operation.ts
  packages/nodes-base/nodes/Airtop/actions/window/Window.resource.ts
  packages/nodes-base/nodes/Airtop/actions/window/close.operation.ts
  packages/nodes-base/nodes/Airtop/actions/window/create.operation.ts
  packages/nodes-base/nodes/Airtop/actions/window/load.operation.ts
  packages/nodes-base/nodes/Airtop/actions/window/takeScreenshot.operation.ts
  packages/nodes-base/nodes/Airtop/airtop.svg
  packages/nodes-base/nodes/Airtop/constants.ts
  packages/nodes-base/nodes/Airtop/test/node/extraction/getPaginated.test.ts
  packages/nodes-base/nodes/Airtop/test/node/extraction/query.test.ts
  packages/nodes-base/nodes/Airtop/test/node/extraction/scrape.test.ts
  packages/nodes-base/nodes/Airtop/test/node/helpers.ts
  packages/nodes-base/nodes/Airtop/test/node/interaction/click.test.ts
  packages/nodes-base/nodes/Airtop/test/node/interaction/helpers.test.ts
  packages/nodes-base/nodes/Airtop/test/node/interaction/hover.test.ts
  packages/nodes-base/nodes/Airtop/test/node/interaction/type.test.ts
  packages/nodes-base/nodes/Airtop/test/node/session/create.test.ts
  packages/nodes-base/nodes/Airtop/test/node/session/save.test.ts
  packages/nodes-base/nodes/Airtop/test/node/session/terminate.test.ts
  packages/nodes-base/nodes/Airtop/test/node/window/close.test.ts
  packages/nodes-base/nodes/Airtop/test/node/window/create.test.ts
  packages/nodes-base/nodes/Airtop/test/node/window/load.test.ts
  packages/nodes-base/nodes/Airtop/test/node/window/takeScreenshot.test.ts
  packages/nodes-base/nodes/Airtop/test/session-utils.test.ts
  packages/nodes-base/nodes/Airtop/test/utils.test.ts
  packages/nodes-base/nodes/Airtop/transport/index.ts
  packages/nodes-base/nodes/Airtop/transport/types.ts
  packages/nodes-base/package.json
Labels: node/new, community, in linear

#11738 fix: Fix small wording issue in form template (no-changelog)
  packages/cli/templates/form-trigger.handlebars
Labels: core, n8n team

#14248 feat(editor): Show error state in the logs overview
  packages/frontend/@n8n/chat/src/components/MessagesList.vue
  packages/frontend/editor-ui/src/__tests__/mocks.ts
  packages/frontend/editor-ui/src/components/CanvasChat/CanvasChat.test.ts
  packages/frontend/editor-ui/src/components/CanvasChat/CanvasChat.vue
  packages/frontend/editor-ui/src/components/CanvasChat/__test__/data.ts
  packages/frontend/editor-ui/src/components/CanvasChat/components/ChatMessagesPanel.vue
  packages/frontend/editor-ui/src/components/CanvasChat/composables/useChatState.ts
  packages/frontend/editor-ui/src/components/CanvasChat/future/LogsPanel.test.ts
  packages/frontend/editor-ui/src/components/CanvasChat/future/LogsPanel.vue
  packages/frontend/editor-ui/src/components/CanvasChat/future/components/LogDetailsPanel.vue
  packages/frontend/editor-ui/src/components/CanvasChat/future/components/LogsOverviewPanel.test.ts
  packages/frontend/editor-ui/src/components/CanvasChat/future/components/LogsOverviewPanel.vue
  packages/frontend/editor-ui/src/components/CanvasChat/future/components/LogsOverviewRow.vue
  packages/frontend/editor-ui/src/components/CanvasChat/future/components/LogsPanelActions.vue
  packages/frontend/editor-ui/src/components/CanvasChat/types/logs.ts
  packages/frontend/editor-ui/src/components/canvas/elements/nodes/render-types/parts/CanvasNodeTrigger.vue
  packages/frontend/editor-ui/src/composables/useCanvasOperations.test.ts
  packages/frontend/editor-ui/src/composables/useCanvasOperations.ts
  packages/frontend/editor-ui/src/composables/useRunWorkflow.ts
  packages/frontend/editor-ui/src/composables/useToast.ts
  packages/frontend/editor-ui/src/stores/workflows.store.ts
  packages/frontend/editor-ui/src/utils/formatters/dateFormatter.ts
  packages/frontend/editor-ui/src/views/NodeView.vue
Labels: n8n team

#14220 fix(Pipedrive Trigger Node): Add support for webhooks v2
  packages/nodes-base/nodes/Pipedrive/PipedriveTrigger.node.ts
  packages/nodes-base/nodes/Pipedrive/test/PipedriveTrigger.node.test.ts
Labels: node/improvement, n8n team

#14298 ci: Improve Flaky Test Debugging and CAT-726 Fix (no-changelog)
  cypress/.eslintrc.js
  cypress/README.md
  cypress/composables/workflow.ts
  cypress/cypress.config.js
  cypress/e2e/726-CAT-canvas-node-connectors-not-rendered-when-nodes-inserted.cy.ts
  cypress/package.json
  cypress/scripts/run-e2e.js
  cypress/support/e2e.ts
  cypress/support/types/cypress-grep.d.ts
  jest.config.js
  package.json
  pnpm-lock.yaml
  scripts/run-e2e.js
Labels: n8n team

#14327 fix(editor): Disable Drag and Drop for ResourceMapper 'attemptToConvertTypes' switch
  packages/frontend/editor-ui/src/components/ResourceMapper/ResourceMapper.vue
Labels: n8n team

#14323 fix(editor): Make styling of search labels inline
  packages/frontend/editor-ui/src/components/CodeNodeEditor/theme.ts
Labels: n8n team

#14333 fix(Jira Trigger Node): Fix Jira webhook subscriptions on Jira v10+
  packages/nodes-base/nodes/Jira/GenericFunctions.ts
  packages/nodes-base/nodes/Jira/JiraTrigger.node.test.ts
  packages/nodes-base/nodes/Jira/JiraTrigger.node.ts
  packages/nodes-base/nodes/Jira/types.ts
Labels: node/improvement, n8n team

#14348 ci: Fix flaky 45-ai test (no-changelog)
  cypress/README.md
  cypress/e2e/45-ai-assistant.cy.ts
Labels: n8n team

#14350 fix(core): Sandbox HTML binary files in viewing mode
  packages/cli/src/controllers/__tests__/binary-data.controller.test.ts
  packages/cli/src/controllers/binary-data.controller.ts
Labels: core, n8n team, security

#14345 fix(editor): Support 'View Execution' links with multiple branches
  packages/frontend/editor-ui/src/components/RunData.vue
  packages/frontend/editor-ui/src/components/RunDataAi/RunDataAiContent.vue
  packages/frontend/editor-ui/src/components/ViewSubExecution.vue
Labels: n8n team

#14309 docs: Update branding for Help Scout
  packages/nodes-base/nodes/HelpScout/HelpScout.node.ts
  packages/nodes-base/nodes/HelpScout/HelpScoutTrigger.node.ts
  packages/nodes-base/nodes/HelpScout/helpScout.svg
Labels: node/improvement, n8n team

#14306 fix(n8n Form Node): Add doctype to page
  .prettierignore
  packages/cli/templates/form-trigger-404.handlebars
  packages/cli/templates/form-trigger-409.handlebars
  packages/cli/templates/form-trigger-completion.handlebars
  packages/cli/templates/form-trigger.handlebars
Labels: node/improvement, n8n team, node/issue

#14321 fix: Show correct message on retry
  packages/cli/src/executions/execution.service.ts
  packages/frontend/editor-ui/src/components/executions/global/GlobalExecutionsList.vue
  packages/frontend/editor-ui/src/plugins/i18n/locales/en.json
  packages/frontend/editor-ui/src/stores/executions.store.ts
  packages/frontend/editor-ui/src/utils/executionUtils.ts
  packages/frontend/editor-ui/src/utils/expressions.test.ts
  packages/frontend/editor-ui/src/views/WorkflowExecutionsView.vue
Labels: core, n8n team

#14064 feat(API): Implement BE api for insights data
  packages/@n8n/api-types/src/schemas/insights.schema.ts
  packages/cli/src/modules/insights/__tests__/insights.service.test.ts
  packages/cli/src/modules/insights/database/entities/insights-by-period.ts
  packages/cli/src/modules/insights/database/repositories/insights-by-period.repository.ts
  packages/cli/src/modules/insights/insights.controller.ts
  packages/cli/src/modules/insights/insights.service.ts
  packages/cli/test/integration/insights/insights.api.test.ts
  packages/cli/test/integration/shared/test-db.ts
  packages/cli/test/integration/shared/types.ts
  packages/cli/test/integration/shared/utils/test-server.ts
Labels: core, n8n team

#14326 fix(Kafka Node): Upgrade kafkajs and add tests
  packages/nodes-base/nodes/Kafka/Kafka.node.test.ts
  packages/nodes-base/nodes/Kafka/KafkaTrigger.node.test.ts
  packages/nodes-base/nodes/Kafka/KafkaTrigger.node.ts
  packages/nodes-base/nodes/Kafka/test/workflow.json
  packages/nodes-base/package.json
  packages/nodes-base/test/nodes/TriggerHelpers.ts
  pnpm-lock.yaml
Labels: node/improvement, n8n team

#14221 feat(API): Add config to set age threshold for insights compaction
  packages/cli/src/modules/insights/__tests__/insights.service.test.ts
  packages/cli/src/modules/insights/insights.config.ts
  packages/cli/src/modules/insights/insights.service.ts
Labels: core, n8n team

#14359 feat: Add support for google vertex embeddings
  packages/@n8n/nodes-langchain/nodes/embeddings/EmbeddingsGoogleVertex/EmbeddingsGoogleVertex.node.ts
  packages/@n8n/nodes-langchain/nodes/embeddings/EmbeddingsGoogleVertex/google.svg
  packages/@n8n/nodes-langchain/package.json
Labels: node/new, n8n team

#14351 feat(Think Tool Node): ToolThink, a simple tool to force the AI agent to do some thinking
  packages/@n8n/nodes-langchain/nodes/tools/ToolThink/ToolThink.node.ts
  packages/@n8n/nodes-langchain/nodes/tools/ToolThink/test/ToolThink.node.test.ts
  packages/@n8n/nodes-langchain/package.json
Labels: n8n team

#14379 fix(editor): Fix search highlights on node details view table schema
  packages/frontend/editor-ui/src/components/RunDataTable.vue
Labels: n8n team

#14012 fix(editor): Ai 674 update runs list UI graph (no-changelog)
  packages/frontend/editor-ui/src/components/TestDefinition/EditDefinition/sections/RunsSection.vue
  packages/frontend/editor-ui/src/components/TestDefinition/ListRuns/MetricsChart.vue
  packages/frontend/editor-ui/src/components/TestDefinition/ListRuns/TestRunsTable.vue
  packages/frontend/editor-ui/src/components/TestDefinition/composables/useMetricsChart.ts
  packages/frontend/editor-ui/src/components/TestDefinition/shared/TestTableBase.vue
  packages/frontend/editor-ui/src/components/TestDefinition/tests/useMetricsChart.test.ts
  packages/frontend/editor-ui/src/components/executions/workflow/WorkflowExecutionsPreview.test.ts
  packages/frontend/editor-ui/src/components/executions/workflow/WorkflowExecutionsPreview.vue
  packages/frontend/editor-ui/src/plugins/i18n/locales/en.json
  packages/frontend/editor-ui/src/plugins/icons/custom.ts
  packages/frontend/editor-ui/src/plugins/icons/index.ts
  packages/frontend/editor-ui/src/views/TestDefinition/TestDefinitionEditView.vue
Labels: n8n team

#14332 feat(core): Upgrade to express 5 to address CVE-2024-52798
  package.json
  packages/cli/bin/n8n
  packages/cli/package.json
  packages/cli/src/abstract-server.ts
  packages/cli/src/controllers/annotation-tags.controller.ee.ts
  packages/cli/src/controllers/tags.controller.ts
  packages/cli/src/decorators/controller.registry.ts
  packages/cli/src/environments.ee/variables/variables.controller.ee.ts
  packages/cli/src/metrics/__tests__/prometheus-metrics.service.test.ts
  packages/cli/src/metrics/prometheus-metrics.service.ts
  packages/cli/src/middlewares/list-query/__tests__/list-query.test.ts
  packages/cli/src/public-api/index.ts
  packages/cli/src/response-helper.ts
  packages/cli/src/scaling/worker-server.ts
  packages/cli/src/server.ts
  packages/cli/src/task-runners/task-broker/task-broker-server.ts
  packages/cli/src/webhooks/webhook-request-handler.ts
  packages/cli/test/integration/middlewares/body-parser.test.ts
  packages/cli/test/integration/variables.test.ts
  patches/@types__express-serve-static-core@5.0.6.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: core, n8n team

#14365 fix(core): Add cross-origin checks on push endpoints
  packages/cli/src/config/schema.ts
  packages/cli/src/push/__tests__/index.test.ts
  packages/cli/src/push/__tests__/sse.push.test.ts
  packages/cli/src/push/index.ts
  packages/cli/src/push/push.config.ts
  packages/cli/src/push/types.ts
  packages/cli/src/server.ts
  packages/cli/src/services/frontend.service.ts
  packages/cli/test/integration/collaboration/collaboration.service.test.ts
Labels: core, n8n team, security

#14331 refactor(core): Extract code out of `WorkflowHelpers.executeWebhook`, and add tests - Part 1 (no-changelog)
  packages/cli/src/webhooks/__tests__/webhook-helpers.test.ts
  packages/cli/src/webhooks/webhook-helpers.ts
Labels: core, n8n team

#13739 feat(editor): Insights dashboard
  packages/frontend/@n8n/design-system/package.json
  packages/frontend/@n8n/design-system/src/components/N8nDataTableServer/N8nDataTableServer.test.ts
  packages/frontend/@n8n/design-system/src/components/N8nDataTableServer/N8nDataTableServer.vue
  packages/frontend/@n8n/design-system/src/components/N8nDataTableServer/index.ts
  packages/frontend/@n8n/design-system/src/components/index.ts
  packages/frontend/editor-ui/src/components/MainSidebar.vue
  packages/frontend/editor-ui/src/constants.ts
  packages/frontend/editor-ui/src/features/insights/chartjs.utils.ts
  packages/frontend/editor-ui/src/features/insights/components/InsightsDashboard.vue
  packages/frontend/editor-ui/src/features/insights/components/InsightsPaywall.vue
  packages/frontend/editor-ui/src/features/insights/components/InsightsSummary.test.ts
  packages/frontend/editor-ui/src/features/insights/components/InsightsSummary.vue
  packages/frontend/editor-ui/src/features/insights/components/__snapshots__/InsightsSummary.test.ts.snap
  packages/frontend/editor-ui/src/features/insights/components/charts/InsightsChartAverageRuntime.vue
  packages/frontend/editor-ui/src/features/insights/components/charts/InsightsChartFailed.vue
  packages/frontend/editor-ui/src/features/insights/components/charts/InsightsChartFailureRate.vue
  packages/frontend/editor-ui/src/features/insights/components/charts/InsightsChartTimeSaved.vue
  packages/frontend/editor-ui/src/features/insights/components/charts/InsightsChartTotal.vue
  packages/frontend/editor-ui/src/features/insights/components/tables/InsightsTableWorkflows.vue
  packages/frontend/editor-ui/src/features/insights/insights.api.ts
  packages/frontend/editor-ui/src/features/insights/insights.router.ts
  packages/frontend/editor-ui/src/features/insights/insights.store.ts
  packages/frontend/editor-ui/src/features/insights/insights.utils.ts
  packages/frontend/editor-ui/src/init.ts
  packages/frontend/editor-ui/src/plugins/i18n/locales/en.json
  packages/frontend/editor-ui/src/router.ts
  packages/frontend/editor-ui/src/views/CredentialsView.vue
  packages/frontend/editor-ui/src/views/ExecutionsView.vue
  packages/frontend/editor-ui/src/views/WorkflowsView.vue
  pnpm-lock.yaml
Labels: n8n team

#14382 feat: Add n8n extension manifest schema (no-changelog)
  packages/@n8n/extension-sdk/package.json
  packages/@n8n/extension-sdk/schema.json
  packages/@n8n/extension-sdk/scripts/create-json-schema.ts
  packages/@n8n/extension-sdk/src/index.ts
  packages/@n8n/extension-sdk/src/schema.ts
  packages/@n8n/extension-sdk/tsconfig.common.json
  packages/@n8n/extension-sdk/tsconfig.json
  packages/@n8n/extension-sdk/tsup.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: n8n team

#14380 fix(HTTP Request Tool Node): Fix OAuth2 requests
  packages/@n8n/nodes-langchain/nodes/tools/ToolHttpRequest/utils.ts
Labels: n8n team

#14347 fix(editor): Improve sub-workflow debugging for more node error types
  packages/cli/src/utils/object-to-error.ts
  packages/workflow/src/MetadataUtils.ts
  packages/workflow/test/MetadataUtils.test.ts
Labels: core, n8n team

#14318 feat(core): Add special `@tool` displayOption
  packages/cli/src/credentials-helper.ts
  packages/core/src/execution-engine/node-execution-context/node-execution-context.ts
  packages/core/src/execution-engine/node-execution-context/utils/extract-value.ts
  packages/core/src/execution-engine/node-execution-context/utils/validate-value-against-schema.ts
  packages/core/src/execution-engine/routing-node.ts
  packages/core/src/execution-engine/workflow-execute.ts
  packages/frontend/editor-ui/src/components/CredentialEdit/CredentialEdit.vue
  packages/frontend/editor-ui/src/components/NodeSettings.vue
  packages/frontend/editor-ui/src/components/ParameterInput.test.ts
  packages/frontend/editor-ui/src/components/ParameterInput.vue
  packages/frontend/editor-ui/src/components/ParameterInputList.vue
  packages/frontend/editor-ui/src/components/ResourceMapper/ResourceMapper.vue
  packages/frontend/editor-ui/src/composables/useCanvasOperations.ts
  packages/frontend/editor-ui/src/composables/useNodeHelpers.ts
  packages/frontend/editor-ui/src/composables/useWorkflowHelpers.ts
  packages/frontend/editor-ui/src/stores/workflows.store.ts
  packages/frontend/editor-ui/src/utils/nodeViewUtils.ts
  packages/frontend/editor-ui/src/utils/nodes/nodeTransforms.ts
  packages/workflow/src/Interfaces.ts
  packages/workflow/src/NodeHelpers.ts
  packages/workflow/src/TelemetryHelpers.ts
  packages/workflow/src/Workflow.ts
  packages/workflow/test/NodeHelpers.conditions.test.ts
  packages/workflow/test/NodeHelpers.test.ts
Labels: node/improvement, core, n8n team

#14346 fix(editor): Memory getting rendered in chat on workflow load
  packages/frontend/editor-ui/src/components/CanvasChat/CanvasChat.test.ts
  packages/frontend/editor-ui/src/components/CanvasChat/composables/useChatMessaging.ts
  packages/frontend/editor-ui/src/components/CanvasChat/composables/useChatState.ts
Labels: n8n team

#14049 feat(MongoDB Chat Memory Node): New MongoDB Chat Memory Node
  packages/@n8n/nodes-langchain/nodes/memory/MemoryMongoDbChat/MemoryMongoDbChat.node.ts
  packages/@n8n/nodes-langchain/nodes/memory/MemoryMongoDbChat/mongodb.dark.svg
  packages/@n8n/nodes-langchain/nodes/memory/MemoryMongoDbChat/mongodb.svg
  packages/@n8n/nodes-langchain/package.json
Labels: community, in linear

#14352 fix(Code Node): Ensure 'Generate Code' works with empty input object
  cypress/e2e/6-code-node.cy.ts
  packages/frontend/editor-ui/src/components/CodeNodeEditor/AskAI/AskAI.vue
Labels: n8n team

#14400 test(core): Fix test for upgraded `license:clear` command
  packages/cli/test/integration/commands/license.cmd.test.ts
Labels: core, n8n team

#14266 feat(core): Make detaching floatable entitlements on shutdown configurable
  packages/@n8n/config/src/configs/license.config.ts
  packages/@n8n/config/test/config.test.ts
  packages/cli/package.json
  packages/cli/src/__tests__/license.test.ts
  packages/cli/src/commands/license/clear.ts
  packages/cli/src/license.ts
  packages/cli/test/integration/commands/license.cmd.test.ts
  packages/cli/test/integration/license.api.test.ts
  pnpm-lock.yaml
Labels: core, n8n team

#14389 feat(editor): Display a notice for HTTP header auth credentials
  packages/nodes-base/credentials/HttpHeaderAuth.credentials.ts
Labels: node/improvement, n8n team

#14231 test(Wordpress Node): Add tests to Wordpress node
  packages/nodes-base/nodes/Wordpress/__tests__/GenericFunctions.test.ts
  packages/nodes-base/nodes/Wordpress/__tests__/workflow/apiResponses.ts
  packages/nodes-base/nodes/Wordpress/__tests__/workflow/page/page.test.ts
  packages/nodes-base/nodes/Wordpress/__tests__/workflow/page/page.workflow.json
  packages/nodes-base/nodes/Wordpress/__tests__/workflow/post/post.test.ts
  packages/nodes-base/nodes/Wordpress/__tests__/workflow/post/post.workflow.json
  packages/nodes-base/nodes/Wordpress/__tests__/workflow/user/user.test.ts
  packages/nodes-base/nodes/Wordpress/__tests__/workflow/user/user.workflow.json
  packages/nodes-base/test/nodes/FakeCredentialsMap.ts
Labels: node/improvement, n8n team

#14355 fix(editor): Fix empty objects in schema view in output panel
  packages/frontend/editor-ui/src/components/VirtualSchema.test.ts
  packages/frontend/editor-ui/src/components/VirtualSchema.vue
  packages/frontend/editor-ui/src/components/__snapshots__/VirtualSchema.test.ts.snap
  packages/frontend/editor-ui/src/composables/useDataSchema.ts
Labels: n8n team

#13238 feat(GitHub Node): GitHub Node Overhaul implementation #12271
  packages/frontend/editor-ui/src/constants.ts
  packages/frontend/editor-ui/src/plugins/i18n/locales/en.json
  packages/frontend/editor-ui/src/utils/executionUtils.test.ts
  packages/frontend/editor-ui/src/utils/executionUtils.ts
  packages/nodes-base/nodes/Github/Github.node.ts
  packages/nodes-base/nodes/Github/SearchFunctions.ts
  packages/nodes-base/nodes/Github/__tests__/GenericFunctions.test.ts
  packages/nodes-base/nodes/Github/__tests__/Github.node.test.ts
  packages/nodes-base/nodes/Github/__tests__/SearchFunctions.test.ts
  packages/nodes-base/nodes/Github/__tests__/node/Github.dispatchAndWait.node.test.ts
  packages/nodes-base/nodes/Github/__tests__/node/Github.node.test.ts
  packages/nodes-base/nodes/Github/__tests__/node/Github.webhook.test.ts
  packages/nodes-base/nodes/Github/__tests__/node/GithubDispatchAndWaitWorkflow.json
  packages/nodes-base/nodes/Github/__tests__/node/GithubTestWorkflow.json
Labels: node/improvement, community, in linear

#14410 ci: Add test results upload to Codecov
  .github/workflows/units-tests-reusable.yml
  .gitignore
  jest.config.js
  package.json
  pnpm-lock.yaml
Labels: community, in linear

#14414 fix(core): Detach workflow from parent folder in source project when transferring ownership
  packages/cli/src/workflows/workflow.service.ee.ts
  packages/cli/test/integration/workflows/workflows.controller.ee.test.ts
Labels: core, n8n team

#14429 chore: Remove template credential experiment's feature flag. (no-changelog)
  cypress/e2e/34-template-credentials-setup.cy.ts
  cypress/pages/template-credential-setup.ts
  packages/frontend/editor-ui/src/components/SetupWorkflowCredentialsButton/SetupWorkflowCredentialsButton.vue
  packages/frontend/editor-ui/src/constants.ts
  packages/frontend/editor-ui/src/utils/templates/templateActions.test.ts
  packages/frontend/editor-ui/src/utils/templates/templateActions.ts
  packages/frontend/editor-ui/src/views/SetupWorkflowFromTemplateView/SetupWorkflowFromTemplateView.vue
  packages/frontend/editor-ui/src/views/TemplatesCollectionView.vue
  packages/frontend/editor-ui/src/views/TemplatesWorkflowView.vue
Labels: n8n team

#14430 chore: Remove AI assistant experiment's feature flag. (no-chanelog)
  cypress/pages/features/ai-assistant.ts
  packages/frontend/editor-ui/src/constants.ts
  packages/frontend/editor-ui/src/stores/assistant.store.test.ts
  packages/frontend/editor-ui/src/stores/assistant.store.ts
Labels: n8n team

#14180 feat: Add license helpers for insights (no-changelog)
  packages/@n8n/api-types/src/frontend-settings.ts
  packages/cli/src/constants.ts
  packages/cli/src/controllers/e2e.controller.ts
  packages/cli/src/license.ts
  packages/cli/src/services/frontend.service.ts
  packages/frontend/editor-ui/src/__tests__/defaults.ts
Labels: core, n8n team

#14386 feat(editor): Hover actions on the logs overview
  cypress/e2e/50-logs.cy.ts
  packages/frontend/editor-ui/src/Interface.ts
  packages/frontend/editor-ui/src/components/CanvasChat/CanvasChat.test.ts
  packages/frontend/editor-ui/src/components/CanvasChat/CanvasChat.vue
  packages/frontend/editor-ui/src/components/CanvasChat/__test__/data.ts
  packages/frontend/editor-ui/src/components/CanvasChat/composables/useChatState.ts
  packages/frontend/editor-ui/src/components/CanvasChat/future/LogsPanel.test.ts
  packages/frontend/editor-ui/src/components/CanvasChat/future/LogsPanel.vue
  packages/frontend/editor-ui/src/components/CanvasChat/future/components/LogsOverviewPanel.test.ts
  packages/frontend/editor-ui/src/components/CanvasChat/future/components/LogsOverviewPanel.vue
  packages/frontend/editor-ui/src/components/CanvasChat/future/components/LogsOverviewRow.vue
  packages/frontend/editor-ui/src/components/CanvasChat/future/components/LogsPanelActions.vue
  packages/frontend/editor-ui/src/components/NodeDetailsView.vue
  packages/frontend/editor-ui/src/components/canvas/elements/nodes/render-types/parts/CanvasNodeTrigger.vue
  packages/frontend/editor-ui/src/composables/useCanvasOperations.test.ts
  packages/frontend/editor-ui/src/composables/useCanvasOperations.ts
  packages/frontend/editor-ui/src/composables/useRunWorkflow.ts
  packages/frontend/editor-ui/src/composables/useToast.ts
  packages/frontend/editor-ui/src/plugins/i18n/locales/en.json
  packages/frontend/editor-ui/src/stores/ndv.store.ts
  packages/frontend/editor-ui/src/stores/workflows.store.ts
  packages/frontend/editor-ui/src/views/NodeView.vue
Labels: n8n team

#14398 fix(editor): Insights FE fixes and improvements
  packages/frontend/editor-ui/src/components/MainSidebar.vue
  packages/frontend/editor-ui/src/components/WorkflowSettings.vue
  packages/frontend/editor-ui/src/features/insights/chartjs.utils.ts
  packages/frontend/editor-ui/src/features/insights/components/InsightsSummary.test.ts
  packages/frontend/editor-ui/src/features/insights/components/InsightsSummary.vue
  packages/frontend/editor-ui/src/features/insights/components/__snapshots__/InsightsSummary.test.ts.snap
  packages/frontend/editor-ui/src/features/insights/components/charts/InsightsChartAverageRuntime.vue
  packages/frontend/editor-ui/src/features/insights/components/charts/InsightsChartFailed.vue
  packages/frontend/editor-ui/src/features/insights/components/charts/InsightsChartFailureRate.vue
  packages/frontend/editor-ui/src/features/insights/components/charts/InsightsChartTimeSaved.vue
  packages/frontend/editor-ui/src/features/insights/components/charts/InsightsChartTotal.vue
  packages/frontend/editor-ui/src/features/insights/components/tables/InsightsTableWorkflows.vue
  packages/frontend/editor-ui/src/features/insights/insights.constants.ts
  packages/frontend/editor-ui/src/features/insights/insights.router.ts
  packages/frontend/editor-ui/src/features/insights/insights.types.ts
  packages/frontend/editor-ui/src/features/insights/insights.utils.ts
  packages/frontend/editor-ui/src/plugins/i18n/locales/en.json
Labels: n8n team

#14378 fix(editor): Autofocus Search in Move Folder Dialog
  cypress/composables/folders.ts
  packages/frontend/@n8n/design-system/src/components/N8nSelect/Select.vue
  packages/frontend/editor-ui/src/components/Folders/MoveToFolderDropdown.vue
Labels: n8n team

#14435 ci: Fix DB tests (no-changelog)
  .github/workflows/ci-postgres-mysql.yml
Labels: n8n team

#14433 ci: Correctly resolve the dirname in create-json-schema.ts on all platforms
  packages/@n8n/extension-sdk/scripts/create-json-schema.ts
Labels: n8n team

#14447 ci: Skip test until behavior is clarified (no-changelog)
  cypress/e2e/24-ndv-paired-item.cy.ts
Labels: n8n team

#14261 perf(core): Batch raw insights save and add metadata cache
  packages/@n8n/benchmark/scenarios/multiple-webhooks/multiple-webhooks.manifest.json
  packages/@n8n/benchmark/scenarios/multiple-webhooks/multiple-webhooks.script.js
  packages/@n8n/benchmark/scenarios/multiple-webhooks/multiple-webhooks1.json
  packages/@n8n/benchmark/scenarios/multiple-webhooks/multiple-webhooks10.json
  packages/@n8n/benchmark/scenarios/multiple-webhooks/multiple-webhooks2.json
  packages/@n8n/benchmark/scenarios/multiple-webhooks/multiple-webhooks3.json
  packages/@n8n/benchmark/scenarios/multiple-webhooks/multiple-webhooks4.json
  packages/@n8n/benchmark/scenarios/multiple-webhooks/multiple-webhooks5.json
  packages/@n8n/benchmark/scenarios/multiple-webhooks/multiple-webhooks6.json
  packages/@n8n/benchmark/scenarios/multiple-webhooks/multiple-webhooks7.json
  packages/@n8n/benchmark/scenarios/multiple-webhooks/multiple-webhooks8.json
  packages/@n8n/benchmark/scenarios/multiple-webhooks/multiple-webhooks9.json
  packages/cli/src/modules/insights/__tests__/insights.service.test.ts
  packages/cli/src/modules/insights/insights.config.ts
  packages/cli/src/modules/insights/insights.service.ts
Labels: core, n8n team

#14451 fix: Isolate license SDK proxy settings to avoid affecting unrelated requests
  packages/cli/package.json
  pnpm-lock.yaml
Labels: core, n8n team

#13152 feat(Email Trigger (IMAP) Node): IMAP trigger node returns message UIDs
  packages/nodes-base/nodes/EmailReadImap/test/v2/utils.test.ts
  packages/nodes-base/nodes/EmailReadImap/v2/utils.ts
Labels: node/improvement, community, in linear

#14465 chore: Upgrade pkce-challenge (no-changelog)
  package.json
  packages/cli/package.json
  packages/cli/src/controllers/oauth/oauth2-credential.controller.ts
  patches/pkce-challenge@3.0.0.patch
  patches/pkce-challenge@5.0.0.patch
  pnpm-lock.yaml
Labels: core, n8n team

#14463 ci: Generate jest-junit reports only on CI (no-changelog)
  .gitignore
  jest.config.js
Labels: n8n team

#14448 fix(API): Fix ratio tests on insights by workflow
  packages/cli/src/modules/insights/__tests__/insights.service.test.ts
Labels: core, n8n team

#14470 fix(core): Fix routing for waiting webhooks and forms
  packages/cli/src/abstract-server.ts
  packages/cli/test/integration/webhooks.test.ts
Labels: core, n8n team, release/backport

#14449 fix(editor): Improve node creator items typing and fix missing icons
  packages/frontend/editor-ui/src/components/Node/NodeCreator/viewsData.ts
Labels: n8n team

#14474 fix(editor): Prevent moving non owned workflows to folders
  packages/frontend/editor-ui/src/components/WorkflowCard.vue
Labels: n8n team

#14467 fix(editor): Sort insights table with tabs (no-changelog)
  packages/frontend/@n8n/design-system/src/components/N8nDataTableServer/N8nDataTableServer.vue
  packages/frontend/editor-ui/src/features/insights/components/InsightsDashboard.vue
  packages/frontend/editor-ui/src/features/insights/components/tables/InsightsTableWorkflows.vue
  packages/frontend/editor-ui/src/features/insights/insights.store.ts
Labels: n8n team

#14455 refactor(core): Persist node execution order, and forward it to the frontend
  cypress/utils/executions.ts
  packages/@n8n/api-types/src/push/execution.ts
  packages/@n8n/task-runner/src/js-task-runner/__tests__/test-data.ts
  packages/cli/src/execution-lifecycle/__tests__/execution-lifecycle-hooks.test.ts
  packages/cli/src/execution-lifecycle/execution-lifecycle-hooks.ts
  packages/cli/src/executions/execution-data.service.ts
  packages/cli/src/executions/execution-recovery.service.ts
  packages/cli/src/executions/execution.service.ts
  packages/cli/src/task-runners/task-managers/__tests__/data-request-response-stripper.test.ts
  packages/cli/src/workflow-execute-additional-data.ts
  packages/cli/src/workflow-helpers.ts
  packages/cli/test/integration/task-runners/js-task-runner-execution.integration.test.ts
  packages/core/src/execution-engine/__tests__/execution-lifecycle-hooks.test.ts
  packages/core/src/execution-engine/__tests__/workflow-execute.test.ts
  packages/core/src/execution-engine/execution-lifecycle-hooks.ts
  packages/core/src/execution-engine/node-execution-context/supply-data-context.ts
  packages/core/src/execution-engine/partial-execution-utils/__tests__/find-start-nodes.test.ts
  packages/core/src/execution-engine/partial-execution-utils/__tests__/helpers.ts
  packages/core/src/execution-engine/partial-execution-utils/__tests__/to-itask-data.test.ts
  packages/core/src/execution-engine/workflow-execute.ts
  packages/core/test/helpers/index.ts
  packages/frontend/editor-ui/src/components/CanvasChat/CanvasChat.test.ts
  packages/frontend/editor-ui/src/components/CanvasChat/__test__/data.ts
  packages/frontend/editor-ui/src/components/CanvasChat/composables/useChatMessaging.ts
  packages/frontend/editor-ui/src/components/InputPanel.test.ts
  packages/frontend/editor-ui/src/components/RunData.test.ts
  packages/frontend/editor-ui/src/components/RunDataAi/utils.test.ts
  packages/frontend/editor-ui/src/components/RunDataJsonActions.test.ts
  packages/frontend/editor-ui/src/composables/useAIAssistantHelpers.test.constants.ts
  packages/frontend/editor-ui/src/composables/useAIAssistantHelpers.test.ts
  packages/frontend/editor-ui/src/composables/useCanvasMapping.test.ts
  packages/frontend/editor-ui/src/composables/useDataSchema.test.ts
  packages/frontend/editor-ui/src/composables/useNodeDirtiness.test.ts
  packages/frontend/editor-ui/src/composables/useRunWorkflow.test.ts
  packages/frontend/editor-ui/src/plugins/codemirror/completions/__tests__/mock.ts
  packages/frontend/editor-ui/src/stores/workflows.store.test.ts
  packages/frontend/editor-ui/src/utils/pairedItemUtils.test.ts
  packages/workflow/src/Interfaces.ts
  packages/workflow/src/WorkflowDataProxy.ts
  packages/workflow/test/TelemetryHelpers.test.ts
  packages/workflow/test/Workflow.test.ts
Labels: core, n8n team

#14353 fix(editor): Fix race condition for updating node and workflow execution status
  packages/frontend/editor-ui/src/components/NodeExecuteButton.test.ts
  packages/frontend/editor-ui/src/composables/useCanvasNode.ts
  packages/frontend/editor-ui/src/composables/usePushConnection.test.ts
  packages/frontend/editor-ui/src/composables/usePushConnection.ts
  packages/frontend/editor-ui/src/composables/useRunWorkflow.test.ts
  packages/frontend/editor-ui/src/composables/useRunWorkflow.ts
  packages/frontend/editor-ui/src/stores/assistant.store.ts
  packages/frontend/editor-ui/src/stores/workflows.store.ts
Labels: n8n team

#14403 feat(MCP Server Trigger Node): Add MCP Server Trigger node to expose tools to MCP clients
  packages/@n8n/api-types/src/frontend-settings.ts
  packages/@n8n/config/src/configs/endpoints.config.ts
  packages/@n8n/config/test/config.test.ts
  packages/@n8n/nodes-langchain/nodes/Mcp/FlushingSSEServerTransport.ts
  packages/@n8n/nodes-langchain/nodes/Mcp/McpServer.ts
  packages/@n8n/nodes-langchain/nodes/Mcp/McpTrigger.node.ts
  packages/@n8n/nodes-langchain/nodes/Mcp/__test__/FlushingSSEServerTransport.test.ts
  packages/@n8n/nodes-langchain/nodes/Mcp/__test__/McpServer.test.ts
  packages/@n8n/nodes-langchain/nodes/Mcp/__test__/McpTrigger.node.test.ts
  packages/@n8n/nodes-langchain/nodes/Mcp/mcp.dark.svg
  packages/@n8n/nodes-langchain/nodes/Mcp/mcp.svg
  packages/@n8n/nodes-langchain/nodes/agents/Agent/test/ToolsAgent.test.ts
  packages/@n8n/nodes-langchain/package.json
  packages/@n8n/nodes-langchain/utils/helpers.ts
  packages/cli/src/abstract-server.ts
  packages/cli/src/constants.ts
  packages/cli/src/services/frontend.service.ts
  packages/cli/src/webhooks/waiting-webhooks.ts
  packages/cli/src/webhooks/webhook-helpers.ts
  packages/core/src/execution-engine/node-execution-context/webhook-context.ts
  packages/frontend/editor-ui/src/Interface.ts
  packages/frontend/editor-ui/src/__tests__/defaults.ts
  packages/frontend/editor-ui/src/components/NodeWebhooks.vue
  packages/frontend/editor-ui/src/composables/useCanvasOperations.ts
  packages/frontend/editor-ui/src/composables/useWorkflowHelpers.ts
  packages/frontend/editor-ui/src/constants.ts
  packages/frontend/editor-ui/src/plugins/i18n/locales/en.json
  packages/frontend/editor-ui/src/stores/root.store.ts
  packages/nodes-base/credentials/HttpBearerAuth.credentials.ts
  packages/nodes-base/nodes/Form/Form.node.ts
  packages/nodes-base/nodes/Form/v2/FormTriggerV2.node.ts
  packages/nodes-base/nodes/Wait/Wait.node.ts
  packages/nodes-base/nodes/Webhook/utils.ts
  packages/nodes-base/package.json
  packages/workflow/src/Interfaces.ts
  pnpm-lock.yaml
Labels: core, n8n team

#14156 feat(Azure Cosmos DB Node): New node
  packages/nodes-base/credentials/MicrosoftAzureCosmosDbSharedKeyApi.credentials.ts
  packages/nodes-base/nodes/Microsoft/AzureCosmosDb/AzureCosmosDb.node.json
  packages/nodes-base/nodes/Microsoft/AzureCosmosDb/AzureCosmosDb.node.ts
  packages/nodes-base/nodes/Microsoft/AzureCosmosDb/AzureCosmosDb.svg
  packages/nodes-base/nodes/Microsoft/AzureCosmosDb/descriptions/common.ts
  packages/nodes-base/nodes/Microsoft/AzureCosmosDb/descriptions/container/Container.resource.ts
  packages/nodes-base/nodes/Microsoft/AzureCosmosDb/descriptions/container/create.operation.ts
  packages/nodes-base/nodes/Microsoft/AzureCosmosDb/descriptions/container/delete.operation.ts
  packages/nodes-base/nodes/Microsoft/AzureCosmosDb/descriptions/container/get.operation.ts
  packages/nodes-base/nodes/Microsoft/AzureCosmosDb/descriptions/container/getAll.operation.ts
  packages/nodes-base/nodes/Microsoft/AzureCosmosDb/descriptions/index.ts
  packages/nodes-base/nodes/Microsoft/AzureCosmosDb/descriptions/item/Item.resource.ts
  packages/nodes-base/nodes/Microsoft/AzureCosmosDb/descriptions/item/create.operation.ts
  packages/nodes-base/nodes/Microsoft/AzureCosmosDb/descriptions/item/delete.operation.ts
  packages/nodes-base/nodes/Microsoft/AzureCosmosDb/descriptions/item/get.operation.ts
  packages/nodes-base/nodes/Microsoft/AzureCosmosDb/descriptions/item/getAll.operation.ts
  packages/nodes-base/nodes/Microsoft/AzureCosmosDb/descriptions/item/query.operation.ts
  packages/nodes-base/nodes/Microsoft/AzureCosmosDb/descriptions/item/update.operation.ts
  packages/nodes-base/nodes/Microsoft/AzureCosmosDb/helpers/constants.ts
  packages/nodes-base/nodes/Microsoft/AzureCosmosDb/helpers/errorHandler.ts
  packages/nodes-base/nodes/Microsoft/AzureCosmosDb/helpers/interfaces.ts
  packages/nodes-base/nodes/Microsoft/AzureCosmosDb/helpers/utils.ts
  packages/nodes-base/nodes/Microsoft/AzureCosmosDb/methods/index.ts
  packages/nodes-base/nodes/Microsoft/AzureCosmosDb/methods/listSearch.ts
  packages/nodes-base/nodes/Microsoft/AzureCosmosDb/test/container/create.test.ts
  packages/nodes-base/nodes/Microsoft/AzureCosmosDb/test/container/create.workflow.json
  packages/nodes-base/nodes/Microsoft/AzureCosmosDb/test/container/delete.test.ts
  packages/nodes-base/nodes/Microsoft/AzureCosmosDb/test/container/delete.workflow.json
  packages/nodes-base/nodes/Microsoft/AzureCosmosDb/test/container/get.test.ts
  packages/nodes-base/nodes/Microsoft/AzureCosmosDb/test/container/get.workflow.json
  packages/nodes-base/nodes/Microsoft/AzureCosmosDb/test/container/getAll.test.ts
  packages/nodes-base/nodes/Microsoft/AzureCosmosDb/test/container/getAll.workflow.json
  packages/nodes-base/nodes/Microsoft/AzureCosmosDb/test/credentials/sharedKey.test.ts
  packages/nodes-base/nodes/Microsoft/AzureCosmosDb/test/helpers/errorHandler.test.ts
  packages/nodes-base/nodes/Microsoft/AzureCosmosDb/test/helpers/utils.test.ts
  packages/nodes-base/nodes/Microsoft/AzureCosmosDb/test/item/create.test.ts
  packages/nodes-base/nodes/Microsoft/AzureCosmosDb/test/item/create.workflow.json
  packages/nodes-base/nodes/Microsoft/AzureCosmosDb/test/item/delete.test.ts
  packages/nodes-base/nodes/Microsoft/AzureCosmosDb/test/item/delete.workflow.json
  packages/nodes-base/nodes/Microsoft/AzureCosmosDb/test/item/get.test.ts
  packages/nodes-base/nodes/Microsoft/AzureCosmosDb/test/item/get.workflow.json
  packages/nodes-base/nodes/Microsoft/AzureCosmosDb/test/item/getAll.test.ts
  packages/nodes-base/nodes/Microsoft/AzureCosmosDb/test/item/getAll.workflow.json
  packages/nodes-base/nodes/Microsoft/AzureCosmosDb/test/item/query.test.ts
  packages/nodes-base/nodes/Microsoft/AzureCosmosDb/test/item/query.workflow.json
  packages/nodes-base/nodes/Microsoft/AzureCosmosDb/test/item/update.test.ts
  packages/nodes-base/nodes/Microsoft/AzureCosmosDb/test/item/update.workflow.json
  packages/nodes-base/nodes/Microsoft/AzureCosmosDb/test/listSearch/listSearch.test.ts
  packages/nodes-base/nodes/Microsoft/AzureCosmosDb/transport/index.ts
  packages/nodes-base/package.json
  packages/nodes-base/test/nodes/FakeCredentialsMap.ts
Labels: node/new, community, in linear

#14464 feat(MCP Client Tool Node): Add MCP Client Tool Node to connect to MCP servers over SSE
  packages/@n8n/nodes-langchain/nodes/mcp/McpClientTool/McpClientTool.node.test.ts
  packages/@n8n/nodes-langchain/nodes/mcp/McpClientTool/McpClientTool.node.ts
  packages/@n8n/nodes-langchain/nodes/mcp/McpClientTool/loadOptions.ts
  packages/@n8n/nodes-langchain/nodes/mcp/McpClientTool/types.ts
  packages/@n8n/nodes-langchain/nodes/mcp/McpClientTool/utils.ts
  packages/@n8n/nodes-langchain/nodes/mcp/McpTrigger/FlushingSSEServerTransport.ts
  packages/@n8n/nodes-langchain/nodes/mcp/McpTrigger/McpServer.ts
  packages/@n8n/nodes-langchain/nodes/mcp/McpTrigger/McpTrigger.node.ts
  packages/@n8n/nodes-langchain/nodes/mcp/McpTrigger/__test__/FlushingSSEServerTransport.test.ts
  packages/@n8n/nodes-langchain/nodes/mcp/McpTrigger/__test__/McpServer.test.ts
  packages/@n8n/nodes-langchain/nodes/mcp/McpTrigger/__test__/McpTrigger.node.test.ts
  packages/@n8n/nodes-langchain/nodes/mcp/mcp.dark.svg
  packages/@n8n/nodes-langchain/nodes/mcp/mcp.svg
  packages/@n8n/nodes-langchain/package.json
  packages/@n8n/nodes-langchain/utils/helpers.ts
  packages/@n8n/nodes-langchain/utils/logWrapper.ts
  packages/@n8n/nodes-langchain/utils/tests/helpers.test.ts
  packages/cli/src/load-nodes-and-credentials.ts
  packages/cli/src/node-types.ts
  packages/frontend/editor-ui/src/components/Node/NodeCreator/composables/useViewStacks.ts
  packages/frontend/editor-ui/src/components/Node/NodeCreator/utils.ts
  packages/frontend/editor-ui/src/constants.ts
  packages/frontend/editor-ui/src/utils/fromAIOverrideUtils.ts
  packages/frontend/editor-ui/src/utils/nodeViewUtils.ts
Labels: node/improvement, n8n team

#14504 docs(MCP Client Tool Node): Update documentation URL for MCP Client Tool Node
  packages/@n8n/nodes-langchain/nodes/mcp/McpClientTool/McpClientTool.node.ts
Labels: n8n team

#14514 ci: Polyfill `globalThis.crypto` in `@n8n/nodes-langchain` tests as well (no-changelog)
  packages/@n8n/nodes-langchain/jest.config.js
Labels: n8n team

#14500 feat(API): Match insights summary period with number of days filter in graphs and table
  packages/cli/src/modules/insights/__tests__/insights.service.test.ts
  packages/cli/src/modules/insights/database/repositories/insights-by-period.repository.ts
  packages/cli/src/modules/insights/insights.controller.ts
  packages/cli/src/modules/insights/insights.service.ts
Labels: core, n8n team

#14501 chore(benchmark): Increase benchmark vm disk size from 16 to 32
  packages/@n8n/benchmark/infra/modules/benchmark-vm/vm.tf
Labels: n8n team

#14516 fix(core): Restore run data value when offloading to workers
  packages/cli/src/workflows/__tests__/workflow-execution.service.test.ts
  packages/cli/src/workflows/workflow-execution.service.ts
Labels: core, n8n team

#14511 fix(editor): Add telemetry to Insights
  packages/frontend/editor-ui/src/components/MainSidebar.vue
  packages/frontend/editor-ui/src/components/WorkflowSettings.vue
  packages/frontend/editor-ui/src/features/insights/components/InsightsSummary.vue
  packages/frontend/editor-ui/src/features/insights/components/tables/InsightsTableWorkflows.vue
Labels: n8n team

#14445 feat(core): Expose $agentInfo variable for easy AI workflow (no-changelog)
  packages/workflow/src/WorkflowDataProxy.ts
  packages/workflow/test/NodeTypes.ts
  packages/workflow/test/WorkflowDataProxy.test.ts
  packages/workflow/test/fixtures/WorkflowDataProxy/agentInfo_run.json
  packages/workflow/test/fixtures/WorkflowDataProxy/agentInfo_workflow.json
Labels: core, n8n team

#14496 fix(xAI Grok Chat Model Node): Remove stream_options parameter
  packages/@n8n/nodes-langchain/nodes/llms/LmChatXAiGrok/LmChatXAiGrok.node.ts
Labels: n8n team, tests-needed

#14376 fix(core): Validate task runner mode
  packages/@n8n/config/package.json
  packages/@n8n/config/src/configs/runners.config.ts
  packages/@n8n/config/src/decorators.ts
  packages/@n8n/config/test/config.test.ts
  pnpm-lock.yaml
Labels: core, n8n team

#14515 feat(core): Make runtime prototype mutation protection configurable for task runner
  packages/@n8n/task-runner/src/config/js-runner-config.ts
  packages/@n8n/task-runner/src/js-task-runner/__tests__/js-task-runner.test.ts
  packages/@n8n/task-runner/src/js-task-runner/js-task-runner.ts
Labels: n8n team

#14407 fix(AI Agent Node): Allow removal of system message
  packages/@n8n/nodes-langchain/nodes/agents/Agent/Agent.node.ts
  packages/@n8n/nodes-langchain/nodes/agents/Agent/agents/ToolsAgent/execute.ts
  packages/@n8n/nodes-langchain/nodes/agents/Agent/test/ToolsAgent.test.ts
Labels: node/improvement, n8n team

#14494 ci: Change to get the ref once without need for additional checkout (no-changelog)
  .github/workflows/e2e-reusable.yml
Labels: n8n team

#14522 feat(core): Add a new option to customize SSH tunnel idle timeout
  packages/core/src/execution-engine/__tests__/ssh-clients-manager.test.ts
  packages/core/src/execution-engine/ssh-clients-manager.ts
Labels: core, n8n team

#13218 feat(SearXNG Node): Add SearXNG tool
  packages/@n8n/nodes-langchain/credentials/SearXngApi.credentials.ts
  packages/@n8n/nodes-langchain/nodes/tools/ToolSearXng/ToolSearXng.node.ts
  packages/@n8n/nodes-langchain/nodes/tools/ToolSearXng/searXng.svg
  packages/@n8n/nodes-langchain/package.json
Labels: n8n team

#14493 feat(editor): Implement nested search front-end updates (no-changelog)
  cypress/e2e/49-folders.cy.ts
  packages/frontend/editor-ui/src/Interface.ts
  packages/frontend/editor-ui/src/components/Folders/FolderCard.vue
  packages/frontend/editor-ui/src/components/WorkflowCard.test.ts
  packages/frontend/editor-ui/src/components/WorkflowCard.vue
  packages/frontend/editor-ui/src/components/layouts/ResourcesListLayout.vue
  packages/frontend/editor-ui/src/stores/folders.store.ts
  packages/frontend/editor-ui/src/views/WorkflowsView.vue
Labels: n8n team

#14525 test: Add $agentInfo to known task runner parsers (no-changelog)
  packages/@n8n/task-runner/src/js-task-runner/built-ins-parser/__tests__/built-ins-parser.test.ts
Labels: n8n team

#14520 fix(editor): Insights design review 3 (no-changelog)
  packages/frontend/editor-ui/src/features/insights/chartjs.utils.ts
  packages/frontend/editor-ui/src/features/insights/components/InsightsDashboard.vue
  packages/frontend/editor-ui/src/features/insights/components/InsightsSummary.vue
  packages/frontend/editor-ui/src/features/insights/components/charts/InsightsChartFailed.vue
  packages/frontend/editor-ui/src/features/insights/components/charts/InsightsChartTotal.vue
  packages/frontend/editor-ui/src/plugins/i18n/locales/en.json
Labels: n8n team

#14531 refactor(editor): Decouple `Draggable` from NDV store
  packages/frontend/editor-ui/src/Interface.ts
  packages/frontend/editor-ui/src/components/Draggable.vue
  packages/frontend/editor-ui/src/components/PanelDragButton.vue
  packages/frontend/editor-ui/src/components/RunDataJson.vue
  packages/frontend/editor-ui/src/components/RunDataTable.vue
  packages/frontend/editor-ui/src/components/VirtualSchema.vue
Labels: n8n team

#14527 refactor(core): Validate all string union config fields
  packages/@n8n/config/src/configs/auth.config.ts
  packages/@n8n/config/src/configs/cache.config.ts
  packages/@n8n/config/src/configs/database.config.ts
  packages/@n8n/config/src/configs/event-bus.config.ts
  packages/@n8n/config/src/configs/external-storage.config.ts
  packages/@n8n/config/src/configs/generic.config.ts
  packages/@n8n/config/src/configs/logging.config.ts
  packages/@n8n/config/src/configs/user-management.config.ts
  packages/@n8n/config/src/configs/workflows.config.ts
  packages/@n8n/config/src/custom-types.ts
  packages/@n8n/config/src/index.ts
  packages/@n8n/config/test/custom-types.test.ts
  packages/cli/src/modules/modules.config.ts
Labels: n8n team

#14551 refactor(core): Upgrade `gm` to address CVE-2024-21538
  packages/nodes-base/package.json
  pnpm-lock.yaml
Labels: n8n team

#14488 fix(editor): Schema preview displays for some empty nodes
  packages/cli/src/server.ts
  packages/frontend/editor-ui/src/api/schemaPreview.test.ts
  packages/frontend/editor-ui/src/api/schemaPreview.ts
  packages/frontend/editor-ui/src/api/test/schemaPreview.test.ts
Labels: core, n8n team

#14556 fix(core): Schema parsing bypassing config key assignment
  packages/@n8n/config/src/decorators.ts
  packages/@n8n/config/test/config.test.ts
Labels: n8n team

#14550 fix(editor): Implement insight's design feedback 4
  packages/frontend/editor-ui/src/features/insights/components/InsightsDashboard.vue
  packages/frontend/editor-ui/src/features/insights/components/tables/InsightsTableWorkflows.vue
  packages/frontend/editor-ui/src/plugins/i18n/locales/en.json
  packages/frontend/editor-ui/src/views/NodeView.vue
Labels: n8n team

#14372 feat: Add nested search in folders
  cypress/e2e/49-folders.cy.ts
  packages/cli/src/databases/entities/folder.ts
  packages/cli/src/databases/repositories/__tests__/folder.repository.test.ts
  packages/cli/src/databases/repositories/folder.repository.ts
  packages/cli/src/databases/repositories/workflow.repository.ts
  packages/cli/test/integration/workflows/workflows.controller.test.ts
  packages/frontend/editor-ui/src/Interface.ts
  packages/frontend/editor-ui/src/components/Folders/FolderCard.vue
  packages/frontend/editor-ui/src/components/WorkflowCard.test.ts
  packages/frontend/editor-ui/src/components/WorkflowCard.vue
  packages/frontend/editor-ui/src/components/layouts/ResourcesListLayout.vue
  packages/frontend/editor-ui/src/stores/folders.store.ts
  packages/frontend/editor-ui/src/views/WorkflowsView.vue
Labels: core, n8n team

#14486 feat(Salesforce Node): Add credentials test
  packages/frontend/editor-ui/src/components/CredentialEdit/CredentialEdit.vue
  packages/nodes-base/credentials/SalesforceJwtApi.credentials.ts
Labels: node/improvement, n8n team

#13794 test: Add snapshot for sublimeSearch and a first test (no-changelog)
  .vscode/settings.default.json
  packages/@n8n/utils/src/search/snapshots/README.md
  packages/@n8n/utils/src/search/snapshots/toplevel.snapshot.json
  packages/@n8n/utils/src/search/sublimeSearch.test.ts
  packages/frontend/editor-ui/src/components/Node/NodeCreator/utils.ts
Labels: n8n team

#14243 feat(core): Handle disabled modules logic and db engine dependent default for insights
  packages/cli/src/commands/base-command.ts
  packages/cli/src/decorators/module.ts
  packages/cli/src/modules/__tests__/modules.config.test.ts
  packages/cli/src/modules/insights/__tests__/insights.module.test.ts
  packages/cli/src/modules/insights/__tests__/insights.pre-init.test.ts
  packages/cli/src/modules/insights/__tests__/insights.service.test.ts
  packages/cli/src/modules/insights/insights.module.ts
  packages/cli/src/modules/insights/insights.pre-init.ts
  packages/cli/src/modules/insights/insights.service.ts
  packages/cli/src/modules/modules.config.ts
  packages/cli/src/services/frontend.service.ts
Labels: core, n8n team

#14328 fix: Fix issue with Qdrant not always connecting
  packages/@n8n/nodes-langchain/credentials/QdrantApi.credentials.ts
  packages/@n8n/nodes-langchain/nodes/vector_store/VectorStoreQdrant/Qdrant.utils.ts
  packages/@n8n/nodes-langchain/nodes/vector_store/VectorStoreQdrant/VectorStoreQdrant.node.ts
  packages/@n8n/nodes-langchain/nodes/vector_store/shared/createVectorStoreNode/methods/listSearch.ts
Labels: n8n team

#14600 ci: Add flaky test workflow for debugging
  .github/workflows/e2e-flaky.yml
  cypress/e2e/24-ndv-paired-item.cy.ts
Labels: n8n team

#14595 test(Salesforce Node): Add unit and workflow tests for the Salesforce node
  packages/nodes-base/nodes/Salesforce/__test__/GenericFunctions.test.ts
  packages/nodes-base/nodes/Salesforce/__test__/node/Salesforce.node.test.ts
  packages/nodes-base/nodes/Salesforce/__test__/node/accounts.workflow.json
  packages/nodes-base/nodes/Salesforce/__test__/node/fixtures/account-details.json
  packages/nodes-base/nodes/Salesforce/__test__/node/fixtures/accounts.json
  packages/nodes-base/nodes/Salesforce/__test__/node/fixtures/opportunities-summary.json
  packages/nodes-base/nodes/Salesforce/__test__/node/fixtures/opportunities.json
  packages/nodes-base/nodes/Salesforce/__test__/node/fixtures/opportunity-details.json
  packages/nodes-base/nodes/Salesforce/__test__/node/fixtures/task-details.json
  packages/nodes-base/nodes/Salesforce/__test__/node/fixtures/task-summary.json
  packages/nodes-base/nodes/Salesforce/__test__/node/fixtures/tasks.json
  packages/nodes-base/nodes/Salesforce/__test__/node/fixtures/user-details.json
  packages/nodes-base/nodes/Salesforce/__test__/node/fixtures/users.json
  packages/nodes-base/nodes/Salesforce/__test__/node/opportunities.workflow.json
  packages/nodes-base/nodes/Salesforce/__test__/node/search.workflow.json
  packages/nodes-base/nodes/Salesforce/__test__/node/tasks.workflow.json
  packages/nodes-base/nodes/Salesforce/__test__/node/users.workflow.json
  packages/nodes-base/test/nodes/FakeCredentialsMap.ts
Labels: node/improvement, n8n team

#14521 feat: Update Easy AI workflow
  cypress/e2e/27-cloud.cy.ts
  packages/frontend/editor-ui/src/composables/usePushConnection.ts
  packages/frontend/editor-ui/src/plugins/i18n/locales/en.json
  packages/frontend/editor-ui/src/utils/__snapshots__/easyAiWorkflowUtils.test.ts.snap
  packages/frontend/editor-ui/src/utils/easyAiWorkflowUtils.test.ts
  packages/frontend/editor-ui/src/utils/easyAiWorkflowUtils.ts
  packages/frontend/editor-ui/src/views/NodeView.vue
  packages/frontend/editor-ui/src/views/WorkflowsView.vue
Labels: n8n team

#14608 feat(editor): Tweak nodes panel to update AI category name and highlight AI Transform node
  packages/frontend/editor-ui/src/components/Node/NodeCreator/viewsData.ts
  packages/frontend/editor-ui/src/plugins/i18n/locales/en.json
Labels: n8n team

#14609 feat(editor): Show specific content when 0 data on insights
  packages/frontend/editor-ui/src/features/insights/components/InsightsSummary.test.ts
  packages/frontend/editor-ui/src/features/insights/components/InsightsSummary.vue
  packages/frontend/editor-ui/src/features/insights/components/__snapshots__/InsightsSummary.test.ts.snap
  packages/frontend/editor-ui/src/plugins/i18n/locales/en.json
Labels: n8n team

#14603 fix(core): Fix missing encryption key check on workers
  packages/cli/src/commands/worker.ts
  packages/core/src/instance-settings/__tests__/instance-settings.test.ts
  packages/core/src/instance-settings/instance-settings.ts
  packages/core/src/instance-settings/worker-missing-encryption-key.error.ts
Labels: core, n8n team

#14492 feat(core): Add support for signed URLs for binary data
  packages/@n8n/api-types/src/dto/binary-data/__tests__/binary-data-query.dto.test.ts
  packages/@n8n/api-types/src/dto/binary-data/__tests__/binary-data-signed-query.dto.test.ts
  packages/@n8n/api-types/src/dto/binary-data/binary-data-query.dto.ts
  packages/@n8n/api-types/src/dto/binary-data/binary-data-signed-query.dto.ts
  packages/@n8n/api-types/src/dto/index.ts
  packages/cli/package.json
  packages/cli/src/controllers/__tests__/binary-data.controller.test.ts
  packages/cli/src/controllers/binary-data.controller.ts
  packages/cli/src/requests.ts
  packages/cli/test/integration/shared/utils/index.ts
  packages/core/package.json
  packages/core/src/binary-data/__tests__/binary-data-service.test.ts
  packages/core/src/binary-data/binary-data.config.ts
  packages/core/src/binary-data/binary-data.service.ts
  packages/core/src/binary-data/types.ts
  packages/core/src/execution-engine/node-execution-context/utils/__tests__/binary-helper-functions.test.ts
  packages/core/src/execution-engine/node-execution-context/utils/binary-helper-functions.ts
  packages/nodes-base/package.json
  packages/nodes-base/test/nodes/Helpers.ts
  packages/workflow/src/Interfaces.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: core, n8n team

#14554 fix(MCP Client Tool Node): Stringify tool result
  packages/@n8n/nodes-langchain/nodes/mcp/McpClientTool/McpClientTool.node.test.ts
  packages/@n8n/nodes-langchain/nodes/mcp/McpTrigger/McpServer.ts
  packages/@n8n/nodes-langchain/utils/logWrapper.ts
Labels: n8n team

#14617 feat(editor): Fix paywall for dashboard disabled licences
  packages/cli/src/modules/insights/insights.controller.ts
  packages/cli/test/integration/insights/insights.api.test.ts
  packages/frontend/editor-ui/src/Interface.ts
  packages/frontend/editor-ui/src/features/insights/components/InsightsDashboard.vue
  packages/frontend/editor-ui/src/features/insights/components/InsightsPaywall.vue
  packages/frontend/editor-ui/src/features/insights/insights.store.ts
  packages/frontend/editor-ui/src/plugins/i18n/locales/en.json
Labels: core, n8n team, release/backport

#14622 fix(editor): Fix Insights display time saved from minutes
  packages/@n8n/api-types/src/schemas/__tests__/insights.schema.test.ts
  packages/@n8n/api-types/src/schemas/insights.schema.ts
  packages/cli/src/modules/insights/__tests__/insights.controller.test.ts
  packages/cli/src/modules/insights/__tests__/insights.service.test.ts
  packages/cli/src/modules/insights/insights.service.ts
  packages/frontend/editor-ui/src/features/insights/insights.constants.ts
  packages/frontend/editor-ui/src/features/insights/insights.utils.ts
Labels: core, n8n team, release/backport

#14443 fix(editor): Show `Execute previous Node` panel after disabled node in Schema view
  packages/frontend/editor-ui/src/components/RunData.vue
Labels: n8n team

#14616 refactor(core): Migrate binary-data config to a decorated config class
  packages/@n8n/config/src/decorators.ts
  packages/@n8n/di/src/__tests__/di.test.ts
  packages/@n8n/di/src/di.ts
  packages/cli/src/commands/base-command.ts
  packages/cli/src/config/schema.ts
  packages/cli/src/config/types.ts
  packages/cli/src/config/utils.ts
  packages/cli/src/errors/not-string-array.error.ts
  packages/cli/src/events/__tests__/telemetry-event-relay.test.ts
  packages/cli/src/events/relays/telemetry.event-relay.ts
  packages/cli/src/execution-lifecycle/__tests__/execution-lifecycle-hooks.test.ts
  packages/cli/src/execution-lifecycle/__tests__/restore-binary-data-id.test.ts
  packages/cli/src/execution-lifecycle/restore-binary-data-id.ts
  packages/cli/src/services/frontend.service.ts
  packages/cli/test/integration/shared/utils/index.ts
  packages/core/src/binary-data/__tests__/binary-data-service.test.ts
  packages/core/src/binary-data/__tests__/binary-data.config.test.ts
  packages/core/src/binary-data/binary-data.config.ts
  packages/core/src/binary-data/binary-data.service.ts
  packages/core/src/binary-data/index.ts
  packages/core/src/binary-data/types.ts
  packages/core/src/execution-engine/node-execution-context/utils/__tests__/binary-helper-functions.test.ts
  packages/nodes-base/test/nodes/Helpers.ts
Labels: core, n8n team

#14638 fix(core): Propagate env to task runner
  docker/images/n8n/n8n-task-runners.json
  packages/cli/src/task-runners/__tests__/task-runner-process.test.ts
  packages/cli/src/task-runners/task-runner-process.ts
Labels: core, n8n team

#13480 ci(core): Enforce tests for nodes
  codecov.yml
Labels: n8n team

#14537 test(Telegram Trigger Node): Add tests for Telegram Trigger (no-changelog)
  packages/nodes-base/nodes/Telegram/TelegramTrigger.node.ts
  packages/nodes-base/nodes/Telegram/tests/TelegramTrigger.node.test.ts
  packages/nodes-base/nodes/Telegram/util/triggerUtils.ts
  packages/nodes-base/test/nodes/TriggerHelpers.ts
Labels: node/improvement, n8n team

#14477 feat(editor): Show logs panel in execution history page
  packages/frontend/@n8n/chat/src/components/MessageTyping.vue
  packages/frontend/@n8n/chat/src/plugins/chat.ts
  packages/frontend/@n8n/chat/src/types/messages.ts
  packages/frontend/editor-ui/src/__tests__/mocks.ts
  packages/frontend/editor-ui/src/components/CanvasChat/CanvasChat.test.ts
  packages/frontend/editor-ui/src/components/CanvasChat/CanvasChat.vue
  packages/frontend/editor-ui/src/components/CanvasChat/components/ChatMessagesPanel.vue
  packages/frontend/editor-ui/src/components/CanvasChat/composables/useChatMessaging.ts
  packages/frontend/editor-ui/src/components/CanvasChat/composables/useChatState.ts
  packages/frontend/editor-ui/src/components/CanvasChat/composables/useChatTrigger.ts
  packages/frontend/editor-ui/src/components/CanvasChat/composables/usePiPWindow.ts
  packages/frontend/editor-ui/src/components/CanvasChat/future/LogsPanel.test.ts
  packages/frontend/editor-ui/src/components/CanvasChat/future/LogsPanel.vue
  packages/frontend/editor-ui/src/components/CanvasChat/future/components/DemoFooter.vue
  packages/frontend/editor-ui/src/components/CanvasChat/future/components/LogsOverviewPanel.test.ts
  packages/frontend/editor-ui/src/components/CanvasChat/future/components/LogsOverviewPanel.vue
  packages/frontend/editor-ui/src/components/CanvasChat/future/components/LogsOverviewRow.vue
  packages/frontend/editor-ui/src/components/CanvasChat/types/logs.ts
  packages/frontend/editor-ui/src/components/CanvasChat/utils.test.ts
  packages/frontend/editor-ui/src/components/CanvasChat/utils.ts
  packages/frontend/editor-ui/src/components/RunDataAi/utils.test.ts
  packages/frontend/editor-ui/src/components/RunDataAi/utils.ts
  packages/frontend/editor-ui/src/components/executions/workflow/WorkflowExecutionsInfoAccordion.vue
  packages/frontend/editor-ui/src/composables/useRunWorkflow.ts
  packages/frontend/editor-ui/src/constants.ts
  packages/frontend/editor-ui/src/router.ts
  packages/frontend/editor-ui/src/stores/workflows.store.ts
Labels: n8n team

#14631 test: Fix slow typescript editor tests by mocking typescript vfs (no-changelog)
  packages/frontend/editor-ui/src/plugins/codemirror/typescript/worker/typescript.worker.test.ts
Labels: n8n team

#14549 feat(editor): Add drag n drop support for folders
  cypress/composables/folders.ts
  cypress/e2e/49-folders.cy.ts
  packages/frontend/@n8n/design-system/src/components/N8nActionToggle/ActionToggle.vue
  packages/frontend/@n8n/design-system/src/components/N8nBreadcrumbs/Breadcrumbs.vue
  packages/frontend/@n8n/design-system/src/components/N8nBreadcrumbs/__snapshots__/BreadCrumbs.test.ts.snap
  packages/frontend/editor-ui/src/Interface.ts
  packages/frontend/editor-ui/src/components/Draggable.vue
  packages/frontend/editor-ui/src/components/Folders/FolderBreadcrumbs.vue
  packages/frontend/editor-ui/src/components/__snapshots__/RunDataJson.test.ts.snap
  packages/frontend/editor-ui/src/components/__snapshots__/VirtualSchema.test.ts.snap
  packages/frontend/editor-ui/src/composables/useFolders.test.ts
  packages/frontend/editor-ui/src/composables/useFolders.ts
  packages/frontend/editor-ui/src/stores/folders.store.ts
  packages/frontend/editor-ui/src/views/WorkflowsView.vue
Labels: n8n team

#14641 fix(core): Allow `$evaluateExpression` to resolve in task runners
  packages/@n8n/task-runner/src/js-task-runner/__tests__/js-task-runner.test.ts
  packages/workflow/src/Expression.ts
  packages/workflow/test/Expression.test.ts
Labels: core, n8n team

#14307 feat(HTTP Request Node): Port `optimizeResponse` from httpRequest tool to standalone node (no-changelog)
  packages/core/src/constants.ts
  packages/core/src/execution-engine/node-execution-context/node-execution-context.ts
  packages/frontend/editor-ui/src/constants.ts
  packages/nodes-base/nodes/HttpRequest/V3/Description.ts
  packages/nodes-base/nodes/HttpRequest/V3/HttpRequestV3.node.ts
  packages/nodes-base/nodes/HttpRequest/shared/optimizeResponse.test.ts
  packages/nodes-base/nodes/HttpRequest/shared/optimizeResponse.ts
  packages/nodes-base/package.json
  packages/workflow/src/Interfaces.ts
  pnpm-lock.yaml
Labels: node/improvement, n8n team

#14604 feat(editor): Align `DynamicStructuredTool` and `DynamicTool` name fields
  cypress/e2e/5-ndv.cy.ts
  packages/@n8n/nodes-langchain/nodes/tools/ToolCode/ToolCode.node.test.ts
  packages/@n8n/nodes-langchain/nodes/tools/ToolCode/ToolCode.node.ts
  packages/@n8n/nodes-langchain/nodes/tools/ToolVectorStore/ToolVectorStore.node.test.ts
  packages/@n8n/nodes-langchain/nodes/tools/ToolVectorStore/ToolVectorStore.node.ts
  packages/@n8n/nodes-langchain/nodes/tools/ToolWorkflow/ToolWorkflow.node.test.ts
  packages/@n8n/nodes-langchain/nodes/tools/ToolWorkflow/ToolWorkflow.node.ts
  packages/@n8n/nodes-langchain/nodes/tools/ToolWorkflow/v2/ToolWorkflowV2.node.ts
  packages/@n8n/nodes-langchain/nodes/tools/ToolWorkflow/v2/versionDescription.ts
  packages/@n8n/nodes-langchain/utils/helpers.ts
  packages/core/src/execution-engine/node-execution-context/utils/create-node-as-tool.ts
Labels: n8n team

#14642 fix(editor): Stop auto-focusing search in resource views (no-changelog)
  packages/frontend/editor-ui/src/components/layouts/ResourcesListLayout.vue
Labels: n8n team

#14660 fix: Unit test fails due to missing document (no-changelog)
  package.json
  patches/element-plus@2.4.3.patch
  pnpm-lock.yaml
Labels: n8n team

#14633 fix(editor): Fix updating of canvas node issue when credential is set-up
  cypress/composables/credentialsComposables.ts
  cypress/composables/workflow.ts
  cypress/e2e/716-AI-bug-correctly-set-up-agent-model-shows-error.cy.ts
  packages/frontend/editor-ui/src/components/canvas/Canvas.vue
Labels: n8n team

#14666 refactor(core): Provide clearer errors on task runner rejection
  packages/@n8n/task-runner/src/task-runner.ts
Labels: n8n team

#14669 feat(HTTP Request Node): Replace custom httpRequest tool with tool version of standalone HttpRequest Node
  packages/@n8n/nodes-langchain/nodes/tools/ToolHttpRequest/ToolHttpRequest.node.ts
  packages/nodes-base/nodes/HttpRequest/V3/HttpRequestV3.node.ts
  packages/nodes-base/nodes/HttpRequest/shared/optimizeResponse.ts
Labels: node/improvement, n8n team

#14612 fix(editor): Improve handling of trailing 'Trigger' in NodeCreator search
  packages/@n8n/utils/src/search/sublimeSearch.test.ts
  packages/@n8n/utils/src/search/sublimeSearch.ts
  packages/frontend/editor-ui/src/components/Node/NodeCreator/utils.test.ts
  packages/frontend/editor-ui/src/components/Node/NodeCreator/utils.ts
Labels: n8n team

#14656 feat: Resolve `parentFolder` when retrieving workflow
  packages/cli/src/databases/entities/folder.ts
  packages/cli/src/workflows/workflows.controller.ts
  packages/cli/test/integration/workflows/workflows.controller.test.ts
Labels: core, n8n team

#14682 perf(core): Reuse context in `runOnceForEachItem` mode in task runner
  packages/@n8n/task-runner/src/js-task-runner/js-task-runner.ts
Labels: n8n team

#14672 fix(Postgres Node): Fix inserting `null` or `undefined` in `type=json` columns
  packages/nodes-base/nodes/Postgres/test/v2/utils.test.ts
  packages/nodes-base/nodes/Postgres/v2/helpers/utils.ts
Labels: node/improvement, n8n team

#14643 fix(editor): Account for `$evaluateExpression` in Codemirror
  packages/frontend/editor-ui/src/plugins/codemirror/typescript/worker/type-declarations/n8n.d.ts
Labels: n8n team

#14685 fix(editor): Restrict what binary-data types can be viewed in the UI
  packages/@n8n/api-types/src/index.ts
  packages/@n8n/api-types/src/schemas/binaryData.schema.ts
  packages/cli/src/controllers/__tests__/binary-data.controller.test.ts
  packages/cli/src/controllers/binary-data.controller.ts
  packages/frontend/editor-ui/src/components/RunData.test.ts
  packages/frontend/editor-ui/src/components/RunData.vue
Labels: core, n8n team

#14673 fix(editor): Fix expanding schema items with same names on NDV
  packages/frontend/editor-ui/src/composables/useDataSchema.ts
Labels: n8n team

#14679 fix: Improve stability of NDV hover test (no-changelog)
  cypress/composables/ndv.ts
  cypress/e2e/24-ndv-paired-item.cy.ts
Labels: n8n team

#14687 fix: Removing call to actual endpoint (no-changelog)
  .github/workflows/e2e-flaky.yml
  .github/workflows/units-tests-reusable.yml
  cypress/e2e/19-execution.cy.ts
Labels: n8n team

#14677 fix(editor): Fix same order of buttons in run data selector
  cypress/e2e/5-ndv.cy.ts
  packages/frontend/editor-ui/src/components/RunData.vue
Labels: n8n team

#14652 chore(core): Fix typo in prototype mutation env var docline
  packages/@n8n/task-runner/src/config/js-runner-config.ts
Labels: n8n team

#14697 fix(LinkedIn Node): API version update
  packages/nodes-base/nodes/LinkedIn/GenericFunctions.ts
Labels: n8n team, node/issue

#14060 fix: AWS credential signing http request - convert form to body
  packages/nodes-base/credentials/Aws.credentials.ts
  packages/nodes-base/credentials/test/Aws.credentials.test.ts
Labels: node/improvement, community, in linear

#14707 fix(editor): Highlight the suggested data type with bold in the Filter node
  packages/frontend/editor-ui/src/components/FilterConditions/OperatorSelect.vue
Labels: n8n team

#14689 refactor(core): Port workflow history config
  packages/@n8n/config/src/configs/workflow-history.config.ts
  packages/@n8n/config/src/index.ts
  packages/@n8n/config/test/config.test.ts
  packages/cli/src/config/schema.ts
  packages/cli/src/services/frontend.service.ts
  packages/cli/src/workflows/workflow-history.ee/__tests__/workflow-history-helper.ee.test.ts
  packages/cli/src/workflows/workflow-history.ee/workflow-history-helper.ee.ts
  packages/cli/test/integration/workflow-history-manager.test.ts
Labels: core, n8n team

#14409 feat(editor): Log details panel
  packages/frontend/@n8n/design-system/src/components/N8nRadioButtons/RadioButton.vue
  packages/frontend/@n8n/design-system/src/components/N8nRadioButtons/RadioButtons.vue
  packages/frontend/@n8n/design-system/src/components/N8nResizeWrapper/ResizeWrapper.vue
  packages/frontend/editor-ui/src/__tests__/mocks.ts
  packages/frontend/editor-ui/src/components/CanvasChat/components/ChatMessagesPanel.vue
  packages/frontend/editor-ui/src/components/CanvasChat/composables/useChatState.ts
  packages/frontend/editor-ui/src/components/CanvasChat/composables/usePiPWindow.ts
  packages/frontend/editor-ui/src/components/CanvasChat/composables/useResize.ts
  packages/frontend/editor-ui/src/components/CanvasChat/future/LogsPanel.test.ts
  packages/frontend/editor-ui/src/components/CanvasChat/future/LogsPanel.vue
  packages/frontend/editor-ui/src/components/CanvasChat/future/components/ExecutionSummary.vue
  packages/frontend/editor-ui/src/components/CanvasChat/future/components/LogDetailsPanel.test.ts
  packages/frontend/editor-ui/src/components/CanvasChat/future/components/LogDetailsPanel.vue
  packages/frontend/editor-ui/src/components/CanvasChat/future/components/LogsOverviewPanel.test.ts
  packages/frontend/editor-ui/src/components/CanvasChat/future/components/LogsOverviewPanel.vue
  packages/frontend/editor-ui/src/components/CanvasChat/future/components/LogsOverviewRow.vue
  packages/frontend/editor-ui/src/components/CanvasChat/future/components/LogsPanelActions.vue
  packages/frontend/editor-ui/src/components/CanvasChat/future/components/PanelHeader.vue
  packages/frontend/editor-ui/src/components/CanvasChat/future/components/RunDataView.vue
  packages/frontend/editor-ui/src/components/CanvasChat/future/composables/useLayout.ts
  packages/frontend/editor-ui/src/components/CanvasChat/future/composables/useResizablePanel.test.ts
  packages/frontend/editor-ui/src/components/CanvasChat/future/composables/useResizablePanel.ts
  packages/frontend/editor-ui/src/components/CanvasChat/types/logs.ts
  packages/frontend/editor-ui/src/components/InputPanel.vue
  packages/frontend/editor-ui/src/components/OutputPanel.vue
  packages/frontend/editor-ui/src/components/RunData.vue
  packages/frontend/editor-ui/src/components/RunDataAi/utils.test.ts
  packages/frontend/editor-ui/src/components/RunDataDisplayModeSelect.vue
  packages/frontend/editor-ui/src/components/RunDataItemCount.vue
  packages/frontend/editor-ui/src/components/RunDataJson.vue
  packages/frontend/editor-ui/src/components/RunDataJsonActions.vue
  packages/frontend/editor-ui/src/components/RunDataTable.vue
  packages/frontend/editor-ui/src/components/__snapshots__/InputPanel.test.ts.snap
  packages/frontend/editor-ui/src/plugins/i18n/locales/en.json
  packages/frontend/editor-ui/src/plugins/icons/custom.ts
  packages/frontend/editor-ui/src/plugins/icons/index.ts
Labels: n8n team

#14618 fix(core): Only check for folder changes when `parentFolderId` is present
  packages/cli/src/environments.ee/source-control/__tests__/source-control-helper.ee.test.ts
  packages/cli/src/environments.ee/source-control/source-control-helper.ee.ts
  packages/cli/src/environments.ee/source-control/source-control.service.ee.ts
Labels: core, n8n team

#14665 fix(editor): Fix directives breaking reactivity (no-changelog)
  packages/frontend/@n8n/design-system/src/directives/n8n-smart-decimal.test.ts
  packages/frontend/@n8n/design-system/src/directives/n8n-smart-decimal.ts
  packages/frontend/@n8n/design-system/src/directives/n8n-truncate.test.ts
  packages/frontend/@n8n/design-system/src/directives/n8n-truncate.ts
  packages/frontend/editor-ui/src/components/Projects/ProjectCardBadge.vue
Labels: n8n team

#14696 fix(editor): Differentiate $fromAI overrides within lists
  packages/frontend/editor-ui/src/utils/fromAIOverrideUtils.test.ts
  packages/frontend/editor-ui/src/utils/fromAIOverrideUtils.ts
Labels: n8n team

#14709 fix(core): Handle task runner accept timeout error
  packages/cli/src/task-runners/task-broker/__tests__/task-broker.service.test.ts
  packages/cli/src/task-runners/task-broker/errors/task-runner-accept-timeout.error.ts
  packages/cli/src/task-runners/task-broker/errors/task-runner-execution-timeout.error.ts
  packages/cli/src/task-runners/task-broker/task-broker.service.ts
Labels: core, n8n team

#14635 fix(editor): Allow long links on rendered markdown split to multiple lines
  packages/frontend/@n8n/design-system/src/components/N8nMarkdown/Markdown.vue
Labels: n8n team

#14704 fix(HubSpot Node): Include item index in error messages
  packages/nodes-base/nodes/Hubspot/V2/HubspotV2.node.ts
  packages/nodes-base/nodes/Hubspot/__test__/Hubspot.node.test.ts
  packages/nodes-base/nodes/Hubspot/__test__/companies.workflow.json
  packages/nodes-base/nodes/Hubspot/__test__/contacts.workflow.json
  packages/nodes-base/nodes/Hubspot/__test__/deals.workflow.json
  packages/nodes-base/nodes/Hubspot/__test__/fixtures/companies.json
  packages/nodes-base/nodes/Hubspot/__test__/fixtures/companies_search_result.json
  packages/nodes-base/nodes/Hubspot/__test__/fixtures/contacts.json
  packages/nodes-base/nodes/Hubspot/__test__/fixtures/contacts_search_result.json
  packages/nodes-base/nodes/Hubspot/__test__/fixtures/deals.json
  packages/nodes-base/nodes/Hubspot/__test__/fixtures/deals_search_result.json
Labels: node/improvement, n8n team

#14671 fix(editor): Fix square button layout (no-changelog)
  packages/frontend/@n8n/design-system/src/components/N8nButton/Button.vue
  packages/frontend/@n8n/design-system/src/components/N8nButton/__snapshots__/Button.test.ts.snap
  packages/frontend/editor-ui/src/components/__snapshots__/InputPanel.test.ts.snap
  packages/frontend/editor-ui/src/components/__snapshots__/VirtualSchema.test.ts.snap
  packages/frontend/editor-ui/src/components/canvas/elements/buttons/__snapshots__/CanvasControlButtons.test.ts.snap
  packages/frontend/editor-ui/src/components/executions/ExecutionsFilter.vue
Labels: n8n team
