Repository n8n-io/n8n, pull requests merged in 2025-09, with the labels that each got.

#18974 refactor(core): Block `__import__` via AST validation in native Python runner
  packages/@n8n/task-runner-python/src/constants.py
  packages/@n8n/task-runner-python/src/task_analyzer.py
Labels: n8n team

#19024 refactor: Add tracing details to native Python runner logs
  packages/@n8n/task-runner-python/src/constants.py
  packages/@n8n/task-runner-python/src/message_serde.py
  packages/@n8n/task-runner-python/src/message_types/broker.py
  packages/@n8n/task-runner-python/src/task_runner.py
  packages/@n8n/task-runner-python/src/task_state.py
  packages/nodes-base/nodes/Code/PythonTaskRunnerSandbox.ts
Labels: node/improvement, n8n team

#18998 fix(editor): Debug in Editor preserves binary data and prevents incorrect dirty marking
  packages/frontend/editor-ui/src/composables/useExecutionDebugging.test.ts
  packages/frontend/editor-ui/src/composables/useExecutionDebugging.ts
  packages/frontend/editor-ui/src/stores/workflows.store.test.ts
  packages/frontend/editor-ui/src/stores/workflows.store.ts
Labels: n8n team

#18926 feat(core): Allow custom project roles from being set to a user project relation
  packages/@n8n/api-types/src/dto/invitation/__tests__/invite-users-request.dto.test.ts
  packages/@n8n/api-types/src/dto/invitation/invite-users-request.dto.ts
  packages/@n8n/api-types/src/dto/project/__tests__/add-users-to-project.dto.test.ts
  packages/@n8n/api-types/src/dto/project/__tests__/change-user-role-in-project.dto.test.ts
  packages/@n8n/api-types/src/dto/project/__tests__/update-project.dto.test.ts
  packages/@n8n/api-types/src/dto/project/change-user-role-in-project.dto.ts
  packages/@n8n/api-types/src/dto/user/__tests__/role-change-request.dto.test.ts
  packages/@n8n/api-types/src/dto/user/role-change-request.dto.ts
  packages/@n8n/api-types/src/schemas/__tests__/project.schema.test.ts
  packages/@n8n/api-types/src/schemas/project.schema.ts
  packages/@n8n/backend-test-utils/src/db/projects.ts
  packages/@n8n/db/src/entities/types-db.ts
  packages/@n8n/db/src/repositories/role.repository.ts
  packages/@n8n/permissions/src/__tests__/schemas.test.ts
  packages/@n8n/permissions/src/index.ts
  packages/@n8n/permissions/src/schemas.ee.ts
  packages/@n8n/permissions/src/types.ee.ts
  packages/cli/src/controllers/project.controller.ts
  packages/cli/src/public-api/v1/handlers/users/spec/paths/users.id.role.yml
  packages/cli/src/public-api/v1/handlers/users/spec/paths/users.yml
  packages/cli/src/requests.ts
  packages/cli/src/services/__tests__/user.service.test.ts
  packages/cli/src/services/project.service.ee.ts
  packages/cli/src/services/role.service.ts
  packages/cli/src/services/user.service.ts
  packages/cli/src/user-management/email/__tests__/user-management-mailer.test.ts
  packages/cli/src/user-management/email/user-management-mailer.ts
  packages/cli/test/integration/folder/folder.controller.test.ts
  packages/cli/test/integration/public-api/projects.test.ts
  packages/cli/test/integration/public-api/users.test.ts
  packages/cli/test/integration/services/project.service.test.ts
  packages/cli/test/integration/users.api.test.ts
Labels: core, n8n team

#19023 chore: Add health checks to native Python runner
  packages/@n8n/task-runner-python/src/constants.py
  packages/@n8n/task-runner-python/src/env.py
  packages/@n8n/task-runner-python/src/health.py
  packages/@n8n/task-runner-python/src/logs.py
  packages/@n8n/task-runner-python/src/main.py
  packages/@n8n/task-runner-python/src/task_runner.py
Labels: n8n team

#18920 feat: Decrease builder wordiness (no-changelog)
  packages/@n8n/ai-workflow-builder.ee/evaluations/README.md
  packages/@n8n/ai-workflow-builder.ee/src/tools/add-node.tool.ts
  packages/@n8n/ai-workflow-builder.ee/src/tools/prompts/main-agent.prompt.ts
  packages/@n8n/ai-workflow-builder.ee/src/utils/stream-processor.ts
  packages/@n8n/ai-workflow-builder.ee/src/utils/test/stream-processor.test.ts
  packages/frontend/@n8n/design-system/src/components/AskAssistantChat/AskAssistantChat.test.ts
  packages/frontend/@n8n/design-system/src/components/AskAssistantChat/AskAssistantChat.vue
  packages/frontend/@n8n/design-system/src/components/AskAssistantChat/messages/MessageWrapper.vue
  packages/frontend/@n8n/design-system/src/components/AskAssistantChat/messages/helpers.ts
Labels: n8n team

#19031 fix(core): Remove explicit column ordering in Data Table inserts (no-changelog)
  packages/cli/src/modules/data-table/__tests__/data-store.service.test.ts
  packages/cli/src/modules/data-table/data-store-rows.repository.ts
Labels: core, n8n team

#19036 fix(Data Table Node): Remove system columns in autoMap mode (no-changelog)
  packages/nodes-base/nodes/DataTable/common/addRow.ts
Labels: node/improvement, n8n team

#19032 fix(Data Table Node): Use same color as Execute Workflow Node (no-changelog)
  packages/nodes-base/nodes/DataTable/DataTable.node.ts
Labels: node/improvement, n8n team

#18739 ci: Include THIRD_PARTY_LICENSES.md file with release
  .gitignore
  package.json
  packages/cli/THIRD_PARTY_LICENSES.md
  packages/cli/src/controllers/third-party-licenses.controller.ts
  packages/cli/src/server.ts
  packages/cli/test/integration/controllers/third-party-licenses.controller.test.ts
  packages/cli/test/integration/shared/types.ts
  packages/cli/test/integration/shared/utils/test-server.ts
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/@n8n/rest-api-client/src/api/index.ts
  packages/frontend/@n8n/rest-api-client/src/api/third-party-licenses.ts
  packages/frontend/editor-ui/src/components/AboutModal.vue
  pnpm-lock.yaml
  scripts/build-n8n.mjs
  scripts/generate-third-party-licenses.mjs
  scripts/third-party-license-format.json
Labels: n8n team

#19046 feat(Data Table Node): Add isEmpty and isNotEmpty operations (no-changelog)
  packages/nodes-base/nodes/DataTable/common/constants.ts
  packages/nodes-base/nodes/DataTable/common/methods.ts
  packages/nodes-base/nodes/DataTable/common/selectMany.ts
  packages/nodes-base/nodes/DataTable/common/utils.ts
  packages/nodes-base/nodes/DataTable/test/common/utils.test.ts
Labels: node/improvement, n8n team

#18960 test: Add custom reporter for test metrics
  packages/testing/playwright/package.json
  packages/testing/playwright/playwright.config.ts
  packages/testing/playwright/reporters/USAGE.md
  packages/testing/playwright/reporters/metrics-reporter.ts
  packages/testing/playwright/tests/performance/large-node-cloud.spec.ts
  packages/testing/playwright/tests/performance/perf-examples.spec.ts
  packages/testing/playwright/utils/performance-helper.ts
  pnpm-lock.yaml
Labels: n8n team

#18953 feat(editor): Provide default ExecuteWorkflow node names based on the selected workflow
  packages/frontend/editor-ui/src/components/WorkflowSelectorParameterInput/WorkflowSelectorParameterInput.vue
  packages/frontend/editor-ui/src/components/WorkflowSelectorParameterInput/useWorkflowResourcesLocator.test.ts
  packages/frontend/editor-ui/src/components/WorkflowSelectorParameterInput/useWorkflowResourcesLocator.ts
Labels: n8n team

#19058 fix: Expose projectId for remaining Data Table contexts (no-changelog)
  packages/@n8n/api-types/src/dto/dynamic-node-parameters/base-dynamic-parameters-request.dto.ts
  packages/@n8n/api-types/src/dto/dynamic-node-parameters/resource-locator-request.dto.ts
  packages/cli/src/controllers/dynamic-node-parameters.controller.ts
  packages/frontend/editor-ui/src/components/ParameterInput.vue
  packages/frontend/editor-ui/src/components/ResourceMapper.test.ts
  packages/frontend/editor-ui/src/components/ResourceMapper/ResourceMapper.vue
Labels: core, n8n team

#19060 feat(editor): Use n8n date time picker in data tables (no-changelog)
  packages/frontend/@n8n/design-system/src/css/_tokens.scss
  packages/frontend/editor-ui/src/features/dataStore/components/dataGrid/DataStoreTable.vue
  packages/frontend/editor-ui/src/features/dataStore/components/dataGrid/ElDatePickerCellEditor.vue
Labels: n8n team

#18737 feat: Add planning step to AI workflow builder (no-changelog)
  packages/@n8n/ai-workflow-builder.ee/evaluations/core/test-runner.ts
  packages/@n8n/ai-workflow-builder.ee/evaluations/langsmith/evaluator.ts
  packages/@n8n/ai-workflow-builder.ee/evaluations/langsmith/runner.ts
  packages/@n8n/ai-workflow-builder.ee/evaluations/utils/evaluation-helpers.ts
  packages/@n8n/ai-workflow-builder.ee/src/agents/workflow-planner-agent.ts
  packages/@n8n/ai-workflow-builder.ee/src/chains/planner.ts
  packages/@n8n/ai-workflow-builder.ee/src/constants.ts
  packages/@n8n/ai-workflow-builder.ee/src/test/workflow-builder-agent.test.ts
  packages/@n8n/ai-workflow-builder.ee/src/tools/prompts/main-agent.prompt.ts
  packages/@n8n/ai-workflow-builder.ee/src/types/langchain.ts
  packages/@n8n/ai-workflow-builder.ee/src/types/messages.ts
  packages/@n8n/ai-workflow-builder.ee/src/types/streaming.ts
  packages/@n8n/ai-workflow-builder.ee/src/utils/stream-processor.ts
  packages/@n8n/ai-workflow-builder.ee/src/utils/test/operations-processor.test.ts
  packages/@n8n/ai-workflow-builder.ee/src/utils/test/tool-executor.test.ts
  packages/@n8n/ai-workflow-builder.ee/src/workflow-builder-agent.ts
  packages/@n8n/ai-workflow-builder.ee/src/workflow-state.ts
  packages/frontend/@n8n/design-system/src/components/AskAssistantChat/AskAssistantChat.vue
  packages/frontend/@n8n/design-system/src/components/AskAssistantChat/__snapshots__/AskAssistantChat.test.ts.snap
  packages/frontend/@n8n/design-system/src/components/AskAssistantChat/messages/MessageWrapper.vue
  packages/frontend/@n8n/design-system/src/components/AskAssistantChat/messages/helpers.ts
  packages/frontend/@n8n/design-system/src/types/assistant.ts
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/components/AskAssistant/Agent/AskAssistantBuild.test.ts
  packages/frontend/editor-ui/src/components/AskAssistant/Agent/AskAssistantBuild.vue
  packages/frontend/editor-ui/src/components/AskAssistant/Agent/NodesPlanMessage.vue
  packages/frontend/editor-ui/src/composables/useBuilderMessages.ts
  packages/frontend/editor-ui/src/constants.ts
  packages/frontend/editor-ui/src/stores/builder.store.ts
  packages/frontend/editor-ui/src/types/assistant.types.ts
  packages/frontend/editor-ui/src/views/NodeView.vue
Labels: n8n team

#18967 docs: Document `context` method in module interface
  scripts/backend-module/backend-module-guide.md
  scripts/backend-module/my-feature.module.template
Labels: n8n team

#19038 chore(core): Introduce license feature flag for custom roles
  packages/@n8n/backend-common/src/license-state.ts
  packages/@n8n/constants/src/index.ts
  packages/cli/src/controllers/e2e.controller.ts
  packages/cli/src/controllers/role.controller.ts
  packages/cli/src/services/role.service.ts
  packages/cli/test/integration/controllers/role.controller.test.ts
  packages/cli/test/integration/project.service.integration.test.ts
  packages/cli/test/integration/services/project.service.test.ts
  packages/cli/test/integration/services/role.service.test.ts
Labels: core, n8n team

#19059 fix(core): Set more reasonable defaults for scaling mode queue lock
  packages/@n8n/config/src/configs/scaling-mode.config.ts
  packages/@n8n/config/test/config.test.ts
Labels: n8n team

#18945 fix(core): Inline config.js to index.html to prevent CF from caching it
  packages/cli/src/commands/start.ts
  packages/cli/src/server.ts
  packages/frontend/@n8n/stores/src/__tests__/metaTagConfig.test.ts
  packages/frontend/@n8n/stores/src/metaTagConfig.ts
  packages/frontend/@n8n/stores/src/useRootStore.ts
  packages/frontend/editor-ui/index.html
  packages/frontend/editor-ui/src/plugins/sentry.ts
  packages/frontend/editor-ui/src/shims.d.ts
  packages/frontend/editor-ui/vite.config.mts
Labels: core, n8n team

#18970 test: Migrate Cypress E2E tests to Playwright
  cypress/e2e/33-settings-personal.cy.ts
  cypress/e2e/43-oauth-flow.cy.ts
  cypress/e2e/52-rag-callout-experiment.cy.ts
  cypress/e2e/726-CAT-canvas-node-connectors-not-rendered-when-nodes-inserted.cy.ts
  cypress/e2e/812-AI-partial-execs-broken-when-using-chat-trigger.cy.ts
  cypress/fixtures/Test_chat_partial_execution.json
  packages/testing/playwright/composables/TestEntryComposer.ts
  packages/testing/playwright/config/intercepts.ts
  packages/testing/playwright/pages/CanvasPage.ts
  packages/testing/playwright/pages/CredentialsPage.ts
  packages/testing/playwright/pages/SettingsPage.ts
  packages/testing/playwright/tests/ui/33-settings-personal.spec.ts
  packages/testing/playwright/tests/ui/43-oauth-flow.spec.ts
  packages/testing/playwright/tests/ui/52-rag-callout-experiment.spec.ts
  packages/testing/playwright/tests/ui/726-CAT-canvas-node-connectors-not-rendered-when-nodes-inserted.spec.ts
  packages/testing/playwright/tests/ui/812-AI-partial-execs-broken-when-using-chat-trigger.spec.ts
  packages/testing/playwright/workflows/Test_chat_partial_execution.json
Labels: n8n team

#19040 fix: Update builder to better work with loops and binary data (no-changelog)
  packages/@n8n/ai-workflow-builder.ee/evaluations/README.md
  packages/@n8n/ai-workflow-builder.ee/evaluations/chains/test-case-generator.ts
  packages/@n8n/ai-workflow-builder.ee/evaluations/chains/workflow-evaluator.ts
  packages/@n8n/ai-workflow-builder.ee/evaluations/cli/runner.ts
  packages/@n8n/ai-workflow-builder.ee/evaluations/index.ts
  packages/@n8n/ai-workflow-builder.ee/src/tools/prompts/main-agent.prompt.ts
Labels: n8n team

#19082 chore: Add Sentry to native Python runner
  .github/workflows/ci-python.yml
  packages/@n8n/task-runner-python/README.md
  packages/@n8n/task-runner-python/justfile
  packages/@n8n/task-runner-python/pyproject.toml
  packages/@n8n/task-runner-python/src/config/health_check_config.py
  packages/@n8n/task-runner-python/src/config/sentry_config.py
  packages/@n8n/task-runner-python/src/config/task_runner_config.py
  packages/@n8n/task-runner-python/src/constants.py
  packages/@n8n/task-runner-python/src/env.py
  packages/@n8n/task-runner-python/src/health_check_server.py
  packages/@n8n/task-runner-python/src/main.py
  packages/@n8n/task-runner-python/src/sentry.py
  packages/@n8n/task-runner-python/src/task_executor.py
  packages/@n8n/task-runner-python/src/task_runner.py
  packages/@n8n/task-runner-python/uv.lock
Labels: n8n team

#19053 fix(Basic LLM Chain Node): Remove fallback connection on lower versions
  packages/@n8n/nodes-langchain/nodes/chains/ChainLLM/methods/config.ts
  packages/@n8n/nodes-langchain/nodes/chains/ChainLLM/test/config.test.ts
Labels: n8n team, release/backport

#19090 chore: Bump node-cli and create-node package versions to 0.4.0 (no-changelog)
  packages/@n8n/create-node/package.json
  packages/@n8n/node-cli/package.json
Labels: skip-e2e

#19088 test: Add performance test CI nightly
  .github/actions/setup-nodejs-blacksmith/action.yml
  .github/workflows/playwright-test-docker-build.yml
  .github/workflows/playwright-test-docker-pull.yml
  .github/workflows/playwright-test-performance.yml
  .github/workflows/playwright-test-reusable.yml
Labels: n8n team

#19071 feat: PAY-2613 add missing status field for select
  packages/@n8n/db/src/repositories/execution.repository.ts
  packages/cli/src/public-api/v1/handlers/executions/spec/schemas/execution.yml
  packages/cli/test/integration/public-api/executions.test.ts
Labels: n8n team

#19069 fix(core): Ensure getNodeOutputs always returns an array
  packages/workflow/src/node-helpers.ts
  packages/workflow/src/workflow.ts
Labels: core, n8n team

#19094 chore(editor): Rename renameDefaultNodeName (no-changelog)
  packages/frontend/editor-ui/src/components/WorkflowSelectorParameterInput/WorkflowSelectorParameterInput.vue
  packages/frontend/editor-ui/src/components/WorkflowSelectorParameterInput/useWorkflowResourcesLocator.test.ts
  packages/frontend/editor-ui/src/components/WorkflowSelectorParameterInput/useWorkflowResourcesLocator.ts
Labels: n8n team

#19106 fix(core): Normalize Data Table return on update and allow string returns from DB (no-changelog)
  packages/cli/src/modules/data-table/data-store-rows.repository.ts
  packages/cli/src/modules/data-table/utils/sql-utils.ts
Labels: release/backport

#19123 refactor(core): Replace pickle with JSON serialization in native Python runner
  packages/@n8n/task-runner-python/src/task_executor.py
Labels: n8n team

#19126 chore: Add tags to sentry's event loop blocked integration
  packages/core/src/errors/error-reporter.ts
Labels: core, n8n team

#19098 chore(core): Support state and nonce parameter for OIDC
  packages/cli/src/constants.ts
  packages/cli/src/sso.ee/oidc/oidc.service.ee.ts
  packages/cli/src/sso.ee/oidc/routes/__tests__/oidc.controller.ee.test.ts
  packages/cli/src/sso.ee/oidc/routes/oidc.controller.ee.ts
  packages/cli/test/integration/oidc/oidc.service.ee.test.ts
Labels: core, n8n team

#18984 feat(editor): Show actions in focus panel when multiple nodes are selected (no-changelog)
  packages/frontend/@n8n/design-system/src/components/N8nActionDropdown/ActionDropdown.stories.ts
  packages/frontend/@n8n/design-system/src/components/N8nActionDropdown/ActionDropdown.vue
  packages/frontend/@n8n/design-system/src/types/action-dropdown.ts
  packages/frontend/editor-ui/src/components/ContextMenu/ContextMenu.vue
  packages/frontend/editor-ui/src/components/FocusPanel.vue
  packages/frontend/editor-ui/src/components/MainHeader/WorkflowDetails.vue
  packages/frontend/editor-ui/src/components/SettingsUsers/SettingsUsersRoleCell.test.ts
  packages/frontend/editor-ui/src/components/SettingsUsers/SettingsUsersRoleCell.vue
  packages/frontend/editor-ui/src/components/SettingsUsers/SettingsUsersTable.vue
  packages/frontend/editor-ui/src/components/canvas/Canvas.vue
  packages/frontend/editor-ui/src/components/canvas/WorkflowCanvas.vue
  packages/frontend/editor-ui/src/components/canvas/elements/buttons/CanvasRunWorkflowButton.vue
  packages/frontend/editor-ui/src/components/canvas/experimental/components/ExperimentalNodeDetailsDrawer.test.ts
  packages/frontend/editor-ui/src/components/canvas/experimental/components/ExperimentalNodeDetailsDrawer.vue
  packages/frontend/editor-ui/src/composables/useContextMenu.ts
  packages/frontend/editor-ui/src/composables/useContextMenuItems.ts
  packages/frontend/editor-ui/src/features/dataStore/components/dataGrid/ColumnHeader.vue
  packages/frontend/editor-ui/src/views/NodeView.vue
Labels: n8n team

#18660 fix: Put static types files behind authentication
  packages/cli/src/auth/__tests__/auth-service-browser-id-whitelist.test.ts
  packages/cli/src/auth/auth.service.ts
  packages/cli/src/server.ts
Labels: core, n8n team

#19111 fix(editor): Standardize capitalization of "Data table" across various files (no-changelog)
  packages/cli/src/modules/data-table/data-store-proxy.service.ts
  packages/cli/src/modules/data-table/data-table.module.ts
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/stores/ui.store.ts
  packages/nodes-base/nodes/DataTable/DataTable.node.json
  packages/nodes-base/nodes/DataTable/DataTable.node.ts
  packages/nodes-base/nodes/DataTable/actions/row/Row.resource.ts
  packages/nodes-base/nodes/DataTable/common/addRow.ts
  packages/nodes-base/nodes/DataTable/common/utils.ts
Labels: node/improvement, core, n8n team

#19140 fix(core): Reconnect native Python runner on ws connection drop (no-changelog)
  packages/@n8n/task-runner-python/src/task_runner.py
Labels: n8n team

#19146 test(core): Test security validation in native Python runner
  .github/workflows/ci-python.yml
  .gitignore
  codecov.yml
  packages/@n8n/task-runner-python/justfile
  packages/@n8n/task-runner-python/pyproject.toml
  packages/@n8n/task-runner-python/tests/unit/test_task_analyzer.py
  packages/@n8n/task-runner-python/uv.lock
Labels: n8n team

#19047 fix(editor): Workflow diff UX improvements
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/components/SourceControlPullModal.ee.vue
  packages/frontend/editor-ui/src/components/SourceControlPushModal.ee.vue
  packages/frontend/editor-ui/src/features/workflow-diff/NodeDiff.vue
  packages/frontend/editor-ui/src/features/workflow-diff/WorkflowDiffModal.test.ts
  packages/frontend/editor-ui/src/features/workflow-diff/WorkflowDiffModal.vue
Labels: n8n team

#19101 fix(Merge Node): Fix possible stack overflow
  packages/nodes-base/nodes/Merge/v2/MergeV2.node.ts
  packages/nodes-base/nodes/Merge/v3/actions/mode/combineByFields.ts
  packages/nodes-base/nodes/Merge/v3/actions/mode/combineBySql.ts
Labels: node/improvement, n8n team

#19091 feat(editor): Add telemetry events for data tables (no-changelog)
  packages/frontend/editor-ui/src/components/ParameterInput.vue
  packages/frontend/editor-ui/src/components/layouts/ResourcesListLayout.vue
  packages/frontend/editor-ui/src/features/dataStore/components/AddDataStoreModal.vue
  packages/frontend/editor-ui/src/features/dataStore/components/DataStoreActions.vue
  packages/frontend/editor-ui/src/features/dataStore/components/DataStoreBreadcrumbs.vue
  packages/frontend/editor-ui/src/features/dataStore/components/dataGrid/DataStoreTable.vue
Labels: n8n team

#19148 test: Migrate NDV tests from Cypress -> Playwright
  cypress/e2e/5-ndv.cy.ts
  packages/testing/playwright/fixtures/Dummy_javascript.txt
  packages/testing/playwright/fixtures/Test_workflow_schema_test.json
  packages/testing/playwright/pages/CanvasPage.ts
  packages/testing/playwright/pages/NodeDetailsViewPage.ts
  packages/testing/playwright/tests/ui/1-workflows.spec.ts
  packages/testing/playwright/tests/ui/5-ndv.spec.ts
  packages/testing/playwright/workflows/Floating_Nodes.json
  packages/testing/playwright/workflows/NDV-test-select-input.json
  packages/testing/playwright/workflows/Test_ndv_search.json
  packages/testing/playwright/workflows/Test_ndv_two_branches_of_same_parent_false_populated.json
  packages/testing/playwright/workflows/Test_workflow_5.json
  packages/testing/playwright/workflows/Test_workflow_multiple_outputs.json
  packages/testing/playwright/workflows/Test_workflow_ndv_errors.json
  packages/testing/playwright/workflows/Test_workflow_ndv_run_error.json
  packages/testing/playwright/workflows/Test_workflow_ndv_version.json
  packages/testing/playwright/workflows/Test_workflow_schema_test.json
  packages/testing/playwright/workflows/Test_workflow_schema_test_pinned_data.json
  packages/testing/playwright/workflows/Test_workflow_xml_output.json
  packages/testing/playwright/workflows/open_node_creator_for_connection.json
Labels: n8n team

#19035 ci: Build and publish the n8n-io/runners image on Docker hub
  .github/workflows/docker-build-push.yml
  docker/images/runners/Dockerfile
  docker/images/runners/n8n-task-runners.json
Labels: n8n team

#19172 fix: Changes in tooltip message on data table columns
  packages/frontend/@n8n/i18n/src/locales/en.json
Labels: n8n team

#18306 feat(Airtop Node): Implement double-click and right click variants
  packages/nodes-base/nodes/Airtop/actions/interaction/click.operation.ts
  packages/nodes-base/nodes/Airtop/actions/interaction/helpers.ts
  packages/nodes-base/nodes/Airtop/constants.ts
  packages/nodes-base/nodes/Airtop/test/node/interaction/click.test.ts
  packages/nodes-base/nodes/Airtop/transport/index.ts
  packages/nodes-base/nodes/Airtop/transport/types.ts
Labels: node/improvement, community, in linear

#19179 chore: Retrieve correct commits for OpenAPI docs sync
  .github/workflows/sync-public-api-docs.yml
Labels: n8n team

#19192 fix(editor): Fix pagination in Data Table list UI
  packages/frontend/editor-ui/src/features/dataStore/dataStore.api.ts
Labels: n8n team

#19176 fix(Data Table Node): Add bulk insert option (no-changelog)
  packages/nodes-base/nodes/DataTable/actions/router.ts
  packages/nodes-base/nodes/DataTable/actions/row/insert.operation.ts
Labels: node/improvement, n8n team

#19092 feat(core): Refactor data table update row to use filters (no-changelog)
  packages/@n8n/api-types/src/dto/data-store/list-data-store-content-query.dto.ts
  packages/@n8n/api-types/src/dto/data-store/update-data-store-row.dto.ts
  packages/@n8n/api-types/src/dto/index.ts
  packages/@n8n/api-types/src/index.ts
  packages/@n8n/api-types/src/schemas/data-table-filter.schema.ts
  packages/cli/src/modules/data-table/__tests__/data-store-filters.test.ts
  packages/cli/src/modules/data-table/__tests__/data-store.controller.test.ts
  packages/cli/src/modules/data-table/__tests__/data-store.service.test.ts
  packages/cli/src/modules/data-table/data-store-rows.repository.ts
  packages/cli/src/modules/data-table/data-store.controller.ts
  packages/cli/src/modules/data-table/data-store.service.ts
  packages/cli/src/modules/data-table/data-store.types.ts
  packages/frontend/editor-ui/src/features/dataStore/dataStore.api.ts
  packages/nodes-base/nodes/DataTable/actions/row/update.operation.ts
  packages/nodes-base/nodes/DataTable/actions/row/upsert.operation.ts
  packages/nodes-base/nodes/DataTable/common/selectMany.ts
  packages/nodes-base/nodes/DataTable/common/utils.ts
  packages/workflow/src/data-store.types.ts
Labels: node/improvement, core, n8n team

#19127 test: Add workflow tests for tools in loops
  packages/testing/playwright/tests/cli-workflows/workflow-tests.spec.ts-snapshots/workflow-260-schema-cli-workflows.snap
  packages/testing/playwright/tests/cli-workflows/workflow-tests.spec.ts-snapshots/workflow-261-schema-cli-workflows.snap
  packages/testing/playwright/tests/cli-workflows/workflow-tests.spec.ts-snapshots/workflow-262-schema-cli-workflows.snap
  packages/testing/playwright/tests/cli-workflows/workflow-tests.spec.ts-snapshots/workflow-263-schema-cli-workflows.snap
  packages/testing/playwright/tests/cli-workflows/workflow-tests.spec.ts-snapshots/workflow-264-schema-cli-workflows.snap
  packages/testing/playwright/tests/cli-workflows/workflow-tests.spec.ts-snapshots/workflow-265-schema-cli-workflows.snap
  packages/testing/playwright/tests/cli-workflows/workflow-tests.spec.ts-snapshots/workflow-266-schema-cli-workflows.snap
  packages/testing/playwright/tests/cli-workflows/workflows/260.json
  packages/testing/playwright/tests/cli-workflows/workflows/261.json
  packages/testing/playwright/tests/cli-workflows/workflows/262.json
  packages/testing/playwright/tests/cli-workflows/workflows/263.json
  packages/testing/playwright/tests/cli-workflows/workflows/264.json
  packages/testing/playwright/tests/cli-workflows/workflows/265.json
  packages/testing/playwright/tests/cli-workflows/workflows/266.json
Labels: n8n team

#18506 feat(MongoDB Vector Store Node): Allow pre and post filtering
  packages/@n8n/nodes-langchain/nodes/vector_store/VectorStoreMongoDBAtlas/VectorStoreMongoDBAtlas.node.test.ts
  packages/@n8n/nodes-langchain/nodes/vector_store/VectorStoreMongoDBAtlas/VectorStoreMongoDBAtlas.node.ts
Labels: community, in linear

#19190 feat(Data Table Node): Add limit to get and change copy (no-changelog)
  packages/frontend/editor-ui/src/components/ResourceMapper/MappingModeSelect.vue
  packages/nodes-base/nodes/DataTable/actions/row/get.operation.ts
  packages/nodes-base/nodes/DataTable/common/addRow.ts
  packages/nodes-base/nodes/DataTable/common/methods.ts
  packages/nodes-base/nodes/DataTable/common/selectMany.ts
  packages/nodes-base/nodes/DataTable/common/utils.ts
  packages/workflow/src/interfaces.ts
Labels: node/improvement, n8n team

#19198 test: Add integration tests for execution flows in native Python runner
  .github/workflows/ci-python.yml
  packages/@n8n/task-runner-python/pyproject.toml
  packages/@n8n/task-runner-python/src/constants.py
  packages/@n8n/task-runner-python/src/sentry.py
  packages/@n8n/task-runner-python/src/task_runner.py
  packages/@n8n/task-runner-python/tests/fixtures/local_task_broker.py
  packages/@n8n/task-runner-python/tests/fixtures/task_runner_manager.py
  packages/@n8n/task-runner-python/tests/fixtures/test_constants.py
  packages/@n8n/task-runner-python/tests/integration/conftest.py
  packages/@n8n/task-runner-python/tests/integration/test_execution.py
  packages/@n8n/task-runner-python/tests/integration/test_health_check.py
  packages/@n8n/task-runner-python/tests/integration/test_rpc.py
  packages/@n8n/task-runner-python/tests/unit/test_sentry.py
  packages/@n8n/task-runner-python/uv.lock
Labels: n8n team

#19235 fix(editor): Load available resources for dynamic options
  packages/frontend/editor-ui/src/components/ResourceLocator/ResourceLocatorDropdown.vue
Labels: n8n team

#19227 fix(core): Update cached project association when moving a workflow
  packages/cli/src/services/ownership.service.ts
  packages/cli/src/workflows/workflow.service.ee.ts
Labels: core, n8n team

#18910 fix(editor): Don't show update notification for unverified updates
  packages/cli/package.json
  packages/cli/src/modules/community-packages/__tests__/community-packages.service.test.ts
  packages/frontend/editor-ui/src/components/Node/NodeCreator/Panel/CommunityNodeFooter.test.ts
  packages/frontend/editor-ui/src/components/Node/NodeCreator/Panel/CommunityNodeFooter.vue
  packages/frontend/editor-ui/src/components/Node/NodeCreator/Panel/CommunityNodeInfo.test.ts
  packages/frontend/editor-ui/src/components/Node/NodeCreator/Panel/CommunityNodeInfo.vue
  packages/frontend/editor-ui/src/components/Node/NodeCreator/Panel/utils.test.ts
  packages/frontend/editor-ui/src/components/Node/NodeCreator/Panel/utils.ts
Labels: core, n8n team

#19238 fix(editor): Prevent search dialog from covering inline expression parameters
  packages/frontend/editor-ui/src/components/InlineExpressionEditor/InlineExpressionEditorInput.vue
  packages/frontend/editor-ui/src/composables/useExpressionEditor.ts
Labels: n8n team

#18615 feat(MongoDB Node): Add driver info to MongoDB nodes
  packages/@n8n/nodes-langchain/nodes/vector_store/VectorStoreMongoDBAtlas/VectorStoreMongoDBAtlas.node.test.ts
  packages/@n8n/nodes-langchain/nodes/vector_store/VectorStoreMongoDBAtlas/VectorStoreMongoDBAtlas.node.ts
  packages/nodes-base/nodes/MongoDb/GenericFunctions.ts
  packages/nodes-base/nodes/MongoDb/MongoDb.node.ts
  packages/nodes-base/nodes/MongoDb/test/MongoDB.test.ts
Labels: node/improvement, community, in linear

#19225 fix(editor): Render last item on markdown task lists correctly
  packages/frontend/@n8n/design-system/src/components/N8nMarkdown/Markdown.vue
Labels: n8n team

#19230 fix: Add folder scopes to global owner and admin roles
  packages/@n8n/permissions/src/roles/scopes/global-scopes.ee.ts
  packages/cli/src/controllers/folder.controller.ts
  packages/cli/test/integration/folder/folder.controller.test.ts
  packages/cli/test/integration/project.api.test.ts
Labels: core, n8n team

#19191 test: Refactor page objects and reuse locators
  packages/frontend/editor-ui/src/features/logs/components/LogsPanel.vue
  packages/testing/playwright/pages/CanvasPage.ts
  packages/testing/playwright/pages/ExecutionsPage.ts
  packages/testing/playwright/pages/LogsPage.ts
  packages/testing/playwright/pages/NodeDetailsViewPage.ts
  packages/testing/playwright/pages/components/LogsPanel.ts
  packages/testing/playwright/pages/components/RunDataPanel.ts
  packages/testing/playwright/pages/n8nPage.ts
  packages/testing/playwright/tests/ui/13-pinning.spec.ts
  packages/testing/playwright/tests/ui/1338-ADO-ndv-missing-input-panel.spec.ts
  packages/testing/playwright/tests/ui/14-mapping.spec.ts
  packages/testing/playwright/tests/ui/15-scheduler-node.spec.ts
  packages/testing/playwright/tests/ui/2230-ADO-ndv-reset-data-pagination.spec.ts
  packages/testing/playwright/tests/ui/28-resource-mapper.spec.ts
  packages/testing/playwright/tests/ui/31-demo.spec.ts
  packages/testing/playwright/tests/ui/5-ndv.spec.ts
  packages/testing/playwright/tests/ui/50-logs.spec.ts
  packages/testing/playwright/tests/ui/812-AI-partial-execs-broken-when-using-chat-trigger.spec.ts
  packages/testing/playwright/tests/ui/env-mock-server.spec.ts
Labels: n8n team

#19250 fix(OpenAI Node): Add proxy agent for Message an assistant operation
  packages/@n8n/nodes-langchain/nodes/vendors/OpenAi/actions/assistant/message.operation.ts
Labels: n8n team

#19269 test: Migrate 3 specs from Cypress - Playwright
  cypress/e2e/21-community-nodes.cy.ts
  cypress/e2e/23-variables.cy.ts
  cypress/e2e/25-stickies.cy.ts
  cypress/e2e/8-http-request-node.cy.ts
  packages/testing/playwright/composables/TestEntryComposer.ts
  packages/testing/playwright/helpers/NavigationHelper.ts
  packages/testing/playwright/pages/CanvasPage.ts
  packages/testing/playwright/pages/CommunityNodesPage.ts
  packages/testing/playwright/pages/NodeDetailsViewPage.ts
  packages/testing/playwright/pages/VariablesPage.ts
  packages/testing/playwright/pages/n8nPage.ts
  packages/testing/playwright/services/api-helper.ts
  packages/testing/playwright/services/variables-api-helper.ts
  packages/testing/playwright/tests/performance/perf-examples.spec.ts
  packages/testing/playwright/tests/ui/21-community-nodes.spec.ts
  packages/testing/playwright/tests/ui/23-variables.spec.ts
  packages/testing/playwright/tests/ui/43-oauth-flow.spec.ts
  packages/testing/playwright/tests/ui/50-logs.spec.ts
  packages/testing/playwright/tests/ui/8-http-request-node.spec.ts
  packages/testing/playwright/tests/ui/building-blocks/01-workflow-entry-points.spec.ts
  packages/testing/playwright/workflows/Custom_credential.json
  packages/testing/playwright/workflows/Custom_node.json
  packages/testing/playwright/workflows/Custom_node_custom_credential.json
  packages/testing/playwright/workflows/Custom_node_n8n_credential.json
Labels: n8n team

#19296 fix: Disable prompt caching for parameter-updater chain (no-changelog)
  packages/@n8n/ai-workflow-builder.ee/src/chains/parameter-updater.ts
Labels: release/backport

#19318 fix(editor): Respect project id and parent folder for callouts (no-changelog)
  packages/frontend/editor-ui/src/composables/useCalloutHelpers.test.ts
  packages/frontend/editor-ui/src/composables/useCalloutHelpers.ts
  packages/frontend/editor-ui/src/views/NodeView.vue
Labels: n8n team

#19299 fix: Upgrade Langchain dependencies to address LiteLLM issue and Gemma Models not supporting images
  packages/@n8n/nodes-langchain/package.json
  pnpm-lock.yaml
Labels: n8n team

#19294 feat(Data Table Node): Add bulk insert mode (no-changelog)
  packages/@n8n/api-types/src/dto/data-store/add-data-store-rows.dto.ts
  packages/@n8n/api-types/src/schemas/data-store.schema.ts
  packages/cli/src/modules/data-table/__tests__/data-store-proxy.service.test.ts
  packages/cli/src/modules/data-table/__tests__/data-store.controller.test.ts
  packages/cli/src/modules/data-table/__tests__/data-store.service.test.ts
  packages/cli/src/modules/data-table/data-store-proxy.service.ts
  packages/cli/src/modules/data-table/data-store-rows.repository.ts
  packages/cli/src/modules/data-table/data-store.controller.ts
  packages/cli/src/modules/data-table/data-store.service.ts
  packages/cli/test/integration/shared/db/data-stores.ts
  packages/frontend/editor-ui/src/features/dataStore/dataStore.api.ts
  packages/nodes-base/nodes/DataTable/actions/router.ts
  packages/nodes-base/nodes/DataTable/actions/row/insert.operation.ts
  packages/workflow/src/data-store.types.ts
Labels: node/improvement, core, n8n team

#19338 fix(Data Table Node): Show node hint if selected table has no columns (no-changelog)
  packages/nodes-base/nodes/DataTable/DataTable.node.ts
Labels: node/improvement, n8n team

#19289 feat(editor): Enhance diffs formatting for jsCode and sticky notes
  packages/frontend/editor-ui/src/features/workflow-diff/WorkflowDiffModal.vue
Labels: n8n team

#19143 feat(Redis Node): Add option to disable TLS verification in Redis node
  packages/nodes-base/credentials/Redis.credentials.ts
  packages/nodes-base/nodes/Redis/Redis.node.ts
  packages/nodes-base/nodes/Redis/__tests__/Redis.node.test.ts
  packages/nodes-base/nodes/Redis/types.ts
  packages/nodes-base/nodes/Redis/utils.ts
Labels: node/improvement, n8n team

#19312 feat(editor): Improve Data Table UX based on feedback (no-changelog)
  cypress/composables/folders.ts
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/components/common/SelectedItemsInfo.vue
  packages/frontend/editor-ui/src/features/dataStore/DataStoreDetailsView.vue
  packages/frontend/editor-ui/src/features/dataStore/DataStoreView.vue
  packages/frontend/editor-ui/src/features/dataStore/components/AddDataStoreModal.vue
  packages/frontend/editor-ui/src/features/dataStore/components/DataStoreBreadcrumbs.vue
  packages/frontend/editor-ui/src/features/dataStore/components/DataStoreCard.vue
  packages/frontend/editor-ui/src/features/dataStore/components/dataGrid/AddColumnButton.test.ts
  packages/frontend/editor-ui/src/features/dataStore/components/dataGrid/AddColumnButton.vue
  packages/frontend/editor-ui/src/features/dataStore/components/dataGrid/DataStoreTable.vue
  packages/frontend/editor-ui/src/features/dataStore/components/dataGrid/ElDatePickerCellEditor.vue
  packages/frontend/editor-ui/src/features/dataStore/composables/useDataStoreGridBase.ts
  packages/frontend/editor-ui/src/features/dataStore/composables/useDataStoreOperations.test.ts
  packages/frontend/editor-ui/src/features/dataStore/composables/useDataStoreOperations.ts
  packages/frontend/editor-ui/src/features/dataStore/composables/useDataStoreTypes.ts
  packages/frontend/editor-ui/src/features/dataStore/constants.ts
  packages/frontend/editor-ui/src/features/dataStore/datastore.types.ts
  packages/frontend/editor-ui/src/features/dataStore/utils/columnUtils.ts
Labels: n8n team

#19372 fix(editor): Input loses focus after typing to a fixed collection parameter
  packages/frontend/editor-ui/src/components/FixedCollectionParameter.test.ts
  packages/frontend/editor-ui/src/components/FixedCollectionParameter.vue
Labels: n8n team

#19116 feat: Enforce data-stores limits (no-changelog)
  packages/@n8n/api-types/src/frontend-settings.ts
  packages/@n8n/config/src/configs/data-table.config.ts
  packages/@n8n/config/src/index.ts
  packages/@n8n/config/test/config.test.ts
  packages/cli/src/modules/data-table/__tests__/data-store-size-validator.service.test.ts
  packages/cli/src/modules/data-table/__tests__/data-store.service.test.ts
  packages/cli/src/modules/data-table/data-store-aggregate.controller.ts
  packages/cli/src/modules/data-table/data-store-column.repository.ts
  packages/cli/src/modules/data-table/data-store-rows.repository.ts
  packages/cli/src/modules/data-table/data-store-size-validator.service.ts
  packages/cli/src/modules/data-table/data-store.controller.ts
  packages/cli/src/modules/data-table/data-store.repository.ts
  packages/cli/src/modules/data-table/data-store.service.ts
  packages/cli/src/modules/data-table/utils/sql-utils.ts
  packages/cli/src/services/frontend.service.ts
  packages/frontend/editor-ui/src/__tests__/defaults.ts
  packages/workflow/src/data-store.types.ts
Labels: core, n8n team

#19306 fix(editor): Include n8n version in user identify call (no-changelog)
  packages/frontend/editor-ui/src/init.test.ts
  packages/frontend/editor-ui/src/init.ts
  packages/frontend/editor-ui/src/stores/assistant.store.test.ts
  packages/frontend/editor-ui/src/stores/builder.store.test.ts
  packages/frontend/editor-ui/src/stores/posthog.store.test.ts
  packages/frontend/editor-ui/src/stores/posthog.store.ts
  packages/frontend/editor-ui/src/stores/users.store.ts
Labels: n8n team

#19233 fix(editor): Prevent tooltip flickering when a trigger node is pinned
  packages/frontend/editor-ui/src/__tests__/mocks.ts
  packages/frontend/editor-ui/src/composables/useCanvasMapping.test.ts
  packages/frontend/editor-ui/src/composables/useCanvasMapping.ts
Labels: n8n team

#19324 test: Refactor and clean up perf tests
  packages/testing/playwright/tests/performance/large-node-cloud.spec.ts
  packages/testing/playwright/tests/performance/perf-examples.spec.ts
Labels: n8n team

#19458 feat(editor): Add `Beta` tag to Data Tables (no-changelog)
  packages/frontend/@n8n/design-system/src/components/N8nTabs/Tabs.vue
  packages/frontend/@n8n/design-system/src/types/tabs.ts
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/components/Node/NodeCreator/ItemTypes/NodeItem.vue
  packages/frontend/editor-ui/src/features/dataStore/module.descriptor.ts
Labels: n8n team

#19385 fix(editor): Fix i18n package locale files hot reloading (no-changelog)
  packages/frontend/@n8n/i18n/src/index.test.ts
  packages/frontend/@n8n/i18n/src/index.ts
  packages/frontend/@n8n/i18n/src/types.ts
  packages/frontend/editor-ui/src/App.vue
  packages/frontend/editor-ui/src/__tests__/setup.ts
  packages/frontend/editor-ui/src/dev/i18nHmr.ts
  packages/frontend/editor-ui/src/features/insights/components/InsightsDateRangeSelect.vue
  packages/frontend/editor-ui/src/features/insights/components/InsightsSummary.vue
  packages/frontend/editor-ui/src/features/insights/insights.constants.ts
  packages/frontend/editor-ui/src/features/insights/insights.utils.ts
  packages/frontend/editor-ui/src/i18n/loadDefaultEn.ts
  packages/frontend/editor-ui/src/main.ts
  packages/frontend/editor-ui/src/shims.d.ts
  packages/frontend/editor-ui/vite.config.mts
  packages/frontend/editor-ui/vite/i18n-locales-hmr-helpers.ts
Labels: n8n team

#19105 feat(Gemini Node): Edit Image Using Nano Banana
  packages/@n8n/nodes-langchain/nodes/vendors/GoogleGemini/actions/image/edit.operation.test.ts
  packages/@n8n/nodes-langchain/nodes/vendors/GoogleGemini/actions/image/edit.operation.ts
  packages/@n8n/nodes-langchain/nodes/vendors/GoogleGemini/actions/image/index.ts
Labels: node/improvement, n8n team

#19491 test: Migrate Cypress webhook tests to Playwright
  cypress/e2e/16-webhook-node.cy.ts
  packages/testing/playwright/pages/CanvasPage.ts
  packages/testing/playwright/pages/NodeDetailsViewPage.ts
  packages/testing/playwright/tests/ui/16-webhook-node.spec.ts
Labels: n8n team

#19468 feat(editor): Implement Ready to Run Workflows V2 experiment (no-changelog)
  packages/frontend/@n8n/design-system/src/components/N8nIcon/icons.ts
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/@n8n/stores/src/constants.ts
  packages/frontend/editor-ui/src/components/Projects/ProjectHeader.vue
  packages/frontend/editor-ui/src/composables/usePushConnection/handlers/executionFinished.ts
  packages/frontend/editor-ui/src/constants.ts
  packages/frontend/editor-ui/src/experiments/readyToRunWorkflowsV2/components/ReadyToRunV2Button.vue
  packages/frontend/editor-ui/src/experiments/readyToRunWorkflowsV2/components/SimplifiedEmptyLayout.vue
  packages/frontend/editor-ui/src/experiments/readyToRunWorkflowsV2/composables/useEmptyStateDetection.ts
  packages/frontend/editor-ui/src/experiments/readyToRunWorkflowsV2/stores/readyToRunWorkflowsV2.store.ts
  packages/frontend/editor-ui/src/experiments/readyToRunWorkflowsV2/utils/workflowSamples.ts
  packages/frontend/editor-ui/src/experiments/readyToRunWorkflowsV2/workflows/ai-workflow-v2.ts
  packages/frontend/editor-ui/src/experiments/readyToRunWorkflowsV2/workflows/ai-workflow.ts
  packages/frontend/editor-ui/src/features/dataStore/DataStoreView.test.ts
  packages/frontend/editor-ui/src/utils/templates/workflowSamples.ts
  packages/frontend/editor-ui/src/views/WorkflowsView.vue
Labels: n8n team

#19412 fix(core): Fix crashed execution recovery in scaling mode
  packages/cli/src/scaling/__tests__/scaling.service.test.ts
  packages/cli/src/scaling/scaling.service.ts
Labels: core, n8n team

#19543 fix(editor): Make JSON highlight color different from background on light theme
  packages/frontend/@n8n/design-system/src/css/_tokens.scss
Labels: n8n team

#19538 fix(editor): Don't show archived only hint at empty folders
  packages/frontend/editor-ui/src/stores/folders.store.ts
  packages/frontend/editor-ui/src/views/WorkflowsView.vue
Labels: n8n team

#19479 feat(editor): Add feature flag and binary data parsing for run data worker (no-changelog)
  packages/frontend/editor-ui/src/constants.ts
  packages/frontend/editor-ui/src/stores/pushConnection.store.ts
  packages/frontend/editor-ui/src/workers/run-data/worker.ts
Labels: n8n team

#19360 chore(core): Synchronize OIDC settings updates in multi main
  packages/@n8n/db/src/entities/__tests__/types-db.test.ts
  packages/@n8n/db/src/entities/types-db.ts
  packages/@n8n/decorators/src/pubsub/pubsub-metadata.ts
  packages/cli/src/scaling/pubsub/__tests__/pubsub.registry.test.ts
  packages/cli/src/scaling/pubsub/pubsub.event-map.ts
  packages/cli/src/scaling/pubsub/pubsub.registry.ts
  packages/cli/src/scaling/pubsub/pubsub.types.ts
  packages/cli/src/server.ts
  packages/cli/src/sso.ee/__tests__/sso-helpers.test.ts
  packages/cli/src/sso.ee/oidc/__tests__/oidc.service.ee.test.ts
  packages/cli/src/sso.ee/oidc/oidc.service.ee.ts
  packages/cli/src/sso.ee/sso-helpers.ts
  packages/cli/test/integration/oidc/oidc.service.ee.test.ts
Labels: core, n8n team

#19453 test: Migrate form trigger test from cypress -> playwright
  cypress/e2e/16-form-trigger-node.cy.ts
  packages/testing/playwright/pages/CanvasPage.ts
  packages/testing/playwright/pages/NodeDetailsViewPage.ts
  packages/testing/playwright/tests/ui/16-form-trigger-node.spec.ts
  packages/testing/playwright/utils/index-helper.ts
Labels: n8n team

#19249 fix: Add accurate concurrent executions count to executions list
  packages/@n8n/db/src/repositories/__tests__/execution.repository.test.ts
  packages/@n8n/db/src/repositories/execution.repository.ts
  packages/cli/src/executions/__tests__/executions.controller.test.ts
  packages/cli/src/executions/execution.service.ts
  packages/cli/src/executions/executions.controller.ts
  packages/cli/test/integration/execution.service.integration.test.ts
  packages/frontend/editor-ui/src/Interface.ts
  packages/frontend/editor-ui/src/components/executions/global/GlobalExecutionsList.vue
  packages/frontend/editor-ui/src/components/executions/workflow/WorkflowExecutionsSidebar.vue
  packages/frontend/editor-ui/src/stores/executions.store.ts
  packages/frontend/editor-ui/src/views/ExecutionsView.vue
Labels: core, n8n team

#19419 fix(Notion Node): Fix regex for getMany operation
  packages/nodes-base/nodes/Notion/shared/descriptions/BlockDescription.ts
Labels: node/improvement, n8n team

#19448 test: Migrate if node test from cypress -> playwright
  cypress/e2e/30-if-node.cy.ts
  packages/testing/playwright/pages/NodeDetailsViewPage.ts
  packages/testing/playwright/tests/ui/30-if-node.spec.ts
  packages/testing/playwright/workflows/Test_workflow_filter.json
Labels: n8n team

#19565 fix: String columns do not need comparable conditions
  packages/nodes-base/nodes/DataTable/common/methods.ts
Labels: node/improvement, n8n team

#19563 ci: Add blacksmith build step and cache restore
  .actrc
  .github/actionlint.yaml
  .github/workflows/docker-build-push.yml
  .github/workflows/release-publish.yml
Labels: n8n team

#19076 fix(Github Node): Modify regex validation to support custom urls
  packages/nodes-base/nodes/Github/Github.node.ts
  packages/nodes-base/nodes/Github/GithubTrigger.node.ts
  packages/nodes-base/nodes/Github/__tests__/UrlPatterns.test.ts
Labels: node/improvement, n8n team

#19568 fix(AI Agent Node): Ignore non-text chunks
  packages/@n8n/nodes-langchain/nodes/agents/Agent/agents/ToolsAgent/V2/execute.ts
  packages/@n8n/nodes-langchain/nodes/agents/Agent/test/ToolsAgent/ToolsAgentV2.test.ts
Labels: n8n team

#19408 feat(core): Prompt user to confirm password when changing email and mfa is disabled
  cypress/e2e/18-user-management.cy.ts
  cypress/pages/settings-personal.ts
  packages/@n8n/api-types/src/dto/user/user-update-request.dto.ts
  packages/cli/src/controllers/__tests__/me.controller.test.ts
  packages/cli/src/controllers/me.controller.ts
  packages/cli/test/integration/me.api.test.ts
  packages/cli/test/integration/saml/saml.api.test.ts
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/components/ConfirmPasswordModal/ConfirmPasswordModal.test.ts
  packages/frontend/editor-ui/src/components/ConfirmPasswordModal/ConfirmPasswordModal.vue
  packages/frontend/editor-ui/src/components/ConfirmPasswordModal/__snapshots__/ConfirmPasswordModal.test.ts.snap
  packages/frontend/editor-ui/src/components/ConfirmPasswordModal/confirm-password.event-bus.ts
  packages/frontend/editor-ui/src/components/Modals.vue
  packages/frontend/editor-ui/src/constants.ts
  packages/frontend/editor-ui/src/stores/ui.store.ts
  packages/frontend/editor-ui/src/views/SettingsPersonalView.vue
Labels: core, n8n team

#19589 test: Migrate cypress tests batch 2 to playwright
  cypress/e2e/14-data-transformation-expressions.cy.ts
  cypress/e2e/32-node-io-filter.cy.ts
  cypress/e2e/47-subworkflow-debugging.cy.ts
  packages/testing/playwright/pages/components/RunDataPanel.ts
  packages/testing/playwright/tests/ui/14-data-transformation-expressions.spec.ts
  packages/testing/playwright/tests/ui/32-node-io-filter.spec.ts
  packages/testing/playwright/tests/ui/47-subworkflow-debugging.spec.ts
  packages/testing/playwright/workflows/Node_IO_filter.json
  packages/testing/playwright/workflows/Subworkflow-debugging-execute-workflow.json
Labels: n8n team

#19584 feat: PAY-3770 add db import command
  packages/cli/src/commands/import/__tests__/entities.test.ts
  packages/cli/src/commands/import/entities.ts
Labels: core, n8n team

#19564 refactor(editor): Migrate mapper popover to ruka UI
  cypress/e2e/45-ai-assistant.cy.ts
  packages/frontend/@n8n/design-system/src/components/N8nPopoverReka/N8nPopoverReka.test.ts
  packages/frontend/@n8n/design-system/src/components/N8nPopoverReka/N8nPopoverReka.vue
  packages/frontend/@n8n/design-system/src/components/N8nPopoverReka/__snapshots__/N8nPopoverReka.test.ts.snap
  packages/frontend/editor-ui/src/__tests__/mocks.ts
  packages/frontend/editor-ui/src/components/ExpressionParameterInput.vue
  packages/frontend/editor-ui/src/components/InlineExpressionEditor/InlineExpressionEditorOutput.test.ts
  packages/frontend/editor-ui/src/components/InlineExpressionEditor/InlineExpressionEditorOutput.vue
  packages/frontend/editor-ui/src/components/ParameterInput.test.ts
  packages/frontend/editor-ui/src/components/SQLEditor.test.ts
  packages/frontend/editor-ui/src/components/__snapshots__/WhatsNewModal.test.ts.snap
  packages/frontend/editor-ui/src/components/canvas/experimental/components/ExperimentalEmbeddedNdvMapper.vue
  packages/testing/playwright/pages/components/FocusPanel.ts
Labels: n8n team

#19552 feat: Allow filtering insight by projectId
  packages/@n8n/api-types/src/dto/insights/__tests__/date-filter.dto.test.ts
  packages/@n8n/api-types/src/dto/insights/__tests__/list-workflow-query.dto.test.ts
  packages/@n8n/api-types/src/dto/insights/date-filter.dto.ts
  packages/@n8n/api-types/src/dto/insights/list-workflow-query.dto.ts
  packages/cli/src/modules/insights/__tests__/insights.controller.test.ts
  packages/cli/src/modules/insights/__tests__/insights.service.test.ts
  packages/cli/src/modules/insights/database/repositories/insights-by-period.repository.ts
  packages/cli/src/modules/insights/insights.controller.ts
  packages/cli/src/modules/insights/insights.service.ts
Labels: n8n team

#19400 chore(core): Use dynamic role resolution for access control
  packages/@n8n/db/src/repositories/shared-credentials.repository.ts
  packages/@n8n/permissions/src/index.ts
  packages/@n8n/permissions/src/utilities/__tests__/roles-with-scope.test.ts
  packages/@n8n/permissions/src/utilities/roles-with-scope.ee.ts
  packages/@n8n/permissions/src/utilities/static-roles-with-scope.ee.ts
  packages/cli/src/credentials/credentials-finder.service.ts
  packages/cli/src/credentials/credentials.service.ee.ts
  packages/cli/src/credentials/credentials.service.ts
  packages/cli/src/permissions.ee/__tests__/check-access.test.ts
  packages/cli/src/permissions.ee/check-access.ts
  packages/cli/src/services/__tests__/credentials-finder.service.test.ts
  packages/cli/src/services/__tests__/role-cache.service.test.ts
  packages/cli/src/services/__tests__/role.service.rolesWithScope.test.ts
  packages/cli/src/services/project.service.ee.ts
  packages/cli/src/services/role-cache.service.ts
  packages/cli/src/services/role.service.ts
  packages/cli/src/workflows/workflow-finder.service.ts
  packages/cli/src/workflows/workflow-sharing.service.ts
  packages/cli/src/workflows/workflows.controller.ts
  packages/cli/test/integration/credentials/credentials.api.ee.test.ts
  packages/cli/test/integration/shared/db/roles.ts
Labels: core, n8n team

#19639 fix(Gemini Vertex Node): Upgrading Langchain/google-vertexai to allow errors to bubble up correctly
  packages/@n8n/nodes-langchain/nodes/llms/LmChatGoogleVertex/LmChatGoogleVertex.node.ts
  packages/@n8n/nodes-langchain/nodes/llms/LmChatGoogleVertex/error-handling.ts
  packages/@n8n/nodes-langchain/package.json
  pnpm-lock.yaml
Labels: n8n team

#19648 fix(editor): Canvas connections show `X items total` label when multiple run iterations
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/composables/useCanvasMapping.ts
Labels: n8n team

#19644 ci: Add GitHub action to release @n8n/node-cli
  .github/workflows/release-node-cli.yml
  .github/workflows/release-publish.yml
Labels: n8n team

#19637 fix: Improve Node CLI error messages and dev command exit behavior
  packages/@n8n/create-node/package.json
  packages/@n8n/node-cli/package.json
  packages/@n8n/node-cli/src/commands/dev/index.ts
  packages/@n8n/node-cli/src/commands/dev/utils.ts
  packages/@n8n/node-cli/src/commands/new/prompts.ts
  packages/@n8n/node-cli/src/utils/validation.ts
Labels: n8n team

#19666 chore: Add NODE_ENV to debug info
  packages/@n8n/api-types/src/frontend-settings.ts
  packages/cli/src/services/frontend.service.ts
  packages/frontend/editor-ui/src/__tests__/defaults.ts
  packages/frontend/editor-ui/src/composables/__snapshots__/useDebugInfo.test.ts.snap
  packages/frontend/editor-ui/src/composables/useDebugInfo.test.ts
  packages/frontend/editor-ui/src/composables/useDebugInfo.ts
  packages/frontend/editor-ui/src/stores/settings.store.ts
Labels: core, n8n team

#19658 feat: PAY-3773 export entities tooling
  packages/@n8n/db/src/index.ts
  packages/cli/src/commands/export/__tests__/entities.test.ts
  packages/cli/src/commands/export/entities.ts
  packages/cli/src/services/__tests__/export.service.test.ts
  packages/cli/src/services/export.service.ts
Labels: core, n8n team

#19591 feat: Support thinking settings for Gemini models
  packages/@n8n/nodes-langchain/nodes/llms/LmChatGoogleGemini/LmChatGoogleGemini.node.ts
  packages/@n8n/nodes-langchain/nodes/llms/LmChatGoogleVertex/LmChatGoogleVertex.node.ts
  packages/@n8n/nodes-langchain/nodes/llms/LmChatGoogleVertex/test/LmChatGoogleVertex.test.ts
  packages/@n8n/nodes-langchain/nodes/llms/gemini-common/additional-options.ts
  packages/@n8n/nodes-langchain/nodes/vendors/GoogleGemini/GoogleGemini.node.test.ts
  packages/@n8n/nodes-langchain/nodes/vendors/GoogleGemini/actions/audio/transcribe.operation.ts
  packages/@n8n/nodes-langchain/nodes/vendors/GoogleGemini/actions/image/generate.operation.ts
  packages/@n8n/nodes-langchain/nodes/vendors/GoogleGemini/actions/text/message.operation.ts
  packages/@n8n/nodes-langchain/nodes/vendors/GoogleGemini/helpers/baseAnalyze.ts
  packages/@n8n/nodes-langchain/nodes/vendors/GoogleGemini/helpers/interfaces.ts
  packages/@n8n/nodes-langchain/package.json
  pnpm-lock.yaml
Labels: n8n team

#19688 ci: Migrate to artifact upload/download for builds
  .github/workflows/release-publish.yml
  .github/workflows/release-standalone-package.yml
Labels: n8n team

#19698 fix: Always generate tags.json file when using environments
  packages/cli/src/environments.ee/source-control/__tests__/source-control-export.service.test.ts
  packages/cli/src/environments.ee/source-control/source-control-export.service.ee.ts
Labels: n8n team

#19697 test: Reduce DB operations during data store tests
  packages/@n8n/backend-test-utils/src/test-db.ts
  packages/cli/src/modules/data-table/__tests__/data-store.controller.integration.test.ts
Labels: core, n8n team

#19477 feat: Add a GH action to create a patch release branch
  .github/workflows/create-patch-release-branch.yaml
Labels: n8n team

#19570 fix(core): Update `N8N_DATA_TABLES_MAX_SIZE_BYTES` default to 50mb (no-changelog)
  packages/@n8n/config/src/configs/data-table.config.ts
  packages/@n8n/config/test/config.test.ts
Labels: n8n team

#19713 ci: Use pool size of 1 for mysql and mariadb on ci
  .github/workflows/ci-postgres-mysql.yml
Labels: n8n team

#19715 feat(editor): T2W minor visual chat improvements (line height, padding) (no-changelog)
  packages/frontend/@n8n/design-system/src/components/AskAssistantChat/AskAssistantChat.vue
  packages/frontend/@n8n/design-system/src/components/AskAssistantChat/messages/TextMessage.vue
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/components/AskAssistant/HubSwitcher.vue
Labels: n8n team

#19604 fix(editor): Reintroduce user deletion actions in the members table in Users and Project settings page
  cypress/pages/settings-users.ts
  packages/frontend/editor-ui/src/components/Projects/ProjectMembersActionsCell.test.ts
  packages/frontend/editor-ui/src/components/Projects/ProjectMembersActionsCell.vue
  packages/frontend/editor-ui/src/components/Projects/ProjectMembersRoleCell.test.ts
  packages/frontend/editor-ui/src/components/Projects/ProjectMembersRoleCell.vue
  packages/frontend/editor-ui/src/components/Projects/ProjectMembersTable.test.ts
  packages/frontend/editor-ui/src/components/Projects/ProjectMembersTable.vue
  packages/frontend/editor-ui/src/components/SettingsUsers/SettingsUsersActionsCell.test.ts
  packages/frontend/editor-ui/src/components/SettingsUsers/SettingsUsersActionsCell.vue
  packages/frontend/editor-ui/src/components/SettingsUsers/SettingsUsersRoleCell.test.ts
  packages/frontend/editor-ui/src/components/SettingsUsers/SettingsUsersRoleCell.vue
  packages/frontend/editor-ui/src/components/SettingsUsers/SettingsUsersTable.test.ts
  packages/frontend/editor-ui/src/components/SettingsUsers/SettingsUsersTable.vue
  packages/frontend/editor-ui/src/stores/projects.store.test.ts
  packages/frontend/editor-ui/src/stores/projects.store.ts
  packages/frontend/editor-ui/src/views/ProjectSettings.test.ts
  packages/frontend/editor-ui/src/views/ProjectSettings.vue
  packages/frontend/editor-ui/src/views/SettingsUsersView.test.ts
  packages/frontend/editor-ui/src/views/SettingsUsersView.vue
  packages/testing/playwright/pages/BasePage.ts
  packages/testing/playwright/pages/ProjectSettingsPage.ts
  packages/testing/playwright/tests/ui/39-projects.spec.ts
Labels: n8n team

#19559 feat: Add N8N_GIT_NODE_DISABLE_BARE_REPOS environment variable to allow users to disable bare repositories in Git Node
  packages/@n8n/config/src/configs/security.config.ts
  packages/@n8n/config/test/config.test.ts
  packages/cli/BREAKING-CHANGES.md
  packages/cli/src/deprecation/__tests__/deprecation.service.test.ts
  packages/cli/src/deprecation/deprecation.service.ts
  packages/nodes-base/nodes/Git/Git.node.ts
  packages/nodes-base/nodes/Git/__test__/Git.node.test.ts
Labels: node/improvement, core, n8n team

#19258 fix(AWS Textract Node): Handle all binary data modes correctly
  packages/nodes-base/nodes/Aws/Textract/AwsTextract.node.ts
  packages/nodes-base/nodes/Aws/Textract/test/AwsTextract.node.test.ts
  packages/nodes-base/nodes/Aws/Textract/test/GenericFunctions.test.ts
Labels: node/improvement, n8n team

#19687 feat: Enabling data tables as a default module
  packages/@n8n/backend-common/src/modules/__tests__/module-registry.test.ts
  packages/@n8n/backend-common/src/modules/module-registry.ts
Labels: n8n team

#19633 ci(benchmark): Remove insights specific benchmark scenario
  packages/@n8n/benchmark/scripts/n8n-setups/scaling-single-main-without-insights/docker-compose.yml
  packages/@n8n/benchmark/scripts/n8n-setups/scaling-single-main-without-insights/setup.mjs
Labels: n8n team

#19718 refactor(core): Switch native Python task runner to `forkserver`
  packages/@n8n/task-runner-python/src/constants.py
  packages/@n8n/task-runner-python/src/main.py
  packages/@n8n/task-runner-python/src/task_executor.py
  packages/@n8n/task-runner-python/src/task_state.py
Labels: n8n team

#19731 changes accesible projects
  packages/cli/src/modules/data-table/data-store.service.ts
Labels: core, n8n team

#19693 fix(webhook Node): More informative error for webhook response config mismatch
  packages/nodes-base/nodes/Form/test/FormTriggerV2.node.test.ts
  packages/nodes-base/nodes/Form/test/utils.test.ts
  packages/nodes-base/nodes/Form/utils/utils.ts
  packages/nodes-base/nodes/Webhook/test/utils.test.ts
  packages/nodes-base/nodes/Webhook/utils.ts
  packages/workflow/src/errors/index.ts
  packages/workflow/src/errors/workflow-configuration.error.ts
Labels: node/improvement, core, n8n team

#19750 fix(Data Table Node): Improve `No columns` warning (no-changelog)
  packages/nodes-base/nodes/DataTable/DataTable.node.ts
Labels: node/improvement, n8n team

#19539 fix(core): Ensure external secrets are refreshed at job start with error logging
  packages/cli/src/modules/external-secrets.ee/__tests__/external-secrets-manager.ee.test.ts
  packages/cli/src/modules/external-secrets.ee/external-secrets-manager.ee.ts
  packages/cli/test/integration/external-secrets/external-secrets.api.test.ts
Labels: core, n8n team

#19764 ci: Improve mysql tests
  packages/cli/src/modules/data-table/__tests__/data-store.controller.integration.test.ts
Labels: core, n8n team

#19691 fix(Data Table Node): Validate filters on data table id switch (no-changelog)
  packages/nodes-base/nodes/DataTable/actions/row/delete.operation.ts
  packages/nodes-base/nodes/DataTable/actions/row/update.operation.ts
  packages/nodes-base/nodes/DataTable/actions/row/upsert.operation.ts
  packages/nodes-base/nodes/DataTable/common/methods.ts
  packages/nodes-base/nodes/DataTable/common/selectMany.ts
  packages/nodes-base/nodes/DataTable/test/common/selectMany.test.ts
  packages/workflow/src/data-store.types.ts
Labels: node/improvement, core, n8n team

#19700 feat(Evaluation Node): Add support for Data Tables as evaluations data source
  packages/@n8n/api-types/src/index.ts
  packages/@n8n/api-types/src/schemas/data-store.schema.ts
  packages/cli/src/evaluation.ee/test-runner/test-runner.service.ee.ts
  packages/cli/src/modules/data-table/data-store-proxy.service.ts
  packages/cli/src/modules/data-table/data-store.repository.ts
  packages/cli/src/modules/data-table/utils/sql-utils.ts
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/nodes-base/nodes/Evaluation/Evaluation/Description.node.ts
  packages/nodes-base/nodes/Evaluation/Evaluation/Evaluation.node.ee.ts
  packages/nodes-base/nodes/Evaluation/EvaluationTrigger/EvaluationTrigger.node.ee.ts
  packages/nodes-base/nodes/Evaluation/methods/index.ts
  packages/nodes-base/nodes/Evaluation/methods/listSearch.ts
  packages/nodes-base/nodes/Evaluation/methods/loadOptions.ts
  packages/nodes-base/nodes/Evaluation/test/Evaluation.node.test.ts
  packages/nodes-base/nodes/Evaluation/test/EvaluationTrigger.node.test.ts
  packages/nodes-base/nodes/Evaluation/test/evaluationUtils.test.ts
  packages/nodes-base/nodes/Evaluation/utils/evaluationUtils.ts
Labels: node/improvement, core, n8n team

#19710 feat: Add GitHub Actions workflow for deploying storybook (no-changelog)
  .github/workflows/chromatic.yml
  .github/workflows/storybook.yml
Labels: n8n team

#19756 feat(editor): Hide trial banner on first visit (no-changelog)
  cypress/e2e/27-cloud.cy.ts
  packages/frontend/editor-ui/src/init.test.ts
  packages/frontend/editor-ui/src/init.ts
Labels: release/backport

#19768 build: Upgrade pnpm and introduce minimumReleaseAge setting
  package.json
  pnpm-workspace.yaml
Labels: team:cats

#19683 fix(core): Delete data tables on project delete (no-changelog)
  packages/cli/src/modules/data-table/__tests__/data-store.service.integration.test.ts
  packages/cli/src/modules/data-table/data-store.repository.ts
  packages/cli/src/modules/data-table/data-store.service.ts
  packages/cli/src/services/__tests__/project.service.ee.test.ts
  packages/cli/src/services/project.service.ee.ts
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/components/Projects/ProjectDeleteDialog.test.ts
  packages/frontend/editor-ui/src/components/Projects/ProjectDeleteDialog.vue
  packages/frontend/editor-ui/src/stores/projects.store.ts
  packages/frontend/editor-ui/src/views/ProjectSettings.test.ts
  packages/frontend/editor-ui/src/views/ProjectSettings.vue
Labels: core, n8n team

#19593 ci: Remove Cypress cloud reporting
  .github/workflows/e2e-reusable.yml
  .github/workflows/playwright-test-reusable.yml
  cypress/cypress.config.js
  cypress/e2e/24-ndv-paired-item.cy.ts
  cypress/e2e/group1/20-workflow-executions.cy.ts
  cypress/e2e/group1/4-node-creator.cy.ts
  cypress/e2e/group1/7-workflow-actions.cy.ts
  cypress/e2e/group2/12-canvas.cy.ts
  cypress/e2e/group2/18-user-management.cy.ts
  cypress/e2e/group2/26-resource-locator.cy.ts
  cypress/e2e/group2/27-cloud.cy.ts
  cypress/e2e/group2/27-two-factor-authentication.cy.ts
  cypress/e2e/group3/19-execution.cy.ts
  cypress/e2e/group3/39-projects.cy.ts
  cypress/e2e/group3/41-editors.cy.ts
  cypress/e2e/group4/2372-ado-prevent-clipping-params.cy.ts
  cypress/e2e/group4/44-routing.cy.ts
  cypress/e2e/group4/45-workflow-selector-parameter.cy.ts
  cypress/e2e/group4/48-subworkflow-inputs.cy.ts
  cypress/e2e/group4/49-folders.cy.ts
  cypress/e2e/group4/51-subworkflow-extraction.ts
  cypress/e2e/group5/10-undo-redo.cy.ts
  cypress/e2e/group5/17-workflow-tags.cy.ts
  cypress/e2e/group5/29-templates.cy.ts
  cypress/e2e/group5/45-ai-assistant.cy.ts
  cypress/e2e/group6/17-sharing.cy.ts
  cypress/e2e/group6/34-template-credentials-setup.cy.ts
Labels: n8n team

#19595 feat(core): Restrict data table size data to users projects (no-changelog)
  packages/@n8n/db/src/repositories/project-relation.repository.ts
  packages/@n8n/db/src/repositories/project.repository.ts
  packages/cli/src/modules/data-table/__tests__/data-store-size.integration.test.ts
  packages/cli/src/modules/data-table/data-store-aggregate.controller.ts
  packages/cli/src/modules/data-table/data-store-size-validator.service.ts
  packages/cli/src/modules/data-table/data-store.repository.ts
  packages/cli/src/modules/data-table/data-store.service.ts
  packages/cli/src/modules/data-table/data-store.types.ts
  packages/frontend/editor-ui/src/features/dataStore/dataStore.store.ts
  packages/frontend/editor-ui/src/init.ts
  packages/workflow/src/data-store.types.ts
Labels: core, n8n team

#19786 fix: Fix checks in chromatic workflow (no-changelog)
  .github/workflows/chromatic.yml
Labels: n8n team

#19772 fix(editor): Make project member role selection dropdown scrollable
  packages/frontend/@n8n/design-system/src/components/N8nActionDropdown/ActionDropdown.vue
  packages/frontend/editor-ui/src/components/Projects/ProjectMembersRoleCell.vue
Labels: n8n team

#19776 fix(editor): Fix `Beta` casing for Data tables tab (no-changelog)
  packages/frontend/@n8n/i18n/src/locales/en.json
Labels: n8n team

#19450 fix(Salesforce Node): Login prompt in Oauth2 credentials for authUrl
  packages/nodes-base/credentials/SalesforceOAuth2Api.credentials.ts
Labels: n8n team, node/issue

#19808 test: Refactor node creator tests to Playwright
  cypress/e2e/group1/4-node-creator.cy.ts
  packages/testing/playwright/AI-TEST-CHEAT-SHEET.md
  packages/testing/playwright/pages/CanvasPage.ts
  packages/testing/playwright/pages/components/NodeCreator.ts
  packages/testing/playwright/tests/ui/39-projects.spec.ts
  packages/testing/playwright/tests/ui/54-focus-panel.spec.ts
  packages/testing/playwright/tests/ui/building-blocks/02-canvas-actions.spec.ts
  packages/testing/playwright/tests/ui/node-creator/actions.spec.ts
  packages/testing/playwright/tests/ui/node-creator/categories.spec.ts
  packages/testing/playwright/tests/ui/node-creator/navigation.spec.ts
  packages/testing/playwright/tests/ui/node-creator/special-nodes.spec.ts
  packages/testing/playwright/tests/ui/node-creator/vector-stores.spec.ts
  packages/testing/playwright/tests/ui/node-creator/workflows.spec.ts
Labels: n8n team

#19765 feat(Data Table Node): Add `If Row Does (Not) Exist` operations (no-changelog)
  packages/nodes-base/nodes/DataTable/actions/router.ts
  packages/nodes-base/nodes/DataTable/actions/row/Row.resource.ts
  packages/nodes-base/nodes/DataTable/actions/row/rowExists.operation.ts
  packages/nodes-base/nodes/DataTable/actions/row/rowNotExists.operation.ts
  packages/nodes-base/nodes/DataTable/common/constants.ts
  packages/nodes-base/nodes/DataTable/common/selectMany.ts
  packages/nodes-base/nodes/DataTable/common/utils.ts
Labels: node/improvement, n8n team

#18784 chore(core): Split source control service
  packages/cli/src/environments.ee/source-control/__tests__/source-control-status.service.test.ts
  packages/cli/src/environments.ee/source-control/__tests__/source-control.service.test.ts
  packages/cli/src/environments.ee/source-control/source-control-resource-helper.ts
  packages/cli/src/environments.ee/source-control/source-control-status.service.ee.ts
  packages/cli/src/environments.ee/source-control/source-control.service.ee.ts
  packages/cli/test/integration/environments/source-control.service.test.ts
Labels: core, n8n team

#19942 fix(editor): Update vitest workspace configuration and vs code settings (no-changelog)
  .vscode/settings.default.json
  vitest.workspace.ts
Labels: n8n team

#19904 fix(core): Batch markAsCrashed updates to avoid oversized queries
  packages/@n8n/db/src/repositories/__tests__/execution.repository.test.ts
  packages/@n8n/db/src/repositories/execution.repository.ts
Labels: n8n team

#19950 ci: Add push option to manual dispatch
  .github/workflows/docker-base-image.yml
Labels: n8n team

#19954 feat(core): Add startDate and endDate filter query to insights endpoints
  packages/@n8n/api-types/src/dto/insights/__tests__/date-filter.dto.test.ts
  packages/@n8n/api-types/src/dto/insights/__tests__/list-workflow-query.dto.test.ts
  packages/@n8n/api-types/src/dto/insights/date-filter.dto.ts
  packages/@n8n/api-types/src/dto/insights/list-workflow-query.dto.ts
Labels: n8n team

#19937 ci: Add workflow to build on windows
  .github/workflows/build-windows.yml
  packages/frontend/editor-ui/package.json
  packages/frontend/editor-ui/scripts/cache-marker.mjs
  packages/frontend/editor-ui/turbo.json
Labels: n8n team

#18774 fix: Only show AI assistant when AI service URL is setup
  cypress/e2e/group5/45-ai-assistant.cy.ts
  packages/@n8n/api-types/src/frontend-settings.ts
  packages/cli/src/services/frontend.service.ts
  packages/frontend/editor-ui/src/__tests__/defaults.ts
  packages/frontend/editor-ui/src/composables/useFloatingUiOffsets.test.ts
  packages/frontend/editor-ui/src/stores/assistant.store.test.ts
  packages/frontend/editor-ui/src/stores/builder.store.test.ts
  packages/frontend/editor-ui/src/stores/settings.store.ts
  packages/testing/playwright/tests/ui/45-ai-assistant.spec.ts
Labels: core, n8n team

#19780 fix(Postgres Node): Fix citext and user defined field type mapping
  packages/nodes-base/nodes/Postgres/test/v2/resourceMapping.test.ts
  packages/nodes-base/nodes/Postgres/v2/helpers/interfaces.ts
  packages/nodes-base/nodes/Postgres/v2/helpers/utils.ts
  packages/nodes-base/nodes/Postgres/v2/methods/resourceMapping.ts
Labels: node/improvement, n8n team

#19978 fix(core): Remove Data Table experimental warning
  packages/cli/src/modules/data-table/data-table.module.ts
Labels: core, n8n team

#19958 fix: Disable warning about bare repositories in Git node on cloud (no-changelog)
  packages/cli/src/deprecation/__tests__/deprecation.service.test.ts
  packages/cli/src/deprecation/deprecation.service.ts
Labels: core, n8n team

#19842 feat: Add metering for builder (no-changelog)
  packages/@n8n/ai-workflow-builder.ee/eslint.config.mjs
  packages/@n8n/ai-workflow-builder.ee/src/ai-workflow-builder-agent.service.ts
  packages/@n8n/ai-workflow-builder.ee/src/session-manager.service.ts
  packages/@n8n/ai-workflow-builder.ee/src/test/ai-workflow-builder-agent.service.test.ts
  packages/@n8n/ai-workflow-builder.ee/src/test/session-manager.service.test.ts
  packages/@n8n/ai-workflow-builder.ee/src/test/workflow-builder-agent.test.ts
  packages/@n8n/ai-workflow-builder.ee/src/tools/add-node.tool.ts
  packages/@n8n/ai-workflow-builder.ee/src/tools/builder-tools.ts
  packages/@n8n/ai-workflow-builder.ee/src/tools/connect-nodes.tool.ts
  packages/@n8n/ai-workflow-builder.ee/src/tools/get-node-parameter.tool.ts
  packages/@n8n/ai-workflow-builder.ee/src/tools/node-details.tool.ts
  packages/@n8n/ai-workflow-builder.ee/src/tools/node-search.tool.ts
  packages/@n8n/ai-workflow-builder.ee/src/tools/remove-node.tool.ts
  packages/@n8n/ai-workflow-builder.ee/src/tools/test/builder-tools.test.ts
  packages/@n8n/ai-workflow-builder.ee/src/tools/update-node-parameters.tool.ts
  packages/@n8n/ai-workflow-builder.ee/src/types/sessions.ts
  packages/@n8n/ai-workflow-builder.ee/src/utils/stream-processor.ts
  packages/@n8n/ai-workflow-builder.ee/src/utils/test/stream-processor.test.ts
  packages/@n8n/ai-workflow-builder.ee/src/workflow-builder-agent.ts
  packages/@n8n/api-types/src/dto/ai/ai-build-request.dto.ts
  packages/@n8n/api-types/src/push/builder-credits.ts
  packages/@n8n/api-types/src/push/index.ts
  packages/@n8n/constants/src/index.ts
  packages/cli/src/controllers/__tests__/ai.controller.test.ts
  packages/cli/src/controllers/ai.controller.ts
  packages/cli/src/controllers/e2e.controller.ts
  packages/cli/src/services/__tests__/ai-workflow-builder.service.test.ts
  packages/cli/src/services/ai-workflow-builder.service.ts
  packages/frontend/editor-ui/src/api/ai.test.ts
  packages/frontend/editor-ui/src/api/ai.ts
  packages/frontend/editor-ui/src/constants.ts
  packages/frontend/editor-ui/src/stores/builder.store.test.ts
  packages/frontend/editor-ui/src/stores/builder.store.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: core, n8n team
