Repository n8n-io/n8n, pull requests merged in 2025-06, with the labels that each got.

#15642 fix(editor): Deactivate workflow on save if trigger is missing
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/composables/useWorkflowHelpers.test.ts
  packages/frontend/editor-ui/src/composables/useWorkflowHelpers.ts
Labels: n8n team

#15680 fix(core): Fix timezone-dependent test failures in Insights weekly compaction
  packages/cli/src/modules/insights/__tests__/insights-compaction.service.test.ts
  packages/cli/src/modules/insights/database/repositories/insights-by-period.repository.ts
Labels: core, community, in linear

#15538 feat(editor): Add ability to extract sub-workflows to canvas context menu
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/components/Modals.vue
  packages/frontend/editor-ui/src/components/WorkflowExtractionNameModal.test.ts
  packages/frontend/editor-ui/src/components/WorkflowExtractionNameModal.vue
  packages/frontend/editor-ui/src/components/canvas/Canvas.vue
  packages/frontend/editor-ui/src/composables/__snapshots__/useContextMenu.test.ts.snap
  packages/frontend/editor-ui/src/composables/useCanvasOperations.ts
  packages/frontend/editor-ui/src/composables/useContextMenu.ts
  packages/frontend/editor-ui/src/composables/useWorkflowExtraction.ts
  packages/frontend/editor-ui/src/constants.ts
  packages/frontend/editor-ui/src/models/history.ts
  packages/frontend/editor-ui/src/stores/ui.store.ts
  packages/frontend/editor-ui/src/stores/workflows.store.test.ts
  packages/frontend/editor-ui/src/stores/workflows.store.ts
  packages/frontend/editor-ui/src/views/NodeView.vue
  packages/workflow/src/graph/graph-utils.ts
  packages/workflow/src/index.ts
  packages/workflow/src/node-reference-parser-utils.ts
  packages/workflow/src/workflow.ts
  packages/workflow/test/GraphUtils/graph-utils.test.ts
  packages/workflow/test/graph/graph-utils.test.ts
  packages/workflow/test/node-reference-parser-utils.test.ts
  packages/workflow/test/workflow.test.ts
Labels: core, n8n team

#15868 ci: Add Trivy Scan as notification to release/nightly (no-changelog)
  .github/workflows/check-documentation-urls.yml
  .github/workflows/ci-master.yml
  .github/workflows/ci-postgres-mysql.yml
  .github/workflows/docker-images-nightly.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/release-publish.yml
  .github/workflows/security-trivy-scan-callable.yml
Labels: n8n team

#15770 chore: Upgrade express-openapi-validator to address CVE-2025-47935 and CVE-2025-47944
  packages/cli/package.json
  pnpm-lock.yaml
Labels: core, n8n team

#15873 fix(core): Honor absolute paths for `N8N_LOG_FILE_LOCATION`
  packages/@n8n/backend-common/src/logging/__tests__/logger.test.ts
  packages/@n8n/backend-common/src/logging/logger.ts
Labels: n8n team

#14744 fix(core): Allow dotfiles in sendFile to fix WorkFlow settings 404 error
  packages/cli/src/server.ts
Labels: core, community, in linear

#15908 perf(core): Load source control only if licensed
  packages/cli/src/server.ts
Labels: core, n8n team

#15861 docs: Update evaluation trigger docs link (no-changelog)
  packages/nodes-base/nodes/Evaluation/EvaluationTrigger/EvaluationTrigger.node.ee.json
Labels: node/improvement, n8n team

#15792 feat(editor): Add "Change owner" option to editor
  cypress/pages/credentials.ts
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/components/CredentialCard.test.ts
  packages/frontend/editor-ui/src/components/MainHeader/WorkflowDetails.test.ts
  packages/frontend/editor-ui/src/components/MainHeader/WorkflowDetails.vue
  packages/frontend/editor-ui/src/components/Projects/ProjectMoveResourceModal.vue
  packages/frontend/editor-ui/src/constants.ts
Labels: n8n team

#15968 fix: Update NPM to address security vulnerability
  docker/images/n8n/Dockerfile
Labels: n8n team

#15919 test(editor): Fix flaky UI tests by preventing truncated project names (no-changelog)
  packages/frontend/editor-ui/src/__tests__/data/projects.ts
Labels: n8n team

#15527 feat(editor): Enable source environment push button for project admins
  packages/@n8n/permissions/src/roles/scopes/project-scopes.ee.ts
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/components/MainSidebarSourceControl.test.ts
  packages/frontend/editor-ui/src/components/MainSidebarSourceControl.vue
Labels: n8n team

#15978 chore(core): Refactor logging for insights flushing
  packages/cli/src/modules/insights/insights-collection.service.ts
Labels: core, n8n team

#15931 feat(editor): Show the simple vector store first in the nodes panel (no-changelog)
  packages/@n8n/nodes-langchain/nodes/vector_store/VectorStoreInMemory/VectorStoreInMemory.node.ts
  packages/@n8n/nodes-langchain/nodes/vector_store/shared/createVectorStoreNode/__snapshots__/createVectorStoreNode.test.ts.snap
  packages/@n8n/nodes-langchain/nodes/vector_store/shared/createVectorStoreNode/createVectorStoreNode.ts
  packages/@n8n/nodes-langchain/nodes/vector_store/shared/createVectorStoreNode/types.ts
  packages/frontend/editor-ui/src/components/Node/NodeCreator/composables/useViewStacks.ts
Labels: n8n team

#15786 feat(Default Data Loader Node): Add default text splitter
  packages/@n8n/nodes-langchain/nodes/document_loaders/DocumentDefaultDataLoader/DocumentDefaultDataLoader.node.ts
  packages/@n8n/nodes-langchain/nodes/document_loaders/DocumentDefaultDataLoader/test/DocumentDefaultDataLoader.node.test.ts
  packages/@n8n/nodes-langchain/nodes/document_loaders/DocumentGithubLoader/DocumentGithubLoader.node.ts
  packages/@n8n/nodes-langchain/nodes/document_loaders/DocumentGithubLoader/test/DocumentGithubLoader.node.test.ts
Labels: n8n team

#15982 refactor(core): Lazy-load sentry sdk again
  packages/core/src/errors/error-reporter.ts
Labels: core, n8n team

#15797 feat(core): Add support for partial-match execution filters
  packages/@n8n/db/src/entities/types-db.ts
  packages/@n8n/db/src/repositories/execution.repository.ts
  packages/cli/src/executions/execution.service.ts
  packages/cli/test/integration/execution.service.integration.test.ts
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/Interface.ts
  packages/frontend/editor-ui/src/components/executions/ExecutionsFilter.test.ts
  packages/frontend/editor-ui/src/components/executions/ExecutionsFilter.vue
Labels: core, n8n team

#16002 fix(editor): Correct sub-workflow extraction grammar (no-changelog)
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/components/WorkflowExtractionNameModal.vue
  packages/frontend/editor-ui/src/composables/__snapshots__/useContextMenu.test.ts.snap
Labels: n8n team, release/backport

#15977 fix(editor): Hide 'Move' modal toast links that can't be accessed and handle moving current folder better (no-changelog)
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/components/Folders/MoveToFolderModal.test.ts
  packages/frontend/editor-ui/src/components/Folders/MoveToFolderModal.vue
  packages/frontend/editor-ui/src/views/WorkflowsView.vue
Labels: n8n team, release/backport

#16008 fix(editor): Restore checkbox label styling after sign-in (no-changelog)
  packages/frontend/editor-ui/src/views/AuthView.vue
Labels: n8n team

#15926 feat(editor): Improve UI for highlighted data, tags and rating in executions
  packages/frontend/@n8n/design-system/src/components/N8nTag/Tag.vue
  packages/frontend/@n8n/design-system/src/css/_tokens.scss
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/components/executions/workflow/VoteButtons.vue
  packages/frontend/editor-ui/src/components/executions/workflow/WorkflowExecutionAnnotationPanel.ee.vue
  packages/frontend/editor-ui/src/components/executions/workflow/WorkflowExecutionAnnotationTags.ee.test.ts
  packages/frontend/editor-ui/src/components/executions/workflow/WorkflowExecutionAnnotationTags.ee.vue
  packages/frontend/editor-ui/src/components/executions/workflow/WorkflowExecutionsPreview.test.ts
  packages/frontend/editor-ui/src/components/executions/workflow/WorkflowExecutionsPreview.vue
Labels: n8n team

#16003 fix(core): Copy metadata information for binary data when data is migrated using filesystem (no-changelog)
  packages/core/src/binary-data/__tests__/file-system.manager.test.ts
  packages/core/src/binary-data/file-system.manager.ts
Labels: core, community, n8n team

#15729 chore: Upgrade pdfjs-dist (no-changelog)
  jest.config.js
  package.json
  packages/nodes-base/nodes/ReadPdf/test/ReadPDF-encrypted.workflow.json
  packages/nodes-base/nodes/ReadPdf/test/ReadPDF.workflow.json
  packages/nodes-base/package.json
  packages/nodes-base/utils/binary.ts
  patches/pdfjs-dist@5.3.31.patch
  pnpm-lock.yaml
Labels: node/improvement, n8n team

#15688 refactor(core): Implement a new `OnPubSubEvent` decorator
  packages/@n8n/constants/src/index.ts
  packages/@n8n/db/src/utils/generators.ts
  packages/@n8n/decorators/src/index.ts
  packages/@n8n/decorators/src/pubsub/__tests__/on-pubsub-event.test.ts
  packages/@n8n/decorators/src/pubsub/index.ts
  packages/@n8n/decorators/src/pubsub/on-pubsub-event.ts
  packages/@n8n/decorators/src/pubsub/pubsub-metadata.ts
  packages/cli/src/__tests__/active-workflow-manager.test.ts
  packages/cli/src/active-workflow-manager.ts
  packages/cli/src/commands/start.ts
  packages/cli/src/commands/webhook.ts
  packages/cli/src/commands/worker.ts
  packages/cli/src/controllers/orchestration.controller.ts
  packages/cli/src/eventbus/message-event-bus/message-event-bus.ts
  packages/cli/src/events/event.service.ts
  packages/cli/src/external-secrets.ee/external-secrets-manager.ee.ts
  packages/cli/src/license.ts
  packages/cli/src/modules/insights/__tests__/insights.pre-init.test.ts
  packages/cli/src/push/index.ts
  packages/cli/src/scaling/__tests__/pubsub-handler.test.ts
  packages/cli/src/scaling/pubsub/__tests__/publisher.service.test.ts
  packages/cli/src/scaling/pubsub/__tests__/pubsub.registry.test.ts
  packages/cli/src/scaling/pubsub/__tests__/subscriber.service.test.ts
  packages/cli/src/scaling/pubsub/pubsub-handler.ts
  packages/cli/src/scaling/pubsub/pubsub.event-map.ts
  packages/cli/src/scaling/pubsub/pubsub.eventbus.ts
  packages/cli/src/scaling/pubsub/pubsub.registry.ts
  packages/cli/src/scaling/pubsub/pubsub.types.ts
  packages/cli/src/scaling/pubsub/subscriber.service.ts
  packages/cli/src/scaling/worker-status.service.ee.ts
  packages/cli/src/services/community-packages.service.ts
  packages/cli/src/webhooks/test-webhooks.ts
  packages/core/package.json
  packages/core/src/errors/error-reporter.ts
  packages/core/src/instance-settings/index.ts
  packages/core/src/instance-settings/instance-settings.ts
  packages/core/tsconfig.json
  pnpm-lock.yaml
Labels: core, n8n team

#15918 fix: Detect if n8n instance is staging or production for community nodes
  packages/cli/src/services/community-node-types.service.ts
Labels: core, n8n team

#16017 feat(editor): Rename debugging tab to fromai
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/components/InputPanel.vue
  packages/frontend/editor-ui/src/components/__snapshots__/InputPanel.test.ts.snap
Labels: n8n team

#16034 fix(editor): Stop nefarious redirects during sign in
  packages/frontend/editor-ui/src/views/SigninView.test.ts
  packages/frontend/editor-ui/src/views/SigninView.vue
Labels: n8n team

#16040 fix(editor): Send evaluation telemetry event to Posthog
  packages/frontend/editor-ui/src/views/Evaluations.ee/EvaluationsRootView.vue
  packages/frontend/editor-ui/src/views/Evaluations.ee/tests/EvaluationsRootView.test.ts
Labels: n8n team

#15807 feat: Add custom CSS to response form for HITL nodes
  packages/nodes-base/utils/sendAndWait/test/util.test.ts
  packages/nodes-base/utils/sendAndWait/utils.ts
Labels: node/improvement, n8n team

#16026 ci: Handle new built-in `node:*` modules in the task-runner tests on node.js 24
  packages/@n8n/task-runner/src/js-task-runner/errors/execution-error.ts
Labels: n8n team

#16048 perf(core): Populate cache only with static webhooks
  packages/@n8n/db/src/repositories/webhook.repository.ts
  packages/cli/src/webhooks/webhook.service.ts
Labels: core, n8n team

#16021 refactor(core): Simplify ExternalSecretsProxy setup and move it to core
  packages/cli/src/__tests__/workflow-execute-additional-data.test.ts
  packages/cli/src/commands/base-command.ts
  packages/cli/src/controllers/oauth/__tests__/oauth1-credential.controller.test.ts
  packages/cli/src/controllers/oauth/__tests__/oauth2-credential.controller.test.ts
  packages/cli/src/credentials-helper.ts
  packages/cli/src/eventbus/message-event-bus-destination/message-event-bus-destination-webhook.ee.ts
  packages/cli/src/external-secrets.ee/__tests__/external-secrets-manager.ee.test.ts
  packages/cli/src/external-secrets.ee/external-secrets-manager.ee.ts
  packages/cli/src/scaling/__tests__/job-processor.service.test.ts
  packages/cli/src/secrets-helpers.ee.ts
  packages/cli/src/workflow-execute-additional-data.ts
  packages/cli/test/integration/active-workflow-manager.test.ts
  packages/core/src/execution-engine/__tests__/execution-lifecycle-hooks.test.ts
  packages/core/src/execution-engine/__tests__/external-secrets-proxy.test.ts
  packages/core/src/execution-engine/execution-lifecycle-hooks.ts
  packages/core/src/execution-engine/external-secrets-proxy.ts
  packages/core/src/execution-engine/index.ts
  packages/core/src/execution-engine/node-execution-context/utils/__tests__/get-additional-keys.test.ts
  packages/core/src/execution-engine/node-execution-context/utils/get-secrets-proxy.ts
  packages/workflow/src/interfaces.ts
Labels: core, n8n team

#15975 feat(OpenAI Chat Model Node): Update default model to gpt-4.1-mini
  packages/@n8n/nodes-langchain/nodes/llms/LMChatOpenAi/LmChatOpenAi.node.ts
  packages/@n8n/nodes-langchain/nodes/llms/LmChatOpenRouter/LmChatOpenRouter.node.ts
Labels: n8n team

#16010 fix(Anthropic Chat Model Node): Fix LmChatAnthropic node to work when both thinking is enabled and tools used
  packages/@n8n/nodes-langchain/nodes/ToolExecutor/ToolExecutor.node.ts
  packages/@n8n/nodes-langchain/nodes/ToolExecutor/utils/executeTool.ts
  packages/@n8n/nodes-langchain/nodes/agents/OpenAiAssistant/utils.ts
  packages/@n8n/nodes-langchain/nodes/mcp/McpClientTool/utils.ts
  packages/@n8n/nodes-langchain/nodes/vendors/OpenAi/helpers/utils.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: n8n team

#16041 chore: Move router usage out of useCanvasOperation and useWorkflowHelpers (no-changelog)
  packages/frontend/editor-ui/src/components/CanvasChat/future/LogsPanel.test.ts
  packages/frontend/editor-ui/src/components/DuplicateWorkflowDialog.vue
  packages/frontend/editor-ui/src/components/MainHeader/WorkflowDetails.vue
  packages/frontend/editor-ui/src/components/NodeWebhooks.vue
  packages/frontend/editor-ui/src/components/ParameterInput.vue
  packages/frontend/editor-ui/src/components/ParameterInputList.vue
  packages/frontend/editor-ui/src/components/ResourceLocator/ResourceLocator.vue
  packages/frontend/editor-ui/src/components/SQLEditor.test.ts
  packages/frontend/editor-ui/src/components/TriggerPanel.vue
  packages/frontend/editor-ui/src/components/WorkflowActivator.vue
  packages/frontend/editor-ui/src/components/canvas/composables/useNodeSettingsInCanvas.ts
  packages/frontend/editor-ui/src/components/canvas/elements/nodes/render-types/parts/CanvasNodeTrigger.vue
  packages/frontend/editor-ui/src/components/executions/workflow/WorkflowExecutionsInfoAccordion.vue
  packages/frontend/editor-ui/src/composables/useAIAssistantHelpers.ts
  packages/frontend/editor-ui/src/composables/useCanvasOperations.test.ts
  packages/frontend/editor-ui/src/composables/useCanvasOperations.ts
  packages/frontend/editor-ui/src/composables/useClearExecutionButtonVisible.ts
  packages/frontend/editor-ui/src/composables/useExpressionEditor.test.ts
  packages/frontend/editor-ui/src/composables/useExpressionEditor.ts
  packages/frontend/editor-ui/src/composables/useNodeDirtiness.test.ts
  packages/frontend/editor-ui/src/composables/usePushConnection/handlers/executionFinished.ts
  packages/frontend/editor-ui/src/composables/usePushConnection/handlers/executionRecovered.ts
  packages/frontend/editor-ui/src/composables/useResolvedExpression.test.ts
  packages/frontend/editor-ui/src/composables/useResolvedExpression.ts
  packages/frontend/editor-ui/src/composables/useRunWorkflow.test.ts
  packages/frontend/editor-ui/src/composables/useRunWorkflow.ts
  packages/frontend/editor-ui/src/composables/useWorkflowActivate.ts
  packages/frontend/editor-ui/src/composables/useWorkflowExtraction.ts
  packages/frontend/editor-ui/src/composables/useWorkflowHelpers.test.ts
  packages/frontend/editor-ui/src/composables/useWorkflowHelpers.ts
  packages/frontend/editor-ui/src/composables/useWorkflowSaving.test.ts
  packages/frontend/editor-ui/src/composables/useWorkflowSaving.ts
  packages/frontend/editor-ui/src/plugins/codemirror/completions/utils.ts
  packages/frontend/editor-ui/src/stores/workflows.store.ts
  packages/frontend/editor-ui/src/views/Evaluations.ee/EvaluationsRootView.vue
  packages/frontend/editor-ui/src/views/NodeView.vue
  packages/frontend/editor-ui/src/views/WorkflowExecutionsView.vue
Labels: n8n team

#16058 docs: Fix docs link in Perplexity credential (no-changelog)
  packages/nodes-base/credentials/PerplexityApi.credentials.ts
Labels: node/improvement, n8n team

#14560 fix(Google Sheets Node): Improve error message when row_number is null or undefined
  packages/nodes-base/nodes/Google/Sheet/test/v2/node/update.test.ts
  packages/nodes-base/nodes/Google/Sheet/v2/actions/sheet/update.operation.ts
Labels: node/improvement, core, n8n team

#16072 fix(core): Unloading a community package should also unload all its files from `require.cache`
  packages/cli/src/load-nodes-and-credentials.ts
  packages/core/src/nodes-loader/__tests__/directory-loader.test.ts
  packages/core/src/nodes-loader/directory-loader.ts
Labels: core, n8n team

#15986 perf(core): Don't load task-runner on main instances when manual executions are offloaded to workers
  packages/cli/src/commands/start.ts
Labels: core, n8n team

#16049 fix(editor): Position executions filter popover so that it doesn't hide executions
  packages/frontend/editor-ui/src/components/executions/workflow/WorkflowExecutionsSidebar.vue
  packages/frontend/editor-ui/src/styles/_animations.scss
Labels: n8n team

#16086 fix(editor): In Sub-workflow Conversion handle standalone accessor and accessor[0] cases correctly
  packages/workflow/src/node-reference-parser-utils.ts
  packages/workflow/test/node-reference-parser-utils.test.ts
Labels: core, n8n team

#16069 fix(editor): Maintain back button when installing community nodes
  packages/frontend/editor-ui/src/components/Node/NodeCreator/Panel/CommunityNodeDetails.test.ts
  packages/frontend/editor-ui/src/components/Node/NodeCreator/Panel/CommunityNodeDetails.vue
Labels: n8n team

#16030 fix: Make sure modals are listed when using a free AI credits credential in the OpenAI node
  packages/@n8n/nodes-langchain/nodes/vendors/OpenAi/methods/listSearch.ts
Labels: n8n team

#16108 fix(editor): Hide the Github stars button when telemetry is disabled
  packages/frontend/editor-ui/src/components/MainHeader/MainHeader.vue
Labels: n8n team, tests-needed

#16066 fix(editor): Prevent Ask Assistant button overlapping other buttons
  packages/frontend/editor-ui/src/components/AskAssistant/Chat/AskAssistantFloatingButton.vue
Labels: n8n team

#16001 fix(RSS Read Node): Fix issue where some feeds fail to load
  packages/nodes-base/nodes/RssFeedRead/RssFeedRead.node.ts
  packages/nodes-base/nodes/RssFeedRead/test/node/RssFeedRead.test.ts
  packages/nodes-base/nodes/RssFeedRead/test/node/workflow.rss.json
Labels: node/improvement, n8n team

#15047 docs: Update docker image path
  CONTRIBUTING.md
Labels: community, in linear

#15437 feat(n8n Node): Add missing filters
  packages/nodes-base/nodes/N8n/WorkflowDescription.ts
Labels: node/improvement, community, in linear

#15954 feat(editor): Change default node names depending on node operation and resource
  cypress/e2e/11-inline-expression-editor.cy.ts
  cypress/e2e/17-sharing.cy.ts
  cypress/e2e/39-projects.cy.ts
  cypress/e2e/4-node-creator.cy.ts
  cypress/e2e/41-editors.cy.ts
  cypress/e2e/45-ai-assistant.cy.ts
  cypress/e2e/5-ndv.cy.ts
  cypress/e2e/9-expression-editor-modal.cy.ts
  cypress/pages/workflow.ts
  packages/cli/src/__tests__/manual-execution.service.test.ts
  packages/cli/src/manual-execution.service.ts
  packages/core/src/execution-engine/partial-execution-utils/__tests__/is-tool.test.ts
  packages/core/src/execution-engine/partial-execution-utils/index.ts
  packages/core/src/execution-engine/partial-execution-utils/is-tool.ts
  packages/core/src/execution-engine/workflow-execute.ts
  packages/frontend/editor-ui/src/components/Node/NodeCreator/composables/useActions.ts
  packages/frontend/editor-ui/src/components/NodeSettings.vue
  packages/frontend/editor-ui/src/composables/useCanvasOperations.ts
  packages/frontend/editor-ui/src/composables/useNodeHelpers.ts
  packages/workflow/src/node-helpers.ts
  packages/workflow/test/node-helpers.test.ts
Labels: core, n8n team

#15959 fix(editor): Mark workflow as unsaved when reverting deletion of a node
  packages/frontend/editor-ui/src/composables/useCanvasOperations.ts
Labels: n8n team

#16145 refactor(editor): Migrate `sso` to `@n8n/rest-api-client` (no-changelog)
  packages/frontend/@n8n/rest-api-client/src/api/index.ts
  packages/frontend/@n8n/rest-api-client/src/api/sso.ts
  packages/frontend/editor-ui/src/Interface.ts
  packages/frontend/editor-ui/src/__tests__/server/endpoints/sso.ts
  packages/frontend/editor-ui/src/stores/sso.store.ts
  packages/frontend/editor-ui/src/views/SettingsSso.test.ts
Labels: n8n team, extensions

#16147 refactor(editor): Migrate `versions` api to `@n8n/rest-client-api` (no-changelog)
  packages/@n8n/constants/src/index.ts
  packages/@n8n/constants/src/instance.ts
  packages/frontend/@n8n/rest-api-client/src/api/index.ts
  packages/frontend/@n8n/rest-api-client/src/api/versions.ts
  packages/frontend/editor-ui/src/Interface.ts
  packages/frontend/editor-ui/src/api/versions.ts
  packages/frontend/editor-ui/src/components/NodeIcon.vue
  packages/frontend/editor-ui/src/components/VersionCard.vue
  packages/frontend/editor-ui/src/constants.ts
  packages/frontend/editor-ui/src/stores/versions.store.ts
  packages/frontend/editor-ui/src/utils/nodeIcon.ts
Labels: n8n team, extensions

#16098 fix(core): Ensure queue is ready when enqueueing
  packages/cli/src/__tests__/workflow-runner.test.ts
  packages/cli/src/scaling/scaling.service.ts
  packages/cli/src/workflow-runner.ts
Labels: core, n8n team

#16144 refactor(editor): Migrate `ldap` to `@n8n/rest-api-client` (no-changelog)
  packages/frontend/@n8n/rest-api-client/src/api/index.ts
  packages/frontend/@n8n/rest-api-client/src/api/ldap.ts
  packages/frontend/editor-ui/src/Interface.ts
  packages/frontend/editor-ui/src/api/ldap.ts
  packages/frontend/editor-ui/src/stores/settings.store.ts
  packages/frontend/editor-ui/src/views/SettingsLdapView.vue
Labels: n8n team, extensions

#16173 chore: Add tests for useCanvasOperations replaceNodeParameters and replaceNodeConnections (no-changelog)
  packages/frontend/editor-ui/src/composables/useCanvasOperations.test.ts
  packages/frontend/editor-ui/src/composables/useCanvasOperations.ts
Labels: n8n team

#16179 ci: Prevent cancelling in-progress Postgres and MySQL tests
  .github/workflows/ci-postgres-mysql.yml
Labels: n8n team

#16176 fix(core): Correctly apply maxRows limit when fetching the dataset
  packages/nodes-base/nodes/Evaluation/EvaluationTrigger/EvaluationTrigger.node.ee.ts
Labels: node/improvement, n8n team

#16174 build: Fix docker build after Node 22 update
  docker/images/n8n/Dockerfile
  package.json
  pnpm-lock.yaml
Labels: core, n8n team

#16221 test(core): Skip test failing on MariaDB/MySQL
  packages/cli/src/__tests__/workflow-runner.test.ts
Labels: core, n8n team

#16178 perf(core): Lazyload AI workflow builder's langchain dependencies
  packages/@n8n/ai-workflow-builder/src/ai-workflow-builder.service.ts
  packages/@n8n/ai-workflow-builder/src/llm-config.ts
Labels: n8n team

#16220 chore: Add e2e tests for Subworkflow Conversion (no-changelog)
  cypress/composables/workflow.ts
  cypress/e2e/51-subworkflow-extraction.ts
  cypress/fixtures/Subworkflow-extraction-workflow.json
  cypress/pages/notifications.ts
Labels: n8n team

#16153 fix: Fix paired item handling of multiple inputs
  packages/workflow/src/workflow-data-proxy.ts
  packages/workflow/test/fixtures/WorkflowDataProxy/multiple_inputs_run.json
  packages/workflow/test/fixtures/WorkflowDataProxy/multiple_inputs_workflow.json
  packages/workflow/test/workflow-data-proxy.test.ts
Labels: core, n8n team

#16261 Revert "fix: Fix paired item handling of multiple inputs"
  packages/workflow/src/workflow-data-proxy.ts
  packages/workflow/test/fixtures/WorkflowDataProxy/multiple_inputs_run.json
  packages/workflow/test/fixtures/WorkflowDataProxy/multiple_inputs_workflow.json
  packages/workflow/test/workflow-data-proxy.test.ts
Labels: core, n8n team

#16230 fix: Run evaluations as full manual executions in queue mode
  packages/cli/src/__tests__/manual-execution.service.test.ts
  packages/cli/src/evaluation.ee/test-runner/__tests__/test-runner.service.ee.test.ts
  packages/cli/src/evaluation.ee/test-runner/test-runner.service.ee.ts
  packages/cli/src/manual-execution.service.ts
Labels: core, n8n team

#16266 refactor(core): Extend task runner force shutdown timeout
  packages/@n8n/task-runner/src/start.ts
Labels: n8n team

#16265 feat(core): Add task runner events to log streaming
  packages/cli/src/eventbus/event-message-classes/event-message-runner.ts
  packages/cli/src/eventbus/event-message-classes/index.ts
  packages/cli/src/eventbus/message-event-bus/message-event-bus.ts
  packages/cli/src/events/__tests__/log-streaming-event-relay.test.ts
  packages/cli/src/events/maps/relay.event-map.ts
  packages/cli/src/events/relays/log-streaming.event-relay.ts
  packages/cli/src/task-runners/task-managers/__tests__/task-manager.test.ts
  packages/cli/src/task-runners/task-managers/local-task-requester.ts
  packages/cli/src/task-runners/task-managers/task-requester.ts
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/workflow/src/message-event-bus.ts
Labels: core, n8n team

#15611 feat(core): Add description to projects
  packages/@n8n/api-types/src/dto/project/update-project.dto.ts
  packages/@n8n/api-types/src/schemas/__tests__/project.schema.test.ts
  packages/@n8n/api-types/src/schemas/project.schema.ts
  packages/@n8n/db/src/entities/project.ts
  packages/@n8n/db/src/migrations/common/1747824239000-AddProjectDescriptionColumn.ts
  packages/@n8n/db/src/migrations/mysqldb/index.ts
  packages/@n8n/db/src/migrations/postgresdb/index.ts
  packages/@n8n/db/src/migrations/sqlite/index.ts
  packages/cli/src/controllers/project.controller.ts
  packages/cli/src/requests.ts
  packages/cli/src/services/project.service.ee.ts
  packages/cli/test/integration/public-api/endpoints-with-scopes-enabled.test.ts
  packages/cli/test/integration/public-api/projects.test.ts
  packages/frontend/@n8n/design-system/src/components/N8nFormInput/FormInput.vue
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/components/Projects/ProjectHeader.test.ts
  packages/frontend/editor-ui/src/components/Projects/ProjectHeader.vue
  packages/frontend/editor-ui/src/composables/useProjectPages.ts
  packages/frontend/editor-ui/src/stores/projects.store.ts
  packages/frontend/editor-ui/src/types/projects.types.ts
  packages/frontend/editor-ui/src/utils/formatters/textFormatter.ts
  packages/frontend/editor-ui/src/views/ProjectSettings.vue
Labels: core, n8n team

#16188 feat(editor): Change default node names depending on node operation and resource
  cypress/e2e/11-inline-expression-editor.cy.ts
  cypress/e2e/17-sharing.cy.ts
  cypress/e2e/39-projects.cy.ts
  cypress/e2e/4-node-creator.cy.ts
  cypress/e2e/41-editors.cy.ts
  cypress/e2e/45-ai-assistant.cy.ts
  cypress/e2e/5-ndv.cy.ts
  cypress/e2e/9-expression-editor-modal.cy.ts
  cypress/pages/workflow.ts
  packages/cli/src/__tests__/manual-execution.service.test.ts
  packages/cli/src/manual-execution.service.ts
  packages/core/src/execution-engine/partial-execution-utils/__tests__/is-tool.test.ts
  packages/core/src/execution-engine/partial-execution-utils/index.ts
  packages/core/src/execution-engine/partial-execution-utils/is-tool.ts
  packages/core/src/execution-engine/workflow-execute.ts
  packages/frontend/editor-ui/src/Interface.ts
  packages/frontend/editor-ui/src/components/Node/NodeCreation.vue
  packages/frontend/editor-ui/src/components/Node/NodeCreator/Modes/ActionsMode.vue
  packages/frontend/editor-ui/src/components/Node/NodeCreator/Modes/NodesMode.vue
  packages/frontend/editor-ui/src/components/Node/NodeCreator/NodeCreator.vue
  packages/frontend/editor-ui/src/components/Node/NodeCreator/composables/useActions.ts
  packages/frontend/editor-ui/src/components/NodeSettings.vue
  packages/frontend/editor-ui/src/composables/useCanvasOperations.ts
  packages/frontend/editor-ui/src/composables/useNodeHelpers.ts
  packages/workflow/src/node-helpers.ts
  packages/workflow/test/node-helpers.test.ts
Labels: core, n8n team

#16285 fix(core): Always save evaluation executions
  packages/cli/src/evaluation.ee/test-runner/__tests__/test-runner.service.ee.test.ts
  packages/cli/src/evaluation.ee/test-runner/test-runner.service.ee.ts
Labels: core, n8n team

#16243 feat(core): Add number of tokens and latency automatically as metrics in evaluation
  packages/cli/src/evaluation.ee/test-runner/__tests__/utils.ee.test.ts
  packages/cli/src/evaluation.ee/test-runner/test-runner.service.ee.ts
  packages/cli/src/evaluation.ee/test-runner/utils.ee.ts
Labels: core, n8n team

#15833 feat(MCP Server Trigger Node): Support for Streamable HTTP transport in MCP Server
  packages/@n8n/nodes-langchain/nodes/mcp/McpTrigger/FlushingSSEServerTransport.ts
  packages/@n8n/nodes-langchain/nodes/mcp/McpTrigger/FlushingTransport.ts
  packages/@n8n/nodes-langchain/nodes/mcp/McpTrigger/McpServer.ts
  packages/@n8n/nodes-langchain/nodes/mcp/McpTrigger/McpTrigger.node.ts
  packages/@n8n/nodes-langchain/nodes/mcp/McpTrigger/__test__/FlushingSSEServerTransport.test.ts
  packages/@n8n/nodes-langchain/nodes/mcp/McpTrigger/__test__/FlushingTransport.test.ts
  packages/@n8n/nodes-langchain/nodes/mcp/McpTrigger/__test__/McpServer.test.ts
  packages/@n8n/nodes-langchain/nodes/mcp/McpTrigger/__test__/McpTrigger.node.test.ts
  packages/@n8n/nodes-langchain/package.json
  pnpm-lock.yaml
Labels: n8n team

#16310 feat(Chat Trigger Node): Fix CSS variable `--chat--message--font-size` not applying correctly
  packages/@n8n/nodes-langchain/nodes/trigger/ChatTrigger/README.md
  packages/frontend/@n8n/chat/src/components/Message.vue
Labels: n8n team

#16278 feat(editor): Show node type on hover over node icon in NDV
  packages/frontend/editor-ui/src/components/NodeIcon.vue
  packages/frontend/editor-ui/src/components/NodeTitle.vue
Labels: n8n team

#16311 perf(core): Skip init for unlicensed modules
  packages/@n8n/decorators/src/module/__tests__/module.test.ts
  packages/@n8n/decorators/src/module/module-metadata.ts
  packages/@n8n/decorators/src/module/module.ts
  packages/cli/src/modules/external-secrets.ee/external-secrets.module.ts
  packages/cli/src/modules/module-registry.ts
  packages/cli/test/integration/external-secrets/external-secrets.api.test.ts
Labels: extensions

#16308 fix(core): Register transition handlers after modules init
  packages/cli/src/commands/base-command.ts
  packages/cli/src/commands/start.ts
  packages/cli/src/modules/insights/insights.service.ts
Labels: extensions

#16313 refactor(core): Add node ID to log streaming events
  packages/cli/src/eventbus/event-message-classes/event-message-node.ts
  packages/cli/src/events/__tests__/log-streaming-event-relay.test.ts
  packages/cli/src/events/maps/relay.event-map.ts
  packages/cli/src/events/relays/log-streaming.event-relay.ts
  packages/cli/src/execution-lifecycle/__tests__/execution-lifecycle-hooks.test.ts
  packages/cli/src/execution-lifecycle/execution-lifecycle-hooks.ts
  packages/cli/src/executions/__tests__/execution-recovery.service.test.ts
  packages/cli/src/executions/__tests__/utils.ts
Labels: core, n8n team

#16322 refactor(editor): Detangle `users` store from `ui` store (no-changelog)
  packages/frontend/editor-ui/src/stores/ui.store.ts
  packages/frontend/editor-ui/src/stores/users.store.ts
  packages/frontend/editor-ui/src/views/SetupView.vue
  packages/frontend/editor-ui/src/views/SignupView.vue
Labels: extensions

#16307 fix: Run evaluations successfully when offload manual executions is true with queue mode
  packages/cli/src/evaluation.ee/test-runner/__tests__/test-runner.service.ee.test.ts
  packages/cli/src/evaluation.ee/test-runner/test-runner.service.ee.ts
  packages/core/src/execution-engine/__tests__/workflow-execute.test.ts
  packages/core/src/execution-engine/workflow-execute.ts
  packages/nodes-base/nodes/Evaluation/EvaluationTrigger/EvaluationTrigger.node.ee.ts
  packages/nodes-base/nodes/Evaluation/test/EvaluationTrigger.node.test.ts
  packages/workflow/src/interfaces.ts
Labels: node/improvement, core, n8n team

#16226 fix(HTTP Request Node): Process text files
  packages/nodes-base/nodes/HttpRequest/V3/HttpRequestV3.node.ts
  packages/nodes-base/nodes/HttpRequest/V3/utils/binaryData.ts
  packages/nodes-base/nodes/HttpRequest/V3/utils/parse.ts
  packages/nodes-base/nodes/HttpRequest/test/binaryData/HttpRequest.test.ts
  packages/nodes-base/nodes/HttpRequest/test/binaryData/binaryData.test.json
  packages/nodes-base/nodes/HttpRequest/test/utils/binaryData.test.ts
  packages/nodes-base/nodes/HttpRequest/test/utils/parse.test.ts
Labels: node/improvement, n8n team

#15988 feat(core): Add OIDC support for SSO
  jest.config.js
  packages/@n8n/api-types/src/dto/index.ts
  packages/@n8n/api-types/src/dto/oidc/config.dto.ts
  packages/@n8n/api-types/src/frontend-settings.ts
  packages/@n8n/backend-common/src/license-state.ts
  packages/@n8n/constants/src/index.ts
  packages/@n8n/db/src/entities/types-db.ts
  packages/@n8n/permissions/src/constants.ee.ts
  packages/@n8n/permissions/src/roles/scopes/global-scopes.ee.ts
  packages/cli/package.json
  packages/cli/src/config/schema.ts
  packages/cli/src/controllers/e2e.controller.ts
  packages/cli/src/controllers/me.controller.ts
  packages/cli/src/controllers/password-reset.controller.ts
  packages/cli/src/ldap.ee/ldap.service.ee.ts
  packages/cli/src/server.ts
  packages/cli/src/services/frontend.service.ts
  packages/cli/src/services/user.service.ts
  packages/cli/src/sso.ee/oidc/constants.ts
  packages/cli/src/sso.ee/oidc/oidc.service.ee.ts
  packages/cli/src/sso.ee/oidc/routes/oidc.controller.ee.ts
  packages/cli/src/sso.ee/saml/saml-helpers.ts
  packages/cli/src/sso.ee/sso-helpers.ts
  packages/cli/test/integration/oidc/oidc.service.ee.test.ts
  packages/frontend/@n8n/design-system/src/components/N8nUsersList/UsersList.vue
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/@n8n/rest-api-client/src/api/sso.ts
  packages/frontend/editor-ui/src/Interface.ts
  packages/frontend/editor-ui/src/__tests__/defaults.ts
  packages/frontend/editor-ui/src/__tests__/mocks.ts
  packages/frontend/editor-ui/src/components/SSOLogin.vue
  packages/frontend/editor-ui/src/constants.ts
  packages/frontend/editor-ui/src/permissions.test.ts
  packages/frontend/editor-ui/src/stores/rbac.store.ts
  packages/frontend/editor-ui/src/stores/settings.store.ts
  packages/frontend/editor-ui/src/stores/sso.store.ts
  packages/frontend/editor-ui/src/views/SettingsPersonalView.vue
  packages/frontend/editor-ui/src/views/SettingsSso.test.ts
  packages/frontend/editor-ui/src/views/SettingsSso.vue
  pnpm-lock.yaml
Labels: core, n8n team

#16280 feat: Add vector store telemetry events to `Manual workflow exec finished` event (no-changelog)
  packages/cli/src/events/relays/telemetry.event-relay.ts
  packages/workflow/src/telemetry-helpers.ts
  packages/workflow/test/telemetry-helpers.test.ts
Labels: core, n8n team

#16312 fix(editor): Fix log view style bugs
  packages/frontend/editor-ui/src/__tests__/setup.ts
  packages/frontend/editor-ui/src/features/logs/components/LogsOverviewRow.vue
  packages/frontend/editor-ui/src/features/logs/composables/usePiPWindow.test.ts
  packages/frontend/editor-ui/src/features/logs/composables/usePiPWindow.ts
  packages/frontend/editor-ui/src/stores/ui.store.ts
  packages/frontend/editor-ui/src/stores/ui.utils.ts
Labels: n8n team

#16378 feat(editor): Add tracking on oidc save setting
  packages/frontend/editor-ui/src/views/SettingsSso.test.ts
  packages/frontend/editor-ui/src/views/SettingsSso.vue
Labels: n8n team

#15632 fix(editor): Fix and enable copying to clipboard in PiP
  packages/frontend/editor-ui/src/components/RunDataJsonActions.vue
  packages/frontend/editor-ui/src/composables/useClipboard.ts
  packages/frontend/editor-ui/src/constants.ts
  packages/frontend/editor-ui/src/features/logs/components/ChatMessagesPanel.vue
  packages/frontend/editor-ui/src/features/logs/components/LogsPanel.vue
  packages/frontend/editor-ui/src/features/logs/components/LogsViewRunData.vue
  packages/frontend/editor-ui/src/features/logs/composables/usePiPWindow.ts
Labels: n8n team

#16393 fix(editor): Fix keyboard shortcut bugs in the log view
  packages/frontend/editor-ui/src/components/canvas/Canvas.vue
  packages/frontend/editor-ui/src/composables/useKeybindings.ts
  packages/frontend/editor-ui/src/features/logs/components/LogsPanel.vue
  packages/frontend/editor-ui/src/stores/builder.store.ts
  packages/frontend/editor-ui/src/utils/htmlUtils.ts
Labels: n8n team

#16384 refactor(editor): Detangle `ui` store from `settings` store (no-changelog)
  packages/frontend/editor-ui/src/init.test.ts
  packages/frontend/editor-ui/src/init.ts
  packages/frontend/editor-ui/src/stores/settings.store.ts
  packages/frontend/editor-ui/src/stores/ui.store.ts
  packages/frontend/editor-ui/src/stores/ui.test.ts
Labels: n8n team, extensions

#16347 feat(editor): Add OIDC paywall
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/views/SettingsSso.test.ts
  packages/frontend/editor-ui/src/views/SettingsSso.vue
Labels: n8n team, release/backport

#16440 fix(editor): Add a sticky note explaining embeddings on the RAG starter template (no-changelog)
  packages/frontend/editor-ui/src/utils/easyAiWorkflowUtils.ts
Labels: n8n team

#16444 refactor(core): Rename `@n8n/integration-test-utils` to `@n8n/backend-test-utils`
  codecov.yml
  packages/@n8n/backend-test-utils/.eslintrc.js
  packages/@n8n/backend-test-utils/package.json
  packages/@n8n/backend-test-utils/src/index.ts
  packages/@n8n/backend-test-utils/tsconfig.build.json
  packages/@n8n/backend-test-utils/tsconfig.json
  packages/cli/package.json
  packages/cli/src/__tests__/active-workflow-manager.test.ts
  packages/cli/src/__tests__/license.test.ts
  packages/cli/src/__tests__/wait-tracker.test.ts
  packages/cli/src/concurrency/__tests__/concurrency-control.service.test.ts
  packages/cli/src/evaluation.ee/test-runner/__tests__/test-runner.service.ee.test.ts
  packages/cli/src/ldap.ee/__tests__/ldap.service.test.ts
  packages/cli/src/modules/external-secrets.ee/__tests__/external-secrets-manager.ee.test.ts
  packages/cli/src/modules/insights/__tests__/insights-collection.service.test.ts
  packages/cli/src/modules/insights/__tests__/insights-compaction.service.test.ts
  packages/cli/src/modules/insights/__tests__/insights-pruning.service.test.ts
  packages/cli/src/modules/insights/__tests__/insights.service.test.ts
  packages/cli/src/scaling/__tests__/scaling.service.test.ts
  packages/cli/src/scaling/__tests__/worker-server.test.ts
  packages/cli/src/scaling/pubsub/__tests__/publisher.service.test.ts
  packages/cli/src/scaling/pubsub/__tests__/pubsub.registry.test.ts
  packages/cli/src/services/pruning/__tests__/executions-pruning.service.test.ts
  packages/cli/src/workflows/workflow-history.ee/__tests__/workflow-history.service.ee.test.ts
  packages/cli/test/integration/executions-pruning.service.test.ts
  packages/cli/test/integration/external-secrets/external-secrets.api.test.ts
  packages/cli/test/integration/shared/utils/test-server.ts
  packages/cli/tsconfig.json
  pnpm-lock.yaml
  turbo.json
Labels: core, n8n team

#16405 fix(core): Prevent unauthorised workflow termination
  packages/cli/src/executions/__tests__/execution.service.test.ts
  packages/cli/src/executions/__tests__/executions.controller.test.ts
  packages/cli/src/executions/execution.service.ts
  packages/cli/src/executions/executions.controller.ts
  packages/cli/test/integration/executions.controller.test.ts
Labels: core, n8n team, release/backport

#16439 feat(editor): Add Support for Granular Push of Credentials and Workflows
  packages/frontend/editor-ui/src/components/SourceControlPushModal.ee.test.ts
  packages/frontend/editor-ui/src/components/SourceControlPushModal.ee.vue
Labels: n8n team

#16328 refactor(editor): Refactor Users API
  packages/@n8n/api-types/src/index.ts
  packages/@n8n/api-types/src/schemas/user.schema.ts
  packages/frontend/editor-ui/src/Interface.ts
  packages/frontend/editor-ui/src/api/users.ts
  packages/frontend/editor-ui/src/stores/npsSurvey.store.ts
  packages/frontend/editor-ui/src/stores/posthog.test.ts
  packages/frontend/editor-ui/src/stores/users.store.ts
  packages/frontend/editor-ui/src/views/WorkflowsView.test.ts
Labels: n8n team

#16458 fix(Telegram Node): "source.on is not a function" in Telegram with binary file and Reply Markup
  packages/nodes-base/nodes/Telegram/Telegram.node.ts
  packages/nodes-base/nodes/Telegram/tests/Workflow/apiResponses.ts
  packages/nodes-base/nodes/Telegram/tests/Workflow/binaryData.workflow.json
  packages/nodes-base/nodes/Telegram/tests/Workflow/workflow.test.ts
Labels: node/improvement, n8n team

#16360 fix: Fix examples for `Array#includes` method
  packages/workflow/src/native-methods/array.methods.ts
Labels: core, community, in linear

#16309 fix: Fix paired item handling of multiple inputs
  packages/workflow/src/workflow-data-proxy.ts
  packages/workflow/test/fixtures/WorkflowDataProxy/multiple_inputs_run.json
  packages/workflow/test/fixtures/WorkflowDataProxy/multiple_inputs_workflow.json
  packages/workflow/test/workflow-data-proxy.test.ts
Labels: n8n team

#16472 Revert "fix: Fix paired item handling of multiple inputs"
  packages/workflow/src/workflow-data-proxy.ts
  packages/workflow/test/fixtures/WorkflowDataProxy/multiple_inputs_run.json
  packages/workflow/test/fixtures/WorkflowDataProxy/multiple_inputs_workflow.json
  packages/workflow/test/workflow-data-proxy.test.ts
Labels: core, n8n team

#16482 chore: Move typecheck exemption to fix intermittent build issue
  packages/cli/src/environments.ee/source-control/source-control-import.service.ee.ts
Labels: core, n8n team

#16540 docs: Update README nodes-langchain removing beta copy.md
  packages/@n8n/nodes-langchain/README.md
Labels: community, in linear

#16523 chore: Update LangChain dependencies (no-changelog)
  package.json
  packages/@n8n/ai-workflow-builder/src/llm-config.ts
  packages/@n8n/nodes-langchain/nodes/agents/Agent/agents/utils.ts
  packages/@n8n/nodes-langchain/nodes/agents/Agent/test/utils.test.ts
  packages/@n8n/nodes-langchain/nodes/chains/ChainLLM/test/imageUtils.test.ts
  packages/@n8n/nodes-langchain/nodes/embeddings/EmbeddingsGoogleGemini/EmbeddingsGoogleGemini.node.ts
  packages/@n8n/nodes-langchain/nodes/embeddings/EmbeddingsMistralCloud/EmbeddingsMistralCloud.node.ts
  packages/@n8n/nodes-langchain/nodes/llms/LMChatAnthropic/LmChatAnthropic.node.ts
  packages/@n8n/nodes-langchain/nodes/llms/LMChatOpenAi/LmChatOpenAi.node.ts
  packages/@n8n/nodes-langchain/nodes/llms/LMOpenAi/LmOpenAi.node.ts
  packages/@n8n/nodes-langchain/nodes/llms/LmChatDeepSeek/LmChatDeepSeek.node.ts
  packages/@n8n/nodes-langchain/nodes/llms/LmChatGoogleGemini/LmChatGoogleGemini.node.ts
  packages/@n8n/nodes-langchain/nodes/llms/LmChatGroq/LmChatGroq.node.ts
  packages/@n8n/nodes-langchain/nodes/llms/LmChatMistralCloud/LmChatMistralCloud.node.ts
  packages/@n8n/nodes-langchain/nodes/llms/LmChatOpenRouter/LmChatOpenRouter.node.ts
  packages/@n8n/nodes-langchain/nodes/llms/LmChatXAiGrok/LmChatXAiGrok.node.ts
  packages/@n8n/nodes-langchain/package.json
  packages/@n8n/nodes-langchain/types/types.ts
  packages/@n8n/nodes-langchain/utils/N8nTool.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: n8n team

#16516 fix(core): Incorrect data returned by the node when using retry on error + continue on error
  packages/core/src/execution-engine/__tests__/workflows/retry_and_continue_on_error.json
  packages/core/src/execution-engine/workflow-execute.ts
Labels: core, n8n team

#16510 refactor(editor): Detangle `users` store from `settings` store (no-changelog)
  packages/frontend/editor-ui/src/components/ContactPromptModal.vue
  packages/frontend/editor-ui/src/init.ts
  packages/frontend/editor-ui/src/stores/settings.store.ts
  packages/frontend/editor-ui/src/stores/users.store.ts
  packages/frontend/editor-ui/src/views/SettingsUsersView.test.ts
  packages/frontend/editor-ui/src/views/SettingsUsersView.vue
Labels: n8n team, extensions

#16545 fix(core): Add Dingbat emojis to expressions grammar
  packages/@n8n/codemirror-lang/src/expressions/expressions.grammar
  packages/@n8n/codemirror-lang/src/expressions/grammar.ts
  packages/@n8n/codemirror-lang/test/expressions/cases.txt
Labels: n8n team

#16539 fix: When community node added as tool, don't show details view
  packages/frontend/editor-ui/src/components/Node/NodeCreator/ItemTypes/NodeItem.vue
  packages/frontend/editor-ui/src/components/Node/NodeCreator/Modes/NodesMode.vue
  packages/frontend/editor-ui/src/components/Node/NodeCreator/utils.test.ts
  packages/frontend/editor-ui/src/components/Node/NodeCreator/utils.ts
Labels: ui, n8n team

#16525 fix(Notion Node): Typo in the condition type
  packages/nodes-base/nodes/Notion/shared/GenericFunctions.ts
Labels: node/improvement, n8n team

#16508 refactor(editor): Detangle `versions` store from `settings` store (no-changelog)
  packages/frontend/editor-ui/src/composables/usePageRedirectionHelper.test.ts
  packages/frontend/editor-ui/src/init.ts
  packages/frontend/editor-ui/src/stores/settings.store.test.ts
  packages/frontend/editor-ui/src/stores/settings.store.ts
  packages/frontend/editor-ui/src/stores/versions.store.ts
Labels: n8n team, extensions

#16552 fix: Fix paired item for Merge node with mode=chooseBranch
  packages/workflow/src/workflow-data-proxy.ts
Labels: core, n8n team

#16549 fix(core): Show correct error messages when nodes can't be used in an expression
  packages/core/src/execution-engine/__tests__/workflow-execute.test.ts
  packages/core/src/execution-engine/workflow-execute.ts
Labels: core, n8n team

#16554 fix(core): Handle dynamic webhook edge cases
  packages/cli/src/webhooks/__tests__/webhook.service.test.ts
  packages/cli/src/webhooks/webhook.service.ts
Labels: core, n8n team

#16528 refactor(core): Move module logic to `@n8n/backend-common`
  packages/@n8n/backend-common/package.json
  packages/@n8n/backend-common/src/index.ts
  packages/@n8n/backend-common/src/modules/__tests__/module-registry.test.ts
  packages/@n8n/backend-common/src/modules/__tests__/modules.config.test.ts
  packages/@n8n/backend-common/src/modules/errors/missing-module.error.ts
  packages/@n8n/backend-common/src/modules/errors/module-confusion.error.ts
  packages/@n8n/backend-common/src/modules/errors/unknown-module.error.ts
  packages/@n8n/backend-common/src/modules/module-registry.ts
  packages/@n8n/backend-common/src/modules/modules.config.ts
  packages/cli/src/commands/base-command.ts
  packages/cli/src/databases/__tests__/db-connection-options.test.ts
  packages/cli/src/databases/db-connection-options.ts
  packages/cli/src/execution-lifecycle/execution-lifecycle-hooks.ts
  packages/cli/src/modules/module-registry.ts
  packages/cli/src/services/frontend.service.ts
  packages/cli/test/integration/shared/test-modules.ts
  packages/cli/test/integration/shared/utils/test-server.ts
  pnpm-lock.yaml
Labels: core, n8n team, extensions

#16563 fix(editor): Add back keyboard shortcuts for log view in PiP (no-changelog)
  packages/frontend/editor-ui/src/composables/useKeybindings.ts
  packages/frontend/editor-ui/src/features/logs/components/LogsPanel.vue
  packages/frontend/editor-ui/src/features/logs/components/LogsViewKeyboardEventListener.vue
Labels: n8n team

#16471 fix(MongoDB Atlas Vector Store Node): Old credentials used even after credentials are updated/changed
  packages/@n8n/nodes-langchain/nodes/vector_store/VectorStoreMongoDBAtlas/VectorStoreMongoDBAtlas.node.test.ts
  packages/@n8n/nodes-langchain/nodes/vector_store/VectorStoreMongoDBAtlas/VectorStoreMongoDBAtlas.node.ts
Labels: n8n team

#16542 refactor(editor): Move `templates` api to `@n8n/rest-api-client` package (no-changelog)
  .prettierignore
  packages/frontend/@n8n/rest-api-client/src/api/index.ts
  packages/frontend/@n8n/rest-api-client/src/api/tags.ts
  packages/frontend/@n8n/rest-api-client/src/api/templates.ts
  packages/frontend/@n8n/rest-api-client/src/api/workflows.ts
  packages/frontend/editor-ui/src/Interface.ts
  packages/frontend/editor-ui/src/__tests__/server/factories/tag.ts
  packages/frontend/editor-ui/src/__tests__/server/fixtures/tags.ts
  packages/frontend/editor-ui/src/__tests__/server/models/tag.ts
  packages/frontend/editor-ui/src/api/tags.ts
  packages/frontend/editor-ui/src/api/templates.ts
  packages/frontend/editor-ui/src/components/AskAssistant/Agent/AskAssistantBuild.vue
  packages/frontend/editor-ui/src/components/DuplicateWorkflowDialog.vue
  packages/frontend/editor-ui/src/components/MainHeader/WorkflowDetails.vue
  packages/frontend/editor-ui/src/components/NodeList.vue
  packages/frontend/editor-ui/src/components/TagsContainer.vue
  packages/frontend/editor-ui/src/components/TagsDropdown.vue
  packages/frontend/editor-ui/src/components/TagsManager/AnnotationTagsManager.ee.vue
  packages/frontend/editor-ui/src/components/TagsManager/TagsManager.vue
  packages/frontend/editor-ui/src/components/TagsManager/TagsView/TagsView.vue
  packages/frontend/editor-ui/src/components/TagsManager/WorkflowTagsManager.vue
  packages/frontend/editor-ui/src/components/TemplateCard.vue
  packages/frontend/editor-ui/src/components/TemplateDetails.vue
  packages/frontend/editor-ui/src/components/TemplateFilters.vue
  packages/frontend/editor-ui/src/components/TemplateList.vue
  packages/frontend/editor-ui/src/components/TemplatesInfoCard.vue
  packages/frontend/editor-ui/src/components/TemplatesInfoCarousel.vue
  packages/frontend/editor-ui/src/components/WorkflowPreview.vue
  packages/frontend/editor-ui/src/components/WorkflowSelectorParameterInput/WorkflowSelectorParameterInput.vue
  packages/frontend/editor-ui/src/components/WorkflowSettings.vue
  packages/frontend/editor-ui/src/components/WorkflowTagsContainer.vue
  packages/frontend/editor-ui/src/components/layouts/ResourcesListLayout.vue
  packages/frontend/editor-ui/src/composables/useCanvasOperations.test.ts
  packages/frontend/editor-ui/src/composables/useCanvasOperations.ts
  packages/frontend/editor-ui/src/composables/useRunWorkflow.test.ts
  packages/frontend/editor-ui/src/composables/useWorkflowExtraction.ts
  packages/frontend/editor-ui/src/composables/useWorkflowHelpers.test.ts
  packages/frontend/editor-ui/src/composables/useWorkflowHelpers.ts
  packages/frontend/editor-ui/src/composables/useWorkflowSaving.test.ts
  packages/frontend/editor-ui/src/composables/useWorkflowSaving.ts
  packages/frontend/editor-ui/src/constants.workflows.ts
  packages/frontend/editor-ui/src/stores/settings.store.ts
  packages/frontend/editor-ui/src/stores/tags.store.ts
  packages/frontend/editor-ui/src/stores/templates.store.ts
  packages/frontend/editor-ui/src/stores/workflowHistory.store.ts
  packages/frontend/editor-ui/src/stores/workflows.store.ts
  packages/frontend/editor-ui/src/types/externalHooks.ts
  packages/frontend/editor-ui/src/utils/nodeTypesUtils.ts
  packages/frontend/editor-ui/src/utils/templates/templateActions.test.ts
  packages/frontend/editor-ui/src/utils/templates/templateActions.ts
  packages/frontend/editor-ui/src/utils/templates/templateTransforms.test.ts
  packages/frontend/editor-ui/src/utils/templates/templateTransforms.ts
  packages/frontend/editor-ui/src/utils/templates/typeGuards.ts
  packages/frontend/editor-ui/src/views/NodeView.vue
  packages/frontend/editor-ui/src/views/SetupWorkflowFromTemplateView/__tests__/setupTemplate.store.testData.ts
  packages/frontend/editor-ui/src/views/SetupWorkflowFromTemplateView/setupTemplate.store.test.ts
  packages/frontend/editor-ui/src/views/SetupWorkflowFromTemplateView/useCredentialSetupState.test.ts
  packages/frontend/editor-ui/src/views/TemplatesCollectionView.vue
  packages/frontend/editor-ui/src/views/TemplatesSearchView.vue
Labels: n8n team

#16586 fix(editor): Set workflow project to be shown in the breadcrumb
  packages/frontend/editor-ui/src/views/WorkflowExecutionsView.vue
Labels: n8n team

#16484 feat(Sticky Note Node): Support YouTube video embeds on Sticky notes
  packages/frontend/@n8n/design-system/src/components/N8nMarkdown/Markdown.stories.ts
  packages/frontend/@n8n/design-system/src/components/N8nMarkdown/Markdown.test.ts
  packages/frontend/@n8n/design-system/src/components/N8nMarkdown/Markdown.vue
  packages/frontend/@n8n/design-system/src/components/N8nMarkdown/youtube.test.ts
  packages/frontend/@n8n/design-system/src/components/N8nMarkdown/youtube.ts
  packages/frontend/editor-ui/src/components/canvas/elements/nodes/render-types/__snapshots__/CanvasNodeStickyNote.test.ts.snap
Labels: n8n team

#16659 chore(core): Stop reporting RLC workflow ID error
  packages/cli/src/services/workflow-loader.service.ts
Labels: core, n8n team

#16636 refactor(core): Port some legacy top-level schema keys
  packages/@n8n/config/src/index.ts
  packages/@n8n/config/test/config.test.ts
  packages/cli/src/abstract-server.ts
  packages/cli/src/config/schema.ts
  packages/cli/src/services/__tests__/url.service.test.ts
  packages/cli/src/services/__tests__/user.service.test.ts
  packages/cli/src/services/url.service.ts
Labels: core, n8n team

#16627 refactor(core): Make instances more resilient to license sync issues
  packages/cli/src/__tests__/license.test.ts
  packages/cli/src/license.ts
Labels: core, n8n team

#16616 refactor(core): Move `DbConnection` to `@n8n/db`
  packages/@n8n/constants/src/index.ts
  packages/@n8n/constants/src/time.ts
  packages/@n8n/db/package.json
  packages/@n8n/db/src/connection/__tests__/db-connection-options.test.ts
  packages/@n8n/db/src/connection/__tests__/db-connection.test.ts
  packages/@n8n/db/src/connection/db-connection-options.ts
  packages/@n8n/db/src/connection/db-connection.ts
  packages/@n8n/db/src/index.ts
  packages/cli/src/abstract-server.ts
  packages/cli/src/auth/__tests__/auth.service.test.ts
  packages/cli/src/auth/auth.service.ts
  packages/cli/src/collaboration/collaboration.state.ts
  packages/cli/src/commands/__tests__/execute-batch.test.ts
  packages/cli/src/commands/__tests__/execute.test.ts
  packages/cli/src/commands/base-command.ts
  packages/cli/src/commands/db/revert.ts
  packages/cli/src/constants.ts
  packages/cli/src/controllers/oauth/__tests__/oauth1-credential.controller.test.ts
  packages/cli/src/controllers/oauth/__tests__/oauth2-credential.controller.test.ts
  packages/cli/src/controllers/oauth/abstract-oauth.controller.ts
  packages/cli/src/license.ts
  packages/cli/src/metrics/prometheus-metrics.service.ts
  packages/cli/src/modules/insights/__tests__/insights-pruning.service.test.ts
  packages/cli/src/modules/insights/insights-pruning.service.ts
  packages/cli/src/scaling/__tests__/worker-server.test.ts
  packages/cli/src/scaling/multi-main-setup.ee.ts
  packages/cli/src/scaling/scaling.service.ts
  packages/cli/src/scaling/worker-server.ts
  packages/cli/src/server.ts
  packages/cli/src/services/cache/cache.service.ts
  packages/cli/src/services/pruning/__tests__/executions-pruning.service.test.ts
  packages/cli/src/services/pruning/executions-pruning.service.ts
  packages/cli/src/task-runners/task-broker/__tests__/task-broker-ws-server.test.ts
  packages/cli/src/task-runners/task-broker/__tests__/task-broker.service.test.ts
  packages/cli/src/task-runners/task-broker/auth/task-broker-auth.service.ts
  packages/cli/src/task-runners/task-broker/task-broker-ws-server.ts
  packages/cli/src/task-runners/task-broker/task-broker.service.ts
  packages/cli/src/task-runners/task-runner-process-restart-loop-detector.ts
  packages/cli/src/workflows/workflow-history.ee/workflow-history-manager.ee.ts
  packages/cli/test/integration/executions-pruning.service.test.ts
  packages/cli/test/integration/shared/db/workflow-statistics.ts
  packages/cli/test/integration/shared/test-db.ts
  pnpm-lock.yaml
Labels: core, n8n team, extensions

#16656 refactor(editor): Move frontend permissions code to `@n8n/permissions` (no-changelog)
  packages/@n8n/permissions/src/index.ts
  packages/@n8n/permissions/src/utilities/__tests__/get-resource-permissions.test.ts
  packages/@n8n/permissions/src/utilities/get-resource-permissions.ee.ts
  packages/frontend/editor-ui/src/components/CredentialCard.vue
  packages/frontend/editor-ui/src/components/CredentialEdit/CredentialConfig.vue
  packages/frontend/editor-ui/src/components/CredentialEdit/CredentialEdit.vue
  packages/frontend/editor-ui/src/components/CredentialEdit/CredentialSharing.ee.vue
  packages/frontend/editor-ui/src/components/CredentialEdit/__tests__/CredentialEdit.test.ts
  packages/frontend/editor-ui/src/components/Folders/MoveToFolderModal.vue
  packages/frontend/editor-ui/src/components/MainHeader/WorkflowDetails.vue
  packages/frontend/editor-ui/src/components/MainSidebarSourceControl.vue
  packages/frontend/editor-ui/src/components/PersonalizationModal.vue
  packages/frontend/editor-ui/src/components/Projects/ProjectHeader.vue
  packages/frontend/editor-ui/src/components/Projects/ProjectMoveResourceModal.vue
  packages/frontend/editor-ui/src/components/Projects/ProjectMoveResourceModalCredentialsList.vue
  packages/frontend/editor-ui/src/components/WorkflowActivator.vue
  packages/frontend/editor-ui/src/components/WorkflowCard.vue
  packages/frontend/editor-ui/src/components/WorkflowSettings.vue
  packages/frontend/editor-ui/src/components/WorkflowShareModal.ee.vue
  packages/frontend/editor-ui/src/components/executions/global/GlobalExecutionsList.vue
  packages/frontend/editor-ui/src/components/executions/global/GlobalExecutionsListItem.vue
  packages/frontend/editor-ui/src/components/executions/workflow/WorkflowExecutionAnnotationPanel.ee.vue
  packages/frontend/editor-ui/src/components/executions/workflow/WorkflowExecutionsCard.vue
  packages/frontend/editor-ui/src/components/executions/workflow/WorkflowExecutionsPreview.vue
  packages/frontend/editor-ui/src/components/executions/workflow/WorkflowExecutionsSidebar.vue
  packages/frontend/editor-ui/src/composables/useContextMenu.ts
  packages/frontend/editor-ui/src/composables/useGlobalEntityCreation.ts
  packages/frontend/editor-ui/src/features/insights/insights.store.ts
  packages/frontend/editor-ui/src/routes/projects.routes.ts
  packages/frontend/editor-ui/src/stores/projects.store.ts
  packages/frontend/editor-ui/src/views/CredentialsView.vue
  packages/frontend/editor-ui/src/views/NodeView.vue
  packages/frontend/editor-ui/src/views/SettingsUsageAndPlan.vue
  packages/frontend/editor-ui/src/views/VariablesView.vue
  packages/frontend/editor-ui/src/views/WorkflowHistory.vue
  packages/frontend/editor-ui/src/views/WorkflowsView.vue
Labels: n8n team

#16629 chore: Add build version as banner to outputted js and css chat files (no-changelog)
  packages/frontend/@n8n/chat/vite.config.mts
Labels: n8n team

#16657 fix(Jira Software Node): Fix issue with credential test not working correctly
  packages/nodes-base/credentials/JiraSoftwareCloudApi.credentials.ts
  packages/nodes-base/credentials/JiraSoftwareServerApi.credentials.ts
  packages/nodes-base/credentials/JiraSoftwareServerPatApi.credentials.ts
Labels: node/improvement, n8n team

#16654 chore(core): Expose mfaEnabled field to users list endpoint
  packages/@n8n/api-types/src/dto/user/users-list-filter.dto.ts
  packages/@n8n/api-types/src/schemas/user.schema.ts
  packages/@n8n/db/src/repositories/user.repository.ts
  packages/cli/test/integration/shared/utils/users.ts
  packages/cli/test/integration/users.api.test.ts
Labels: core, n8n team

#16391 feat(core): Implement lifecycle hooks to support streaming responses (no-changelog)
  packages/cli/src/__tests__/active-executions.test.ts
  packages/cli/src/__tests__/workflow-runner.test.ts
  packages/cli/src/active-executions.ts
  packages/cli/src/execution-lifecycle/__tests__/execution-lifecycle-hooks.test.ts
  packages/cli/src/interfaces.ts
  packages/cli/src/scaling/__tests__/scaling.service.test.ts
  packages/cli/src/scaling/job-processor.ts
  packages/cli/src/scaling/scaling.service.ts
  packages/cli/src/scaling/scaling.types.ts
  packages/cli/src/webhooks/webhook-helpers.ts
  packages/cli/src/workflow-execute-additional-data.ts
  packages/cli/src/workflow-runner.ts
  packages/core/src/execution-engine/__tests__/execution-lifecycle-hooks.test.ts
  packages/core/src/execution-engine/__tests__/workflow-execute.test.ts
  packages/core/src/execution-engine/execution-lifecycle-hooks.ts
  packages/core/src/execution-engine/node-execution-context/__tests__/execute-context.test.ts
  packages/core/src/execution-engine/node-execution-context/execute-context.ts
  packages/core/src/execution-engine/workflow-execute.ts
  packages/workflow/src/interfaces.ts
Labels: core, n8n team

#16488 feat(core): Add lastActiveAt datetime column on user table
  packages/@n8n/api-types/src/schemas/user.schema.ts
  packages/@n8n/db/src/entities/types-db.ts
  packages/@n8n/db/src/entities/user.ts
  packages/@n8n/db/src/migrations/common/1750252139166-AddLastActiveAtColumnToUser.ts
  packages/@n8n/db/src/migrations/mysqldb/index.ts
  packages/@n8n/db/src/migrations/postgresdb/index.ts
  packages/@n8n/db/src/migrations/sqlite/index.ts
  packages/cli/src/__tests__/controller.registry.test.ts
  packages/cli/src/controller.registry.ts
  packages/cli/src/services/__tests__/last-active-at.service.test.ts
  packages/cli/src/services/__tests__/public-api-key.service.test.ts
  packages/cli/src/services/last-active-at.service.ts
  packages/cli/src/services/public-api-key.service.ts
Labels: core, n8n team

#16672 fix(editor): Remove automatic resizing of output view
  packages/frontend/editor-ui/src/components/OutputPanel.vue
Labels: n8n team

#16677 fix(editor): Fix insights loading on FE
  packages/frontend/editor-ui/src/__tests__/server/endpoints/index.ts
  packages/frontend/editor-ui/src/__tests__/server/endpoints/module.ts
  packages/frontend/editor-ui/src/stores/settings.store.ts
Labels: n8n team

#16558 chore(core): Send a telementry event if a node outputs non json data
  packages/core/src/execution-engine/workflow-execute.ts
  packages/core/src/utils/__tests__/is-json-compatible.test.ts
  packages/core/src/utils/is-json-compatible.ts
Labels: core, n8n team

#16663 refactor(editor): Move user login and logout side effects into hooks (no-changelog)
  packages/frontend/editor-ui/src/init.test.ts
  packages/frontend/editor-ui/src/init.ts
  packages/frontend/editor-ui/src/stores/posthog.test.ts
  packages/frontend/editor-ui/src/stores/users.store.test.ts
  packages/frontend/editor-ui/src/stores/users.store.ts
Labels: n8n team, extensions

#16700 feat(editor): Add `console.error` calls to Sentry (no-changelog)
  packages/frontend/editor-ui/src/plugins/sentry.ts
Labels: n8n team

#16009 ci: Docker move build stage outside container (no-changelog)
  .dockerignore
  .github/workflows/docker-build-push.yml
  .github/workflows/docker-images-custom.yml
  .github/workflows/docker-images-nightly.yml
  .github/workflows/release-publish.yml
  .gitignore
  docker/images/n8n-base/Dockerfile
  docker/images/n8n/Dockerfile
  package.json
  packages/cli/package.json
  pnpm-lock.yaml
  scripts/build-n8n.mjs
  scripts/dockerize-n8n.mjs
  scripts/scan-n8n-image.mjs
Labels: n8n team

#16697 fix(core): Pagination was broken for users list
  packages/@n8n/db/src/repositories/user.repository.ts
  packages/cli/test/integration/users.api.test.ts
Labels: core, n8n team

#16635 fix(Snowflake Node): Fix key-pair credentials
  packages/nodes-base/credentials/Snowflake.credentials.ts
  packages/nodes-base/nodes/Snowflake/GenericFunctions.ts
  packages/nodes-base/nodes/Snowflake/__tests__/GenericFunctions.test.ts
Labels: n8n team, node/issue, release/backport

#16701 fix: Helper to set proper operation for sendAndWait action
  packages/frontend/editor-ui/src/components/Node/NodeCreator/Modes/NodesMode.vue
  packages/frontend/editor-ui/src/components/Node/NodeCreator/utils.test.ts
  packages/frontend/editor-ui/src/components/Node/NodeCreator/utils.ts
Labels: ui, n8n team

#16690 fix: Check for status when canceling execution
  packages/frontend/editor-ui/src/composables/useRunWorkflow.test.ts
  packages/frontend/editor-ui/src/composables/useRunWorkflow.ts
Labels: ui, n8n team

#16721 refactor(editor): Remove `i18n` and `toast` usage from setting store (no-changelog)
  packages/frontend/editor-ui/src/init.test.ts
  packages/frontend/editor-ui/src/init.ts
  packages/frontend/editor-ui/src/stores/settings.store.ts
Labels: n8n team, extensions

#16667 fix(core): Add retry mechanism to tools
  packages/@n8n/nodes-langchain/nodes/tools/ToolWorkflow/v2/ToolWorkflowV2.test.ts
  packages/@n8n/nodes-langchain/nodes/tools/ToolWorkflow/v2/utils/WorkflowToolService.ts
  packages/core/src/execution-engine/node-execution-context/utils/__tests__/get-input-connection-data.test.ts
  packages/core/src/execution-engine/node-execution-context/utils/get-input-connection-data.ts
  packages/workflow/src/index.ts
  packages/workflow/src/utils.ts
  packages/workflow/test/utils.test.ts
Labels: core, n8n team

#16730 ci: Fix tests on Node 22
  packages/@n8n/backend-common/src/modules/module-registry.ts
Labels: n8n team

#16733 fix: Add success url to docker build and push (no-changelog)
  .github/workflows/docker-build-push.yml
Labels: n8n team

#16617 feat: Add fallback mechanism for agent and basic chain llm
  packages/@n8n/nodes-langchain/nodes/agents/Agent/V2/AgentV2.node.ts
  packages/@n8n/nodes-langchain/nodes/agents/Agent/agents/ToolsAgent/V1/execute.ts
  packages/@n8n/nodes-langchain/nodes/agents/Agent/agents/ToolsAgent/V2/execute.ts
  packages/@n8n/nodes-langchain/nodes/agents/Agent/agents/ToolsAgent/common.ts
  packages/@n8n/nodes-langchain/nodes/agents/Agent/test/ToolsAgent/ToolsAgentV2.test.ts
  packages/@n8n/nodes-langchain/nodes/agents/Agent/test/ToolsAgent/commons.test.ts
  packages/@n8n/nodes-langchain/nodes/chains/ChainLLM/methods/chainExecutor.ts
  packages/@n8n/nodes-langchain/nodes/chains/ChainLLM/methods/config.ts
  packages/@n8n/nodes-langchain/nodes/chains/ChainLLM/methods/processItem.ts
  packages/@n8n/nodes-langchain/nodes/chains/ChainLLM/methods/types.ts
  packages/@n8n/nodes-langchain/nodes/chains/ChainLLM/test/ChainLlm.node.test.ts
  packages/@n8n/nodes-langchain/nodes/chains/ChainLLM/test/config.test.ts
  packages/frontend/editor-ui/src/components/NDVSubConnections.vue
  packages/frontend/editor-ui/src/components/Node/NodeCreator/composables/useViewStacks.ts
  packages/frontend/editor-ui/src/components/NodeDetailsView.vue
  packages/frontend/editor-ui/src/components/NodeSettings.vue
  packages/frontend/editor-ui/src/composables/useCanvasOperations.ts
  packages/frontend/editor-ui/src/stores/nodeCreator.store.ts
  packages/frontend/editor-ui/src/views/NodeView.vue
  packages/workflow/src/interfaces.ts
Labels: core, n8n team

#16632 fix(Google Sheets Node): Inconsistent Google Sheet Tool update behavior due to wrong type of row_number field
  packages/nodes-base/nodes/Google/Sheet/test/v2/methods/resourceMapping.test.ts
  packages/nodes-base/nodes/Google/Sheet/v2/methods/resourceMapping.ts
Labels: node/improvement, n8n team

#16754 test: Add option to specify the out param in benchmark cli
  packages/@n8n/benchmark/src/commands/run.ts
  packages/@n8n/benchmark/src/test-execution/k6-executor.ts
Labels: n8n team

#16755 fix(editor): Don't reset node name on click while renaming
  packages/frontend/@n8n/design-system/src/components/N8nInlineTextEdit/InlineTextEdit.vue
Labels: n8n team

#16719 fix(Code Node): Error formatting fix
  packages/nodes-base/nodes/Code/ExecutionError.ts
  packages/nodes-base/nodes/Code/test/ExecutionError.test.ts
Labels: node/improvement, n8n team, node/issue

#16763 chore: Fix NodeTitle.test.ts for Node 22 (no-changelog)
  packages/frontend/@n8n/design-system/src/components/N8nInlineTextEdit/InlineTextEdit.vue
  packages/frontend/@n8n/design-system/src/components/N8nInlineTextEdit/__snapshots__/InlineTextEdit.test.ts.snap
  packages/frontend/editor-ui/src/components/NodeTitle.test.ts
Labels: n8n team

#16722 feat: Don't allow multiple active workflows with same form path
  packages/frontend/editor-ui/src/components/WorkflowActivationConflictingWebhookModal.test.ts
  packages/frontend/editor-ui/src/components/WorkflowActivationConflictingWebhookModal.vue
  packages/frontend/editor-ui/src/components/WorkflowActivator.vue
  packages/frontend/editor-ui/src/composables/useWorkflowHelpers.test.ts
  packages/frontend/editor-ui/src/composables/useWorkflowHelpers.ts
  packages/frontend/editor-ui/src/stores/ui.store.ts
Labels: ui, n8n team

#16768 build: Add dependency on @n8n/eslint-config#build to lint scripts
  turbo.json
Labels: n8n team

#16769 fix(Token Splitter Node): Prevent tiktoken blocking on repetitive content
  packages/@n8n/nodes-langchain/nodes/llms/N8nLlmTracing.ts
  packages/@n8n/nodes-langchain/nodes/text_splitters/TextSplitterTokenSplitter/TokenTextSplitter.ts
  packages/@n8n/nodes-langchain/nodes/text_splitters/TextSplitterTokenSplitter/tests/TokenTextSplitter.test.ts
  packages/@n8n/nodes-langchain/utils/helpers.ts
  packages/@n8n/nodes-langchain/utils/tests/helpers.test.ts
  packages/@n8n/nodes-langchain/utils/tokenizer/tests/token-estimator.test.ts
  packages/@n8n/nodes-langchain/utils/tokenizer/token-estimator.ts
Labels: n8n team

#16740 fix(editor): Fix new, unsaved workflow sharing
  packages/frontend/editor-ui/src/components/DuplicateWorkflowDialog.vue
  packages/frontend/editor-ui/src/components/WorkflowShareModal.ee.test.ts
  packages/frontend/editor-ui/src/components/WorkflowShareModal.ee.vue
  packages/frontend/editor-ui/src/composables/useWorkflowSaving.ts
  packages/frontend/editor-ui/src/event-bus/node-view.ts
Labels: n8n team

#16732 fix: Filter source control credentials by project
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/components/SourceControlPushModal.ee.test.ts
  packages/frontend/editor-ui/src/components/SourceControlPushModal.ee.vue
Labels: n8n team
