Repository n8n-io/n8n, pull requests merged in 2025-10, with the labels that each got.

#20246 fix: Show Builder's Ask Admin tooltip just for owner
  packages/frontend/editor-ui/src/components/AskAssistant/Agent/AskAssistantBuild.test.ts
  packages/frontend/editor-ui/src/components/AskAssistant/Agent/AskAssistantBuild.vue
Labels: n8n team

#20248 fix: Disable Execute and Refine button if no credits remaining
  packages/frontend/editor-ui/src/components/AskAssistant/Agent/ExecuteMessage.test.ts
  packages/frontend/editor-ui/src/components/AskAssistant/Agent/ExecuteMessage.vue
Labels: n8n team

#20244 feat: Use SafePathJoin, Raw SQL queries for insertions
  packages/cli/src/commands/export/entities.ts
  packages/cli/src/services/__tests__/import.service.test.ts
  packages/cli/src/services/export.service.ts
  packages/cli/src/services/import.service.ts
Labels: core, n8n team

#20250 fix(editor): Use debug ids for sentry sourcemaps (no-changelog)
  packages/frontend/editor-ui/package.json
  packages/frontend/editor-ui/vite.config.mts
  pnpm-lock.yaml
Labels: n8n team

#20256 fix: Fix font paths in design system
  packages/frontend/@n8n/design-system/src/css/fonts/fonts.scss
Labels: n8n team

#20236 ci: Add UI coverage for e2e tests
  .github/actionlint.yaml
  .github/workflows/playwright-test-coverage.yml
  .gitignore
  packages/frontend/editor-ui/package.json
  packages/frontend/editor-ui/vite.config.mts
  packages/testing/playwright/currents.config.ts
  packages/testing/playwright/eslint.config.mjs
  packages/testing/playwright/fixtures/base.ts
  packages/testing/playwright/nyc.config.ts
  packages/testing/playwright/package.json
  packages/testing/playwright/playwright.config.ts
  packages/testing/playwright/scripts/coverage-workflow.md
  packages/testing/playwright/scripts/generate-coverage-report.js
  packages/testing/playwright/tests/ui/50-logs.spec.ts
  pnpm-lock.yaml
Labels: n8n team

#20227 fix: Don't allow moving a readonly workflow
  packages/cli/src/environments.ee/source-control/read-only-instance-checker.service.ts
  packages/cli/src/workflows/workflow.service.ts
  packages/cli/test/integration/workflows/workflow.service.test.ts
  packages/frontend/editor-ui/src/components/WorkflowCard.test.ts
  packages/frontend/editor-ui/src/components/WorkflowCard.vue
Labels: n8n team

#20257 fix(core): Do not report to Sentry successful ws close in native Python runner
  packages/@n8n/task-runner-python/src/task_runner.py
Labels: n8n team

#20273 fix(editor): Add rule to prevent undefined components (missing imports) in Vue
  packages/@n8n/eslint-config/src/configs/frontend.ts
  packages/@n8n/eslint-config/tsconfig.json
  packages/frontend/@n8n/design-system/src/components/CanvasThinkingPill/CanvasThinkingPill.test.ts
  packages/frontend/@n8n/design-system/src/components/CanvasThinkingPill/CanvasThinkingPill.vue
  packages/frontend/@n8n/design-system/src/components/CanvasThinkingPill/__snapshots__/CanvasThinkingPill.test.ts.snap
  packages/frontend/@n8n/design-system/src/components/CanvasThinkingPill/index.ts
  packages/frontend/@n8n/design-system/src/components/index.ts
  packages/frontend/editor-ui/src/components/Evaluations.ee/ListRuns/TestRunsTable.vue
  packages/frontend/editor-ui/src/components/MainSidebar.vue
  packages/frontend/editor-ui/src/components/Modals.vue
  packages/frontend/editor-ui/src/components/Node/NodeCreator/ItemTypes/OpenTemplateItem.vue
  packages/frontend/editor-ui/src/components/NodeSettings.vue
  packages/frontend/editor-ui/src/components/OutputPanel.vue
  packages/frontend/editor-ui/src/components/ParameterInputFull.vue
  packages/frontend/editor-ui/src/components/ParameterInputOverrides/FromAiOverrideButton.vue
  packages/frontend/editor-ui/src/components/PreBuiltAgentsModal.vue
  packages/frontend/editor-ui/src/components/ResourceLocator/ResourceLocator.vue
  packages/frontend/editor-ui/src/components/ResourceMapper/ResourceMapper.vue
  packages/frontend/editor-ui/src/components/WorkflowSelectorParameterInput/WorkflowSelectorParameterInput.vue
  packages/frontend/editor-ui/src/components/canvas/Canvas.vue
  packages/frontend/editor-ui/src/components/executions/ExecutionsFilter.vue
  packages/frontend/editor-ui/src/experiments/personalizedTemplatesV3/components/NodeRecommendationModal.vue
  packages/frontend/editor-ui/src/experiments/templateRecoV2/components/NodeRecommendationModal.vue
  packages/frontend/editor-ui/src/features/dataStore/components/DataStoreCard.vue
  packages/frontend/editor-ui/src/features/dataStore/components/dataGrid/AddColumnButton.vue
  packages/frontend/editor-ui/src/features/mcpAccess/SettingsMCPView.vue
  packages/frontend/editor-ui/src/views/CredentialsView.vue
  packages/frontend/editor-ui/src/views/NodeView.vue
  packages/frontend/editor-ui/src/views/TemplatesWorkflowView.vue
  packages/frontend/editor-ui/src/views/WorkflowsView.vue
Labels: n8n team

#19914 fix(core): Show error description in tools
  packages/workflow/src/errors/node-operation.error.ts
  packages/workflow/test/node-errors.test.ts
Labels: core, n8n team

#20285 chore(editor): Add falsely removed datepicker styles again
  packages/frontend/@n8n/design-system/src/css/date-picker.scss
  packages/frontend/@n8n/design-system/src/css/index.scss
Labels: n8n team, release/backport

#19979 fix(editor): Fix workflow name not resolving in node expressions preview
  packages/frontend/editor-ui/src/composables/useResolvedExpression.test.ts
  packages/frontend/editor-ui/src/composables/useResolvedExpression.ts
  packages/frontend/editor-ui/src/stores/workflows.store.test.ts
  packages/frontend/editor-ui/src/stores/workflows.store.ts
Labels: n8n team

#20188 chore(core): Restrict user properties returned based on global scope
  packages/@n8n/api-types/src/index.ts
  packages/@n8n/api-types/src/schemas/__tests__/user.schema.test.ts
  packages/@n8n/api-types/src/schemas/user.schema.ts
  packages/cli/src/controllers/users.controller.ts
  packages/cli/test/integration/users.api.test.ts
Labels: core, n8n team

#20290 refactor(core): Don't begin transactions on data table read operations
  packages/@n8n/db/src/utils/transaction.ts
  packages/cli/src/modules/data-table/data-store-column.repository.ts
  packages/cli/src/modules/data-table/data-store-rows.repository.ts
Labels: core, n8n team

#20183 refactor(editor): Extract workflow editing utils to an injectable composable
  packages/frontend/editor-ui/src/components/CommunityPlusEnrollmentModal.test.ts
  packages/frontend/editor-ui/src/components/InputPanel.test.ts
  packages/frontend/editor-ui/src/components/NodeExecuteButton.test.ts
  packages/frontend/editor-ui/src/components/WorkflowSettings.vue
  packages/frontend/editor-ui/src/composables/useCanvasOperations.test.ts
  packages/frontend/editor-ui/src/composables/useCanvasOperations.ts
  packages/frontend/editor-ui/src/composables/useExecutionDebugging.test.ts
  packages/frontend/editor-ui/src/composables/useExecutionDebugging.ts
  packages/frontend/editor-ui/src/composables/useNodeDirtiness.test.ts
  packages/frontend/editor-ui/src/composables/usePushConnection/handlers/executionFinished.test.ts
  packages/frontend/editor-ui/src/composables/usePushConnection/handlers/executionFinished.ts
  packages/frontend/editor-ui/src/composables/usePushConnection/handlers/executionRecovered.ts
  packages/frontend/editor-ui/src/composables/usePushConnection/handlers/executionStarted.ts
  packages/frontend/editor-ui/src/composables/usePushConnection/handlers/testWebhookDeleted.ts
  packages/frontend/editor-ui/src/composables/usePushConnection/handlers/testWebhookReceived.ts
  packages/frontend/editor-ui/src/composables/usePushConnection/handlers/workflowFailedToActivate.ts
  packages/frontend/editor-ui/src/composables/usePushConnection/usePushConnection.test.ts
  packages/frontend/editor-ui/src/composables/usePushConnection/usePushConnection.ts
  packages/frontend/editor-ui/src/composables/useResolvedExpression.test.ts
  packages/frontend/editor-ui/src/composables/useRunWorkflow.test.ts
  packages/frontend/editor-ui/src/composables/useRunWorkflow.ts
  packages/frontend/editor-ui/src/composables/useWorkflowHelpers.test.ts
  packages/frontend/editor-ui/src/composables/useWorkflowHelpers.ts
  packages/frontend/editor-ui/src/composables/useWorkflowSaving.ts
  packages/frontend/editor-ui/src/composables/useWorkflowState.test.ts
  packages/frontend/editor-ui/src/composables/useWorkflowState.ts
  packages/frontend/editor-ui/src/constants.ts
  packages/frontend/editor-ui/src/features/logs/components/LogsPanel.test.ts
  packages/frontend/editor-ui/src/features/logs/composables/useChatState.ts
  packages/frontend/editor-ui/src/features/logs/composables/useLogsExecutionData.test.ts
  packages/frontend/editor-ui/src/features/logs/composables/useLogsExecutionData.ts
  packages/frontend/editor-ui/src/stores/builder.store.test.ts
  packages/frontend/editor-ui/src/stores/builder.store.ts
  packages/frontend/editor-ui/src/stores/workflows.store.test.ts
  packages/frontend/editor-ui/src/stores/workflows.store.ts
  packages/frontend/editor-ui/src/views/NodeView.vue
  packages/frontend/editor-ui/src/views/SettingsLogStreamingView.vue
Labels: n8n team

#20161 test: Add testing guidelines for AI tools (no-changelog)
  packages/nodes-base/TESTING.MD
  packages/nodes-base/TESTING_PROMPT.md
  packages/nodes-base/TESTING_PROMPT_WORKFLOW.md
  packages/nodes-base/nodes/Google/Analytics/test/v2/GoogleAnalyticsV2.node.test.ts
  packages/nodes-base/nodes/Google/Analytics/test/v2/report-ga4-get.workflow.json
  packages/nodes-base/nodes/Google/Analytics/test/v2/report-universal-get.workflow.json
  packages/nodes-base/nodes/Google/Analytics/test/v2/useractivity-search.workflow.json
  packages/nodes-base/nodes/Google/Sheet/test/v2/actions/sheet/append.operation.test.ts
  packages/nodes-base/nodes/Switch/V3/test/switch.node.test.ts
Labels: node/improvement, n8n team

#20305 refactor: Update how fonts are loaded (no-changelog)
  packages/frontend/@n8n/design-system/.storybook/fonts.scss
  packages/frontend/@n8n/design-system/.storybook/main.ts
  packages/frontend/@n8n/design-system/assets/.nojekyll
  packages/frontend/@n8n/design-system/assets/fonts/CommitMonoVariable.woff2
  packages/frontend/@n8n/design-system/assets/fonts/InterVariable-Italic.woff2
  packages/frontend/@n8n/design-system/assets/fonts/InterVariable.woff2
  packages/frontend/@n8n/design-system/assets/fonts/element-icons.ttf
  packages/frontend/@n8n/design-system/assets/fonts/element-icons.woff
  packages/frontend/@n8n/design-system/assets/images/storybook-logo-dark.png
  packages/frontend/@n8n/design-system/assets/images/storybook-logo-light.png
  packages/frontend/@n8n/design-system/src/css/common/var.scss
  packages/frontend/@n8n/design-system/src/css/fonts.scss
  packages/frontend/@n8n/design-system/src/css/index.scss
Labels: n8n team

#20292 fix(editor): Frontend housekeeping
  packages/frontend/editor-ui/src/__tests__/render.ts
  packages/frontend/editor-ui/src/plugins/components.ts
  packages/frontend/editor-ui/src/plugins/directives.ts
Labels: n8n team

#20221 fix: Add missing `test` and `authenticate` to OpenWeatherMap, Azure Storage and Netlify credentials
  packages/nodes-base/credentials/AzureStorageSharedKeyApi.credentials.ts
  packages/nodes-base/credentials/NetlifyApi.credentials.ts
  packages/nodes-base/credentials/OpenWeatherMapApi.credentials.ts
Labels: node/improvement, n8n team

#20310 fix(editor): Fix `ctrl+s` shortcut when renaming node
  packages/frontend/editor-ui/src/views/NodeView.vue
Labels: n8n team

#20309 fix(core): Fix paired item data retrieval in loops with IF nodes
  packages/core/src/execution-engine/__tests__/workflow-execute-process-process-run-execution-data.test.ts
  packages/core/src/execution-engine/workflow-execute.ts
Labels: release/backport

#20167 feat(core): Add dry run to Data Table update rows (no-changelog)
  packages/@n8n/api-types/src/dto/data-store/update-data-store-row.dto.ts
  packages/@n8n/api-types/src/dto/data-store/upsert-data-store-row.dto.ts
  packages/cli/src/modules/data-table/__tests__/data-store-filters.integration.test.ts
  packages/cli/src/modules/data-table/__tests__/data-store-proxy.service.integration.test.ts
  packages/cli/src/modules/data-table/__tests__/data-store-size.integration.test.ts
  packages/cli/src/modules/data-table/__tests__/data-store.service.integration.test.ts
  packages/cli/src/modules/data-table/data-store-column.repository.ts
  packages/cli/src/modules/data-table/data-store-proxy.service.ts
  packages/cli/src/modules/data-table/data-store-rows.repository.ts
  packages/cli/src/modules/data-table/data-store.controller.ts
  packages/cli/src/modules/data-table/data-store.service.ts
  packages/cli/src/modules/data-table/errors/data-store-system-column-name-conflict.error.ts
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/features/dataStore/components/dataGrid/AddColumnButton.vue
  packages/nodes-base/nodes/DataTable/actions/row/delete.operation.ts
  packages/nodes-base/nodes/DataTable/actions/row/update.operation.ts
  packages/nodes-base/nodes/DataTable/actions/row/upsert.operation.ts
  packages/nodes-base/nodes/DataTable/common/fields.ts
  packages/nodes-base/nodes/DataTable/common/utils.ts
  packages/nodes-base/nodes/Evaluation/test/Evaluation.node.test.ts
  packages/nodes-base/nodes/Evaluation/test/evaluationUtils.test.ts
  packages/nodes-base/nodes/Evaluation/utils/evaluationUtils.ts
  packages/workflow/src/data-store.types.ts
Labels: node/improvement, core, n8n team

#20306 refactor(editor): Move setWorkflowName and usages to workflowState composable
  packages/frontend/editor-ui/src/composables/useCanvasOperations.test.ts
  packages/frontend/editor-ui/src/composables/useCanvasOperations.ts
  packages/frontend/editor-ui/src/composables/useRunWorkflow.test.ts
  packages/frontend/editor-ui/src/composables/useWorkflowState.ts
  packages/frontend/editor-ui/src/stores/workflows.store.ts
  packages/frontend/editor-ui/src/views/NodeView.vue
Labels: n8n team

#20295 feat(editor): T2W loading state improvements (no-changelog)
  cypress/e2e/group5/45-ai-assistant.cy.ts
  cypress/pages/features/ai-assistant.ts
  packages/@n8n/ai-workflow-builder.ee/src/workflow-builder-agent.ts
  packages/frontend/@n8n/design-system/src/components/AskAssistantChat/AskAssistantChat.stories.ts
  packages/frontend/@n8n/design-system/src/components/AskAssistantChat/AskAssistantChat.vue
  packages/frontend/@n8n/design-system/src/components/AskAssistantChat/__snapshots__/AskAssistantChat.test.ts.snap
  packages/frontend/@n8n/design-system/src/components/AskAssistantChat/messages/BaseMessage.vue
  packages/frontend/@n8n/design-system/src/components/AskAssistantChat/messages/MessageRating.test.ts
  packages/frontend/@n8n/design-system/src/components/AskAssistantChat/messages/MessageRating.vue
  packages/frontend/@n8n/design-system/src/components/AskAssistantChat/messages/MessageWrapper.vue
  packages/frontend/@n8n/design-system/src/components/AskAssistantChat/messages/TextMessage.vue
  packages/frontend/@n8n/design-system/src/components/AskAssistantChat/messages/ToolMessage.vue
  packages/frontend/@n8n/design-system/src/components/AskAssistantLoadingMessage/AssistantLoadingMessage.vue
  packages/frontend/@n8n/design-system/src/components/AskAssistantLoadingMessage/__snapshots__/AskAssistantLoadingMessage.test.ts.snap
  packages/frontend/@n8n/design-system/src/components/N8nPromptInput/N8nPromptInput.test.ts
  packages/frontend/@n8n/design-system/src/components/N8nPromptInput/N8nPromptInput.vue
  packages/frontend/@n8n/design-system/src/locale/lang/en.ts
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/components/AskAssistant/Agent/AskAssistantBuild.test.ts
  packages/frontend/editor-ui/src/components/AskAssistant/Agent/AskAssistantBuild.vue
  packages/frontend/editor-ui/src/composables/useBuilderMessages.test.ts
  packages/frontend/editor-ui/src/composables/useBuilderMessages.ts
  packages/frontend/editor-ui/src/stores/builder.store.test.ts
  packages/frontend/editor-ui/src/stores/builder.store.ts
Labels: n8n team

#20058 feat(core): Add projectId foreign key to the variable table
  packages/@n8n/db/src/entities/variables.ts
  packages/@n8n/db/src/migrations/dsl/index.ts
  packages/@n8n/db/src/migrations/dsl/table.ts
  packages/@n8n/db/src/migrations/mysqldb/1758794506893-AddProjectIdToVariableTable.ts
  packages/@n8n/db/src/migrations/mysqldb/index.ts
  packages/@n8n/db/src/migrations/postgresdb/1758794506893-AddProjectIdToVariableTable.ts
  packages/@n8n/db/src/migrations/postgresdb/index.ts
  packages/@n8n/db/src/migrations/sqlite/1758794506893-AddProjectIdToVariableTable.ts
  packages/@n8n/db/src/migrations/sqlite/index.ts
  packages/cli/src/environments.ee/variables/__tests__/variables.integration.test.ts
Labels: core, n8n team

#20255 ci: Run evals on changes
  .github/workflows/ci-evals.yml
  packages/cli/src/commands/export/nodes.ts
Labels: n8n team

#20187 feat(core): Update variables API to reflect project variables
  packages/@n8n/api-types/src/dto/index.ts
  packages/@n8n/api-types/src/dto/variables/__tests__/base.dto.test.ts
  packages/@n8n/api-types/src/dto/variables/__tests__/create-variable-request.dto.test.ts
  packages/@n8n/api-types/src/dto/variables/__tests__/variables-list-request.dto.test.ts
  packages/@n8n/api-types/src/dto/variables/base.dto.ts
  packages/@n8n/api-types/src/dto/variables/create-variable-request.dto.ts
  packages/@n8n/api-types/src/dto/variables/variables-list-request.dto.ts
  packages/@n8n/permissions/src/__tests__/__snapshots__/scope-information.test.ts.snap
  packages/@n8n/permissions/src/constants.ee.ts
  packages/@n8n/permissions/src/roles/scopes/global-scopes.ee.ts
  packages/@n8n/permissions/src/roles/scopes/project-scopes.ee.ts
  packages/@n8n/permissions/src/utilities/__tests__/get-resource-permissions.test.ts
  packages/cli/src/environments.ee/source-control/source-control-status.service.ee.ts
  packages/cli/src/environments.ee/variables/__tests__/variables.service.integration.test.ts
  packages/cli/src/environments.ee/variables/variables.controller.ee.ts
  packages/cli/src/environments.ee/variables/variables.service.ee.ts
  packages/cli/src/public-api/v1/handlers/variables/variables.handler.ts
  packages/cli/src/services/project.service.ee.ts
  packages/cli/test/integration/shared/db/variables.ts
  packages/cli/test/integration/variables.test.ts
  packages/frontend/editor-ui/src/stores/rbac.store.ts
Labels: core, n8n team

#20341 test: Fix flaky workflow-data-proxy-env-provider test
  packages/workflow/test/workflow-data-proxy-env-provider.test.ts
Labels: team:cats

#20022 fix: Update links
  .github/ISSUE_TEMPLATE/01-bug.yml
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  cypress/fixtures/Ecommerce_starter_pack_template_collection.json
  cypress/fixtures/Test_Template_1.json
  packages/@n8n/node-cli/src/template/templates/declarative/custom/template/README.md
  packages/@n8n/node-cli/src/template/templates/declarative/github-issues/template/README.md
  packages/@n8n/node-cli/src/template/templates/programmatic/example/template/README.md
  packages/@n8n/utils/src/search/snapshots/toplevel.snapshot.json
  packages/cli/src/security-audit/constants.ts
  packages/cli/test/integration/security-audit/utils.ts
  packages/nodes-base/nodes/EmailSend/EmailSend.node.json
  packages/nodes-base/nodes/Facebook/FacebookTrigger.node.json
  packages/nodes-base/nodes/FacebookLeadAds/FacebookLeadAdsTrigger.node.json
  packages/nodes-base/nodes/WhatsApp/WhatsAppTrigger.node.json
  packages/testing/playwright/tests/cli-workflows/workflows/91.json
Labels: node/improvement, core, n8n team

#20223 feat: Add handling of MCP server API keys (no-changelog)
  packages/@n8n/api-types/src/api-keys.ts
  packages/@n8n/db/src/entities/api-key.ts
  packages/@n8n/db/src/migrations/common/1758731786132-AddAudienceColumnToApiKey.ts
  packages/@n8n/db/src/migrations/mysqldb/index.ts
  packages/@n8n/db/src/migrations/postgresdb/index.ts
  packages/@n8n/db/src/migrations/sqlite/index.ts
  packages/@n8n/permissions/src/__tests__/__snapshots__/scope-information.test.ts.snap
  packages/@n8n/permissions/src/constants.ee.ts
  packages/@n8n/permissions/src/roles/scopes/global-scopes.ee.ts
  packages/@n8n/permissions/src/utilities/__tests__/get-resource-permissions.test.ts
  packages/cli/src/auth/__tests__/auth-service-browser-id-whitelist.test.ts
  packages/cli/src/auth/__tests__/auth.service.test.ts
  packages/cli/src/auth/auth.service.ts
  packages/cli/src/controller.registry.ts
  packages/cli/src/modules/mcp/__tests__/mcp-server-api-key.service.test.ts
  packages/cli/src/modules/mcp/__tests__/mcp.controller.test.ts
  packages/cli/src/modules/mcp/__tests__/mcp.settings.controller.api.test.ts
  packages/cli/src/modules/mcp/__tests__/mcp.settings.controller.test.ts
  packages/cli/src/modules/mcp/__tests__/mcp.settings.service.test.ts
  packages/cli/src/modules/mcp/mcp-api-key.service.ts
  packages/cli/src/modules/mcp/mcp.controller.ts
  packages/cli/src/modules/mcp/mcp.settings.controller.ts
  packages/cli/src/modules/mcp/mcp.settings.service.ts
  packages/cli/src/services/public-api-key.service.ts
  packages/cli/test/integration/api-keys.api.test.ts
  packages/cli/test/integration/shared/types.ts
  packages/cli/test/integration/shared/utils/test-server.ts
  packages/frontend/editor-ui/src/stores/rbac.store.ts
  packages/workflow/src/interfaces.ts
Labels: core, n8n team

#20355 refactor(editor): Add usage state schema and refactor `usage` APIs (no-changelog)
  packages/@n8n/api-types/src/index.ts
  packages/@n8n/api-types/src/schemas/usage.schema.ts
  packages/frontend/@n8n/rest-api-client/src/api/index.ts
  packages/frontend/@n8n/rest-api-client/src/api/usage.ts
  packages/frontend/editor-ui/src/Interface.ts
  packages/frontend/editor-ui/src/stores/usage.store.ts
  packages/frontend/editor-ui/src/views/WorkflowsView.test.ts
Labels: n8n team

#20353 feat(editor): Implement part 2 of ready to run v2 (no-changelog)
  packages/frontend/editor-ui/src/constants.ts
  packages/frontend/editor-ui/src/experiments/readyToRunWorkflowsV2/components/SimplifiedEmptyLayout.vue
  packages/frontend/editor-ui/src/experiments/readyToRunWorkflowsV2/stores/readyToRunWorkflowsV2.store.ts
  packages/frontend/editor-ui/src/experiments/readyToRunWorkflowsV2/workflows/ai-workflow-v3.ts
  packages/frontend/editor-ui/src/experiments/readyToRunWorkflowsV2/workflows/ai-workflow-v4.ts
  packages/frontend/editor-ui/src/init.test.ts
  packages/frontend/editor-ui/src/init.ts
  packages/testing/playwright/tests/ui/27-cloud.spec.ts
Labels: n8n team, release/backport

#17606 fix(Discord Node): Fix parseDiscordError to properly display Discord API errors
  packages/nodes-base/nodes/Discord/test/v2/utils.test.ts
  packages/nodes-base/nodes/Discord/v2/helpers/utils.ts
Labels: node/improvement, community, in linear

#17306 chore(Mattermost Node): Adjust name and description of Create Post "Make Comment" parameter
  packages/nodes-base/nodes/Mattermost/v1/actions/message/post/description.ts
Labels: node/improvement, community, in linear

#15432 fix(S3 Node): Consider LocationConstraint from GetBucketLocation optional due to many non-compliant S3 implementations
  packages/nodes-base/nodes/S3/S3.node.ts
Labels: node/improvement, community, in linear

#20363 test: Migrate workflow executions tests from cypress to playwright
  cypress/e2e/group1/20-workflow-executions.cy.ts
  packages/testing/playwright/composables/ExecutionsComposer.ts
  packages/testing/playwright/fixtures/execution-out-of-memory-server-response.json
  packages/testing/playwright/pages/CanvasPage.ts
  packages/testing/playwright/pages/ExecutionsPage.ts
  packages/testing/playwright/pages/n8nPage.ts
  packages/testing/playwright/tests/ui/20-workflow-executions.spec.ts
  packages/testing/playwright/workflows/Test_workflow_4_executions_view.json
Labels: n8n team, team:cats

#20235 fix: Allow creation of vector search indexes in MongoDB node
  packages/nodes-base/nodes/MongoDb/MongoDb.node.ts
  packages/nodes-base/nodes/MongoDb/test/MongoDB.test.ts
Labels: node/improvement, community, in linear

#20045 fix(Grist Node): Allow filtering for numbers <= 0
  packages/nodes-base/nodes/Grist/GenericFunctions.ts
Labels: node/improvement, community, in linear

#16951 feat(Github Node): Introduce get issues operation on user resource
  packages/nodes-base/nodes/Github/Github.node.ts
  packages/nodes-base/nodes/Github/__tests__/node/Github.node.test.ts
Labels: node/improvement, community, in linear

#20364 refactor(editor): Extract `evaluation` code into feature (no-changelog)
  packages/frontend/editor-ui/src/components/Evaluations.ee/shared/statusDictionary.ts
  packages/frontend/editor-ui/src/components/Node/NodeCreator/composables/useActionsGeneration.ts
  packages/frontend/editor-ui/src/components/Node/NodeCreator/viewsData.ts
  packages/frontend/editor-ui/src/components/WorkflowProductionChecklist.test.ts
  packages/frontend/editor-ui/src/components/WorkflowProductionChecklist.vue
  packages/frontend/editor-ui/src/features/evaluation.ee/components/ListRuns/MetricsChart.vue
  packages/frontend/editor-ui/src/features/evaluation.ee/components/ListRuns/RunsSection.vue
  packages/frontend/editor-ui/src/features/evaluation.ee/components/ListRuns/TestRunsTable.vue
  packages/frontend/editor-ui/src/features/evaluation.ee/components/Paywall/EvaluationsPaywall.vue
  packages/frontend/editor-ui/src/features/evaluation.ee/components/SetupWizard/SetupWizard.vue
  packages/frontend/editor-ui/src/features/evaluation.ee/components/shared/StepHeader.vue
  packages/frontend/editor-ui/src/features/evaluation.ee/components/shared/StepIndicator.vue
  packages/frontend/editor-ui/src/features/evaluation.ee/components/shared/TableCell.vue
  packages/frontend/editor-ui/src/features/evaluation.ee/components/shared/TableStatusCell.vue
  packages/frontend/editor-ui/src/features/evaluation.ee/components/shared/TestTableBase.vue
  packages/frontend/editor-ui/src/features/evaluation.ee/composables/useMetricsChart.test.ts
  packages/frontend/editor-ui/src/features/evaluation.ee/composables/useMetricsChart.ts
  packages/frontend/editor-ui/src/features/evaluation.ee/evaluation.api.ts
  packages/frontend/editor-ui/src/features/evaluation.ee/evaluation.constants.ts
  packages/frontend/editor-ui/src/features/evaluation.ee/evaluation.store.test.ts
  packages/frontend/editor-ui/src/features/evaluation.ee/evaluation.store.ts
  packages/frontend/editor-ui/src/features/evaluation.ee/evaluation.types.ts
  packages/frontend/editor-ui/src/features/evaluation.ee/evaluation.utils.test.ts
  packages/frontend/editor-ui/src/features/evaluation.ee/evaluation.utils.ts
  packages/frontend/editor-ui/src/features/evaluation.ee/views/EvaluationsRootView.test.ts
  packages/frontend/editor-ui/src/features/evaluation.ee/views/EvaluationsRootView.vue
  packages/frontend/editor-ui/src/features/evaluation.ee/views/EvaluationsView.test.ts
  packages/frontend/editor-ui/src/features/evaluation.ee/views/EvaluationsView.vue
  packages/frontend/editor-ui/src/features/evaluation.ee/views/TestRunDetailView.test.ts
  packages/frontend/editor-ui/src/features/evaluation.ee/views/TestRunDetailView.vue
  packages/frontend/editor-ui/src/router.ts
Labels: n8n team

#20261 refactor(editor): Consolidate AI logs view
  packages/frontend/editor-ui/src/Interface.ts
  packages/frontend/editor-ui/src/components/RunDataAi/RunDataAi.test.ts
  packages/frontend/editor-ui/src/components/RunDataAi/RunDataAi.vue
  packages/frontend/editor-ui/src/components/RunDataAi/RunDataAiContent.vue
  packages/frontend/editor-ui/src/components/RunDataAi/utils.test.ts
  packages/frontend/editor-ui/src/components/RunDataAi/utils.ts
  packages/frontend/editor-ui/src/features/logs/__test__/data.ts
  packages/frontend/editor-ui/src/features/logs/__test__/mocks.ts
  packages/frontend/editor-ui/src/features/logs/components/LogsOverviewPanel.vue
  packages/frontend/editor-ui/src/features/logs/components/LogsOverviewRow.vue
  packages/frontend/editor-ui/src/features/logs/components/LogsOverviewRows.vue
  packages/frontend/editor-ui/src/features/logs/components/LogsPanel.vue
  packages/frontend/editor-ui/src/features/logs/composables/useLogsExecutionData.test.ts
  packages/frontend/editor-ui/src/features/logs/composables/useLogsExecutionData.ts
  packages/frontend/editor-ui/src/features/logs/logs.types.ts
  packages/frontend/editor-ui/src/features/logs/logs.utils.test.ts
  packages/frontend/editor-ui/src/features/logs/logs.utils.ts
Labels: n8n team

#20436 fix(editor): Fix type error in `RunDataAi.test.ts` (no-changelog)
  packages/frontend/editor-ui/src/components/RunDataAi/RunDataAi.test.ts
Labels: n8n team

#20443 fix(core): Do not report transient `WebsocketConnectionError` to Sentry in native Python runner (no-changelog)
  packages/@n8n/task-runner-python/src/constants.py
Labels: n8n team

#20441 fix(core): Remove logs skipping flag from native Python runner
  packages/@n8n/task-runner-python/src/message_serde.py
  packages/@n8n/task-runner-python/src/message_types/broker.py
  packages/@n8n/task-runner-python/src/task_executor.py
  packages/@n8n/task-runner-python/src/task_runner.py
  packages/@n8n/task-runner-python/tests/integration/conftest.py
  packages/@n8n/task-runner-python/tests/integration/test_rpc.py
  packages/nodes-base/nodes/Code/PythonTaskRunnerSandbox.ts
Labels: node/improvement, n8n team

#20421 chore(core): Build in project roles descriptions update
  packages/@n8n/permissions/src/roles/all-roles.ts
Labels: n8n team

#20408 refactor(editor): Extract `sso` code into features (no-changelog)
  packages/frontend/editor-ui/src/features/sso/components/SSOLogin.test.ts
  packages/frontend/editor-ui/src/features/sso/components/SSOLogin.vue
  packages/frontend/editor-ui/src/features/sso/sso.store.ts
  packages/frontend/editor-ui/src/features/sso/sso.test.ts
  packages/frontend/editor-ui/src/features/sso/views/SettingsLdapView.vue
  packages/frontend/editor-ui/src/features/sso/views/SettingsSso.test.ts
  packages/frontend/editor-ui/src/features/sso/views/SettingsSso.vue
  packages/frontend/editor-ui/src/init.test.ts
  packages/frontend/editor-ui/src/init.ts
  packages/frontend/editor-ui/src/router.ts
  packages/frontend/editor-ui/src/views/AuthView.vue
  packages/frontend/editor-ui/src/views/SettingsPersonalView.test.ts
  packages/frontend/editor-ui/src/views/SettingsPersonalView.vue
  packages/frontend/editor-ui/src/views/SettingsUsersView.test.ts
  packages/frontend/editor-ui/src/views/SettingsUsersView.vue
  packages/frontend/editor-ui/src/views/SigninView.vue
Labels: n8n team

#20449 feat(editor): Use auto-generated mcp keys in settings page (no-changelog)
  packages/cli/src/modules/mcp/mcp.controller.ts
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/features/mcpAccess/SettingsMCPView.vue
  packages/frontend/editor-ui/src/features/mcpAccess/components/ConnectionParameter.vue
  packages/frontend/editor-ui/src/features/mcpAccess/components/MCPConnectionInstructions.vue
  packages/frontend/editor-ui/src/features/mcpAccess/mcp.api.ts
  packages/frontend/editor-ui/src/features/mcpAccess/mcp.constants.ts
  packages/frontend/editor-ui/src/features/mcpAccess/mcp.store.ts
  packages/frontend/editor-ui/src/stores/ui.store.ts
Labels: core, n8n team

#20438 fix(core): Prevent re-imported scheduled workflow to execute twice
  packages/cli/src/services/__tests__/import.service.test.ts
  packages/cli/src/services/import.service.ts
  packages/cli/test/integration/commands/import.cmd.test.ts
  packages/cli/test/integration/import.service.test.ts
Labels: core, n8n team

#20401 feat(core): Add new 'chat-hub' module (no-changelog)
  packages/@n8n/backend-common/src/modules/__tests__/module-registry.test.ts
  packages/@n8n/backend-common/src/modules/modules.config.ts
  packages/@n8n/config/src/configs/logging.config.ts
  packages/@n8n/permissions/src/__tests__/__snapshots__/scope-information.test.ts.snap
  packages/@n8n/permissions/src/constants.ee.ts
  packages/@n8n/permissions/src/roles/scopes/global-scopes.ee.ts
  packages/@n8n/permissions/src/utilities/__tests__/get-resource-permissions.test.ts
  packages/cli/src/modules/chat-hub/chat-hub.controller.ts
  packages/cli/src/modules/chat-hub/chat-hub.module.ts
  packages/cli/src/modules/chat-hub/chat-hub.service.ts
  packages/cli/src/modules/chat-hub/chat-hub.settings.controller.ts
  packages/cli/src/modules/chat-hub/chat-hub.settings.service.ts
  packages/cli/src/modules/chat-hub/chat-hub.types.ts
  packages/cli/src/modules/chat-hub/dto/chat-message-request.dto.ts
  packages/cli/src/modules/chat-hub/dto/update-chat-settings.dto.ts
  packages/frontend/editor-ui/src/stores/rbac.store.ts
Labels: core, n8n team

#20437 fix(Data Table Node): Date handling (no-changelog)
  packages/cli/src/modules/data-table/__tests__/data-table-filters.integration.test.ts
  packages/nodes-base/nodes/DataTable/common/selectMany.ts
  packages/nodes-base/nodes/DataTable/common/utils.ts
  packages/nodes-base/nodes/DataTable/test/common/utils.test.ts
Labels: node/improvement, core, n8n team

#20439 feat: Add remove_connection tool to workflow builder (no-changelog)
  packages/@n8n/ai-workflow-builder.ee/src/tools/builder-tools.ts
  packages/@n8n/ai-workflow-builder.ee/src/tools/helpers/state.ts
  packages/@n8n/ai-workflow-builder.ee/src/tools/remove-connection.tool.ts
  packages/@n8n/ai-workflow-builder.ee/src/tools/test/builder-tools.test.ts
  packages/@n8n/ai-workflow-builder.ee/src/tools/test/remove-connection.tool.test.ts
  packages/@n8n/ai-workflow-builder.ee/src/types/tools.ts
  packages/@n8n/ai-workflow-builder.ee/src/types/workflow.ts
  packages/@n8n/ai-workflow-builder.ee/src/utils/operations-processor.ts
  packages/@n8n/ai-workflow-builder.ee/src/utils/test/operations-processor.test.ts
Labels: n8n team

#20414 feat(editor): Allow MCP access only for webhook triggered workflows (no-changelog)
  packages/cli/src/modules/mcp/__tests__/mcp.settings.controller.test.ts
  packages/cli/src/modules/mcp/__tests__/mock.utils.ts
  packages/cli/src/modules/mcp/__tests__/search-workflows.tool.test.ts
  packages/cli/src/modules/mcp/__tests__/webhook-utils.test.ts
  packages/cli/src/modules/mcp/dto/update-workflow-availability.dto.ts
  packages/cli/src/modules/mcp/mcp.settings.controller.ts
  packages/cli/src/modules/mcp/tools/get-workflow-details.tool.ts
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/components/WorkflowCard.vue
  packages/frontend/editor-ui/src/components/WorkflowSettings.vue
  packages/frontend/editor-ui/src/features/mcpAccess/mcp.api.ts
  packages/frontend/editor-ui/src/features/mcpAccess/mcp.store.ts
Labels: core, n8n team

#20230 fix(core): Fix N8N_ENCRYPTION_KEY_FILE environment variable not working
  packages/@n8n/config/src/configs/instance-settings-config.ts
  packages/core/src/instance-settings/__tests__/instance-settings.test.ts
  packages/core/src/instance-settings/instance-settings.ts
Labels: core, community, in linear

#20471 test: Migrate workflow-actions spec from Cypress to Playwright
  cypress/e2e/group1/19-execution.cy.ts
  cypress/e2e/group1/39-projects.cy.ts
  cypress/e2e/group1/7-workflow-actions.cy.ts
  cypress/e2e/group4/41-editors.cy.ts
  packages/testing/playwright/composables/CanvasComposer.ts
  packages/testing/playwright/composables/WorkflowComposer.ts
  packages/testing/playwright/pages/CanvasPage.ts
  packages/testing/playwright/pages/WorkflowSettingsModal.ts
  packages/testing/playwright/tests/ui/11-inline-expression-editor.spec.ts
  packages/testing/playwright/tests/ui/7-workflow-actions.spec.ts
  packages/testing/playwright/workflows/Test_workflow-actions_import_nodes_empty_name.json
Labels: n8n team

#20430 chore: Add eslint rule to prevent imports to enterprise code
  packages/@n8n/eslint-config/src/rules/index.ts
  packages/@n8n/eslint-config/src/rules/no-import-enterprise-edition.test.ts
  packages/@n8n/eslint-config/src/rules/no-import-enterprise-edition.ts
  packages/cli/eslint.config.mjs
Labels: core, n8n team

#20500 fix(core): Tighten Sentry error filtering in native Python runner
  packages/@n8n/task-runner-python/src/config/health_check_config.py
  packages/@n8n/task-runner-python/src/config/task_runner_config.py
  packages/@n8n/task-runner-python/src/constants.py
  packages/@n8n/task-runner-python/src/errors/__init__.py
  packages/@n8n/task-runner-python/src/errors/configuration_error.py
  packages/@n8n/task-runner-python/src/main.py
  packages/@n8n/task-runner-python/src/sentry.py
  packages/@n8n/task-runner-python/tests/unit/test_sentry.py
Labels: n8n team

#20479 feat(editor): Improve community node tracking
  packages/frontend/editor-ui/src/components/CommunityPackageCard.vue
  packages/frontend/editor-ui/src/components/Node/NodeCreator/Panel/CommunityNodeInfo.vue
  packages/frontend/editor-ui/src/components/Node/NodeCreator/Panel/CommunityNodeUpdateInfo.vue
  packages/frontend/editor-ui/src/components/NodeSettings.vue
  packages/frontend/editor-ui/src/stores/nodeCreator.store.test.ts
  packages/frontend/editor-ui/src/stores/nodeCreator.store.ts
  packages/frontend/editor-ui/src/stores/ui.store.ts
Labels: n8n team

#20507 fix(Supabase Node): Fix issue with execute function was called with incorrect parameters when accessing schema if set by expression
  packages/nodes-base/nodes/Supabase/GenericFunctions.ts
  packages/nodes-base/nodes/Supabase/Supabase.node.ts
  packages/nodes-base/nodes/Supabase/tests/Supabase.node.test.ts
Labels: n8n team, node/issue

#20416 feat: Define node's waiting message in the node's description
  packages/frontend/editor-ui/src/components/InputPanel.vue
  packages/frontend/editor-ui/src/components/OutputPanel.vue
  packages/frontend/editor-ui/src/features/logs/components/LogsViewRunData.vue
  packages/frontend/editor-ui/src/utils/executionUtils.test.ts
  packages/frontend/editor-ui/src/utils/executionUtils.ts
  packages/nodes-base/nodes/Discord/v2/actions/versionDescription.ts
  packages/nodes-base/nodes/EmailSend/v2/EmailSendV2.node.ts
  packages/nodes-base/nodes/Form/Form.node.ts
  packages/nodes-base/nodes/Github/Github.node.ts
  packages/nodes-base/nodes/Google/Chat/GoogleChat.node.ts
  packages/nodes-base/nodes/Google/Gmail/v2/GmailV2.node.ts
  packages/nodes-base/nodes/Microsoft/Outlook/v2/actions/node.description.ts
  packages/nodes-base/nodes/Microsoft/Teams/v2/actions/versionDescription.ts
  packages/nodes-base/nodes/Slack/V2/SlackV2.node.ts
  packages/nodes-base/nodes/Telegram/Telegram.node.ts
  packages/nodes-base/nodes/Wait/Wait.node.ts
  packages/nodes-base/nodes/WhatsApp/WhatsApp.node.ts
  packages/nodes-base/utils/sendAndWait/utils.ts
  packages/workflow/src/interfaces.ts
Labels: node/improvement, ui, n8n team

#20184 feat: Add support for displayOptions in INodePropertyOptions
  packages/frontend/editor-ui/src/components/ParameterInput.test.ts
  packages/frontend/editor-ui/src/components/ParameterInput.vue
  packages/frontend/editor-ui/src/utils/nodes/nodeTransforms.test.ts
  packages/frontend/editor-ui/src/utils/nodes/nodeTransforms.ts
  packages/workflow/src/interfaces.ts
  packages/workflow/src/node-helpers.ts
Labels: core, ui, n8n team

#20432 refactor(editor): Refactor useThrottle
  packages/frontend/@n8n/composables/src/useThrottleWithReactiveDelay.test.ts
  packages/frontend/@n8n/composables/src/useThrottleWithReactiveDelay.ts
  packages/frontend/editor-ui/src/features/logs/composables/useLogsExecutionData.ts
Labels: n8n team

#20269 feat(editor): Allow expressions to autocomplete project variables
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/components/VirtualSchema.vue
  packages/frontend/editor-ui/src/features/editors/plugins/codemirror/completions/constants.ts
  packages/frontend/editor-ui/src/features/editors/plugins/codemirror/completions/datatype.completions.ts
  packages/frontend/editor-ui/src/features/editors/plugins/codemirror/n8nLang.ts
  packages/frontend/editor-ui/src/features/editors/plugins/codemirror/typescript/client/useTypescript.ts
  packages/frontend/editor-ui/src/features/environments.ee/completions/variables.completions.test.ts
  packages/frontend/editor-ui/src/features/environments.ee/completions/variables.completions.ts
  packages/frontend/editor-ui/src/features/environments.ee/environments.store.ts
  packages/frontend/editor-ui/src/features/environments.ee/environments.test.ts
  packages/frontend/editor-ui/src/features/environments.ee/environments.types.ts
  packages/frontend/editor-ui/src/styles/plugins/_codemirror.scss
Labels: core, n8n team

#20224 fix(editor): Input/output panel in log view shows "N of N item(s)" when nothing matched
  packages/frontend/editor-ui/src/components/RunDataItemCount.vue
  packages/frontend/editor-ui/src/features/logs/components/LogsViewRunData.test.ts
  packages/frontend/editor-ui/src/features/logs/components/LogsViewRunData.vue
Labels: n8n team

#20485 feat(core): Telemetry for data tables storage limit reached
  packages/cli/src/modules/data-table/__tests__/data-table-size-validator.service.test.ts
  packages/cli/src/modules/data-table/__tests__/data-table-size.integration.test.ts
  packages/cli/src/modules/data-table/data-table-size-validator.service.ts
Labels: core, n8n team

#20498 fix(core): Make sure scopes are deleted after rename
  packages/@n8n/db/src/services/auth.roles.service.ts
  packages/cli/src/services/__tests__/auth.roles.service.test.ts
Labels: core, n8n team
