Repository n8n-io/n8n, pull requests merged in 2025-07, with the labels that each got.

#16489 feat(editor): Log view improvements
  cypress/e2e/50-logs.cy.ts
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/components/RunData.vue
  packages/frontend/editor-ui/src/components/RunDataParsedAiContent.vue
  packages/frontend/editor-ui/src/composables/useKeybindings.ts
  packages/frontend/editor-ui/src/constants.ts
  packages/frontend/editor-ui/src/features/logs/__test__/data.ts
  packages/frontend/editor-ui/src/features/logs/__test__/mocks.ts
  packages/frontend/editor-ui/src/features/logs/components/ChatMessagesPanel.vue
  packages/frontend/editor-ui/src/features/logs/components/LogsOverviewPanel.test.ts
  packages/frontend/editor-ui/src/features/logs/components/LogsOverviewPanel.vue
  packages/frontend/editor-ui/src/features/logs/components/LogsOverviewRow.vue
  packages/frontend/editor-ui/src/features/logs/components/LogsPanel.test.ts
  packages/frontend/editor-ui/src/features/logs/components/LogsPanel.vue
  packages/frontend/editor-ui/src/features/logs/components/LogsViewKeyboardEventListener.vue
  packages/frontend/editor-ui/src/features/logs/components/LogsViewRunData.vue
  packages/frontend/editor-ui/src/features/logs/composables/useLogsSelection.ts
  packages/frontend/editor-ui/src/features/logs/composables/useLogsTreeExpand.ts
  packages/frontend/editor-ui/src/features/logs/logs.types.ts
  packages/frontend/editor-ui/src/features/logs/logs.utils.test.ts
  packages/frontend/editor-ui/src/features/logs/logs.utils.ts
  packages/frontend/editor-ui/src/stores/logs.store.ts
  packages/frontend/editor-ui/src/utils/htmlUtils.ts
Labels: n8n team

#16843 refactor(core): Lint to enforce lazyloading in modules
  packages/@n8n/backend-common/src/modules/module-registry.ts
  packages/@n8n/decorators/src/module/module.ts
  packages/@n8n/eslint-config/src/rules/index.ts
  packages/@n8n/eslint-config/src/rules/no-constructor-in-backend-module.test.ts
  packages/@n8n/eslint-config/src/rules/no-constructor-in-backend-module.ts
  packages/@n8n/eslint-config/src/rules/no-top-level-relative-imports-in-backend-module.test.ts
  packages/@n8n/eslint-config/src/rules/no-top-level-relative-imports-in-backend-module.ts
  packages/cli/eslint.config.mjs
  packages/cli/src/modules/insights/insights.module.ts
Labels: core, n8n team

#16866 fix(editor): Increase icon sizes in parameters (no-changelog)
  packages/frontend/editor-ui/src/components/AssignmentCollection/Assignment.vue
  packages/frontend/editor-ui/src/components/FilterConditions/Condition.vue
  packages/frontend/editor-ui/src/components/FixedCollectionParameter.vue
Labels: n8n team

#16871 chore(core): Add inviteAcceptUrl to users list schema
  packages/@n8n/api-types/src/schemas/user.schema.ts
  packages/cli/test/integration/users.api.test.ts
Labels: core, n8n team

#16877 chore: Lintfix `nodes-base`
  packages/nodes-base/nodes/ActionNetwork/GenericFunctions.ts
  packages/nodes-base/nodes/Airtable/test/v2/node/helpers.ts
  packages/nodes-base/nodes/Airtop/actions/file/getMany.operation.ts
  packages/nodes-base/nodes/Airtop/test/node/helpers.ts
  packages/nodes-base/nodes/Airtop/test/utils.test.ts
  packages/nodes-base/nodes/Asana/GenericFunctions.ts
  packages/nodes-base/nodes/Aws/DynamoDB/utils.ts
  packages/nodes-base/nodes/Brandfetch/GenericFunctions.ts
  packages/nodes-base/nodes/Cron/test/Cron.node.test.ts
  packages/nodes-base/nodes/EmailReadImap/v2/utils.ts
  packages/nodes-base/nodes/Form/Form.node.ts
  packages/nodes-base/nodes/FunctionItem/FunctionItem.node.ts
  packages/nodes-base/nodes/Google/BigQuery/v2/helpers/utils.ts
  packages/nodes-base/nodes/Google/Chat/GenericFunctions.ts
  packages/nodes-base/nodes/Google/Drive/GoogleDriveTrigger.node.ts
  packages/nodes-base/nodes/Google/Drive/test/v2/node/helpers.ts
  packages/nodes-base/nodes/Google/Firebase/CloudFirestore/GenericFunctions.ts
  packages/nodes-base/nodes/Google/Gmail/test/v1/GmailV1.node.test.ts
  packages/nodes-base/nodes/Google/Sheet/GoogleSheetsTrigger.node.ts
  packages/nodes-base/nodes/Google/Sheet/v1/GoogleSheet.ts
  packages/nodes-base/nodes/Google/Sheet/v2/actions/sheet/appendOrUpdate.operation.ts
  packages/nodes-base/nodes/Google/Sheet/v2/actions/sheet/update.operation.ts
  packages/nodes-base/nodes/Gotify/GenericFunctions.ts
  packages/nodes-base/nodes/HttpRequest/GenericFunctions.ts
  packages/nodes-base/nodes/HttpRequest/V1/HttpRequestV1.node.ts
  packages/nodes-base/nodes/HttpRequest/V2/HttpRequestV2.node.ts
  packages/nodes-base/nodes/HttpRequest/V3/HttpRequestV3.node.ts
  packages/nodes-base/nodes/If/test/v2/IfV2.node.test.ts
  packages/nodes-base/nodes/MQTT/GenericFunctions.ts
  packages/nodes-base/nodes/Microsoft/Entra/test/mocks.ts
  packages/nodes-base/nodes/Microsoft/Excel/test/v2/utils/utils.test.ts
  packages/nodes-base/nodes/Microsoft/Storage/test/listSearch/listSearch.test.ts
  packages/nodes-base/nodes/Microsoft/Teams/MicrosoftTeamsTrigger.node.ts
  packages/nodes-base/nodes/Nasa/GenericFunctions.ts
  packages/nodes-base/nodes/NextCloud/GenericFunctions.ts
  packages/nodes-base/nodes/NextCloud/NextCloud.node.ts
  packages/nodes-base/nodes/Postgres/test/v2/operations.test.ts
  packages/nodes-base/nodes/Pushbullet/GenericFunctions.ts
  packages/nodes-base/nodes/Pushcut/GenericFunctions.ts
  packages/nodes-base/nodes/S3/GenericFunctions.ts
  packages/nodes-base/nodes/SeaTable/v1/RowDescription.ts
  packages/nodes-base/nodes/SendGrid/test/SendGrid.node.test.ts
  packages/nodes-base/nodes/Set/test/v2/raw.test.ts
  packages/nodes-base/nodes/Set/test/v2/utils.test.ts
  packages/nodes-base/nodes/Shopify/GenericFunctions.ts
  packages/nodes-base/nodes/Slack/V1/SlackV1.node.ts
  packages/nodes-base/nodes/Snowflake/GenericFunctions.ts
  packages/nodes-base/nodes/Supabase/tests/Supabase.node.test.ts
  packages/nodes-base/nodes/Taiga/GenericFunctions.ts
  packages/nodes-base/nodes/Tapfiliate/GenericFunctions.ts
  packages/nodes-base/nodes/Telegram/tests/Helpers.ts
  packages/nodes-base/nodes/TheHive/TheHive.node.ts
  packages/nodes-base/nodes/Webflow/V2/WebflowV2.node.ts
  packages/nodes-base/nodes/Webflow/V2/actions/Item/getAll.operation.ts
  packages/nodes-base/nodes/Webhook/utils.ts
  packages/nodes-base/test/nodes/Helpers.ts
Labels: node/improvement, n8n team

#16872 fix(core): Apply same VM wrapper to both modes in task runner
  packages/@n8n/task-runner/src/js-task-runner/js-task-runner.ts
Labels: n8n team

#16886 fix(editor): Fix mapping field icon sizes
  packages/frontend/editor-ui/src/components/Error/NodeErrorView.vue
  packages/frontend/editor-ui/src/components/ParameterInputList.vue
  packages/frontend/editor-ui/src/components/ParameterInputOverrides/FromAiOverrideField.vue
  packages/frontend/editor-ui/src/components/ResourceMapper/MappingFields.vue
Labels: n8n team

#16709 refactor(core): Overhaul commands setup. Add support for module commands
  packages/@n8n/decorators/src/command/__tests__/command.test.ts
  packages/@n8n/decorators/src/command/command-metadata.ts
  packages/@n8n/decorators/src/command/command.ts
  packages/@n8n/decorators/src/command/index.ts
  packages/@n8n/decorators/src/command/types.ts
  packages/@n8n/decorators/src/index.ts
  packages/cli/bin/n8n
  packages/cli/package.json
  packages/cli/src/__tests__/command-registry.test.ts
  packages/cli/src/command-registry.ts
  packages/cli/src/commands/__tests__/community-node.test.ts
  packages/cli/src/commands/__tests__/execute-batch.test.ts
  packages/cli/src/commands/__tests__/execute.test.ts
  packages/cli/src/commands/audit.ts
  packages/cli/src/commands/base-command.ts
  packages/cli/src/commands/community-node.ts
  packages/cli/src/commands/db/revert.ts
  packages/cli/src/commands/execute-batch.ts
  packages/cli/src/commands/execute.ts
  packages/cli/src/commands/export/credentials.ts
  packages/cli/src/commands/export/workflow.ts
  packages/cli/src/commands/import/credentials.ts
  packages/cli/src/commands/import/workflow.ts
  packages/cli/src/commands/ldap/reset.ts
  packages/cli/src/commands/license/clear.ts
  packages/cli/src/commands/license/info.ts
  packages/cli/src/commands/list/workflow.ts
  packages/cli/src/commands/mfa/disable.ts
  packages/cli/src/commands/start.ts
  packages/cli/src/commands/update/workflow.ts
  packages/cli/src/commands/user-management/reset.ts
  packages/cli/src/commands/webhook.ts
  packages/cli/src/commands/worker.ts
  packages/cli/src/help.ts
  packages/cli/src/zod-alias-support.ts
  packages/cli/test/integration/commands/credentials.cmd.test.ts
  packages/cli/test/integration/commands/import.cmd.test.ts
  packages/cli/test/integration/shared/utils/test-command.ts
  packages/core/src/errors/error-reporter.ts
  packages/core/src/instance-settings/instance-settings.ts
  pnpm-lock.yaml
Labels: core, n8n team

#16878 fix(editor): Sync log selection doesn't work for renamed nodes
  packages/frontend/editor-ui/src/features/logs/components/LogDetailsPanel.vue
  packages/frontend/editor-ui/src/features/logs/components/LogsOverviewRow.vue
  packages/frontend/editor-ui/src/features/logs/components/LogsPanel.test.ts
  packages/frontend/editor-ui/src/features/logs/components/LogsPanel.vue
  packages/frontend/editor-ui/src/features/logs/components/LogsViewNodeName.vue
  packages/frontend/editor-ui/src/features/logs/composables/useLogsSelection.ts
Labels: n8n team

#16896 chore: Lintfix frontend packages
  packages/frontend/@n8n/chat/src/__stories__/App.stories.ts
  packages/frontend/@n8n/chat/src/constants/symbols.ts
  packages/frontend/@n8n/chat/src/plugins/chat.ts
  packages/frontend/@n8n/i18n/src/index.ts
  packages/frontend/@n8n/stores/src/useAgentRequestStore.ts
  packages/frontend/editor-ui/src/components/ApiKeyScopes.vue
  packages/frontend/editor-ui/src/components/ButtonParameter/utils.test.ts
  packages/frontend/editor-ui/src/components/CommunityPackageManageConfirmModal.vue
  packages/frontend/editor-ui/src/components/CommunityPlusEnrollmentModal.vue
  packages/frontend/editor-ui/src/components/CredentialEdit/CredentialConfig.vue
  packages/frontend/editor-ui/src/components/CredentialEdit/CredentialEdit.vue
  packages/frontend/editor-ui/src/components/CredentialEdit/CredentialSharing.ee.vue
  packages/frontend/editor-ui/src/components/CredentialIcon.vue
  packages/frontend/editor-ui/src/components/CredentialsSelect.vue
  packages/frontend/editor-ui/src/components/DuplicateWorkflowDialog.vue
  packages/frontend/editor-ui/src/components/Evaluations.ee/ListRuns/RunsSection.vue
  packages/frontend/editor-ui/src/components/ExternalSecretsProviderCard.ee.vue
  packages/frontend/editor-ui/src/components/Folders/FolderCard.vue
  packages/frontend/editor-ui/src/components/Node/NodeCreator/Modes/ActionsMode.vue
  packages/frontend/editor-ui/src/components/Node/NodeCreator/Modes/NodesMode.vue
  packages/frontend/editor-ui/src/components/Node/NodeCreator/Panel/CommunityNodeDocsLink.vue
  packages/frontend/editor-ui/src/components/Node/NodeCreator/Panel/CommunityNodeInfo.vue
  packages/frontend/editor-ui/src/components/Node/NodeCreator/composables/useActionsGeneration.ts
  packages/frontend/editor-ui/src/components/NodeDetailsView.vue
  packages/frontend/editor-ui/src/components/NodeSettingsTabs.vue
  packages/frontend/editor-ui/src/components/OutputPanel.vue
  packages/frontend/editor-ui/src/components/ParameterInput.vue
  packages/frontend/editor-ui/src/components/ParameterInputList.vue
  packages/frontend/editor-ui/src/components/ResourceLocator/ResourceLocator.vue
  packages/frontend/editor-ui/src/components/ResourceMapper/MappingFields.vue
  packages/frontend/editor-ui/src/components/RunData.vue
  packages/frontend/editor-ui/src/components/SourceControlPushModal.ee.vue
  packages/frontend/editor-ui/src/components/TagsManager/TagsView/TagsTable.vue
  packages/frontend/editor-ui/src/components/VirtualSchema.vue
  packages/frontend/editor-ui/src/components/canvas/elements/background/CanvasBackgroundStripedPattern.vue
  packages/frontend/editor-ui/src/components/canvas/elements/handles/CanvasHandleRenderer.vue
  packages/frontend/editor-ui/src/components/executions/workflow/WorkflowExecutionAnnotationPanel.ee.vue
  packages/frontend/editor-ui/src/components/executions/workflow/WorkflowExecutionAnnotationTags.ee.vue
  packages/frontend/editor-ui/src/components/executions/workflow/WorkflowExecutionsPreview.vue
  packages/frontend/editor-ui/src/composables/useCanvasOperations.ts
  packages/frontend/editor-ui/src/composables/useNodeDirtiness.test.ts
  packages/frontend/editor-ui/src/composables/useNodeHelpers.test.ts
  packages/frontend/editor-ui/src/composables/useNodeHelpers.ts
  packages/frontend/editor-ui/src/composables/useWorkflowHelpers.ts
  packages/frontend/editor-ui/src/features/logs/components/LogDetailsPanel.vue
  packages/frontend/editor-ui/src/features/logs/logs.utils.ts
  packages/frontend/editor-ui/src/plugins/codemirror/completions/datatype.completions.ts
  packages/frontend/editor-ui/src/stores/executions.store.ts
  packages/frontend/editor-ui/src/stores/schemaPreview.store.ts
  packages/frontend/editor-ui/src/stores/sso.store.ts
  packages/frontend/editor-ui/src/stores/templates.store.ts
  packages/frontend/editor-ui/src/stores/workflows.store.ts
  packages/frontend/editor-ui/src/types/canvas.ts
  packages/frontend/editor-ui/src/utils/canvasUtils.ts
  packages/frontend/editor-ui/src/utils/executionUtils.ts
  packages/frontend/editor-ui/src/utils/nodeTypesUtils.ts
  packages/frontend/editor-ui/src/views/CredentialsView.vue
  packages/frontend/editor-ui/src/views/Evaluations.ee/EvaluationsView.vue
  packages/frontend/editor-ui/src/views/VariablesView.vue
  packages/frontend/editor-ui/src/views/WorkflowsView.vue
Labels: n8n team

#16869 feat(editor): Update grid size to `16px` for better alignment
  packages/frontend/editor-ui/src/__tests__/data/canvas.ts
  packages/frontend/editor-ui/src/components/Node/NodeCreator/ItemTypes/ActionItem.vue
  packages/frontend/editor-ui/src/components/canvas/Canvas.test.ts
  packages/frontend/editor-ui/src/components/canvas/elements/background/__snapshots__/CanvasBackground.test.ts.snap
  packages/frontend/editor-ui/src/components/canvas/elements/nodes/CanvasNode.test.ts
  packages/frontend/editor-ui/src/components/canvas/elements/nodes/CanvasNode.vue
  packages/frontend/editor-ui/src/components/canvas/elements/nodes/render-types/CanvasNodeDefault.test.ts
  packages/frontend/editor-ui/src/components/canvas/elements/nodes/render-types/CanvasNodeDefault.vue
  packages/frontend/editor-ui/src/components/canvas/elements/nodes/render-types/__snapshots__/CanvasNodeDefault.test.ts.snap
  packages/frontend/editor-ui/src/composables/__snapshots__/useCanvasLayout.test.ts.snap
  packages/frontend/editor-ui/src/composables/useCanvasLayout.test.ts
  packages/frontend/editor-ui/src/composables/useCanvasLayout.ts
  packages/frontend/editor-ui/src/composables/useCanvasOperations.test.ts
  packages/frontend/editor-ui/src/composables/useCanvasOperations.ts
  packages/frontend/editor-ui/src/constants.ts
  packages/frontend/editor-ui/src/stores/workflows.store.ts
  packages/frontend/editor-ui/src/utils/canvasUtils.test.ts
  packages/frontend/editor-ui/src/utils/nodeViewUtils.test.ts
  packages/frontend/editor-ui/src/utils/nodeViewUtils.ts
Labels: n8n team

#16913 fix(editor): Show correct error messages on Ask AI
  cypress/e2e/6-code-node.cy.ts
  packages/cli/src/controllers/ai.controller.ts
  packages/cli/src/errors/response-errors/content-too-large.error.ts
  packages/cli/src/errors/response-errors/too-many-requests.error.ts
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/components/CodeNodeEditor/AskAI/AskAI.vue
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: core, n8n team

#16891 feat(editor): Implement execute step mechanism for focused panel (no-changelog)
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/components/FocusPanel.vue
  packages/frontend/editor-ui/src/components/NodeExecuteButton.vue
  packages/frontend/editor-ui/src/components/ParameterInput.vue
  packages/frontend/editor-ui/src/components/ParameterInputList.vue
  packages/frontend/editor-ui/src/composables/useNodeHelpers.ts
  packages/frontend/editor-ui/src/stores/focusPanel.store.ts
  packages/frontend/editor-ui/src/views/NodeView.vue
Labels: n8n team

#16882 refactor(core): Improve top-level key validation in task runner
  packages/@n8n/task-runner/src/js-task-runner/__tests__/js-task-runner.test.ts
  packages/@n8n/task-runner/src/js-task-runner/errors/reserved-key-not-found.error.ts
  packages/@n8n/task-runner/src/js-task-runner/result-validation.ts
  packages/nodes-base/nodes/Code/Sandbox.ts
Labels: node/improvement, n8n team

#16947 chore(core): Always load oidc and add runtime license checks
  packages/cli/src/server.ts
  packages/cli/src/sso.ee/oidc/routes/oidc.controller.ee.ts
Labels: core, n8n team

#16890 fix(editor): Fix icon sizes in expanding parameters (no-changelog)
  packages/frontend/editor-ui/src/components/ParameterInput.vue
Labels: n8n team

#16943 fix(editor): Refetch module settings on manual license activation
  packages/frontend/editor-ui/src/stores/usage.store.ts
Labels: n8n team

#16929 fix(core): Initialize source control unconditionally
  packages/cli/src/server.ts
Labels: core, n8n team

#16949 chore(core): Ensure updatedAt is always set for tags in source control feature
  packages/cli/src/environments.ee/source-control/__tests__/source-control.service.test.ts
  packages/cli/src/environments.ee/source-control/source-control.service.ee.ts
  packages/cli/src/server.ts
Labels: core, n8n team

#16244 refactor(editor): Update users list on user settings page
  cypress/e2e/18-user-management.cy.ts
  cypress/pages/settings-users.ts
  packages/@n8n/api-types/src/dto/index.ts
  packages/@n8n/api-types/src/dto/user/users-list-filter.dto.ts
  packages/@n8n/eslint-config/src/configs/frontend.ts
  packages/frontend/@n8n/design-system/src/components/N8nDataTableServer/N8nDataTableServer.vue
  packages/frontend/@n8n/design-system/src/components/N8nDataTableServer/index.ts
  packages/frontend/@n8n/design-system/src/components/N8nUserInfo/UserInfo.vue
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/__tests__/utils.ts
  packages/frontend/editor-ui/src/api/users.ts
  packages/frontend/editor-ui/src/components/DeleteUserModal.test.ts
  packages/frontend/editor-ui/src/components/DeleteUserModal.vue
  packages/frontend/editor-ui/src/components/InviteUsersModal.vue
  packages/frontend/editor-ui/src/components/Modals.vue
  packages/frontend/editor-ui/src/components/SettingsUsers/SettingsUsersActionsCell.test.ts
  packages/frontend/editor-ui/src/components/SettingsUsers/SettingsUsersActionsCell.vue
  packages/frontend/editor-ui/src/components/SettingsUsers/SettingsUsersProjectsCell.test.ts
  packages/frontend/editor-ui/src/components/SettingsUsers/SettingsUsersProjectsCell.vue
  packages/frontend/editor-ui/src/components/SettingsUsers/SettingsUsersRoleCell.test.ts
  packages/frontend/editor-ui/src/components/SettingsUsers/SettingsUsersRoleCell.vue
  packages/frontend/editor-ui/src/components/SettingsUsers/SettingsUsersTable.test.ts
  packages/frontend/editor-ui/src/components/SettingsUsers/SettingsUsersTable.vue
  packages/frontend/editor-ui/src/stores/users.store.ts
  packages/frontend/editor-ui/src/views/SettingsUsersView.test.ts
  packages/frontend/editor-ui/src/views/SettingsUsersView.vue
  packages/frontend/editor-ui/src/views/SettingsView.vue
Labels: n8n team

#16920 fix(editor): Fix item count element wrap in input panel (no-changelog)
  packages/frontend/editor-ui/src/components/VirtualSchemaHeader.vue
Labels: n8n team

#16778 feat(LangChain Nodes): Upgrade LangChain and improve proxy handling for LLM nodes
  package.json
  packages/@n8n/nodes-langchain/nodes/llms/LMChatAnthropic/LmChatAnthropic.node.ts
  packages/@n8n/nodes-langchain/nodes/llms/LMChatOpenAi/LmChatOpenAi.node.ts
  packages/@n8n/nodes-langchain/nodes/llms/LMChatOpenAi/methods/__tests__/loadModels.test.ts
  packages/@n8n/nodes-langchain/nodes/llms/LMChatOpenAi/methods/loadModels.ts
  packages/@n8n/nodes-langchain/nodes/llms/LMOpenAi/LmOpenAi.node.ts
  packages/@n8n/nodes-langchain/nodes/llms/LmChatAwsBedrock/LmChatAwsBedrock.node.ts
  packages/@n8n/nodes-langchain/nodes/llms/LmChatAzureOpenAi/LmChatAzureOpenAi.node.ts
  packages/@n8n/nodes-langchain/nodes/llms/LmChatDeepSeek/LmChatDeepSeek.node.ts
  packages/@n8n/nodes-langchain/nodes/llms/LmChatGroq/LmChatGroq.node.ts
  packages/@n8n/nodes-langchain/nodes/llms/LmChatOpenRouter/LmChatOpenRouter.node.ts
  packages/@n8n/nodes-langchain/nodes/llms/LmChatXAiGrok/LmChatXAiGrok.node.ts
  packages/@n8n/nodes-langchain/nodes/vendors/OpenAi/helpers/error-handling.test.ts
  packages/@n8n/nodes-langchain/package.json
  packages/@n8n/nodes-langchain/utils/httpProxyAgent.ts
  packages/@n8n/nodes-langchain/utils/tests/httpProxyAgent.test.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: n8n team

#16911 feat(core)!: Introduce insecure mode in task runner
  docker/images/n8n/n8n-task-runners.json
  packages/@n8n/config/src/configs/runners.config.ts
  packages/@n8n/config/test/config.test.ts
  packages/@n8n/task-runner/src/config/js-runner-config.ts
  packages/@n8n/task-runner/src/js-task-runner/__tests__/js-task-runner.test.ts
  packages/@n8n/task-runner/src/js-task-runner/js-task-runner.ts
  packages/cli/BREAKING-CHANGES.md
  packages/cli/src/commands/base-command.ts
  packages/cli/src/task-runners/__tests__/task-runner-process.test.ts
  packages/cli/src/task-runners/task-runner-process.ts
Labels: core, n8n team

#16864 fix: Prevent empty path in webhooks
  cypress/e2e/5-ndv.cy.ts
  packages/frontend/editor-ui/src/composables/useWorkflowHelpers.test.ts
  packages/frontend/editor-ui/src/composables/useWorkflowHelpers.ts
  packages/nodes-base/nodes/Webhook/Webhook.node.ts
  packages/workflow/src/node-helpers.ts
  packages/workflow/test/node-helpers.test.ts
Labels: node/improvement, n8n team, node/issue

#16986 fix(editor): Fix table pagination state handling and adding more tests
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/components/SettingsUsers/SettingsUsersTable.test.ts
  packages/frontend/editor-ui/src/components/SettingsUsers/SettingsUsersTable.vue
  packages/frontend/editor-ui/src/views/SettingsUsersView.test.ts
  packages/frontend/editor-ui/src/views/SettingsUsersView.vue
Labels: n8n team

#16944 fix(core): Fix evaluation of `N8N_SKIP_AUTH_ON_OAUTH_CALLBACK`
  packages/cli/src/config/index.ts
  packages/cli/src/controllers/oauth/__tests__/abstract-oauth.controller.test.ts
  packages/cli/src/controllers/oauth/abstract-oauth.controller.ts
  packages/cli/src/controllers/oauth/oauth2-credential.controller.ts
Labels: core, n8n team

#16994 chore(core): Add error log for more detail when git phases fail
  packages/cli/src/environments.ee/source-control/source-control-git.service.ee.ts
Labels: core, n8n team

#16884 feat: Upgrade `nodes-base` package to use modern tsconfig.json (no-changelog)
  package.json
  packages/@n8n/nodes-langchain/tsconfig.json
  packages/@n8n/typescript-config/modern/tsconfig.json
  packages/cli/tsconfig.json
  packages/nodes-base/credentials/Aws.credentials.ts
  packages/nodes-base/nodes/Code/JsTaskRunnerSandbox.ts
  packages/nodes-base/nodes/Evaluation/test/Evaluation.node.test.ts
  packages/nodes-base/nodes/Evaluation/test/EvaluationTrigger.node.test.ts
  packages/nodes-base/nodes/Freshservice/GenericFunctions.ts
  packages/nodes-base/nodes/FreshworksCrm/GenericFunctions.ts
  packages/nodes-base/nodes/FreshworksCrm/types.ts
  packages/nodes-base/nodes/Google/Sheet/v2/actions/utils/readOperation.ts
  packages/nodes-base/nodes/ItemLists/V3/actions/itemList/splitOutItems.operation.ts
  packages/nodes-base/nodes/Magento/GenericFunctions.ts
  packages/nodes-base/nodes/Magento/Magento2.node.ts
  packages/nodes-base/nodes/Merge/v3/actions/mode/combineByPosition.ts
  packages/nodes-base/nodes/Microsoft/SharePoint/helpers/utils.ts
  packages/nodes-base/nodes/Microsoft/Teams/MicrosoftTeamsTrigger.node.ts
  packages/nodes-base/nodes/Notion/shared/GenericFunctions.ts
  packages/nodes-base/nodes/RabbitMQ/GenericFunctions.ts
  packages/nodes-base/nodes/SeaTable/v2/SeaTableTriggerV2.node.ts
  packages/nodes-base/nodes/Set/v2/helpers/utils.ts
  packages/nodes-base/nodes/Taiga/GenericFunctions.ts
  packages/nodes-base/nodes/Taiga/Taiga.node.ts
  packages/nodes-base/nodes/Taiga/TaigaTrigger.node.ts
  packages/nodes-base/nodes/Taiga/types.ts
  packages/nodes-base/nodes/Totp/Totp.node.ts
  packages/nodes-base/nodes/Transform/SplitOut/SplitOut.node.ts
  packages/nodes-base/package.json
  packages/nodes-base/shims.d.ts
  packages/nodes-base/tsconfig.build.cjs.json
  packages/nodes-base/tsconfig.build.json
  packages/nodes-base/tsconfig.json
  packages/nodes-base/tsup.config.ts
  patches/ics.patch
  patches/minifaker.patch
  pnpm-lock.yaml
Labels: node/improvement, n8n team

#17003 fix: Fix `lintfix` command
  packages/@n8n/eslint-config/src/configs/base.ts
Labels: n8n team

#16748 feat(Airtop Node): Implement windows list API and other improvements
  packages/nodes-base/nodes/Airtop/GenericFunctions.ts
  packages/nodes-base/nodes/Airtop/actions/common/fields.ts
  packages/nodes-base/nodes/Airtop/actions/common/session.utils.ts
  packages/nodes-base/nodes/Airtop/actions/file/helpers.ts
  packages/nodes-base/nodes/Airtop/actions/file/load.operation.ts
  packages/nodes-base/nodes/Airtop/actions/file/upload.operation.ts
  packages/nodes-base/nodes/Airtop/actions/interaction/scroll.operation.ts
  packages/nodes-base/nodes/Airtop/actions/router.ts
  packages/nodes-base/nodes/Airtop/actions/session/Session.resource.ts
  packages/nodes-base/nodes/Airtop/actions/session/create.operation.ts
  packages/nodes-base/nodes/Airtop/actions/session/waitForDownload.operation.ts
  packages/nodes-base/nodes/Airtop/actions/window/Window.resource.ts
  packages/nodes-base/nodes/Airtop/actions/window/getLiveView.operation.ts
  packages/nodes-base/nodes/Airtop/actions/window/list.operation.ts
  packages/nodes-base/nodes/Airtop/constants.ts
  packages/nodes-base/nodes/Airtop/test/node/file/helpers.test.ts
  packages/nodes-base/nodes/Airtop/test/node/interaction/scroll.test.ts
  packages/nodes-base/nodes/Airtop/test/node/session/create.test.ts
  packages/nodes-base/nodes/Airtop/test/node/session/waitForDownload.test.ts
  packages/nodes-base/nodes/Airtop/test/utils.test.ts
  packages/nodes-base/nodes/Airtop/transport/types.ts
Labels: node/improvement, community, in linear

#16930 fix(editor): Show escape characters in json view
  cypress/e2e/5-ndv.cy.ts
  packages/frontend/editor-ui/src/components/RunDataJson.vue
  packages/frontend/editor-ui/src/components/__snapshots__/RunDataJson.test.ts.snap
Labels: n8n team

#16993 feat(editor): Collapse button on table view
  packages/frontend/@n8n/design-system/src/components/N8nIcon/icons.ts
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/components/InputPanel.vue
  packages/frontend/editor-ui/src/components/OutputPanel.vue
  packages/frontend/editor-ui/src/components/RunData.vue
  packages/frontend/editor-ui/src/components/RunDataSearch.vue
  packages/frontend/editor-ui/src/components/RunDataTable.test.ts
  packages/frontend/editor-ui/src/components/RunDataTable.vue
  packages/frontend/editor-ui/src/components/__snapshots__/InputPanel.test.ts.snap
  packages/frontend/editor-ui/src/features/logs/components/LogDetailsPanel.test.ts
  packages/frontend/editor-ui/src/features/logs/components/LogDetailsPanel.vue
  packages/frontend/editor-ui/src/features/logs/components/LogsPanel.vue
  packages/frontend/editor-ui/src/features/logs/components/LogsViewRunData.vue
Labels: n8n team

#17049 chore: Fix GitHub workflow directory for OpenAPI sync
  .github/workflows/sync-public-api-docs.yml
Labels: n8n team

#17052 fix(core): Fix worker view
  packages/cli/src/commands/__tests__/worker.test.ts
  packages/cli/src/commands/worker.ts
Labels: core, n8n team

#17051 fix(editor): Address icon feedback (no-changelog)
  packages/frontend/@n8n/design-system/src/components/N8nIcon/Icon.vue
  packages/frontend/editor-ui/src/components/FixedCollectionParameter.vue
  packages/frontend/editor-ui/src/components/ParameterInputList.vue
  packages/frontend/editor-ui/src/components/canvas/elements/edges/CanvasEdgeToolbar.vue
  packages/frontend/editor-ui/src/components/canvas/elements/handles/render-types/parts/CanvasHandlePlus.vue
  packages/frontend/editor-ui/src/components/canvas/elements/handles/render-types/parts/__snapshots__/CanvasHandlePlus.test.ts.snap
  packages/frontend/editor-ui/src/views/WorkflowsView.vue
Labels: n8n team

#16988 chore: Improve test container dx
  packages/testing/containers/n8n-image-pull-policy.ts
  packages/testing/containers/n8n-start-stack.ts
  packages/testing/containers/n8n-test-container-creation.ts
Labels: n8n team

#17046 chore(core): Lintfix modern packages
  packages/@n8n/backend-common/src/utils/is-object-literal.ts
  packages/@n8n/config/src/decorators.ts
  packages/@n8n/db/src/migrations/common/1659888469333-AddJsonKeyPinData.ts
  packages/@n8n/db/src/migrations/dsl/column.ts
  packages/@n8n/db/src/migrations/sqlite/1690000000002-MigrateIntegerKeysToString.ts
  packages/@n8n/db/src/repositories/execution.repository.ts
  packages/@n8n/decorators/src/multi-main/__tests__/on-multi-main-event.test.ts
  packages/@n8n/decorators/src/pubsub/__tests__/on-pubsub-event.test.ts
  packages/@n8n/di/src/__tests__/circular-depedency.test.ts
  packages/@n8n/imap/src/imap-simple.ts
  packages/@n8n/imap/src/index.ts
  packages/@n8n/imap/src/part-data.ts
  packages/@n8n/task-runner/src/js-task-runner/require-resolver.ts
  packages/@n8n/task-runner/src/task-runner.ts
Labels: n8n team

#16758 fix(editor): Restore valid drag state when NDV is closed via ESC while dragging
  packages/frontend/editor-ui/src/components/Draggable.vue
Labels: n8n team

#16957 fix(core): Block access to JS object constructor and `js` module in Pyodide
  packages/nodes-base/nodes/Code/Pyodide.ts
Labels: node/improvement, n8n team

#17070 chore: Minor update for OpenAPI project schema descriptions
  packages/cli/src/public-api/v1/handlers/projects/spec/paths/projects.projectId.yml
  packages/cli/src/public-api/v1/handlers/projects/spec/paths/projects.yml
Labels: core, n8n team

#16837 feat(core): Add workflow name label to workflow metrics
  packages/@n8n/config/src/configs/endpoints.config.ts
  packages/@n8n/config/test/config.test.ts
  packages/cli/src/metrics/__tests__/prometheus-metrics.service.test.ts
  packages/cli/src/metrics/__tests__/prometheus-metrics.service.unmocked.test.ts
  packages/cli/src/metrics/prometheus-metrics.service.ts
  packages/cli/src/metrics/types.ts
  packages/cli/test/integration/prometheus-metrics.test.ts
Labels: core, community, in linear

#17060 fix(n8n Form Node): Make customizing form custom styles possible on mobile screens and on form end redirect
  packages/cli/templates/form-trigger.handlebars
  packages/nodes-base/nodes/Form/Form.node.ts
Labels: node/improvement, core, n8n team

#17099 fix(editor): Fix RAG Callout keyboard navigation in nodes search
  packages/frontend/editor-ui/src/components/Node/NodeCreator/Modes/NodesMode.vue
  packages/frontend/editor-ui/src/components/Node/NodeCreator/utils.ts
Labels: n8n team

#17096 refactor(core): Lintfix `core` and `workflow` packages
  packages/@n8n/eslint-config/src/configs/base.ts
  packages/core/src/execution-engine/node-execution-context/__tests__/node-execution-context.test.ts
  packages/core/src/execution-engine/node-execution-context/__tests__/supply-data-context.test.ts
  packages/core/src/execution-engine/node-execution-context/utils/__tests__/get-input-connection-data.test.ts
  packages/core/src/execution-engine/node-execution-context/utils/binary-helper-functions.ts
  packages/core/src/execution-engine/node-execution-context/utils/request-helper-functions.ts
  packages/core/src/execution-engine/node-execution-context/utils/validate-value-against-schema.ts
  packages/core/src/execution-engine/partial-execution-utils/__tests__/get-source-data-groups.test.ts
  packages/core/src/execution-engine/partial-execution-utils/__tests__/recreate-node-execution-stack.test.ts
  packages/core/src/execution-engine/partial-execution-utils/directed-graph.ts
  packages/core/src/execution-engine/partial-execution-utils/get-source-data-groups.ts
  packages/core/src/execution-engine/workflow-execute.ts
  packages/core/src/nodes-loader/load-class-in-isolation.ts
  packages/core/src/utils/is-json-compatible.ts
  packages/workflow/src/augment-object.ts
  packages/workflow/src/errors/abstract/node.error.ts
  packages/workflow/src/errors/expression.error.ts
  packages/workflow/src/errors/workflow-operation.error.ts
  packages/workflow/src/expression-sandboxing.ts
  packages/workflow/src/expression.ts
  packages/workflow/src/extensions/expression-extension.ts
  packages/workflow/src/interfaces.ts
  packages/workflow/src/node-helpers.ts
  packages/workflow/src/node-parameters/filter-parameter.ts
  packages/workflow/src/observable-object.ts
  packages/workflow/src/workflow-data-proxy.ts
  packages/workflow/src/workflow.ts
Labels: core, n8n team

#16964 fix: Github action cleanup (no-changelog)
  .github/actions/setup-and-build/action.yml
  .github/workflows/ci-pull-requests.yml
  .github/workflows/docker-build-push.yml
  .github/workflows/e2e-flaky.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/linting-reusable.yml
  .github/workflows/release-create-pr.yml
  .github/workflows/release-push-to-channel.yml
  .github/workflows/test-workflows-callable.yml
  .github/workflows/units-tests-reusable.yml
Labels: n8n team

#17116 feat: Docker build and push workflow changes (no-changelog)
  .github/workflows/docker-build-push.yml
Labels: n8n team

#17112 chore: Create correct GitHub token for document sync
  .github/workflows/sync-public-api-docs.yml
Labels: n8n team

#17086 perf(core): Improvements to GET `/workflows` endpoint
  packages/@n8n/db/src/repositories/tag.repository.ts
  packages/cli/src/public-api/v1/handlers/workflows/workflows.handler.ts
Labels: core, n8n team

#17065 fix(Execute Sub-workflow Node): Improve paired item handling for child workflows
  packages/cli/src/workflow-execute-additional-data.ts
  packages/core/src/execution-engine/node-execution-context/base-execute-context.ts
  packages/nodes-base/nodes/ExecuteWorkflow/ExecuteWorkflow/ExecuteWorkflow.node.ts
  packages/nodes-base/utils/workflow-backtracking.test.ts
  packages/nodes-base/utils/workflow-backtracking.ts
  packages/workflow/src/interfaces.ts
Labels: node/improvement, core, n8n team

#17119 fix(editor): Mitigate performance issue in FE manual executions
  packages/frontend/editor-ui/src/components/RunData.vue
  packages/frontend/editor-ui/src/components/__snapshots__/InputPanel.test.ts.snap
Labels: n8n team

#17151 ci: Add pnpm to dev container
  .devcontainer/Dockerfile
Labels: n8n team

#17107 fix(editor): Remove feature flag from evals feature
  packages/frontend/editor-ui/src/components/MainHeader/MainHeader.vue
  packages/frontend/editor-ui/src/components/Node/NodeCreator/NodesListPanel.test.ts
  packages/frontend/editor-ui/src/components/Node/NodeCreator/useActionsGeneration.test.ts
  packages/frontend/editor-ui/src/components/executions/ConcurrentExecutionsHeader.vue
  packages/frontend/editor-ui/src/constants.ts
  packages/frontend/editor-ui/src/router.ts
  packages/frontend/editor-ui/src/stores/evaluation.store.ee.test.ts
  packages/frontend/editor-ui/src/stores/evaluation.store.ee.ts
Labels: n8n team

#17152 refactor(core): Extract functions from executeWebhook
  packages/cli/src/webhooks/webhook-helpers.ts
Labels: core, n8n team

#17101 chore(core): Hide invite URL in users list if not an admin
  packages/@n8n/db/src/entities/user.ts
  packages/cli/src/controllers/users.controller.ts
  packages/cli/src/external-hooks.ts
  packages/cli/src/services/password.utility.ts
  packages/cli/test/integration/controllers/invitation/invitation.controller.integration.test.ts
  packages/cli/test/integration/password-reset.api.test.ts
  packages/cli/test/integration/shared/db/users.ts
  packages/cli/test/integration/users.api.test.ts
Labels: core, n8n team

#17162 fix(core): Make our file reads more robust (no-changelog)
  packages/@n8n/backend-common/src/index.ts
  packages/@n8n/backend-common/src/utils/__tests__/path-util.test.ts
  packages/@n8n/backend-common/src/utils/path-util.ts
  packages/cli/src/environments.ee/source-control/source-control-helper.ee.ts
  packages/cli/src/load-nodes-and-credentials.ts
  packages/cli/src/utils/__tests__/path-util.test.ts
  packages/cli/src/utils/path-util.ts
  packages/core/src/execution-engine/node-execution-context/utils/file-system-helper-functions.ts
  packages/core/src/nodes-loader/__tests__/directory-loader.test.ts
  packages/core/src/nodes-loader/directory-loader.ts
Labels: core, n8n team

#17124 fix(editor): Reset current page if out of bounds after page size change
  packages/frontend/@n8n/design-system/src/components/N8nDataTableServer/N8nDataTableServer.test.ts
  packages/frontend/@n8n/design-system/src/components/N8nDataTableServer/N8nDataTableServer.vue
  packages/frontend/editor-ui/src/views/SettingsUsersView.vue
Labels: n8n team

#17006 feat: Update Chat SDK to support streaming responses
  packages/@n8n/nodes-langchain/nodes/agents/Agent/agents/ToolsAgent/V2/execute.ts
  packages/@n8n/nodes-langchain/nodes/agents/Agent/test/ToolsAgent/ToolsAgentV2.test.ts
  packages/@n8n/nodes-langchain/nodes/trigger/ChatTrigger/ChatTrigger.node.ts
  packages/@n8n/nodes-langchain/nodes/trigger/ChatTrigger/templates.ts
  packages/cli/src/__tests__/active-executions.test.ts
  packages/core/src/execution-engine/__tests__/workflow-execute.test.ts
  packages/core/src/execution-engine/node-execution-context/__tests__/execute-context.test.ts
  packages/core/src/execution-engine/node-execution-context/execute-context.ts
  packages/core/src/execution-engine/workflow-execute.ts
  packages/frontend/@n8n/chat/README.md
  packages/frontend/@n8n/chat/resources/workflow-streaming.json
  packages/frontend/@n8n/chat/src/__stories__/App.stories.ts
  packages/frontend/@n8n/chat/src/__tests__/api/message.spec.ts
  packages/frontend/@n8n/chat/src/__tests__/index.spec.ts
  packages/frontend/@n8n/chat/src/__tests__/utils/fetch.ts
  packages/frontend/@n8n/chat/src/__tests__/utils/streaming.spec.ts
  packages/frontend/@n8n/chat/src/__tests__/utils/streamingHandlers.spec.ts
  packages/frontend/@n8n/chat/src/api/message.ts
  packages/frontend/@n8n/chat/src/constants/defaults.ts
  packages/frontend/@n8n/chat/src/plugins/chat.ts
  packages/frontend/@n8n/chat/src/types/index.ts
  packages/frontend/@n8n/chat/src/types/options.ts
  packages/frontend/@n8n/chat/src/types/streaming.ts
  packages/frontend/@n8n/chat/src/utils/streaming.ts
  packages/frontend/@n8n/chat/src/utils/streamingHandlers.ts
  packages/workflow/src/interfaces.ts
Labels: core, n8n team

#16879 feat(editor): Move AI Assistant button to canvas action buttons
  cypress/e2e/45-ai-assistant.cy.ts
  cypress/pages/features/ai-assistant.ts
  packages/frontend/@n8n/design-system/src/components/AskAssistantButton/AskAssistantButton.vue
  packages/frontend/@n8n/design-system/src/components/AskAssistantButton/__snapshots__/AskAssistantButton.test.ts.snap
  packages/frontend/@n8n/design-system/src/components/AskAssistantChat/AskAssistantChat.vue
  packages/frontend/@n8n/design-system/src/components/AskAssistantChat/__snapshots__/AskAssistantChat.test.ts.snap
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/App.vue
  packages/frontend/editor-ui/src/components/AskAssistant/Chat/AskAssistantFloatingButton.vue
  packages/frontend/editor-ui/src/components/Node/NodeCreation.vue
  packages/frontend/editor-ui/src/stores/assistant.store.test.ts
  packages/frontend/editor-ui/src/stores/assistant.store.ts
Labels: n8n team

#17008 ci: Test container enhancements
  package.json
  packages/testing/containers/README.md
  packages/testing/containers/eslint.config.mjs
  packages/testing/containers/n8n-image-pull-policy.ts
  packages/testing/containers/n8n-start-stack.ts
  packages/testing/containers/n8n-test-container-creation.ts
  packages/testing/containers/n8n-test-container-dependencies.ts
  packages/testing/containers/n8n-test-container-helpers.ts
  packages/testing/containers/n8n-test-container-utils.ts
  packages/testing/containers/package.json
  packages/testing/containers/tsconfig.json
  packages/testing/playwright/composables/ProjectComposer.ts
  packages/testing/playwright/config/intercepts.ts
  packages/testing/playwright/eslint.config.mjs
  packages/testing/playwright/fixtures/base.ts
  packages/testing/playwright/global-setup.ts
  packages/testing/playwright/package.json
  packages/testing/playwright/pages/ExecutionsPage.ts
  packages/testing/playwright/pages/n8nPage.ts
  packages/testing/playwright/playwright.config.ts
  packages/testing/playwright/services/api-helper.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: n8n team

#17186 docs: Improve Development cycle section in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: n8n team

#17193 feat(editor): Forbid focusing on node settings parameter (no-changelog)
  packages/frontend/editor-ui/src/components/NodeSettings.vue
  packages/frontend/editor-ui/src/components/ParameterOptions.vue
Labels: n8n team

#17163 feat(editor): Store focused panel state in local storage (no-changelog)
  packages/frontend/editor-ui/src/composables/useCanvasOperations.test.ts
  packages/frontend/editor-ui/src/composables/useCanvasOperations.ts
  packages/frontend/editor-ui/src/composables/useNodeSettingsParameters.test.ts
  packages/frontend/editor-ui/src/composables/useNodeSettingsParameters.ts
  packages/frontend/editor-ui/src/composables/useWorkflowSaving.ts
  packages/frontend/editor-ui/src/constants.ts
  packages/frontend/editor-ui/src/stores/focusPanel.store.ts
Labels: n8n team

#17185 ci: Update base image packages
  docker/images/n8n-base/Dockerfile
Labels: n8n team

#16764 fix(Linear Node): Fix issue with priority being incorrect for issue updates
  packages/nodes-base/nodes/Linear/IssueDescription.ts
  packages/nodes-base/nodes/Linear/Linear.node.ts
Labels: node/improvement, n8n team

#17198 fix(editor): Don't wait for cloud plan store to initialize (no-changelog)
  packages/frontend/editor-ui/src/init.test.ts
  packages/frontend/editor-ui/src/init.ts
  packages/frontend/editor-ui/src/stores/versions.store.ts
Labels: n8n team

#16838 fix(Gmail Node): Set References and In-Reply-To only when user provides threadId
  packages/nodes-base/nodes/Google/Gmail/test/v2/GmailV2.node.test.ts
  packages/nodes-base/nodes/Google/Gmail/test/v2/utils.test.ts
  packages/nodes-base/nodes/Google/Gmail/v2/GmailV2.node.ts
  packages/nodes-base/nodes/Google/Gmail/v2/utils/draft.ts
  packages/nodes-base/utils/sendAndWait/interfaces.ts
Labels: node/improvement, n8n team

#17232 test(editor): Add tests for node settings parameters composable (no-changelog)
  packages/frontend/editor-ui/eslint.config.mjs
  packages/frontend/editor-ui/src/Interface.ts
  packages/frontend/editor-ui/src/components/Node/NodeCreator/useActionsGeneration.test.ts
  packages/frontend/editor-ui/src/components/ParameterInput.vue
  packages/frontend/editor-ui/src/components/ParameterOptions.vue
  packages/frontend/editor-ui/src/composables/useCanvasOperations.test.ts
  packages/frontend/editor-ui/src/composables/useNodeSettingsParameters.test.ts
  packages/frontend/editor-ui/src/composables/useNodeSettingsParameters.ts
  packages/frontend/editor-ui/src/stores/focusPanel.store.ts
  packages/frontend/editor-ui/src/utils/nodeSettingsUtils.ts
Labels: n8n team

#17183 feat(editor): Add new ways to discover templates
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/components/MainSidebar.vue
  packages/frontend/editor-ui/src/components/canvas/elements/nodes/render-types/CanvasNodeAddNodes.test.ts
  packages/frontend/editor-ui/src/components/canvas/elements/nodes/render-types/CanvasNodeAddNodes.vue
  packages/frontend/editor-ui/src/components/canvas/elements/nodes/render-types/__snapshots__/CanvasNodeAddNodes.test.ts.snap
  packages/frontend/editor-ui/src/constants.ts
  packages/frontend/editor-ui/src/stores/templates.store.ts
  packages/frontend/editor-ui/src/utils/experiments.test.ts
  packages/frontend/editor-ui/src/utils/experiments.ts
  packages/frontend/editor-ui/src/views/WorkflowsView.test.ts
  packages/frontend/editor-ui/src/views/WorkflowsView.vue
Labels: n8n team

#17233 fix(Sentiment Analysis Node): Fix problems with first sentiment output
  packages/@n8n/nodes-langchain/nodes/chains/SentimentAnalysis/SentimentAnalysis.node.ts
  packages/@n8n/nodes-langchain/nodes/chains/SentimentAnalysis/test/SentimentAnalysis.node.test.ts
Labels: n8n team

#17234 chore(core): Adapt OIDC to match SAML behavior for signup
  packages/cli/src/sso.ee/oidc/oidc.service.ee.ts
  packages/cli/test/integration/oidc/oidc.service.ee.test.ts
Labels: core, n8n team

#17184 fix(core): Allow insights breakdown by workflow to be sorted by workflow name
  packages/@n8n/api-types/src/dto/insights/__tests__/list-workflow-query.dto.test.ts
  packages/@n8n/api-types/src/dto/insights/list-workflow-query.dto.ts
  packages/cli/test/integration/insights/insights.api.test.ts
  packages/frontend/editor-ui/src/features/insights/components/tables/InsightsTableWorkflows.test.ts
  packages/frontend/editor-ui/src/features/insights/components/tables/InsightsTableWorkflows.vue
Labels: core, n8n team

#17292 fix(editor): Amend missing nodeName passthroughs for codemirror completions (no-changelog)
  packages/frontend/editor-ui/src/composables/useExpressionEditor.ts
  packages/frontend/editor-ui/src/plugins/codemirror/completions/bracketAccess.completions.ts
  packages/frontend/editor-ui/src/plugins/codemirror/completions/datatype.completions.ts
Labels: n8n team

#17303 ci: Add retry to docker pull to allow for manifest to propogate
  .github/workflows/security-trivy-scan-callable.yml
Labels: n8n team

#17199 fix(editor): Update frontend to handle unlicensed insights dashboard, if only Time saved feature is enabled
  packages/frontend/@n8n/design-system/src/components/N8nDataTableServer/N8nDataTableServer.vue
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/features/insights/components/InsightsDashboard.test.ts
  packages/frontend/editor-ui/src/features/insights/components/InsightsDashboard.vue
  packages/frontend/editor-ui/src/features/insights/components/InsightsPaywall.vue
  packages/frontend/editor-ui/src/features/insights/components/charts/InsightsChartAverageRuntime.vue
  packages/frontend/editor-ui/src/features/insights/components/charts/InsightsChartFailed.vue
  packages/frontend/editor-ui/src/features/insights/components/charts/InsightsChartFailureRate.vue
  packages/frontend/editor-ui/src/features/insights/components/charts/InsightsChartTimeSaved.vue
  packages/frontend/editor-ui/src/features/insights/components/charts/InsightsChartTotal.vue
  packages/frontend/editor-ui/src/features/insights/components/tables/InsightsTableWorkflows.test.ts
  packages/frontend/editor-ui/src/features/insights/components/tables/InsightsTableWorkflows.vue
  packages/frontend/editor-ui/src/features/insights/insights.api.ts
  packages/frontend/editor-ui/src/features/insights/insights.constants.ts
  packages/frontend/editor-ui/src/features/insights/insights.store.test.ts
  packages/frontend/editor-ui/src/features/insights/insights.store.ts
Labels: n8n team

#17195 fix(core): Remove inline JS from FE for more secure CSP
  packages/cli/src/commands/start.ts
  packages/cli/src/server.ts
  packages/frontend/editor-ui/index.html
Labels: core, n8n team

#17300 chore: Refactor nodeValues back to NodeSettings (no-changelog)
  packages/frontend/editor-ui/src/components/FocusPanel.vue
  packages/frontend/editor-ui/src/components/NodeSettings.vue
  packages/frontend/editor-ui/src/composables/useNodeSettingsParameters.test.ts
  packages/frontend/editor-ui/src/composables/useNodeSettingsParameters.ts
  packages/frontend/editor-ui/src/utils/nodeSettingsUtils.test.ts
  packages/frontend/editor-ui/src/utils/nodeSettingsUtils.ts
Labels: n8n team

#17227 feat(editor): Show input panel for mapping in embedded NDV (no-changelog)
  packages/frontend/editor-ui/src/components/InputPanel.test.ts
  packages/frontend/editor-ui/src/components/InputPanel.vue
  packages/frontend/editor-ui/src/components/NodeDetailsView.vue
  packages/frontend/editor-ui/src/components/NodeDetailsViewV2.vue
  packages/frontend/editor-ui/src/components/NodeSettings.vue
  packages/frontend/editor-ui/src/components/RunData.vue
  packages/frontend/editor-ui/src/components/__snapshots__/InputPanel.test.ts.snap
  packages/frontend/editor-ui/src/components/canvas/experimental/components/ExperimentalEmbeddedNodeDetails.vue
Labels: n8n team

#17231 fix: Track responseMode and public chat in node graph (no-changelog)
  packages/workflow/src/interfaces.ts
  packages/workflow/src/telemetry-helpers.ts
  packages/workflow/test/telemetry-helpers.test.ts
Labels: core, n8n team

#17333 feat(editor): Hide focus panel while node panel is open (no-changelog)
  packages/frontend/editor-ui/src/components/FocusPanel.vue
  packages/frontend/editor-ui/src/stores/focusPanel.store.ts
  packages/frontend/editor-ui/src/views/NodeView.vue
Labels: n8n team

#17329 fix: Fix issue with restricted file access order
  packages/core/src/execution-engine/node-execution-context/utils/__tests__/file-system-helper-functions.test.ts
  packages/core/src/execution-engine/node-execution-context/utils/file-system-helper-functions.ts
Labels: core, n8n team, release/backport

#17179 fix(editor): Prevent submit when composing with IME on chat textarea
  packages/frontend/@n8n/chat/src/components/Input.vue
Labels: community, in linear

#17312 fix(Webhook Trigger Node)!: Change html responses to be embedded an iframe
  packages/cli/BREAKING-CHANGES.md
  packages/cli/src/webhooks/__tests__/webhook-helpers.test.ts
  packages/cli/src/webhooks/__tests__/webhook-on-received-response-extractor.test.ts
  packages/cli/src/webhooks/webhook-helpers.ts
  packages/cli/src/webhooks/webhook-on-received-response-extractor.ts
  packages/cli/src/webhooks/webhook-request-handler.ts
  packages/core/src/__tests__/__snapshots__/html-sandbox.test.ts.snap
  packages/core/src/__tests__/html-sandbox.test.ts
  packages/core/src/execution-engine/node-execution-context/__tests__/__snapshots__/html-sandbox.test.ts.snap
  packages/core/src/execution-engine/node-execution-context/__tests__/html-sandbox.test.ts
  packages/core/src/html-sandbox.ts
Labels: core, n8n team

#17248 ci: Automate base image + sbom + attestation
  .github/workflows/docker-base-image.yml
  .github/workflows/docker-build-push.yml
Labels: n8n team

#17338 feat(n8n Form Node): Allow basic styling of form completion message
  packages/cli/templates/form-trigger-completion.handlebars
  packages/nodes-base/nodes/Form/test/formCompletionUtils.test.ts
  packages/nodes-base/nodes/Form/utils/formCompletionUtils.ts
Labels: node/improvement, core, n8n team

#17364 fix(Think Tool Node): Use dynamic tool name based on node name
  packages/@n8n/nodes-langchain/nodes/tools/ToolThink/ToolThink.node.ts
  packages/@n8n/nodes-langchain/nodes/tools/ToolThink/test/ToolThink.node.test.ts
Labels: n8n team

#17168 fix(API): Check if version exists in registry for community node installation
  packages/cli/src/services/community-packages.service.ts
  packages/cli/src/utils/__tests__/npm-utils.test.ts
  packages/cli/src/utils/npm-utils.ts
Labels: core, n8n team

#17296 fix(Embeddings OpenAI Node): Disable model list filter when custom baseURL is set
  packages/@n8n/nodes-langchain/nodes/embeddings/EmbeddingsOpenAI/EmbeddingsOpenAi.node.ts
  packages/core/src/execution-engine/__tests__/routing-node.test.ts
  packages/core/src/execution-engine/routing-node.ts
Labels: n8n team

#17378 build(editor): Skip config endpoint insertion in local dev (no-changelog)
  packages/frontend/editor-ui/index.html
  packages/frontend/editor-ui/vite.config.mts
Labels: n8n team

#17383 fix(core): Fix object store support for non-latin chars
  packages/core/src/binary-data/object-store/__tests__/object-store.service.test.ts
  packages/core/src/binary-data/object-store/object-store.service.ee.ts
Labels: core, n8n team

#17372 refactor(editor): Fix warnings caused by missing child (no-changelog)
  packages/frontend/editor-ui/src/components/Node/NodeCreation.vue
  packages/frontend/editor-ui/src/components/Projects/ProjectCardBadge.vue
  packages/frontend/editor-ui/src/components/Projects/ProjectNavigation.vue
  packages/frontend/editor-ui/src/components/RunDataTable.vue
  packages/frontend/editor-ui/src/components/canvas/elements/nodes/CanvasNodeToolbar.vue
Labels: n8n team

#17381 feat(editor): Add option to disable credentials check in RLC
  packages/frontend/editor-ui/src/components/ResourceLocator/ResourceLocator.test.constants.ts
  packages/frontend/editor-ui/src/components/ResourceLocator/ResourceLocator.test.ts
  packages/frontend/editor-ui/src/components/ResourceLocator/ResourceLocator.vue
  packages/workflow/src/interfaces.ts
Labels: core, n8n team

#17405 fix(editor): Make close button visible on become creator CTA
  packages/frontend/editor-ui/src/components/BecomeTemplateCreatorCta/BecomeTemplateCreatorCta.vue
Labels: n8n team

#17414 refactor(core): Add env var to disable Python execution
  packages/@n8n/config/src/configs/nodes.config.ts
  packages/@n8n/config/src/index.ts
  packages/@n8n/config/test/config.test.ts
  packages/nodes-base/nodes/Code/Code.node.ts
Labels: node/improvement, n8n team

#17355 feat(editor): Using special env vars as feature flags in the frontend
  cypress/e2e/env-feature-flags.cy.ts
  cypress/scripts/run-e2e.js
  cypress/support/commands.ts
  cypress/support/index.ts
  packages/@n8n/api-types/src/frontend-settings.ts
  packages/cli/src/controllers/e2e.controller.ts
  packages/cli/src/services/__tests__/frontend.service.test.ts
  packages/cli/src/services/frontend.service.ts
  packages/frontend/editor-ui/src/__tests__/defaults.ts
  packages/frontend/editor-ui/src/features/env-feature-flag/EnvFeatureFlag.test.ts
  packages/frontend/editor-ui/src/features/env-feature-flag/EnvFeatureFlag.vue
  packages/frontend/editor-ui/src/features/env-feature-flag/useEnvFeatureFlag.ts
  packages/frontend/editor-ui/vite.config.mts
Labels: n8n team

#17373 feat(editor): Update Focus Panel design (no-changelog)
  packages/frontend/@n8n/design-system/src/components/N8nIcon/icons.ts
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/components/FocusPanel.vue
  packages/frontend/editor-ui/src/components/Node/NodeCreation.vue
Labels: n8n team

#17339 fix(editor): Show additional data on Users list page
  packages/@n8n/api-types/src/dto/user/users-list-filter.dto.ts
  packages/@n8n/api-types/src/schemas/user.schema.ts
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/components/ApiKeyScopes.vue
  packages/frontend/editor-ui/src/components/InviteUsersModal.vue
  packages/frontend/editor-ui/src/components/SettingsUsers/SettingsUsersLastActiveCell.vue
  packages/frontend/editor-ui/src/components/SettingsUsers/SettingsUsersTable.vue
  packages/frontend/editor-ui/src/features/insights/components/InsightsPaywall.vue
  packages/frontend/editor-ui/src/features/insights/components/InsightsUpgradeModal.vue
  packages/frontend/editor-ui/src/utils/formatters/dateFormatter.test.ts
  packages/frontend/editor-ui/src/utils/formatters/dateFormatter.ts
  packages/frontend/editor-ui/src/views/SettingsUsersView.vue
Labels: n8n team

#17365 refactor: Add SVG loader for Storybook and bump version
  packages/frontend/@n8n/design-system/package.json
  packages/frontend/@n8n/design-system/vite.config.mts
  pnpm-lock.yaml
Labels: n8n team

#17375 build(editor): Include shims for sanitize-html (no-changelog)
  packages/frontend/editor-ui/package.json
  packages/frontend/editor-ui/src/source-map-js-shim.ts
  packages/frontend/editor-ui/vite.config.mts
  pnpm-lock.yaml
Labels: n8n team

#15454 feat(MCP Client Tool Node): Add support for HTTP Streamable Transport
  packages/@n8n/nodes-langchain/nodes/mcp/McpClientTool/McpClientTool.node.ts
  packages/@n8n/nodes-langchain/nodes/mcp/McpClientTool/loadOptions.ts
  packages/@n8n/nodes-langchain/nodes/mcp/McpClientTool/types.ts
  packages/@n8n/nodes-langchain/nodes/mcp/McpClientTool/utils.ts
Labels: community, in linear

#17419 fix(core): Allow undefined workflow owner on source control for retro compatibility
  packages/cli/src/environments.ee/source-control/source-control-import.service.ee.ts
  packages/cli/src/interfaces.ts
Labels: core, n8n team

#17424 feat(API): Adapt AI workflow builder controller (no-changelog)
  packages/cli/src/controllers/__tests__/ai.controller.test.ts
  packages/cli/src/controllers/ai.controller.ts
  packages/cli/src/services/ai-workflow-builder.service.ts
Labels: core, n8n team

#17121 feat(Anthropic Node): New node
  packages/@n8n/nodes-langchain/nodes/vendors/Anthropic/Anthropic.node.test.ts
  packages/@n8n/nodes-langchain/nodes/vendors/Anthropic/Anthropic.node.ts
  packages/@n8n/nodes-langchain/nodes/vendors/Anthropic/actions/descriptions.ts
  packages/@n8n/nodes-langchain/nodes/vendors/Anthropic/actions/document/analyze.operation.ts
  packages/@n8n/nodes-langchain/nodes/vendors/Anthropic/actions/document/index.ts
  packages/@n8n/nodes-langchain/nodes/vendors/Anthropic/actions/file/delete.operation.ts
  packages/@n8n/nodes-langchain/nodes/vendors/Anthropic/actions/file/get.operation.ts
  packages/@n8n/nodes-langchain/nodes/vendors/Anthropic/actions/file/index.ts
  packages/@n8n/nodes-langchain/nodes/vendors/Anthropic/actions/file/list.operation.ts
  packages/@n8n/nodes-langchain/nodes/vendors/Anthropic/actions/file/upload.operation.ts
  packages/@n8n/nodes-langchain/nodes/vendors/Anthropic/actions/image/analyze.operation.ts
  packages/@n8n/nodes-langchain/nodes/vendors/Anthropic/actions/image/index.ts
  packages/@n8n/nodes-langchain/nodes/vendors/Anthropic/actions/node.type.ts
  packages/@n8n/nodes-langchain/nodes/vendors/Anthropic/actions/prompt/generate.operation.ts
  packages/@n8n/nodes-langchain/nodes/vendors/Anthropic/actions/prompt/improve.operation.ts
  packages/@n8n/nodes-langchain/nodes/vendors/Anthropic/actions/prompt/index.ts
  packages/@n8n/nodes-langchain/nodes/vendors/Anthropic/actions/prompt/templatize.operation.ts
  packages/@n8n/nodes-langchain/nodes/vendors/Anthropic/actions/router.test.ts
  packages/@n8n/nodes-langchain/nodes/vendors/Anthropic/actions/router.ts
  packages/@n8n/nodes-langchain/nodes/vendors/Anthropic/actions/text/index.ts
  packages/@n8n/nodes-langchain/nodes/vendors/Anthropic/actions/text/message.operation.ts
  packages/@n8n/nodes-langchain/nodes/vendors/Anthropic/actions/versionDescription.ts
  packages/@n8n/nodes-langchain/nodes/vendors/Anthropic/anthropic.svg
  packages/@n8n/nodes-langchain/nodes/vendors/Anthropic/helpers/baseAnalyze.ts
  packages/@n8n/nodes-langchain/nodes/vendors/Anthropic/helpers/interfaces.ts
  packages/@n8n/nodes-langchain/nodes/vendors/Anthropic/helpers/utils.test.ts
  packages/@n8n/nodes-langchain/nodes/vendors/Anthropic/helpers/utils.ts
  packages/@n8n/nodes-langchain/nodes/vendors/Anthropic/methods/index.ts
  packages/@n8n/nodes-langchain/nodes/vendors/Anthropic/methods/listSearch.test.ts
  packages/@n8n/nodes-langchain/nodes/vendors/Anthropic/methods/listSearch.ts
  packages/@n8n/nodes-langchain/nodes/vendors/Anthropic/transport/index.test.ts
  packages/@n8n/nodes-langchain/nodes/vendors/Anthropic/transport/index.ts
  packages/@n8n/nodes-langchain/package.json
Labels: n8n team

#17240 feat(Facebook Graph API Node): Add support for api v23
  packages/nodes-base/nodes/Facebook/FacebookGraphApi.node.ts
  packages/nodes-base/nodes/Facebook/GenericFunctions.ts
  packages/nodes-base/nodes/Facebook/__tests__/GenericFunctions.test.ts
Labels: node/improvement, n8n team

#17385 fix: Fix ordering issue when checking if staging environment
  packages/cli/src/services/__tests__/community-node-types.service.test.ts
  packages/cli/src/services/community-node-types.service.ts
Labels: core, n8n team

#17347 fix(editor): Make tag search in workflows case insensitive
  cypress/e2e/17-workflow-tags.cy.ts
  packages/frontend/editor-ui/src/components/TagsDropdown.vue
Labels: n8n team

#17497 feat(editor): Add AI Starter pack experiment (no-changelog)
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/@n8n/stores/src/constants.ts
  packages/frontend/editor-ui/src/composables/usePushConnection/handlers/executionFinished.ts
  packages/frontend/editor-ui/src/constants.ts
  packages/frontend/editor-ui/src/experiments/aiTemplatesStarterCollection/stores/aiTemplatesStarterCollection.store.ts
  packages/frontend/editor-ui/src/experiments/aiTemplatesStarterCollection/workflows/1_agent_with_memory.ts
  packages/frontend/editor-ui/src/experiments/aiTemplatesStarterCollection/workflows/2_agent_with_tools.ts
  packages/frontend/editor-ui/src/experiments/aiTemplatesStarterCollection/workflows/3_agent_with_knowledge.ts
  packages/frontend/editor-ui/src/views/NodeView.vue
  packages/frontend/editor-ui/src/views/WorkflowsView.vue
Labels: n8n team

#17197 ci: Add testing lint fix
  .github/workflows/linting-reusable.yml
  package.json
  packages/testing/containers/n8n-test-container-dependencies.ts
  packages/testing/playwright/config/intercepts.ts
  packages/testing/playwright/eslint.config.mjs
  turbo.json
Labels: n8n team

#17501 fix(OpenAI Node): Fix memory connector for assistant message
  packages/@n8n/nodes-langchain/nodes/vendors/OpenAi/actions/assistant/message.operation.ts
Labels: n8n team

#17506 chore(core): Provide details on access token exchange error
  packages/@n8n/client-oauth2/src/client-oauth2.ts
  packages/cli/src/controllers/oauth/__tests__/oauth2-credential.controller.test.ts
Labels: core, n8n team

#16059 fix(editor): Fix error when there is no path back to referenced node
  cypress/e2e/14-mapping.cy.ts
  cypress/e2e/27-two-factor-authentication.cy.ts
  cypress/e2e/33-settings-personal.cy.ts
  cypress/pages/ndv.ts
  cypress/support/commands.ts
  packages/workflow/src/errors/expression.error.ts
  packages/workflow/src/workflow-data-proxy.ts
  packages/workflow/src/workflow.ts
  packages/workflow/test/paired-item-path-detection.test.ts
  packages/workflow/test/workflow-data-proxy.test.ts
  packages/workflow/test/workflow.test.ts
Labels: core, n8n team

#17494 fix(GitHub Document Loader Node): Fix node loading issue
  packages/@n8n/nodes-langchain/nodes/document_loaders/DocumentGithubLoader/DocumentGithubLoader.node.ts
  packages/@n8n/nodes-langchain/package.json
  pnpm-lock.yaml
Labels: n8n team, release/backport

#17454 fix(editor): Don't hide FocusPanel when NodeCreator is opened to avoid canvas shift (no-changelog)
  packages/frontend/editor-ui/src/components/FocusPanel.vue
  packages/frontend/editor-ui/src/components/Node/NodeCreator/NodeCreator.vue
  packages/frontend/editor-ui/src/composables/useStyles.ts
  packages/frontend/editor-ui/src/stores/focusPanel.store.ts
  packages/frontend/editor-ui/src/views/NodeView.vue
Labels: n8n team

#17452 feat(editor): Workflows Diff UI (no-changelog)
  package.json
  packages/frontend/@n8n/design-system/src/components/N8nIcon/icons.ts
  packages/frontend/@n8n/design-system/src/components/N8nRadioButtons/RadioButtons.vue
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/package.json
  packages/frontend/editor-ui/src/api/sourceControl.ts
  packages/frontend/editor-ui/src/components/Modal.vue
  packages/frontend/editor-ui/src/components/Modals.vue
  packages/frontend/editor-ui/src/components/NodeIcon.vue
  packages/frontend/editor-ui/src/components/SourceControlPullModal.ee.vue
  packages/frontend/editor-ui/src/components/SourceControlPushModal.ee.test.ts
  packages/frontend/editor-ui/src/components/SourceControlPushModal.ee.vue
  packages/frontend/editor-ui/src/components/__snapshots__/VirtualSchema.test.ts.snap
  packages/frontend/editor-ui/src/components/canvas/Canvas.vue
  packages/frontend/editor-ui/src/components/canvas/elements/edges/CanvasEdge.test.ts
  packages/frontend/editor-ui/src/components/canvas/elements/edges/CanvasEdge.vue
  packages/frontend/editor-ui/src/components/canvas/elements/nodes/render-types/__snapshots__/CanvasNodeDefault.test.ts.snap
  packages/frontend/editor-ui/src/constants.ts
  packages/frontend/editor-ui/src/features/workflow-diff/DiffBadge.test.ts
  packages/frontend/editor-ui/src/features/workflow-diff/DiffBadge.vue
  packages/frontend/editor-ui/src/features/workflow-diff/HighlightedEdge.test.ts
  packages/frontend/editor-ui/src/features/workflow-diff/HighlightedEdge.vue
  packages/frontend/editor-ui/src/features/workflow-diff/NodeDiff.test.ts
  packages/frontend/editor-ui/src/features/workflow-diff/NodeDiff.vue
  packages/frontend/editor-ui/src/features/workflow-diff/SyncedWorkflowCanvas.vue
  packages/frontend/editor-ui/src/features/workflow-diff/WorkflowDIffModal.test.ts
  packages/frontend/editor-ui/src/features/workflow-diff/WorkflowDiffAside.vue
  packages/frontend/editor-ui/src/features/workflow-diff/WorkflowDiffModal.vue
  packages/frontend/editor-ui/src/features/workflow-diff/useViewportSync.test.ts
  packages/frontend/editor-ui/src/features/workflow-diff/useViewportSync.ts
  packages/frontend/editor-ui/src/features/workflow-diff/useWorkflowDiff.test.ts
  packages/frontend/editor-ui/src/features/workflow-diff/useWorkflowDiff.ts
  packages/frontend/editor-ui/src/stores/sourceControl.store.ts
  packages/frontend/editor-ui/src/stores/ui.store.ts
  patches/v-code-diff.patch
  pnpm-lock.yaml
Labels: n8n team

#16937 fix: Check license in folder controller (no-changelog)
  packages/cli/src/controllers/folder.controller.ts
  packages/cli/test/integration/folder/folder.controller.test.ts
Labels: core, n8n team

#17550 fix(editor): Only show AI starter pack experiment to cloud users (no-changelog)
  packages/frontend/editor-ui/src/experiments/aiTemplatesStarterCollection/stores/aiTemplatesStarterCollection.store.ts
Labels: release/backport

#17544 feat(editor): Add WFD telemetry (no-changelog)
  packages/frontend/editor-ui/src/components/SourceControlPullModal.ee.vue
  packages/frontend/editor-ui/src/components/SourceControlPushModal.ee.vue
  packages/frontend/editor-ui/src/features/workflow-diff/WorkflowDiffModal.vue
Labels: n8n team

#17576 fix: Stringify data before sandboxing in sandboxHtmlResponse (no-changelog)
  packages/core/src/__tests__/html-sandbox.test.ts
  packages/core/src/html-sandbox.ts
Labels: n8n team, node/issue

#17558 fix: Do not throw on tool errors, instead return error message
  packages/@n8n/nodes-langchain/nodes/mcp/McpClientTool/McpClientTool.node.test.ts
  packages/@n8n/nodes-langchain/nodes/mcp/McpClientTool/McpClientTool.node.ts
  packages/@n8n/nodes-langchain/nodes/mcp/McpClientTool/utils.ts
Labels: n8n team

#17177 feat: Proxy all RudderStack frontend telemetry events through the backend
  cypress/e2e/42-nps-survey.cy.ts
  packages/@n8n/api-types/src/frontend-settings.ts
  packages/cli/package.json
  packages/cli/src/controllers/telemetry.controller.ts
  packages/cli/src/server.ts
  packages/cli/src/services/frontend.service.ts
  packages/frontend/editor-ui/src/plugins/telemetry.test.ts
  packages/frontend/editor-ui/src/plugins/telemetry/index.ts
  pnpm-lock.yaml
Labels: core, n8n team

#17584 fix(editor): Fix layout of binary data preview in the log view
  packages/frontend/editor-ui/src/components/BinaryDataDisplay.vue
  packages/frontend/editor-ui/src/components/RunData.vue
  packages/frontend/editor-ui/src/components/RunDataBinary.vue
  packages/frontend/editor-ui/src/components/__snapshots__/InputPanel.test.ts.snap
  packages/frontend/editor-ui/src/features/logs/components/LogsViewRunData.vue
Labels: n8n team

#17510 fix(editor): Add targetNodeParameterContext for remaining editors (no-changelog)
  packages/frontend/editor-ui/src/components/CssEditor/CssEditor.vue
  packages/frontend/editor-ui/src/components/FocusPanel.vue
  packages/frontend/editor-ui/src/components/HtmlEditor/HtmlEditor.vue
  packages/frontend/editor-ui/src/components/SqlEditor/SqlEditor.vue
Labels: n8n team

#17627 refactor(editor): Change document title function to be easier to update (no-changelog)
  packages/frontend/editor-ui/src/composables/useDocumentTitle.ts
Labels: n8n team

#17628 fix(editor): Use nodes and connection from passed in workflow in RunData (no-changelog)
  packages/frontend/editor-ui/src/components/RunData.vue
  packages/frontend/editor-ui/src/utils/nodeViewUtils.test.ts
  packages/frontend/editor-ui/src/utils/nodeViewUtils.ts
Labels: n8n team

#17517 fix(core): Remove non-included nodes regardless of the package when using NODES_INCLUDE
  packages/core/src/nodes-loader/__tests__/directory-loader.test.ts
  packages/core/src/nodes-loader/directory-loader.ts
  packages/core/src/nodes-loader/lazy-package-directory-loader.ts
Labels: core, n8n team

#17618 fix(editor): Improve filter change handling with debounced updates for date fields
  packages/frontend/editor-ui/src/components/executions/ExecutionsFilter.test.ts
  packages/frontend/editor-ui/src/components/executions/ExecutionsFilter.vue
Labels: n8n team

#17459 feat(editor): Add follow up question nps
  cypress/e2e/42-nps-survey.cy.ts
  cypress/pages/npsSurvey.ts
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/components/NpsSurvey.vue
Labels: n8n team

#17573 chore: Override form data to 4.0.4
  package.json
  pnpm-lock.yaml
Labels: n8n team

#17701 feat(editor): Update suggested workflows experiment (no-changelog)
  packages/frontend/@n8n/rest-api-client/src/api/cloudPlans.ts
  packages/frontend/@n8n/stores/src/constants.ts
  packages/frontend/editor-ui/src/components/GoBackButton.vue
  packages/frontend/editor-ui/src/experiments/personalizedTemplates/components/SuggestedWorkflowCard.vue
  packages/frontend/editor-ui/src/experiments/personalizedTemplates/components/SuggestedWorkflows.vue
  packages/frontend/editor-ui/src/experiments/personalizedTemplates/stores/personalizedTemplates.store.ts
  packages/frontend/editor-ui/src/stores/cloudPlan.store.ts
  packages/frontend/editor-ui/src/stores/templates.store.ts
  packages/frontend/editor-ui/src/utils/experiments.ts
  packages/frontend/editor-ui/src/views/WorkflowsView.vue
Labels: n8n team

#17638 fix(editor): Fix canvas layouting when tab is not active
  packages/frontend/editor-ui/src/composables/useCanvasLayout.test.ts
  packages/frontend/editor-ui/src/composables/useCanvasLayout.ts
Labels: n8n team

#17728 refactor(core): Port config for frontend hooks, Redis and AI features
  packages/@n8n/config/src/configs/ai.config.ts
  packages/@n8n/config/src/configs/redis.config.ts
  packages/@n8n/config/src/index.ts
  packages/@n8n/config/test/config.test.ts
  packages/cli/src/commands/start.ts
  packages/cli/src/config/schema.ts
  packages/cli/src/scaling/multi-main-setup.ee.ts
  packages/cli/src/services/cache/cache.service.ts
Labels: core, n8n team

#17595 ci: Update Turbo config and GH actions
  .github/workflows/check-documentation-urls.yml
  .github/workflows/check-pr-title.yml
  .github/workflows/ci-master.yml
  .github/workflows/ci-postgres-mysql.yml
  .github/workflows/ci-pull-requests.yml
  .github/workflows/docker-build-push.yml
  .github/workflows/e2e-flaky.yml
  .github/workflows/linting-reusable.yml
  .github/workflows/units-tests-reusable.yml
  .gitignore
  cypress/package.json
  package.json
  packages/@n8n/ai-workflow-builder.ee/jest.config.js
  packages/@n8n/ai-workflow-builder.ee/package.json
  packages/@n8n/ai-workflow-builder.ee/tsconfig.json
  packages/@n8n/api-types/package.json
  packages/@n8n/backend-common/package.json
  packages/@n8n/backend-test-utils/package.json
  packages/@n8n/benchmark/package.json
  packages/@n8n/client-oauth2/package.json
  packages/@n8n/codemirror-lang/package.json
  packages/@n8n/config/package.json
  packages/@n8n/constants/package.json
  packages/@n8n/db/package.json
  packages/@n8n/decorators/package.json
  packages/@n8n/di/package.json
  packages/@n8n/errors/package.json
  packages/@n8n/imap/package.json
  packages/@n8n/json-schema-to-zod/package.json
  packages/@n8n/nodes-langchain/package.json
  packages/@n8n/permissions/package.json
  packages/@n8n/task-runner/package.json
  packages/@n8n/utils/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/frontend/@n8n/chat/package.json
  packages/frontend/@n8n/composables/package.json
  packages/frontend/@n8n/design-system/package.json
  packages/frontend/@n8n/i18n/package.json
  packages/frontend/@n8n/rest-api-client/package.json
  packages/frontend/@n8n/stores/package.json
  packages/frontend/editor-ui/package.json
  packages/node-dev/package.json
  packages/nodes-base/package.json
  packages/testing/containers/package.json
  packages/testing/playwright/package.json
  packages/workflow/package.json
  turbo.json
Labels: n8n team

#17587 feat(editor): Add dragging and hiding for evaluation table columns
  packages/frontend/@n8n/design-system/src/components/N8nExternalLink/ExternalLink.stories.ts
  packages/frontend/@n8n/design-system/src/components/N8nExternalLink/ExternalLink.test.ts
  packages/frontend/@n8n/design-system/src/components/N8nExternalLink/ExternalLink.vue
  packages/frontend/@n8n/design-system/src/components/N8nExternalLink/__snapshots__/ExternalLink.test.ts.snap
  packages/frontend/@n8n/design-system/src/components/N8nExternalLink/index.ts
  packages/frontend/@n8n/design-system/src/components/N8nIcon/__snapshots__/Icon.test.ts.snap
  packages/frontend/@n8n/design-system/src/components/N8nPopoverReka/N8nPopoverReka.stories.ts
  packages/frontend/@n8n/design-system/src/components/N8nPopoverReka/N8nPopoverReka.test.ts
  packages/frontend/@n8n/design-system/src/components/N8nPopoverReka/N8nPopoverReka.vue
  packages/frontend/@n8n/design-system/src/components/N8nPopoverReka/__snapshots__/N8nPopoverReka.test.ts.snap
  packages/frontend/@n8n/design-system/src/components/N8nPopoverReka/index.ts
  packages/frontend/@n8n/design-system/src/components/N8nScrollArea/N8nScrollArea.stories.ts
  packages/frontend/@n8n/design-system/src/components/N8nScrollArea/N8nScrollArea.test.ts
  packages/frontend/@n8n/design-system/src/components/N8nScrollArea/N8nScrollArea.vue
  packages/frontend/@n8n/design-system/src/components/N8nScrollArea/__snapshots__/N8nScrollArea.test.ts.snap
  packages/frontend/@n8n/design-system/src/components/N8nScrollArea/index.ts
  packages/frontend/@n8n/design-system/src/components/TableHeaderControlsButton/TableHeaderControlsButton.stories.ts
  packages/frontend/@n8n/design-system/src/components/TableHeaderControlsButton/TableHeaderControlsButton.test.ts
  packages/frontend/@n8n/design-system/src/components/TableHeaderControlsButton/TableHeaderControlsButton.vue
  packages/frontend/@n8n/design-system/src/components/TableHeaderControlsButton/__snapshots__/TableHeaderControlsButton.test.ts.snap
  packages/frontend/@n8n/design-system/src/components/TableHeaderControlsButton/index.ts
  packages/frontend/@n8n/design-system/src/components/index.ts
  packages/frontend/@n8n/design-system/src/locale/lang/en.ts
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/components/Evaluations.ee/shared/TestTableBase.vue
  packages/frontend/editor-ui/src/plugins/cache.test.ts
  packages/frontend/editor-ui/src/plugins/cache.ts
  packages/frontend/editor-ui/src/plugins/codemirror/typescript/worker/env.ts
  packages/frontend/editor-ui/src/plugins/codemirror/typescript/worker/typescript.worker.ts
  packages/frontend/editor-ui/src/views/Evaluations.ee/TestRunDetailView.vue
  packages/frontend/editor-ui/src/views/Evaluations.ee/utils.test.ts
  packages/frontend/editor-ui/src/views/Evaluations.ee/utils.ts
Labels: core, n8n team

#17636 fix: Update settings icons on canvas style
  packages/frontend/@n8n/design-system/src/components/N8nIcon/custom/Continue.svg
  packages/frontend/@n8n/design-system/src/components/N8nIcon/custom/EmptyOutput.svg
  packages/frontend/@n8n/design-system/src/components/N8nIcon/custom/Retry.svg
  packages/frontend/@n8n/design-system/src/components/N8nIcon/custom/RunOnce.svg
  packages/frontend/@n8n/design-system/src/components/N8nIcon/custom/continue.svg
  packages/frontend/@n8n/design-system/src/components/N8nIcon/custom/empty-output.svg
  packages/frontend/@n8n/design-system/src/components/N8nIcon/custom/retry.svg
  packages/frontend/@n8n/design-system/src/components/N8nIcon/custom/run-once.svg
  packages/frontend/@n8n/design-system/src/components/N8nIcon/icons.ts
  packages/frontend/editor-ui/src/components/canvas/elements/nodes/render-types/parts/CanvasNodeSettingsIcons.vue
Labels: n8n team

#17691 fix(Gmail Trigger Node): Filter sent emails from trigger results
  packages/nodes-base/nodes/Google/Gmail/GmailTrigger.node.ts
  packages/nodes-base/nodes/Google/Gmail/test/GmailTrigger.test.ts
Labels: node/improvement, n8n team

#17641 fix(Model Selector Node): Fix documentation link (no-changelog)
  packages/@n8n/nodes-langchain/nodes/ModelSelector/ModelSelector.node.ts
Labels: n8n team

#17783 refactor(editor): Refine INodeUpdatePropertiesInformation type and remove unnecessary type assertions
  packages/frontend/editor-ui/src/Interface.ts
  packages/frontend/editor-ui/src/components/NodeCredentials.vue
  packages/frontend/editor-ui/src/components/RunData.vue
  packages/frontend/editor-ui/src/components/SettingsLogStreaming/EventDestinationSettingsModal.ee.vue
  packages/frontend/editor-ui/src/components/SetupWorkflowCredentialsModal/useSetupWorkflowCredentialsModalState.ts
  packages/frontend/editor-ui/src/composables/useNodeHelpers.ts
  packages/frontend/editor-ui/src/utils/nodeTypesUtils.ts
Labels: n8n team

#17787 fix(editor): Fix flaky unit test in editor UI (no-changelog)
  packages/frontend/editor-ui/src/composables/useRunWorkflow.test.ts
Labels: n8n team

#17665 refactor(editor): Extract large chunks from NodeSettings
  packages/frontend/editor-ui/src/components/NodeDetailsView.vue
  packages/frontend/editor-ui/src/components/NodeDetailsViewV2.vue
  packages/frontend/editor-ui/src/components/NodeSettings.vue
  packages/frontend/editor-ui/src/components/NodeSettingsInvalidNodeWarning.vue
  packages/frontend/editor-ui/src/utils/nodeSettingsUtils.ts
  packages/frontend/editor-ui/src/utils/parameterUtils.ts
Labels: n8n team

#17739 feat(Webhook Node): Add notices about using the 'Content-Type' header
  packages/nodes-base/nodes/RespondToWebhook/RespondToWebhook.node.ts
  packages/nodes-base/nodes/Webhook/Webhook.node.ts
Labels: node/improvement, n8n team

#17807 feat(AWS Bedrock Chat Model Node): Add inference profile support
  packages/@n8n/nodes-langchain/nodes/llms/LmChatAwsBedrock/LmChatAwsBedrock.node.ts
Labels: n8n team

#17805 perf(core): Detect event loop blocking
  packages/core/package.json
  packages/core/src/errors/error-reporter.ts
  pnpm-lock.yaml
Labels: core, n8n team

#17822 chore(editor): Support new props in TabOptions
  packages/frontend/@n8n/design-system/src/components/N8nTabs/Tabs.stories.ts
  packages/frontend/@n8n/design-system/src/components/N8nTabs/Tabs.vue
  packages/frontend/@n8n/design-system/src/types/tabs.ts
Labels: n8n team

#17833 perf(core): Stop typechecking during build
  packages/@n8n/utils/package.json
  packages/frontend/@n8n/composables/package.json
  packages/frontend/@n8n/i18n/package.json
  packages/frontend/@n8n/rest-api-client/package.json
  packages/frontend/@n8n/stores/package.json
Labels: n8n team

#17620 feat: Add @n8n/node-cli package with an empty create command
  packages/@n8n/create-node/README.md
  packages/@n8n/create-node/bin/create.js
  packages/@n8n/create-node/package.json
  packages/@n8n/create-node/tsconfig.json
  packages/@n8n/node-cli/README.md
  packages/@n8n/node-cli/bin/n8n-node.js
  packages/@n8n/node-cli/eslint.config.mjs
  packages/@n8n/node-cli/package.json
  packages/@n8n/node-cli/src/commands/create.test.ts
  packages/@n8n/node-cli/src/commands/create.ts
  packages/@n8n/node-cli/tsconfig.json
  packages/@n8n/node-cli/vite.config.ts
  pnpm-lock.yaml
Labels: n8n team

#17777 fix(Microsoft Teams Trigger Node): Forbidden when trying to listen for channel messages
  packages/nodes-base/credentials/MicrosoftTeamsOAuth2Api.credentials.ts
Labels: node/improvement, n8n team

#17856 fix(editor): Fix canvas moving check
  packages/frontend/editor-ui/src/__tests__/data/canvas.ts
  packages/frontend/editor-ui/src/components/canvas/Canvas.vue
  packages/frontend/editor-ui/src/components/canvas/experimental/components/ExperimentalEmbeddedNdvMapper.vue
  packages/frontend/editor-ui/src/components/canvas/experimental/components/ExperimentalEmbeddedNodeDetails.vue
  packages/frontend/editor-ui/src/types/canvas.ts
Labels: n8n team

#16811 feat(ClickUp Node): Add subtasks and markdown support to the get task operation
  packages/nodes-base/nodes/ClickUp/ClickUp.node.ts
  packages/nodes-base/nodes/ClickUp/TaskDescription.ts
Labels: node/improvement, community, in linear

#17851 feat: Env to disable webhook response iframe sandboxing
  packages/@n8n/config/src/configs/security.config.ts
  packages/@n8n/config/test/config.test.ts
  packages/cli/src/webhooks/webhook-request-handler.ts
  packages/core/src/__tests__/html-sandbox.test.ts
  packages/core/src/html-sandbox.ts
  packages/nodes-base/nodes/RespondToWebhook/utils/binary.ts
Labels: core, n8n team, security, release/backport

#17757 refactor(core): Start modularizing the community packages feature
  packages/@n8n/backend-common/tsconfig.json
  packages/@n8n/config/src/configs/logging.config.ts
  packages/@n8n/config/src/configs/nodes.config.ts
  packages/@n8n/config/test/config.test.ts
  packages/cli/src/commands/__tests__/execute-batch.test.ts
  packages/cli/src/commands/__tests__/execute.test.ts
  packages/cli/src/commands/base-command.ts
  packages/cli/src/commands/community-node.ts
  packages/cli/src/commands/start.ts
  packages/cli/src/community-packages/__tests__/community-node-types.service.test.ts
  packages/cli/src/community-packages/__tests__/community-packages.controller.test.ts
  packages/cli/src/community-packages/__tests__/community-packages.service.test.ts
  packages/cli/src/community-packages/__tests__/npm-utils.test.ts
  packages/cli/src/community-packages/__tests__/strapi-utils.test.ts
  packages/cli/src/community-packages/community-node-types-utils.ts
  packages/cli/src/community-packages/community-node-types.controller.ts
  packages/cli/src/community-packages/community-node-types.service.ts
  packages/cli/src/community-packages/community-packages.config.ts
  packages/cli/src/community-packages/community-packages.controller.ts
  packages/cli/src/community-packages/community-packages.service.ts
  packages/cli/src/community-packages/community-packages.types.ts
  packages/cli/src/community-packages/npm-utils.ts
  packages/cli/src/community-packages/strapi-utils.ts
  packages/cli/src/interfaces.ts
  packages/cli/src/load-nodes-and-credentials.ts
  packages/cli/src/security-audit/risk-reporters/instance-risk-reporter.ts
  packages/cli/src/security-audit/risk-reporters/nodes-risk-reporter.ts
  packages/cli/src/server.ts
  packages/cli/src/services/__tests__/frontend.service.test.ts
  packages/cli/src/services/frontend.service.ts
  packages/cli/test/integration/commands/worker.cmd.test.ts
  packages/cli/test/integration/community-packages.api.test.ts
  packages/cli/test/integration/security-audit/nodes-risk-reporter.test.ts
  packages/cli/test/integration/shared/utils/test-server.ts
  scripts/backend-module/backend-module-guide.md
Labels: core, n8n team

#15460 feat(n8n Form Trigger Node): Add CSS variable to customize input background
  packages/cli/templates/form-trigger.handlebars
Labels: core, community, in linear
